Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(staging): cap monitoring memory to stop deploy-time OOM; dedup e2e failure issue
  .github/workflows/staging-e2e.yml
  docker-compose.staging.yml
Due: docker-compose-check

fix(#953): pin claude-code-action to @v1 and rename direct_prompt -> prompt
  .github/workflows/claude-code-review.yml
Due: none

ci(pages): publish the nightly Playwright e2e report to GitHub Pages (#1037)
  .github/workflows/nightly.yml
Due: none

test(e2e): capture a screenshot for every test (screenshot: on)
  frontend/playwright.config.ts
Due: frontend-tests, typescript-check

test(e2e): capture a screenshot for every test (screenshot: on) (#1043)
  frontend/playwright.config.ts
Due: frontend-tests, typescript-check

fix(staging): cap monitoring memory to stop deploy-time OOM; dedup e2e failure issue (#1039)
  .github/workflows/staging-e2e.yml
  docker-compose.staging.yml
Due: docker-compose-check

fix(staging): wait for backend boot before migrating to avoid OOM
  .github/workflows/deploy-pipeline.yml
Due: none

fix(staging): wait for backend boot before migrating to avoid OOM (#1044)
  .github/workflows/deploy-pipeline.yml
Due: none

fix(#953): pin claude-code-action to @v1 and rename direct_prompt -> prompt (#1040)
  .github/workflows/claude-code-review.yml
Due: none

fix(student-api): drop HMAC/account auth — external API no longer requires it
  .github/workflows/deploy-pipeline.yml
  backend/app/core/config.py
  backend/app/services/config_management_service.py
  backend/app/services/student_service.py
  backend/app/tests/test_student_service.py
  backend/app/tests/test_student_service_pure_helpers.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging-e2e.yml
  docker-compose.staging.yml
Due: backend-tests, docker-compose-check

fix(student-api): drop HMAC auth (fix staging deploy crash-loop) (#1046)
  .github/workflows/deploy-pipeline.yml
  backend/app/core/config.py
  backend/app/services/config_management_service.py
  backend/app/services/student_service.py
  backend/app/tests/test_student_service.py
  backend/app/tests/test_student_service_pure_helpers.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging-e2e.yml
  docker-compose.staging.yml
Due: backend-tests, docker-compose-check

docs(student-api): drop HMAC references; make mock HMAC optional
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy.yml
  docs/GITHUB_SECRETS.md
  docs/superpowers/specs/2026-05-21-admin-student-scholarship-history-design.md
  mock-student-api/README.md
  mock-student-api/auth.py
  scripts/write_dev_env.sh
Due: none

docs(student-api): drop HMAC references; make mock HMAC optional (#1047)
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy.yml
  docs/GITHUB_SECRETS.md
  docs/superpowers/specs/2026-05-21-admin-student-scholarship-history-design.md
  mock-student-api/README.md
  mock-student-api/auth.py
  scripts/write_dev_env.sh
Due: none

chore(student-api): drop STUDENT_API_ACCOUNT — no longer required
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy.yml
  .github/workflows/deploy-pipeline.yml
  backend/app/core/config.py
  backend/app/services/config_management_service.py
  backend/app/services/student_service.py
  backend/app/tests/test_student_service.py
  backend/app/tests/test_student_service_pure_helpers.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging-e2e.yml
  docker-compose.staging.yml
  docs/GITHUB_SECRETS.md
  mock-student-api/auth.py
  mock-student-api/main.py
  scripts/write_dev_env.sh
Due: backend-tests, docker-compose-check

fix(mock): make Authorization/content-type headers optional
  mock-student-api/README.md
  mock-student-api/main.py
Due: none

chore(student-api): drop STUDENT_API_ACCOUNT; make mock fully auth-optional (#1048)
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy.yml
  .github/workflows/deploy-pipeline.yml
  backend/app/core/config.py
  backend/app/services/config_management_service.py
  backend/app/services/student_service.py
  backend/app/tests/test_student_service.py
  backend/app/tests/test_student_service_pure_helpers.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging-e2e.yml
  docker-compose.staging.yml
  docs/GITHUB_SECRETS.md
  mock-student-api/README.md
  mock-student-api/auth.py
  mock-student-api/main.py
  scripts/write_dev_env.sh
Due: backend-tests, docker-compose-check

docs(skill): add multi-college ranking→distribution→roster verification to playwright-test-and-debug
  .claude/skills/playwright-test-and-debug/SKILL.md
  .claude/skills/playwright-test-and-debug/scripts/verify-multi-college-distribution.js
Due: none

docs: spec for matrix roster generation to include all colleges
  docs/superpowers/specs/2026-06-21-roster-matrix-aggregate-all-colleges-design.md
Due: none

docs: implementation plan for matrix roster all-college aggregation
  docs/superpowers/plans/2026-06-22-roster-matrix-aggregate-all-colleges.md
Due: none

fix(roster): aggregate all colleges when generating matrix roster without ranking_id
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_matrix_aggregate_all_colleges.py
Due: backend-tests

fix(roster): preview defers ranking resolution to service so preview matches generation
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/tests/test_roster_preview_ranking_consistency.py
Due: backend-tests, api-types-check

test(roster): harden matrix all-college coverage from adversarial review
  backend/app/tests/test_roster_matrix_aggregate_all_colleges.py
  backend/app/tests/test_roster_preview_ranking_consistency.py
Due: backend-tests

refactor(roster): collapse duplicated ranking-item join in _get_eligible_applications
  backend/app/services/roster_service.py
Due: backend-tests

docs(roster): note NULL-ranking subtype derivation depends on selector gating
  backend/app/services/roster_service.py
Due: backend-tests

fix(roster): surface real reason when payment-roster generation fails
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/tests/test_roster_generation_error_detail.py
Due: backend-tests, api-types-check

feat(mock-sis): add multi-college doctoral cohort (A/B/C/E) for E2E testing
  mock-student-api/main.py
Due: none

feat(mock-sis): add multi-college doctoral cohort (A/B/C/E) for E2E testing (#1053)
  mock-student-api/main.py
Due: none

chore(scripts): add container-native multi-college seed→roster E2E script
  scripts/multicollege_seed_to_roster.py
  scripts/multicollege_seed_to_roster.sh
Due: none

chore(scripts): add container-native multi-college seed→roster E2E script (#1054)
  scripts/multicollege_seed_to_roster.py
  scripts/multicollege_seed_to_roster.sh
Due: none

fix(nginx): route /api/v1/export-package to frontend Next.js proxy
  nginx/nginx.prod.conf
  nginx/nginx.staging-e2e.conf
  nginx/nginx.staging.conf
Due: none

feat: show cumulative received-months (已領月份數) in roster eligibility view
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/roster.py
  backend/app/tests/test_payment_rosters_api.py
  frontend/components/roster/EligibilityDetailDialog.tsx
  frontend/components/roster/RosterDetailDialog.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: unify iframe-framable file-preview proxies under /api/v1/preview
  frontend/__tests__/middleware-csp.test.ts
  frontend/app/api/v1/preview/application-document/route.ts
  frontend/app/api/v1/preview/examples/route.ts
  frontend/app/api/v1/preview/supp-docs/route.ts
  frontend/app/api/v1/preview/system-docs/route.ts
  frontend/app/api/v1/preview/terms/route.ts
  frontend/components/__tests__/notice-agreement-step.test.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/utils/__tests__/url-validation.test.ts
  frontend/lib/utils/url-validation.test.ts
  frontend/lib/utils/url-validation.ts
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging-e2e.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

fix: unify iframe-framable file-preview proxies under /api/v1/preview (#1056)
  frontend/__tests__/middleware-csp.test.ts
  frontend/app/api/v1/preview/application-document/route.ts
  frontend/app/api/v1/preview/examples/route.ts
  frontend/app/api/v1/preview/supp-docs/route.ts
  frontend/app/api/v1/preview/system-docs/route.ts
  frontend/app/api/v1/preview/terms/route.ts
  frontend/components/__tests__/notice-agreement-step.test.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/utils/__tests__/url-validation.test.ts
  frontend/lib/utils/url-validation.test.ts
  frontend/lib/utils/url-validation.ts
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging-e2e.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

fix(preview): bound framable-preview matcher to exclude /api/v1/preview-* siblings
  frontend/__tests__/middleware-csp.test.ts
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging-e2e.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

test(e2e): always-recorded showcase replay for the nightly Pages report
  frontend/e2e/helpers/auth.ts
  frontend/e2e/specs/showcase-replay.spec.ts
Due: frontend-tests, typescript-check

ci(nightly): retain e2e failure evidence until its issue is closed
  .github/workflows/nightly-failure-cleanup.yml
  .github/workflows/nightly.yml
Due: none

test(e2e): always-recorded showcase replay for the nightly Pages report (#1062)
  .github/workflows/nightly-failure-cleanup.yml
  .github/workflows/nightly.yml
  frontend/e2e/helpers/auth.ts
  frontend/e2e/specs/showcase-replay.spec.ts
Due: frontend-tests, typescript-check

fix(preview): bound framable-preview matcher to exclude /api/v1/preview-* siblings (#1060)
  frontend/__tests__/middleware-csp.test.ts
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging-e2e.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

docs(student-apply): spec for hiding submitted/no-eligible scholarships from apply flow
  docs/superpowers/specs/2026-06-29-hide-submitted-scholarships-from-apply-flow-design.md
Due: none
