Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


test(application_service): cover get_available_professors (7 cases)
  backend/app/tests/test_get_available_professors.py
Due: backend-tests

test(e2e): drop @smoke tag — race with parallel multi-role-phd worker
  frontend/e2e/specs/student-withdraw.spec.ts
Due: frontend-tests, typescript-check

test(e2e): drop @smoke tag — same race as PR #236
  frontend/e2e/specs/role-permissions.spec.ts
Due: frontend-tests, typescript-check

test(application_service): cover assign_professor (8 cases, multi-collaborator method)
  backend/app/tests/test_assign_professor.py
Due: backend-tests

fix(types): repair TS strict regressions in batch-import-panel + debug-panel
  frontend/components/batch-import-panel.tsx
  frontend/components/debug-panel.tsx
Due: frontend-tests, typescript-check

test(frontend): cover AdminDashboard (12 cases, was 0 tests)
  frontend/components/__tests__/admin-dashboard.test.tsx
Due: frontend-tests, typescript-check

test(frontend): cover AdminRuleManagement (6 cases)
  frontend/components/__tests__/admin-rule-management.test.tsx
Due: frontend-tests, typescript-check

test(frontend): cover EnhancedAdminDashboard (4 cases)
  frontend/components/__tests__/enhanced-admin-dashboard.test.tsx
Due: frontend-tests, typescript-check

chore(types): regenerate OpenAPI types — add deadline to DocumentRequestCreate
  frontend/lib/api/generated/schema.d.ts
Due: none

feat(document-request): add deadline field + plumb through reminder task (#215)
  backend/alembic/versions/20260513_add_deadline_to_document_requests.py
  backend/app/api/v1/endpoints/document_requests.py
  backend/app/models/document_request.py
  backend/app/schemas/document_request.py
  backend/app/tasks/deadline_checker.py
Due: backend-tests, api-types-check, migration-check

feat(college-review): implement statistics endpoint on ApplicationReview (closes #216)
  backend/app/api/v1/endpoints/college_review/utilities.py
  backend/app/tests/test_college_review_statistics_endpoint.py
Due: backend-tests, api-types-check

test(application_service): deep async-DB tests for submit_application (7 cases)
  backend/app/tests/test_submit_application_deep.py
Due: backend-tests

chore(types): regenerate OpenAPI types — add /college-review/statistics
  frontend/lib/api/generated/schema.d.ts
Due: none

test(notification_service): deep async-DB tests for notifyDeadlineReminder
  backend/app/tests/test_notify_deadline_reminder_deep.py
Due: backend-tests

test(frontend): cover AdminScholarshipDashboard early-return states (4 cases)
  frontend/components/__tests__/admin-scholarship-dashboard.test.tsx
Due: frontend-tests, typescript-check

test(frontend): cover last 2 untested admin components — 6/6 now covered
  frontend/components/__tests__/admin-management-interface.test.tsx
  frontend/components/__tests__/admin-scholarship-management-interface.test.tsx
Due: frontend-tests, typescript-check

test(frontend): cover debug-panel + batch-import-panel (6 cases)
  frontend/components/__tests__/batch-import-panel.test.tsx
  frontend/components/__tests__/debug-panel.test.tsx
Due: frontend-tests, typescript-check

test(notification_service): deep DB tests for unread-count + mark-as-read (9 cases)
  backend/app/tests/test_notification_unread_and_read.py
Due: backend-tests

test(application_service): deep DB tests for restore_application (7 cases)
  backend/app/tests/test_restore_application_deep.py
Due: backend-tests

test(application_service): deep DB tests for delete_application (8 cases)
  backend/app/tests/test_delete_application_deep.py
Due: backend-tests

test(application_service): deep DB tests for update_application (7 cases)
  backend/app/tests/test_update_application_deep.py
Due: backend-tests

test(application_service): deep DB tests for get_student_dashboard_stats (5 cases)
  backend/app/tests/test_student_dashboard_stats_deep.py
Due: backend-tests

test(application_service): deep DB tests for get_user_applications (5 cases)
  backend/app/tests/test_get_user_applications_deep.py
Due: backend-tests

test(application_service): deep DB tests for search_applications (5 cases)
  backend/app/tests/test_search_applications_deep.py
Due: backend-tests

test(application_service): deep DB tests for can_professor_review_application (5 cases)
  backend/app/tests/test_can_professor_review_deep.py
Due: backend-tests

test(application_service): deep DB tests for can_professor_submit_review (6 cases)
  backend/app/tests/test_can_professor_submit_review_deep.py
Due: backend-tests

test(application_service): deep DB tests for get_professor_applications_paginated (6 cases)
  backend/app/tests/test_get_professor_applications_paginated_deep.py
Due: backend-tests

test(application_service): deep DB tests for get_applications_for_review (5 cases)
  backend/app/tests/test_get_applications_for_review_deep.py
Due: backend-tests

test(application_service): deep DB tests for update_application_status (5 cases)
  backend/app/tests/test_update_application_status_deep.py
Due: backend-tests

test(application_service): deep DB tests for create_professor_review (5 cases)
  backend/app/tests/test_create_professor_review_deep.py
Due: backend-tests

test(notification_service): deep DB tests for markAllNotificationsAsRead + createSystemAnnouncement (5 cases)
  backend/app/tests/test_notification_bulk_and_announcement_deep.py
Due: backend-tests

test(notification_service): deep DB tests for bulkNotifyUsers (5 cases)
  backend/app/tests/test_bulk_notify_users_deep.py
Due: backend-tests

test(notification_service): deep DB tests for notifyApplicationStatusChange (5 cases)
  backend/app/tests/test_notify_application_status_change_deep.py
Due: backend-tests

test(notification_service): deep DB tests for notifyDocumentRequired (5 cases)
  backend/app/tests/test_notify_document_required_deep.py
Due: backend-tests

test(notification_service): deep DB tests for getUserNotifications (6 cases)
  backend/app/tests/test_get_user_notifications_deep.py
Due: backend-tests

test(email_service): deep DB tests for schedule_email (6 cases)
  backend/app/tests/test_email_service_schedule_deep.py
Due: backend-tests

fix: auto-fix CI failure for PR #203 — remove unused DynamicFieldSpec import
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

test(application_audit_service): deep DB tests for log_application_operation (5 cases)
  backend/app/tests/test_application_audit_service_deep.py
Due: backend-tests

test(eligibility_service): pure-function tests for _evaluate_rule + _get_nested_field_value (15 cases)
  backend/app/tests/test_eligibility_service_pure_helpers.py
Due: backend-tests

fix(application-summary-export): address PR #203 review findings
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/tests/test_application_summary_export_endpoint.py
Due: backend-tests, api-types-check
