Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

ci: stop the production mirror from syncing docs/
  .github/workflows/mirror-to-production.yml
Due: none

ci: stop the production mirror from syncing docs/ (#1329)
  .github/workflows/mirror-to-production.yml
Due: none

ci: narrow the mirror exemption to docs/資訊中心文件/
  .github/workflows/mirror-to-production.yml
Due: none

Revert "ci: stop the production mirror from syncing docs/ (#1329)"
  .github/workflows/mirror-to-production.yml
Due: none

Revert "ci: stop the production mirror from syncing docs/ (#1329)" (#1330)
  .github/workflows/mirror-to-production.yml
Due: none

Ci/mirror skip docs (#1331)
  .github/workflows/mirror-to-production.yml
Due: none

docs: correct prod firewall port list in ops manuals (#51)
  docs/資訊中心文件/正式機安裝手冊.md
  docs/資訊中心文件/正式機更新手冊.md
Due: none

docs: 在安裝手冊中新增啟動 Docker 的指令
  docs/資訊中心文件/正式機安裝手冊.md
  docs/資訊中心文件/正式機更新手冊.md
Due: none

docs: 更新正式機安裝手冊，新增 Docker 使用者權限設定說明
  docs/資訊中心文件/正式機安裝手冊.md
  docs/資訊中心文件/正式機更新手冊.md
Due: none

chore: add pw-in-pr command
  .claude/commands/pw-in-pr.md
Due: none

fix(ui): rename system branding to PhD Scholarship System
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/admin-dashboard.tsx
  frontend/components/admin-management-interface.tsx
  frontend/components/footer.tsx
  frontend/components/header.tsx
  frontend/components/sso-login-page.tsx
  frontend/emails/_components/Footer.tsx
  frontend/emails/_components/Header.tsx
  frontend/lib/__tests__/i18n.test.ts
  frontend/lib/i18n.ts
Due: frontend-tests, typescript-check

fix: 指導教授不在系統內時，申請不會被指派到教授 (#1323)
  backend/alembic/versions/advisor_backfill_idx_001.py
  backend/app/models/application.py
  backend/app/models/enums.py
  backend/app/models/user_profile.py
  backend/app/services/application_builder.py
  backend/app/services/application_service.py
  backend/app/services/portal_sso_service.py
  backend/app/tests/test_advisor_backfill.py
Due: backend-tests, api-types-check, migration-check

Revert "fix: 指導教授不在系統內時，申請不會被指派到教授 (#1323)"
  backend/alembic/versions/advisor_backfill_idx_001.py
  backend/app/models/application.py
  backend/app/models/enums.py
  backend/app/models/user_profile.py
  backend/app/services/application_builder.py
  backend/app/services/application_service.py
  backend/app/services/portal_sso_service.py
  backend/app/tests/test_advisor_backfill.py
Due: backend-tests, api-types-check, migration-check

Revert "fix: 指導教授不在系統內時，申請不會被指派到教授 (#1323)" (#1337)
  backend/alembic/versions/advisor_backfill_idx_001.py
  backend/app/models/application.py
  backend/app/models/enums.py
  backend/app/models/user_profile.py
  backend/app/services/application_builder.py
  backend/app/services/application_service.py
  backend/app/services/portal_sso_service.py
  backend/app/tests/test_advisor_backfill.py
Due: backend-tests, api-types-check, migration-check

fix: only rewrite professor-notification rules still carrying the shipped query
  backend/alembic/versions/professor_notify_both_emails_001.py
Due: backend-tests, migration-check

fix: notify the advisor at both the account email and the profile advisor_email
  backend/alembic/versions/professor_notify_both_emails_001.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/tests/test_professor_review_notification_recipients.py
  backend/app/tests/test_sql_read_only_guard.py
Due: backend-tests, migration-check

fix: only backfill advisor assignments the professor can actually act on
  backend/alembic/versions/advisor_backfill_idx_001.py
  backend/app/services/application_builder.py
  backend/app/tests/test_advisor_backfill.py
Due: backend-tests, migration-check

fix: assign advisor to applications submitted before the professor had an account
  backend/alembic/versions/advisor_backfill_idx_001.py
  backend/app/models/application.py
  backend/app/models/user_profile.py
  backend/app/services/application_builder.py
  backend/app/services/application_service.py
  backend/app/services/portal_sso_service.py
  backend/app/tests/test_advisor_backfill.py
Due: backend-tests, api-types-check, migration-check

fix: dedupe automated-email recipients case-insensitively
  backend/app/services/email_automation_service.py
  backend/app/tests/test_email_automation_service_unit.py
Due: backend-tests

fix: run the advisor backfill in a SAVEPOINT so a failed claim cannot block login or the queue
  backend/app/services/application_service.py
  backend/app/services/portal_sso_service.py
  backend/app/tests/test_advisor_backfill.py
Due: backend-tests

fix: only claim applications a professor can still act on
  backend/alembic/versions/advisor_backfill_idx_001.py
  backend/app/models/enums.py
  backend/app/services/application_builder.py
  backend/app/services/application_service.py
  backend/app/tests/test_advisor_backfill.py
Due: backend-tests, api-types-check, migration-check

fix: do not mail the profile advisor address when it names a different professor
  backend/alembic/versions/professor_notify_both_emails_001.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/tests/test_professor_review_notification_recipients.py
Due: backend-tests, migration-check

fix: 指導教授不在系統內時申請不會被指派到教授；教授審核通知寄到兩個信箱（重提 #1323 + review 修正） (#1338)
  backend/alembic/versions/advisor_backfill_idx_001.py
  backend/alembic/versions/professor_notify_both_emails_001.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/models/application.py
  backend/app/models/enums.py
  backend/app/models/user_profile.py
  backend/app/services/application_builder.py
  backend/app/services/application_service.py
  backend/app/services/email_automation_service.py
  backend/app/services/portal_sso_service.py
  backend/app/tests/test_advisor_backfill.py
  backend/app/tests/test_email_automation_service_unit.py
  backend/app/tests/test_professor_review_notification_recipients.py
  backend/app/tests/test_sql_read_only_guard.py
Due: backend-tests, api-types-check, migration-check

Update self-hosted runner setup and removal instructions
  docs/資訊中心文件/正式機更新手冊.md
Due: none

Refine sudo instructions in update manual
  docs/資訊中心文件/正式機更新手冊.md
Due: none

Update deployment manual with user switch instructions
  docs/資訊中心文件/正式機更新手冊.md
Due: none

ci: reduce health-check schedule from every 15m to every 12h
  .github/workflows/health-check.yml
Due: none

Delete .github/workflows/deploy.yml
  .github/workflows/deploy.yml
Due: none

Update health-check.yml
  .github/production-workflows-examples/health-check.yml
Due: none

ci: capture container diagnostics when a production deploy fails
  .github/production-workflows-examples/deploy-stack.yml
Due: none

fix: make Grafana admin reconcile survive startup races and rotated logins
  .github/production-workflows-examples/deploy-monitoring-stack.yml
Due: none

fix: let monitoring deploy install without root on the production runner
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/deploy-monitoring-stack.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix: monitoring deploy works without passwordless sudo on this runner
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

perf: slim backend and frontend docker images
  backend/Dockerfile
  backend/pyproject.toml
  backend/requirements.txt
  frontend/Dockerfile
Due: python-safety-check, backend-tests, frontend-tests

perf: slim backend (1.81GB→646MB) and frontend (265MB→188MB) docker images (#1341)
  backend/Dockerfile
  backend/pyproject.toml
  backend/requirements.txt
  frontend/Dockerfile
Due: python-safety-check, backend-tests, frontend-tests

docs: 正式機更新手冊補上重建 DB volume 的附錄
  docs/資訊中心文件/正式機更新手冊.md
Due: none

Revise DB volume rebuild instructions and steps
  docs/資訊中心文件/正式機更新手冊.md
Due: none

Remove optional HTTP port 80 from update manual
  docs/資訊中心文件/正式機更新手冊.md
Due: none

feat: update email contact wording to college/department scholarship staff
  backend/app/db/seed_scholarship_configs.py
  backend/scripts/init_system_email_templates.py
  frontend/emails/_components/Footer.tsx
  frontend/emails/application-submitted.tsx
  frontend/emails/professor-review-request.tsx
Due: backend-tests, frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

