Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

review(R7): mirror-to-production strip rule audit
  docs/superpowers/audits/working/phase2-review/R7-mirror-strip-rule.md
Due: none

review(R6): documentation cleanup audit
  docs/superpowers/audits/working/phase2-review/R6-doc-cleanup.md
Due: none

audit(phase3-prep): P2 findings grouping + launch gate runbook outline
  docs/superpowers/audits/working/phase3-prep/phase4-grouping.md
Due: none

review(R8): Phase 2 spec acceptance criteria cross-check
  docs/superpowers/audits/working/phase2-review/R8-acceptance-checklist.md
Due: none

audit(phase3-prep): P1 findings grouping for Phase 3 brainstorm
  docs/superpowers/audits/working/phase3-prep/phase3-grouping.md
Due: none

audit(phase3-prep): redesign for 6 deferred/dropped alerts (Phase 3 input)
  docs/superpowers/audits/working/phase3-prep/deferred-alerts-redesign.md
Due: none

audit(phase3-prep): backend metric instrumentation plan for Phase 3
  docs/superpowers/audits/working/phase3-prep/backend-instrumentation-plan.md
Due: none

audit(phase3-prep): dashboard query fix plan for Phase 3
  docs/superpowers/audits/working/phase3-prep/dashboard-query-fixes.md
Due: none

fix(docs): apply R6 review findings
  monitoring/GITHUB_DEPLOYMENT.md
  monitoring/PRODUCTION_RUNBOOK.md
  monitoring/README.md
Due: none

fix(monitoring): apply R2 + R3 review findings
  .github/workflows/deploy-monitoring-stack.yml
  .github/workflows/monitoring-alert-issue.yml
Due: none

fix(audit): detect Grafana 401 in probe-prom.sh
  scripts/audit/probe-prom.sh
Due: none

fix(docs+scripts): remove residual AlertManager references
  docs/deployment/production-deployment.md
  monitoring/DASHBOARDS.md
  monitoring/QUICKSTART.md
  monitoring/scripts/download-community-dashboards.sh
  monitoring/scripts/restore-monitoring.sh
  monitoring/tests/test-monitoring-stack.sh
Due: none

docs(audit): record round 4-5 (#66 partial + schema hygiene)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

fix(models): use get_json_type() helper for backup_allocations column (closes #82)
  backend/app/models/college_review.py
  backend/app/tests/test_review_service_lock.py
Due: backend-tests, api-types-check, migration-check

feat(college-review): nationality + identity column on review panel (#68 closes)
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

feat(college-ranking): deadline banner + countdown + lock UI on ranking page (#63 FE)
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

fix(distribution): non-allocated apps keep their user-facing status (closes #45)
  backend/app/services/manual_distribution_service.py
Due: backend-tests

feat(admin-history): nationality + identity badges on admin application list (#68)
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/schemas/application.py
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(application-form): add required contact_phone field with TW phone validation (closes #60)
  backend/alembic/versions/add_contact_phone_field_001.py
  frontend/components/dynamic-application-form.tsx
Due: backend-tests, frontend-tests, typescript-check, migration-check

fix(review): lock professor review edits once college review starts (closes #64)
  backend/app/api/v1/endpoints/professor.py
  backend/app/services/review_service.py
  backend/app/tests/test_review_service_lock.py
Due: backend-tests, api-types-check

chore(test-infra): unbreak test_health.py async test + fix StaticPool health probe + scrub regex= deprecations
  backend/app/api/v1/endpoints/admin/scholarships.py
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/quota_dashboard.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/core/database_health.py
  backend/app/tests/test_health.py
Due: backend-tests, api-types-check

docs(audit): record round 6 (#66 UI closes main flow)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

test(distribution): regression test for #45 — non-allocated app keeps status
  backend/app/tests/test_manual_distribution_finalize.py
Due: backend-tests

docs(audit): record round 3 (chunks 9-11) — #63 FE closed, test infra hygiene, #68 partial
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

docs(audit): record round 8 burn-down (#68 closes; 27 commits cumulative)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

chore(schemas): replace deprecated class-based Config with model_config (Pydantic v2)
  backend/app/api/v1/endpoints/email_automation.py
Due: backend-tests, api-types-check

feat(notice-agreement): require scroll-to-bottom before agree checkbox enables (#59 part B)
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: frontend-tests, typescript-check

chore(skills): restore playwright-test-and-debug skill from stash
  .claude/skills/playwright-test-and-debug/.gitignore
  .claude/skills/playwright-test-and-debug/SKILL.md
  .claude/skills/playwright-test-and-debug/scripts/build-storage-state.sh
  .claude/skills/playwright-test-and-debug/scripts/check-install.sh
  .claude/skills/playwright-test-and-debug/scripts/check-stack.sh
  .claude/skills/playwright-test-and-debug/scripts/db-query.sh
  .claude/skills/playwright-test-and-debug/scripts/dump-app-state.sh
  .claude/skills/playwright-test-and-debug/scripts/list-users.sh
  .claude/skills/playwright-test-and-debug/scripts/login-mock-sso.sh
  .claude/skills/playwright-test-and-debug/scripts/reset-db.sh
  .claude/skills/playwright-test-and-debug/scripts/screenshot.js
  .claude/skills/playwright-test-and-debug/scripts/tail-logs.sh
  .claude/skills/playwright-test-and-debug/scripts/wait-for-stack.sh
  .claude/skills/playwright-test-and-debug/scripts/with-session.js
Due: none

docs(audit): record plan-12-bubbly-toucan progress through chunk-3
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

docs(audit): plan-12-bubbly-toucan round 2 progress
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

docs(claude.md): fix Semester enum value `annual` -> `yearly` to match code
  .claude/CLAUDE.md
Due: none

fix(db): make engine pool args dialect-conditional (closes #81)
  backend/app/db/session.py
Due: backend-tests

feat(roster-ui): admin can exclude a roster item from the detail dialog (#66 FE)
  frontend/components/roster/RosterDetailDialog.tsx
Due: frontend-tests, typescript-check

chore(schemas): replace deprecated min_items=1 with min_length=1 (Pydantic v2)
  backend/app/schemas/scholarship.py
Due: backend-tests, api-types-check

docs(audit): record round 7 (#45 regression test pinning the fix)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

feat(roster): admin can exclude a roster item with reason + audit (#66 partial)
  backend/app/api/v1/endpoints/payment_rosters.py
Due: backend-tests, api-types-check

docs(audit): record chunk-8 (#63 backend) + suggested next chunks
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

fix(user-profile): clear bank_document_object_name + remove MinIO object on delete (closes #55)
  backend/app/services/user_profile_service.py
  backend/app/tests/test_user_profile_service_bank_document.py
Due: backend-tests

feat(professor-review-ui): readonly + warning banner once college review starts (#64)
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

feat(college-ranking): show nationality + identity column on ranking table (#68 partial)
  frontend/components/college-ranking-table.tsx
Due: frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

