Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

feat: add SupplementaryDoc SQLAlchemy model
  backend/app/models/__init__.py
  backend/app/models/supplementary_doc.py
Due: backend-tests, api-types-check, migration-check

feat: add SupplementaryDoc Pydantic schemas
  backend/app/schemas/supplementary_doc.py
Due: backend-tests, api-types-check

feat: add migration for supplementary_docs table
  backend/alembic/versions/add_supp_docs_001_add_supplementary_docs_table.py
Due: backend-tests, migration-check

test: scaffold supplementary docs test fixtures
  backend/app/tests/test_supplementary_docs.py
Due: backend-tests

fix(nightly): fix 3 E2E failures and Deployment Pipeline Docker build error
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/excel_export_service.py
  frontend/Dockerfile
  frontend/e2e/specs/admin-student-history.spec.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

ci(deploy): add auto-rollback on staging deploy failure + health monitor
  .github/workflows/deploy-pipeline.yml
  .github/workflows/staging-health-monitor.yml
Due: none

fix(ci): use self-hosted runner in staging-health-monitor
  .github/workflows/staging-health-monitor.yml
Due: none

feat: add list supplementary-docs endpoint
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_supplementary_docs.py
Due: backend-tests, api-types-check

feat: add upload supplementary-doc endpoint
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_supplementary_docs.py
Due: backend-tests, api-types-check

feat: add update supplementary-doc title endpoint
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_supplementary_docs.py
Due: backend-tests, api-types-check

feat: add delete supplementary-doc endpoint
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_supplementary_docs.py
Due: backend-tests, api-types-check

feat: add reorder supplementary-docs endpoint
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_supplementary_docs.py
Due: backend-tests, api-types-check

feat: add supplementary-doc file streaming endpoint
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_supplementary_docs.py
Due: backend-tests, api-types-check

feat: add supplementaryDocs API client + buildSuppDocFileProxyUrl
  frontend/lib/api/modules/system-settings.ts
Due: frontend-tests, typescript-check

chore: regenerate openapi types for supplementary-docs
  frontend/lib/api/generated/schema.d.ts
Due: none

feat: add supp-upload-proxy Next.js route
  frontend/app/api/v1/system-settings/supp-upload-proxy/route.ts
Due: frontend-tests, typescript-check

feat: add supp-file-proxy Next.js route
  frontend/app/api/v1/system-settings/supp-file-proxy/route.ts
Due: frontend-tests, typescript-check

feat: add AddSupplementaryDocDialog component
  frontend/components/admin/system-docs/AddSupplementaryDocDialog.tsx
Due: frontend-tests, typescript-check

feat: add SupplementaryDocsList drag-sort component
  frontend/components/admin/system-docs/SupplementaryDocsList.tsx
Due: frontend-tests, typescript-check

feat: mount SupplementaryDocsList in SystemDocsPanel
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
Due: frontend-tests, typescript-check

test: add SupplementaryDocsList component tests
  frontend/components/admin/system-docs/__tests__/SupplementaryDocsList.test.tsx
Due: frontend-tests, typescript-check

feat: render 參考文件 list with supplementary docs in NoticeAgreementStep
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: frontend-tests, typescript-check

test: cover 參考文件 list in NoticeAgreementStep
  frontend/components/__tests__/notice-agreement-step.test.tsx
Due: frontend-tests, typescript-check

fix: harden supplementary-docs upload, proxy, and fetch paths
  backend/app/api/v1/endpoints/system_settings.py
  frontend/Dockerfile
  frontend/app/api/v1/system-settings/supp-file-proxy/route.ts
  frontend/bun.lock
  frontend/components/admin/system-docs/AddSupplementaryDocDialog.tsx
  frontend/components/admin/system-docs/SupplementaryDocsList.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/lib/api/modules/system-settings.ts
  frontend/package.json
Due: npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check

fix(nginx): route system-settings upload/file proxy to frontend
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: none

fix: address Copilot review comments on PR #811
  backend/alembic/versions/add_supp_docs_001_add_supplementary_docs_table.py
  docs/superpowers/specs/2026-05-27-supplementary-system-docs-design.md
  frontend/components/admin/system-docs/SupplementaryDocsList.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: backend-tests, frontend-tests, typescript-check, migration-check

fix(college-review): surface professor-reviewed apps awaiting college sign-off
  backend/app/services/college_review_service.py
Due: backend-tests

style: apply black formatting (line-length 120) to supplementary-docs files
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_supplementary_docs.py
Due: backend-tests, api-types-check

fix(frontend): version-pin pdf.js worker URL to prevent stale cache
  frontend/lib/pdf-worker.ts
Due: frontend-tests, typescript-check

fix(ci): make copy-pdf-worker overwrite-safe to fix E2E EPERM
  frontend/scripts/copy-pdf-worker.mjs
Due: frontend-tests

fix(nginx): serve /pdf.worker.min.mjs via no-slash proxy
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: none

fix(applications): advance review_stage to student_submitted on submit
  backend/app/services/application_service.py
Due: backend-tests

fix(seed): open college review window alongside professor window
  backend/app/db/seed_scholarship_configs.py
Due: backend-tests

feat(seed): grant cs_college doctoral scholarship permission by default
  backend/app/seed.py
Due: backend-tests

fix: review-stage on submit + college review-window handoff gap (#816)
  backend/app/db/seed_scholarship_configs.py
  backend/app/services/application_service.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

