Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(production-workflows): make the logrotate service actually rotate logs
  .github/production-workflows-examples/deploy.yml
  docker-compose.prod.yml
  scripts/logrotate.conf
Due: docker-compose-check

Potential fix for code scanning alert no. 18: Information exposure through an exception
  backend/app/api/v1/endpoints/admin/dashboard.py
Due: backend-tests, api-types-check

fix(staging): rotate the bind-mounted logs on staging too
  .github/workflows/deploy-pipeline.yml
  docker-compose.staging.yml
Due: docker-compose-check

fix(monitoring): connect production to the monitoring stack
  .github/production-workflows-examples/deploy.yml
  .github/workflows/deploy-monitoring-stack.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  monitoring/docker-compose.monitoring.yml
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: docker-compose-check

fix(production-workflows): create the external network after compose down
  .github/production-workflows-examples/deploy.yml
Due: none

docs(security): add pre-launch OWASP ZAP baseline reports
  docs/security/zap-baseline-2026-08/README.md
  docs/security/zap-baseline-2026-08/development/zap-backend-report.html
  docs/security/zap-baseline-2026-08/development/zap-backend-report.json
  docs/security/zap-baseline-2026-08/development/zap-backend-report.md
  docs/security/zap-baseline-2026-08/development/zap-backend-report.pdf
  docs/security/zap-baseline-2026-08/development/zap-frontend-report.html
  docs/security/zap-baseline-2026-08/development/zap-frontend-report.json
  docs/security/zap-baseline-2026-08/development/zap-frontend-report.md
  docs/security/zap-baseline-2026-08/development/zap-frontend-report.pdf
  docs/security/zap-baseline-2026-08/production/zap-frontend-prod-report.html
  docs/security/zap-baseline-2026-08/production/zap-frontend-prod-report.json
  docs/security/zap-baseline-2026-08/production/zap-frontend-prod-report.md
  docs/security/zap-baseline-2026-08/production/zap-frontend-prod-report.pdf
Due: none

fix(production-workflows): add least-privilege GITHUB_TOKEN permissions to templates
  .github/production-workflows-examples/backup.yml
  .github/production-workflows-examples/deploy.yml
  .github/production-workflows-examples/setting-env.yml
Due: none

fix(deps): patch vulnerable transitive npm deps, document cryptography ceiling
  backend/requirements.txt
  frontend/bun.lock
  frontend/package.json
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

fix(ci): reconcile files deleted in main during production mirror
  .github/workflows/mirror-to-production.yml
Due: none

fix(security): rebuild regex patterns from a character allowlist
  .claude/skills/regex-security/SKILL.md
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  backend/app/core/regex_validator.py
  backend/app/tests/test_regex_validator.py
Due: backend-tests

fix(deps): bump brace-expansion to 5.0.9 for GHSA-rgw5-rvv9-x895
  frontend/bun.lock
  frontend/package.json
Due: npm-audit, frontend-tests

fix(security): drop fastapi-mail, route notification email via EmailService, bump cryptography to 50.0.0
  backend/app/services/application_service.py
  backend/app/services/notification_service.py
  backend/app/tests/test_notification_service_unit.py
  backend/pyproject.toml
  backend/requirements.txt
Due: python-safety-check, backend-tests

feat(mirror): auto-update pristine stale workflows from templates
  .github/PRODUCTION_SYNC_GUIDE.md
  .github/production-workflows-examples/README.md
  .github/workflows/mirror-to-production.yml
Due: none

docs(security): OWASP ZAP baseline rescan reports (main @ 4325315a)
  docs/security/zap-baseline-2026-08-06/README.md
  docs/security/zap-baseline-2026-08-06/development/zap-backend-report.html
  docs/security/zap-baseline-2026-08-06/development/zap-backend-report.json
  docs/security/zap-baseline-2026-08-06/development/zap-backend-report.md
  docs/security/zap-baseline-2026-08-06/development/zap-backend-report.pdf
  docs/security/zap-baseline-2026-08-06/development/zap-frontend-report.html
  docs/security/zap-baseline-2026-08-06/development/zap-frontend-report.json
  docs/security/zap-baseline-2026-08-06/development/zap-frontend-report.md
  docs/security/zap-baseline-2026-08-06/development/zap-frontend-report.pdf
  docs/security/zap-baseline-2026-08-06/production/zap-frontend-prod-report.html
  docs/security/zap-baseline-2026-08-06/production/zap-frontend-prod-report.json
  docs/security/zap-baseline-2026-08-06/production/zap-frontend-prod-report.md
  docs/security/zap-baseline-2026-08-06/production/zap-frontend-prod-report.pdf
Due: none

docs(security): authenticated OWASP ZAP active scan report (main @ 4325315a)
  docs/security/zap-active-2026-08-06/README.md
  docs/security/zap-active-2026-08-06/plan.yaml
  docs/security/zap-active-2026-08-06/zap-active-api-report.html
  docs/security/zap-active-2026-08-06/zap-active-api-report.json
  docs/security/zap-active-2026-08-06/zap-active-api-report.md
  docs/security/zap-active-2026-08-06/zap-active-api-report.pdf
Due: none

fix(security): resolve Fortify OWASP Top 10 scan findings
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  docs/superpowers/audits/working/phase3-prep/dashboard-query-fixes.md
  frontend/Dockerfile
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/renewal-import.spec.ts
  monitoring/DASHBOARDS.md
  monitoring/GITHUB_DEPLOYMENT.md
  monitoring/README.md
  scripts/write_dev_env.sh
Due: frontend-tests, typescript-check

fix(security): address verification findings and review feedback
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/db.ts
  frontend/e2e/helpers/env.ts
  monitoring/PRODUCTION_RUNBOOK.md
  monitoring/scripts/backup-dashboards.sh
  monitoring/scripts/restore-monitoring.sh
  scripts/write_dev_env.sh
Due: frontend-tests, typescript-check

chore(mirror): exclude dev-only e2e suite and env bootstrap from production
  .github/workflows/mirror-to-production.yml
  monitoring/QUICKSTART.md
Due: none

revert(e2e): restore E2E_DATABASE_URL fallback and CI lane wiring
  .github/workflows/ci.yml
  .github/workflows/nightly.yml
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/db.ts
  frontend/e2e/helpers/env.ts
  frontend/e2e/specs/renewal-import.spec.ts
Due: frontend-tests, typescript-check

docs(security): ZAP baseline + active rescan (main @ e79d8f33)
  docs/security/zap-2026-08-06-e79d8f33/README.md
  docs/security/zap-2026-08-06-e79d8f33/active/plan.yaml
  docs/security/zap-2026-08-06-e79d8f33/active/zap-active-api-report.html
  docs/security/zap-2026-08-06-e79d8f33/active/zap-active-api-report.json
  docs/security/zap-2026-08-06-e79d8f33/active/zap-active-api-report.md
  docs/security/zap-2026-08-06-e79d8f33/active/zap-active-api-report.pdf
  docs/security/zap-2026-08-06-e79d8f33/baseline-development/zap-backend-report.html
  docs/security/zap-2026-08-06-e79d8f33/baseline-development/zap-backend-report.json
  docs/security/zap-2026-08-06-e79d8f33/baseline-development/zap-backend-report.md
  docs/security/zap-2026-08-06-e79d8f33/baseline-development/zap-backend-report.pdf
  docs/security/zap-2026-08-06-e79d8f33/baseline-development/zap-frontend-report.html
  docs/security/zap-2026-08-06-e79d8f33/baseline-development/zap-frontend-report.json
  docs/security/zap-2026-08-06-e79d8f33/baseline-development/zap-frontend-report.md
  docs/security/zap-2026-08-06-e79d8f33/baseline-development/zap-frontend-report.pdf
  docs/security/zap-2026-08-06-e79d8f33/baseline-production/zap-frontend-prod-report.html
  docs/security/zap-2026-08-06-e79d8f33/baseline-production/zap-frontend-prod-report.json
  docs/security/zap-2026-08-06-e79d8f33/baseline-production/zap-frontend-prod-report.md
  docs/security/zap-2026-08-06-e79d8f33/baseline-production/zap-frontend-prod-report.pdf
Due: none

fix(api): return 4xx instead of 500 for caller-input errors
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/api/v1/endpoints/csp_report.py
  backend/app/api/v1/endpoints/notifications.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/core/db_error_mapping.py
  backend/app/main.py
  backend/app/tests/test_db_error_mapping.py
  backend/app/tests/test_no_status_module_shadowing.py
  security/zap/README.md
  security/zap/active-scan-plan.yaml
  security/zap/alert-filters.yaml
Due: backend-tests, api-types-check

fix(api): reclassify DB errors wrapped as HTTPException(500)
  backend/app/core/db_error_mapping.py
  backend/app/main.py
  backend/app/tests/test_db_error_mapping.py
  security/zap/active-scan-plan.yaml
  security/zap/alert-filters.yaml
Due: backend-tests

fix(api): recover deliberate 4xx swallowed by blanket exception handlers
  backend/app/core/db_error_mapping.py
  backend/app/core/exception_chain.py
  backend/app/main.py
  backend/app/services/roster_service.py
  backend/app/tests/test_db_error_mapping.py
  security/zap/active-scan-plan.yaml
  security/zap/alert-filters.yaml
Due: backend-tests

fix(api): correct two nonexistent enum member references
  backend/app/api/v1/endpoints/notifications.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_admin_endpoints.py
  backend/app/tests/test_enum_member_access.py
Due: backend-tests, api-types-check

chore(deps): resolve Dependabot alerts in backend and frontend
  backend/pyproject.toml
  backend/requirements.txt
  frontend/bun.lock
  frontend/package.json
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

feat(mirror): generate per-release ZAP and CodeQL reports
  .github/PRODUCTION_SYNC_GUIDE.md
  .github/workflows/mirror-to-production.yml
  .github/workflows/sarif-to-pdf.yml
  .github/workflows/zap-report.yml
Due: none

feat(ci): standalone workflow publishing the security report to the run
  .github/workflows/security-report.yml
Due: none

feat(mirror): attach ZAP and CodeQL reports as workflow-run artifacts
  .github/PRODUCTION_SYNC_GUIDE.md
  .github/workflows/mirror-to-production.yml
Due: none

ci: add Fortify SAST scan workflow
  .github/workflows/fortify-scan.yml
Due: none

feat: add per-scholarship worksheet tabs to payment roster Excel export
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_scholarship_tabs.py
Due: backend-tests

feat(prod-workflows): two-stage gated deploy (test -> production)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/backup.yml
  .github/production-workflows-examples/bootstrap-ap-runner.sh
  .github/production-workflows-examples/deploy-stack.yml
  .github/production-workflows-examples/deploy.yml
  .github/production-workflows-examples/health-check.yml
  .github/production-workflows-examples/setting-env.yml
  .github/workflows/mirror-to-production.yml
Due: none

refactor(prod-workflows): drop the test-success veto, de-hardcode site values
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy-stack.yml
  .github/production-workflows-examples/deploy.yml
Due: none

fix: reserve statistics sheet title against scholarship tab collision
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_scholarship_tabs.py
Due: backend-tests

ci: run Fortify scan inline instead of the reusable workflow
  .github/workflows/fortify-scan.yml
Due: none

Potential fix for pull request finding 'CodeQL / Workflow does not contain permissions'
  .github/workflows/fortify-scan.yml
Due: none

fix: split scholarship tabs per allocation year via roster-year fallback
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_scholarship_tabs.py
Due: backend-tests

fix: only reserve statistics sheet title when statistics sheet exists
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_scholarship_tabs.py
Due: backend-tests

ci: scan frontend JS/TS and config files with Fortify
  .github/workflows/fortify-scan.yml
Due: none

fix: snapshot allocation year from ranking item; mark failed rosters
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/core/exceptions.py
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_item_consumed_config.py
Due: backend-tests, api-types-check

ci: add Fortify scan production workflow template
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/fortify-scan.yml
Due: none
