Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

test(frontend): pin system-settings API CRUD + SECURITY upload-proxy
  frontend/lib/api/modules/__tests__/system-settings.test.ts
Due: frontend-tests, typescript-check

test(frontend): pin user-profiles API self-service + admin read-only
  frontend/lib/api/modules/__tests__/user-profiles.test.ts
Due: frontend-tests, typescript-check

test(frontend): pin email-management API SECURITY test-mode + scheduled lifecycle
  frontend/lib/api/modules/__tests__/email-management.test.ts
Due: frontend-tests, typescript-check

test(frontend): pin document-requests API + 2-method read-only invariant
  frontend/lib/api/modules/__tests__/document-requests.test.ts
Due: frontend-tests, typescript-check

test(frontend): pin manual-distribution API SECURITY contracts + 11-method invariant
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
Due: frontend-tests, typescript-check

test(frontend): pin applications API CRUD + draft branching + raw-proxy upload
  frontend/lib/api/modules/__tests__/applications.test.ts
Due: frontend-tests, typescript-check

test(frontend): pin college API dispatch + binary-export fallback chains
  frontend/lib/api/modules/__tests__/college.test.ts
Due: frontend-tests, typescript-check

test(frontend): pin admin API SECURITY-critical dispatch invariants + 77-method count
  frontend/lib/api/modules/__tests__/admin.test.ts
Due: frontend-tests, typescript-check

test(backend): pin alternate_promotion_service sub_type filter + sort invariants
  backend/app/tests/test_alternate_promotion_filter.py
Due: backend-tests

test(backend): pin BankVerificationTaskService state machine + skip-check invariants
  backend/app/tests/test_bank_verification_task_state_machine.py
Due: backend-tests

test(backend): pin RosterNotificationService role-defaults + uncover UserRole.processor bug
  backend/app/tests/test_roster_notification_defaults.py
Due: backend-tests

test(backend): pin ExportPackageService _sanitize_filename SECURITY + zh-TW label constants
  backend/app/tests/test_export_package_pure_helpers.py
Due: backend-tests

test(backend): pin Facebook-style notification request schemas PRIVACY defaults
  backend/app/tests/test_fb_notification_request_schemas.py
Due: backend-tests

test(backend): pin received-months Excel template HEADER + sample-row + workbook structure
  backend/app/tests/test_received_months_template.py
Due: backend-tests

test(backend): pin PhD eligibility plugin rules (months cap + cohort match + fail-open)
  backend/app/tests/test_phd_eligibility_plugin_rules.py
Due: backend-tests

test(backend): pin rotate_pii_keys envelope-version parser + batch size
  backend/app/tests/test_rotate_pii_envelope_helper.py
Due: backend-tests

test(backend): pin pre-commit schema-check analyzer (3 issue types + AST helpers)
  backend/app/tests/test_pre_commit_schema_check_analyzer.py
Due: backend-tests

test(frontend): pin ApiClient token state + defensive header/body helpers + ApiValidationError
  frontend/lib/api/__tests__/client-token-state.test.ts
Due: frontend-tests, typescript-check

test(backend): pin student.py reference-data models + degree-mapping helper
  backend/app/tests/test_student_models_helpers.py
Due: backend-tests

fix(services): replace nonexistent UserRole.processor with super_admin in roster notifications
  backend/app/services/roster_notification_service.py
  backend/app/tests/test_roster_notification_defaults.py
Due: backend-tests

fix(schemas): use alias for leading-underscore metadata fields in StudentSnapshotSchema (closes #459)
  backend/app/schemas/student_snapshot.py
  backend/app/tests/test_student_snapshot_schema.py
Due: backend-tests, api-types-check

test(frontend): pin notificationKeys cache-key registry (narrow recovery for dropped wave 6a149)
  frontend/hooks/__tests__/notification-keys.test.ts
Due: frontend-tests, typescript-check

test(frontend): pin emailToPlainText SECURITY (DOMParser-based, no regex)
  frontend/lib/__tests__/email-to-plain-text.test.ts
Due: frontend-tests, typescript-check

test(roster): pin _evaluate_condition eligibility operators (10 ops + fail-closed paths)
  backend/app/tests/test_roster_eligibility_operators.py
Due: backend-tests

test(roster): pin _get_student_field_value priority chain (6-level fallback)
  backend/app/tests/test_roster_get_student_field_value.py
Due: backend-tests

test(roster): pin _evaluate_scholarship_rule orchestrator + error swallow
  backend/app/tests/test_roster_evaluate_scholarship_rule.py
Due: backend-tests

test(excel-export): pin _generate_remarks roster-Excel remarks assembler
  backend/app/tests/test_excel_export_generate_remarks.py
Due: backend-tests

test(excel-export): pin _validate_export_data STD_UP_MIXLISTA gate (SECURITY)
  backend/app/tests/test_excel_validate_export_data.py
Due: backend-tests

test(notification): pin _send_websocket_notification fan-out + dead-conn cleanup
  backend/app/tests/test_notification_websocket_cleanup.py
Due: backend-tests

test(user-profile): pin _scan_for_virus fail-open SECURITY gate
  backend/app/tests/test_user_profile_virus_scan_stub.py
Due: backend-tests

test+fix(roster): pin validate_roster_consistency + fix None-amount crash
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_validate_consistency.py
Due: backend-tests

fix(admin): add missing sqlalchemy.func import in email_templates endpoint
  backend/app/api/v1/endpoints/admin/email_templates.py
Due: backend-tests, api-types-check

fix(tests): clear 5 F821 (undefined name) errors from schema-cleanup dead code
  backend/app/tests/test_college_review_endpoints.py
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_professor_endpoints.py
Due: backend-tests

fix(test): correct 15-digit-vs-14 off-by-one in postal-account test
  backend/app/tests/test_bank_verification_service_helpers.py
Due: backend-tests

fix(test): exclude DB-coupled reference-data tests from smoke gate
  backend/app/tests/test_reference_data_response_shape.py
Due: backend-tests

fix(test): r-prefix docstring to clear SyntaxWarning on regex pattern
  backend/app/tests/test_user_profile_schemas.py
Due: backend-tests

fix(core): drop unused asyncio import from cache module
  backend/app/core/cache.py
Due: backend-tests

fix(tests): skip stale MinIOService unit tests (track in #490)
  backend/app/tests/test_minio_service.py
Due: backend-tests

fix(tests): module-skip stale model-comprehensive tests (track in #490)
  backend/app/tests/test_models_comprehensive.py
Due: backend-tests

fix(tests): module-skip stale application_service comprehensive tests (#490)
  backend/app/tests/test_application_service_comprehensive.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

