Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


chore(backend): SECURITY logging on auth.py register + login endpoints
  backend/app/api/v1/endpoints/auth.py
Due: backend-tests, api-types-check

chore(backend): preserve traceback + capture IP on CSP violation reports
  backend/app/api/v1/endpoints/csp_report.py
Due: backend-tests, api-types-check

chore(backend): SECURITY logging on notifications admin 403 guards
  backend/app/api/v1/endpoints/notifications.py
Due: backend-tests, api-types-check

chore(backend): audit logging + traceback on email automation mutations
  backend/app/api/v1/endpoints/email_automation.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on roster_schedules error logs
  backend/app/api/v1/endpoints/roster_schedules.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on professor_student error logs
  backend/app/api/v1/endpoints/professor_student.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on reviews.py error logs
  backend/app/api/v1/endpoints/reviews.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on manual_distribution error logs
  backend/app/api/v1/endpoints/manual_distribution.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on admin/configurations error logs
  backend/app/api/v1/endpoints/admin/configurations.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on application_fields error logs
  backend/app/api/v1/endpoints/application_fields.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on applications.py error logs
  backend/app/api/v1/endpoints/applications.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on admin/applications error logs
  backend/app/api/v1/endpoints/admin/applications.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on email_management error logs
  backend/app/api/v1/endpoints/email_management.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks on 10 endpoint files (bulk sweep)
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/college_review/utilities.py
  backend/app/api/v1/endpoints/document_requests.py
  backend/app/api/v1/endpoints/email_automation.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/student_bank_accounts.py
Due: backend-tests, api-types-check

chore(backend): preserve tracebacks across 29 service files (131 swaps)
  backend/app/services/alternate_promotion_service.py
  backend/app/services/analytics_service.py
  backend/app/services/application_audit_service.py
  backend/app/services/application_field_service.py
  backend/app/services/application_service.py
  backend/app/services/audit_service.py
  backend/app/services/bank_verification_task_service.py
  backend/app/services/bulk_approval_service.py
  backend/app/services/eligibility_service.py
  backend/app/services/eligibility_verification_service.py
  backend/app/services/email_automation_service.py
  backend/app/services/email_management_service.py
  backend/app/services/email_service.py
  backend/app/services/email_template_loader.py
  backend/app/services/excel_export_service.py
  backend/app/services/export_package_service.py
  backend/app/services/minio_service.py
  backend/app/services/notification_service.py
  backend/app/services/ocr_service.py
  backend/app/services/plugins/phd_eligibility_plugin.py
  backend/app/services/portal_sso_service.py
  backend/app/services/react_email_template_service.py
  backend/app/services/roster_notification_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/services/roster_service.py
  backend/app/services/scholarship_service.py
  backend/app/services/student_service.py
  backend/app/services/student_verification_service.py
  backend/app/services/user_profile_service.py
Due: backend-tests

chore(backend): preserve tracebacks in core/db/integrations/middleware/utils (22 swaps)
  backend/app/core/auto_response_converter.py
  backend/app/core/database_health.py
  backend/app/core/rate_limiting.py
  backend/app/core/schema_validation.py
  backend/app/db/session.py
  backend/app/integrations/nycu_emp/client_http.py
  backend/app/middleware/schema_validation_middleware.py
  backend/app/utils/audit_helpers.py
  backend/app/utils/date_utils.py
  backend/app/utils/endpoint_decorators.py
Due: backend-tests

chore(frontend): narrow `value: any` → `value: unknown` in system-settings.ts
  frontend/lib/api/modules/system-settings.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow ApiResponse<any> to unknown in user-profiles.ts (6 sites)
  frontend/lib/api/modules/user-profiles.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow ApiResponse<any> to unknown in 3 safe API modules
  frontend/bun.lock
  frontend/lib/api/modules/document-requests.ts
  frontend/lib/api/modules/payment-rosters.ts
  frontend/lib/api/modules/quota.ts
Due: frontend-tests, typescript-check

chore: remove stray frontend/bun.lock
  frontend/bun.lock
Due: frontend-tests

chore(frontend): narrow getMockUsers any[] to AuthMockUser[]
  frontend/lib/api/modules/auth.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow email-automation.ts api types (8 sites)
  frontend/lib/api/modules/email-automation.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow professor.ts api types (4 sites + canonical types)
  frontend/lib/api/modules/professor.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow scholarships.getAll() any[] to ScholarshipType[]
  frontend/lib/api/modules/scholarships.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow applications.ts api return types (9 sites)
  frontend/lib/api/modules/applications.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow email-management.ts react/db template APIs (5 sites)
  frontend/lib/api/modules/email-management.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow college.getSubTypes() any[] to string[]
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow roster-management filter callbacks (2 sites)
  frontend/components/roster-management-dashboard.tsx
Due: frontend-tests, typescript-check

chore(monitoring): tune BackendUnhandledTraceback for post-sweep baseline
  monitoring/config/grafana/provisioning/alerting/rules-application-logs.yml
Due: none

chore(monitoring): tune BackendErrorSpike threshold + cooldown
  monitoring/config/grafana/provisioning/alerting/rules-application-logs.yml
Due: none

chore(monitoring): tune ContainerDown staleness threshold + cooldown
  monitoring/config/grafana/provisioning/alerting/rules-container.yml
Due: none

chore(monitoring): preserve tracebacks in webhook-bridge error paths
  monitoring/webhook-bridge/bridge.py
Due: none

chore(backend): convert SQLAlchemy `== True`/`== False` to `.is_(True)`/`.is_(False)`
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/api/v1/endpoints/student_bank_accounts.py
  backend/app/services/bank_verification_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/quota_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_business_metrics_instrumentation.py
Due: backend-tests, api-types-check

chore(backend tests): rename E741 ambiguous `l` loop var → `label`/`lang`
  backend/app/tests/test_github_integration_pure_helpers.py
  backend/app/tests/test_i18n_utils.py
Due: backend-tests

chore(frontend): silence next/no-img-element with rationale (2 sites)
  frontend/components/bank-verification-review-dialog.tsx
  frontend/components/student/verified-account-alert.tsx
Due: frontend-tests, typescript-check

chore(frontend): migrate use-auth.tsx console.* → logger
  frontend/hooks/use-auth.tsx
Due: frontend-tests, typescript-check

chore(frontend): migrate small files' console.* → logger (10 sites, 5 files)
  frontend/contexts/notification-context.tsx
  frontend/hooks/use-applications.ts
  frontend/hooks/use-student-preview.ts
  frontend/lib/api/client.ts
  frontend/lib/api/typed-client.ts
Due: frontend-tests, typescript-check

chore(frontend): migrate utility console.* → logger (4 files, 8 sites)
  frontend/contexts/session-expired-context.tsx
  frontend/hooks/use-scholarship-data.ts
  frontend/lib/email-renderer.tsx
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

chore(frontend): migrate use-scholarship-permissions console.* → logger (17 sites)
  frontend/hooks/use-scholarship-permissions.ts
Due: frontend-tests, typescript-check

chore(frontend): migrate use-admin.ts console.* → logger (20 sites)
  frontend/hooks/use-admin.ts
Due: frontend-tests, typescript-check
