Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(staging-e2e): teardown env bug, MinIO mirror, parametrize new specs, full-roster import
  .github/workflows/staging-e2e.yml
  docker-compose.staging-e2e.yml
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
  frontend/e2e/specs/whitelist-remove.spec.ts
Due: frontend-tests, typescript-check, docker-compose-check

fix(staging-e2e): teardown env bug, MinIO mirror, parametrize new specs, full-roster import (#956)
  .github/workflows/staging-e2e.yml
  docker-compose.staging-e2e.yml
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
  frontend/e2e/specs/whitelist-remove.spec.ts
Due: frontend-tests, typescript-check, docker-compose-check

fix(staging-e2e): route replica browser traffic through an nginx that mirrors live staging
  .github/workflows/staging-e2e.yml
  docker-compose.staging-e2e.yml
  nginx/nginx.staging-e2e.conf
Due: docker-compose-check

fix(staging-e2e): route replica browser traffic through an nginx that mirrors live staging (#957)
  .github/workflows/staging-e2e.yml
  docker-compose.staging-e2e.yml
  nginx/nginx.staging-e2e.conf
Due: docker-compose-check

fix: address code review on quota matrix delta math and cleanup
  backend/app/services/manual_distribution_service.py
  frontend/components/admin/manual-distribution/CollegeQuotaMatrix.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

ci(staging-e2e): schedule the replica lane nightly at 02:30 Asia/Taipei
  .github/workflows/staging-e2e.yml
Due: none

ci(staging-e2e): schedule the replica lane nightly at 02:30 Asia/Taipei (#959)
  .github/workflows/staging-e2e.yml
Due: none

Add GitHub Actions workflow for Next.js deployment
  .github/workflows/web-deploy.yml
Due: none

feat(storage): swap dev object storage MinIO → RustFS + full migration groundwork
  README.md
  backend/app/scripts/storage_compat_check.py
  backend/app/services/minio_service.py
  docker-compose.dev.yml
  docs/deployment/rustfs-migration-runbook.md
  docs/getting-started/quick-start.md
  scripts/reset_database.sh
Due: backend-tests, docker-compose-check

fix(#963): guard destructive migration 06e8a66d9437 against data loss (audit gap G1)
  backend/alembic/versions/06e8a66d9437_cleanup_old_applications.py
  backend/app/tests/test_destructive_migration_guard.py
Due: backend-tests, migration-check

fix(storage)+docs: revive dead roster hash check; deep-scan findings into runbook
  backend/app/services/minio_service.py
  docs/deployment/rustfs-migration-runbook.md
Due: backend-tests

fix(#963): guard destructive migration 06e8a66d9437 against data loss (audit gap G1) (#996)
  backend/alembic/versions/06e8a66d9437_cleanup_old_applications.py
  backend/app/tests/test_destructive_migration_guard.py
Due: backend-tests, migration-check

feat: add eligibility status and rule-comparison detail columns to roster detail view
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/roster.py
  backend/app/tests/test_roster_items_display_year.py
  backend/app/tests/test_roster_schemas.py
  frontend/components/roster/EligibilityDetailDialog.tsx
  frontend/components/roster/RosterDetailDialog.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

refactor: move is_eligible to model layer, slim list payloads, dedupe UI helpers
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/models/payment_roster.py
  backend/app/schemas/roster.py
  backend/app/tests/test_payment_roster_model.py
  backend/app/tests/test_roster_items_display_year.py
  backend/app/tests/test_roster_schemas.py
  frontend/components/roster/EligibilityDetailDialog.tsx
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/components/scholarship-rule-modal.tsx
  frontend/lib/constants/rule-operators.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(audit): wire audit logging into batch-import, whitelist, renewal; normalize revoke/suspend/restore (#964 #972 #973 #980)
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/renewal.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/models/audit_log.py
  backend/app/services/application_audit_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_application_audit_service_contract.py
  backend/app/tests/test_audit_wiring_invariants.py
  backend/app/tests/test_restore_allocation_service.py
  backend/app/tests/test_revoke_suspend_service.py
Due: backend-tests, api-types-check, migration-check

fix(history): deleted-records policy, revocation context fields, student-history soft-delete filter, review_stage delete guard (#974 #975 #977 #992)
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/schemas/application.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_history_endpoint_deleted_policy.py
  backend/app/tests/test_student_history_excludes_deleted_applications.py
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(resilience): MinIO orphan detection, audit-survival tests, evidence-table FK policies (#967 #979 #982 #983)
  backend/alembic/versions/audit_evidence_fk_policy_001.py
  backend/app/models/audit_log.py
  backend/app/models/email_management.py
  backend/app/services/application_service.py
  backend/app/tests/test_audit_log_survives_application_deletion.py
  backend/app/tests/test_delete_application_minio_failure.py
Due: backend-tests, api-types-check, migration-check

test(audit): update AuditAction pin 24 -> 27 for revoke/suspend/restore (#980)
  backend/app/tests/test_audit_log_factory_and_enum.py
Due: backend-tests

test(history): fix PaymentRoster fixture kwargs (roster_name/created_by_user_id are not columns)
  backend/app/tests/test_student_history_excludes_deleted_applications.py
Due: backend-tests

fix(audit): wire audit logging into batch-import, whitelist, renewal; normalize revoke/suspend/restore (#998)
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/renewal.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/models/audit_log.py
  backend/app/services/application_audit_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_application_audit_service_contract.py
  backend/app/tests/test_audit_log_factory_and_enum.py
  backend/app/tests/test_audit_wiring_invariants.py
  backend/app/tests/test_restore_allocation_service.py
  backend/app/tests/test_revoke_suspend_service.py
Due: backend-tests, api-types-check, migration-check

fix(history): deleted-records policy, revocation fields, student-history soft-delete filter, review_stage guard (#999)
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/schemas/application.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_history_endpoint_deleted_policy.py
  backend/app/tests/test_student_history_excludes_deleted_applications.py
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(resilience): MinIO orphan detection, audit-survival tests, evidence-table FK policies (#967 #979 #982 #983) (#1000)
  backend/alembic/versions/audit_evidence_fk_policy_001.py
  backend/app/models/audit_log.py
  backend/app/models/email_management.py
  backend/app/services/application_service.py
  backend/app/tests/test_audit_log_survives_application_deletion.py
  backend/app/tests/test_delete_application_minio_failure.py
Due: backend-tests, api-types-check, migration-check

fix(#966): make audit_logs append-only — DB trigger + ORM guard (audit gap G4)
  backend/alembic/versions/audit_logs_immutability_001.py
  backend/app/models/audit_log.py
  backend/app/tests/test_audit_log_immutability.py
Due: backend-tests, api-types-check, migration-check

fix(audit): money-decision trail — allocation/finalize/ranking audits, restore linkage, history actor (#965 #970 #971 #984)
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/application_audit_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_audit_wiring_invariants.py
  backend/app/tests/test_manual_distribution_audit.py
Due: backend-tests, api-types-check

Merge pull request #939 from anud18/claude/id-number-masking-w9lhk7
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/roster/RevokedSuspendedSection.tsx
  frontend/components/roster/StudentRosterPreview.tsx
  frontend/lib/utils/mask.test.ts
  frontend/lib/utils/mask.ts
Due: frontend-tests, typescript-check

feat(backend): mask national ID before sending in API responses
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/roster_service.py
  backend/app/tests/test_pii_masking.py
  backend/app/tests/test_roster_item_removal_service.py
  backend/app/utils/pii_masking.py
Due: backend-tests, api-types-check

test: CollegeRanking has no college_code column — drop from fixture
  backend/app/tests/test_manual_distribution_audit.py
Due: backend-tests

fix(#966): make audit_logs append-only — DB trigger + ORM guard (audit gap G4) (#1001)
  backend/alembic/versions/audit_logs_immutability_001.py
  backend/app/models/audit_log.py
  backend/app/tests/test_audit_log_immutability.py
Due: backend-tests, api-types-check, migration-check

fix(integrity): status-transition state machine + bank-correction original preservation (#978 #981)
  backend/app/services/application_service.py
  backend/app/services/bank_verification_service.py
  backend/app/tests/test_bank_verification_preserves_original_form_data.py
  backend/app/tests/test_status_transition_state_machine.py
Due: backend-tests

fix(history): revocation context in 學生領取歷史 + categorized locked-roster removal reasons (#987 #988)
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/payment_roster.py
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/roster_service.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_history_revocation_context.py
  frontend/components/admin/student-history/PaymentHistoryTable.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/student-history.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(audit): money-decision trail — allocation/finalize/ranking audits, restore linkage, history actor (#1002)
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/application_audit_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_audit_wiring_invariants.py
  backend/app/tests/test_manual_distribution_audit.py
Due: backend-tests, api-types-check

fix(history): revocation context in 學生領取歷史 + categorized locked-roster removal reasons (#987 #988) (#1005)
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/payment_roster.py
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/roster_service.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_history_revocation_context.py
  frontend/components/admin/student-history/PaymentHistoryTable.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/student-history.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test: postal accounts are 14 digits — fix corrected values in G19 tests
  backend/app/tests/test_bank_verification_preserves_original_form_data.py
Due: backend-tests

feat(#985): export the filtered 歷史申請 view to Excel (audit gap G23)
  backend/app/api/v1/endpoints/admin/applications.py
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/admin.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(#976): system-wide audit-log viewer — backend listing + 稽核日誌 admin tab (audit gap G14)
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/audit_logs.py
  frontend/components/admin/AdminManagementShell.tsx
  frontend/components/admin/audit/AuditLogPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/audit-logs.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: auto-fix CI failure for PR #1006 - update admin API method count to 79
  frontend/lib/api/modules/__tests__/admin.test.ts
Due: frontend-tests, typescript-check

fix: auto-fix CI failure for PR #1004 - add ApplicationFile fixture for passbook cover photo validation
  backend/app/tests/test_bank_verification_preserves_original_form_data.py
Due: backend-tests

fix: auto-fix CI failure for PR #961 - add nosec B310 to urlopen + upgrade PyJWT to 2.13.0
  backend/requirements.txt
Due: python-safety-check, backend-tests

fix: auto-fix CI failure for PR #961 - correct requirements.txt (PyJWT 2.13.0) and add nosec B310
  backend/app/scripts/storage_compat_check.py
  backend/requirements.txt
Due: python-safety-check, backend-tests

feat(#976): system-wide audit-log viewer — backend listing + 稽核日誌 admin tab (audit gap G14) (#1007)
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/audit_logs.py
  frontend/components/admin/AdminManagementShell.tsx
  frontend/components/admin/audit/AuditLogPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/audit-logs.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check
