Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

chore(types/user): tighten raw_data index signature from \`any\` to \`unknown\`
  frontend/types/user.ts
Due: frontend-tests, typescript-check

chore(app/page): replace debug \`as any\` with focused cast
  frontend/app/page.tsx
Due: frontend-tests, typescript-check

chore(frontend): apply DocumentPayload to 3 more files + harden ApplicationReviewDialog preview
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

chore(frontend): type ScholarshipPermission props + ocr_data record (task #14)
  frontend/components/bank-verification-review-dialog.tsx
  frontend/components/user-edit-modal.tsx
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

chore(frontend): type admin-dashboard props + semester-selector helpers (task #14)
  frontend/components/admin-dashboard.tsx
  frontend/components/semester-selector.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 4 Select onValueChange callbacks in relationship management (task #14)
  frontend/components/professor-student-relationship-management.tsx
Due: frontend-tests, typescript-check

chore(frontend): type APScheduler job args/kwargs (task #14)
  frontend/components/scheduler-status.tsx
Due: frontend-tests, typescript-check

fix(frontend): enhanced-admin-dashboard 11 any-types + 5 latent display bugs (task #14)
  frontend/components/enhanced-admin-dashboard.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 14 any sites in ApplicationReviewDialog + invalid-Date guard (task #14)
  frontend/components/common/ApplicationReviewDialog.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 9 any sites in admin-management-interface state + helpers (task #14)
  frontend/components/admin-management-interface.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 3 any sites in user-permission-management (task #14)
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 6 any sites in DistributionQuotaSummary (task #14)
  frontend/components/college/shared/DistributionQuotaSummary.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 9 any sites in file-upload + roster-preview (task #14)
  frontend/components/file-upload.tsx
  frontend/components/roster/StudentRosterPreview.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 5 any sites in admin-scholarship-management (task #14)
  frontend/components/admin-scholarship-management-interface.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 7 any sites in college-ranking-table (task #14)
  frontend/components/college-ranking-table.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 6 any sites in RankingManagementPanel (task #14)
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 9 any sites in ScholarshipApplicationStep (task #14)
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 9 any sites across 3 small files (task #14)
  frontend/components/admin/announcements/AnnouncementsPanel.tsx
  frontend/components/college/shared/RankingCardList.tsx
  frontend/components/roster/ConfigSelector.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 6 any sites across professor-review + workflow-mermaid (task #14)
  frontend/components/ScholarshipWorkflowMermaid.tsx
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

chore(frontend): type 9 any sites across 3 files (task #14)
  frontend/components/batch-import-editor.tsx
  frontend/components/email-test-mode-panel.tsx
  frontend/components/reviewer-dashboard.tsx
Due: frontend-tests, typescript-check

chore(frontend): narrow remaining any-type sites in admin + roster + profile
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/bank-verification-review-dialog.tsx
  frontend/components/college/shared/RankingCard.tsx
  frontend/components/roster/CompactConfigSelector.tsx
  frontend/components/user-profile-management.tsx
Due: frontend-tests, typescript-check

chore(frontend): replace any with keyof-indexed generics in form handlers
  frontend/components/admin-management-interface.tsx
  frontend/components/batch-application-file-upload.tsx
  frontend/components/scholarship-rule-modal.tsx
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

chore(frontend): narrow application-detail-dialog any-type sites
  frontend/components/application-detail-dialog.tsx
Due: frontend-tests, typescript-check

chore(frontend): narrow scattered any sites across admin/audit/roster/sso
  frontend/components/admin-rule-management.tsx
  frontend/components/audit-trail/JsonDiffViewer.tsx
  frontend/components/email-automation-management.tsx
  frontend/components/mock-sso-login.tsx
  frontend/components/roster-schedule-list.tsx
  frontend/components/user-edit-modal.tsx
Due: frontend-tests, typescript-check

chore(frontend): narrow any-types in use-admin + use-student-profile
  frontend/hooks/use-admin.ts
  frontend/hooks/use-student-profile.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow any-types across admin shell + notification + lib types
  frontend/components/admin/AdminManagementShell.tsx
  frontend/components/admin/batch-bank-verification.tsx
  frontend/components/admin/email/EmailPanel.tsx
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/components/admin/students/StudentListManagement.tsx
  frontend/components/notification-panel.tsx
  frontend/components/student-preview-card.tsx
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow professor_review_items map callback in ApplicationReviewPanel
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

chore(frontend): narrow any-types in lib/api/compat + form-data-helpers
  frontend/lib/api/compat.ts
  frontend/lib/api/form-data-helpers.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow application_reviews.find callback in application-helpers
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow any-types in Next.js API route handlers
  frontend/app/api/v1/download/route.ts
  frontend/app/api/v1/preview/route.ts
Due: frontend-tests, typescript-check

feat(backend): instrument scholarship_applications_total counter (#159)
  backend/app/services/application_service.py
  backend/app/tests/test_application_metrics_instrumentation.py
Due: backend-tests

feat(backend): instrument scholarship_reviews_total + email_sent_total (#159)
  backend/app/services/application_service.py
  backend/app/services/email_service.py
  backend/app/tests/test_business_metrics_instrumentation.py
Due: backend-tests

feat(backend): instrument file_uploads_total counter (#159)
  backend/app/services/minio_service.py
  backend/app/tests/test_file_uploads_metric.py
Due: backend-tests

feat(backend): instrument payment_rosters_total counter (#159)
  backend/app/services/roster_service.py
  backend/app/tests/test_payment_rosters_metric.py
Due: backend-tests

feat(backend): instrument db_query_duration_seconds histogram (#159)
  backend/app/db/session.py
  backend/app/tests/test_db_query_duration_metric.py
Due: backend-tests

feat(backend): instrument college-review reviewer_type for scholarship_reviews_total
  backend/app/services/college_review_service.py
Due: backend-tests

chore(frontend): narrow 2 callback any-types in college-management-context
  frontend/contexts/college-management-context.tsx
Due: frontend-tests, typescript-check

chore(frontend): narrow filters/params any-types in lib/api/modules/admin.ts
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

chore(backend): instrument quota_dashboard.py with logger calls
  backend/app/api/v1/endpoints/quota_dashboard.py
Due: backend-tests, api-types-check

chore(backend): add SECURITY logging to files.py + document_requests.py 403 paths
  backend/app/api/v1/endpoints/document_requests.py
  backend/app/api/v1/endpoints/files.py
Due: backend-tests, api-types-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

