Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


feat(application-summary-export): single-department endpoint
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/tests/test_application_summary_export_endpoint.py
Due: backend-tests, api-types-check

feat(application-summary-export): bulk ZIP endpoint
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/tests/test_application_summary_export_endpoint.py
Due: backend-tests, api-types-check

fix(application-summary-export): disambiguate ZIP entry filenames with dept_code
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
Due: backend-tests, api-types-check

feat(frontend): add department summary export client helpers
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

chore(frontend): regenerate OpenAPI types for summary export endpoints
  frontend/lib/api/generated/schema.d.ts
Due: none

feat(application-summary-export): add UI controls to ApplicationReviewPanel
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

chore(workflows): bump built-in actions to Node-24-native majors
  .github/workflows/api-types-check.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-monitoring-stack.yml
  .github/workflows/deploy-pipeline.yml
  .github/workflows/dev-workflow.yml
  .github/workflows/mirror-to-production.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/sarif-to-pdf.yml
  .github/workflows/security.yml
  .github/workflows/staging-evidence.yml
  .github/workflows/summary.yml
Due: none

chore(workflows): bump built-in actions to Node-24-native majors (#204)
  .github/workflows/api-types-check.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-monitoring-stack.yml
  .github/workflows/deploy-pipeline.yml
  .github/workflows/dev-workflow.yml
  .github/workflows/mirror-to-production.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/sarif-to-pdf.yml
  .github/workflows/security.yml
  .github/workflows/staging-evidence.yml
  .github/workflows/summary.yml
Due: none

fix(ci): run alembic migrations + seeds in backend container before E2E Smoke
  .github/workflows/ci.yml
Due: none

fix(pii): redact std_pid before writing roster audit log
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_audit_pii_redaction.py
Due: backend-tests

fix(ci): migrate + seed inside backend container before E2E Smoke
  .github/workflows/ci.yml
Due: none

fix(pii): scrub historical std_pid plaintext from audit_logs
  backend/alembic/versions/20260513_scrub_pii_from_audit_logs.py
  backend/app/tests/test_scrub_pii_audit_logs_migration.py
Due: backend-tests, migration-check

style: apply black 26.3.1 formatting to PII redaction test
  backend/app/tests/test_roster_audit_pii_redaction.py
Due: backend-tests

style: apply black 26.3.1 formatting to audit_logs scrub test
  backend/app/tests/test_scrub_pii_audit_logs_migration.py
Due: backend-tests

chore(api): standardize ApiResponse + add missing endpoint logging
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/notifications.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/api/v1/endpoints/users.py
  backend/app/tasks/deadline_checker.py
  backend/app/tests/test_reference_data_response_shape.py
Due: backend-tests, api-types-check

chore(api-types): regenerate schema.d.ts for reference_data ApiResponse changes
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(tests): use lowercase enum member NotificationPriority.urgent (not URGENT)
  backend/app/tests/test_notification_service.py
Due: backend-tests

fix(api): replace any types in lib/api/client.ts with proper structural types
  frontend/lib/api/client.ts
Due: frontend-tests, typescript-check

fix(debug-panel): remove all any types from debug panel
  frontend/components/debug-panel.tsx
Due: frontend-tests, typescript-check

test(application-sequence): pin app_id format contract
  backend/app/tests/test_application_sequence_format.py
Due: backend-tests

style: apply black 26.3.1 formatting
  backend/app/tests/test_application_sequence_format.py
Due: backend-tests

fix(monitoring): guard PrometheusStorageLow alert against division-by-zero
  monitoring/config/grafana/provisioning/alerting/rules-monitoring.yml
Due: none

fix(bank-verification): skip re-verifying applications with already-verified accounts
  backend/app/services/bank_verification_task_service.py
Due: backend-tests

test(bank-verification): cover pure helpers (Wave 2b)
  backend/app/tests/test_bank_verification_service_helpers.py
Due: backend-tests

test(application-status): cover is_editable / is_submitted / can_be_reviewed properties
  backend/app/tests/test_application_status_properties.py
Due: backend-tests

fix(batch-import-panel): remove all any types
  frontend/components/batch-import-panel.tsx
Due: frontend-tests, typescript-check

test(date-utils): cover pure date helpers (Wave 2c)
  backend/app/tests/test_date_utils.py
Due: backend-tests

test(college-mappings): cover pure college-code helpers (Wave 2d)
  backend/app/tests/test_college_mappings.py
Due: backend-tests

test(endpoint-decorators): cover handle_college_review_errors mapping (Wave 2e)
  backend/app/tests/test_endpoint_decorators.py
Due: backend-tests

test(roster-scheduler): cover _parse_cron_expression (Wave 2f)
  backend/app/tests/test_roster_scheduler_cron.py
Due: backend-tests

test(email-service): cover pure helpers (Wave 2g)
  backend/app/tests/test_email_service_pure_helpers.py
Due: backend-tests

test(excel-export): cover pure helpers (Wave 2h)
  backend/app/tests/test_excel_export_service_pure_helpers.py
Due: backend-tests

test(bank-verification): cover extract_bank_fields_from_application (Wave 2i)
  backend/app/tests/test_bank_verification_extract_fields.py
Due: backend-tests

test(system-setting): add async-DB-fixture coverage (Wave 2j)
  backend/app/tests/test_system_setting_service.py
Due: backend-tests

test(e2e): pin student-withdraw flow (issue #214)
  frontend/e2e/specs/student-withdraw.spec.ts
Due: frontend-tests, typescript-check

test(e2e): pin cross-role authorization on applications API (issue #214)
  frontend/e2e/specs/role-permissions.spec.ts
Due: frontend-tests, typescript-check

test(e2e): drain stale stuphd001+phd apps before withdraw spec
  frontend/e2e/specs/student-withdraw.spec.ts
Due: frontend-tests, typescript-check

test(e2e): drain stale stuphd001+phd apps before role-permissions spec
  frontend/e2e/specs/role-permissions.spec.ts
Due: frontend-tests, typescript-check

fix(application_service): repair get_professor_review_stats (issue #218)
  backend/app/services/application_service.py
  backend/app/tests/test_professor_review_stats.py
Due: backend-tests

refactor(application_service): remove deprecated ProfessorReview helpers (closes #218)
  backend/app/services/application_service.py
  backend/app/tests/test_professor_review_stats.py
Due: backend-tests
