Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(staging): set BASE_URL to staging origin so file/email URLs aren't localhost
  .github/workflows/deploy-pipeline.yml
  docker-compose.staging.yml
Due: docker-compose-check

fix(frontend): guard file preview against createObjectURL on non-Blob restored files
  frontend/components/file-upload.tsx
Due: frontend-tests, typescript-check

fix(applications): consolidate document enrichment to shared helper in 4 read/submit paths (#890)
  backend/app/services/application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix(frontend): guard file preview against createObjectURL on non-Blob restored files (#892)
  frontend/components/file-upload.tsx
Due: frontend-tests, typescript-check

fix(staging): set BASE_URL to staging origin so file/email URLs aren't localhost (#891)
  .github/workflows/deploy-pipeline.yml
  docker-compose.staging.yml
Due: docker-compose-check

test(e2e): student upload -> save draft (documents:[]) -> reopen keeps file -> preview
  frontend/e2e/specs/student-draft-document-preview.spec.ts
Due: frontend-tests, typescript-check

test(e2e): student upload -> save draft (documents:[]) -> reopen keeps file -> preview (#895)
  frontend/e2e/specs/student-draft-document-preview.spec.ts
Due: frontend-tests, typescript-check

test: fix + wire two orphaned deep test suites into CI
  .github/workflows/ci.yml
  backend/app/tests/test_submit_application_deep.py
  backend/app/tests/test_update_application_deep.py
Due: backend-tests

test(frontend): unit-test CSP frame-src + extract/test getFilePreviewUrl
  frontend/__tests__/middleware-csp.test.ts
  frontend/components/file-upload.tsx
  frontend/lib/__tests__/file-preview.test.ts
  frontend/lib/file-preview.ts
Due: frontend-tests, typescript-check

test: fix + wire two orphaned deep test suites into CI (#896)
  .github/workflows/ci.yml
  backend/app/tests/test_submit_application_deep.py
  backend/app/tests/test_update_application_deep.py
Due: backend-tests

test(frontend): unit-test CSP frame-src + extract/test getFilePreviewUrl (#897)
  frontend/__tests__/middleware-csp.test.ts
  frontend/components/file-upload.tsx
  frontend/lib/__tests__/file-preview.test.ts
  frontend/lib/file-preview.ts
Due: frontend-tests, typescript-check

chore: untrack frontend/bun.lock and frontend/junit.xml
  .gitignore
  frontend/bun.lock
  frontend/junit.xml
Due: frontend-tests

fix+test: clear remaining orphaned deep-test failures + wire all into CI
  .github/workflows/ci.yml
  backend/app/services/application_service.py
  backend/app/services/scholarship_notification_service.py
  backend/app/tests/test_delete_application_deep.py
  backend/app/tests/test_get_professor_applications_paginated_deep.py
  backend/app/tests/test_notify_deadline_reminder_deep.py
  backend/app/tests/test_notify_document_required_deep.py
  backend/app/tests/test_update_application_status_deep.py
Due: backend-tests

fix+test: clear remaining orphaned deep-test failures + wire all into CI (#898)
  .github/workflows/ci.yml
  backend/app/services/application_service.py
  backend/app/services/scholarship_notification_service.py
  backend/app/tests/test_delete_application_deep.py
  backend/app/tests/test_get_professor_applications_paginated_deep.py
  backend/app/tests/test_notify_deadline_reminder_deep.py
  backend/app/tests/test_notify_document_required_deep.py
  backend/app/tests/test_update_application_status_deep.py
Due: backend-tests

chore: untrack frontend/bun.lock and frontend/junit.xml (#899)
  .gitignore
  frontend/bun.lock
  frontend/junit.xml
Due: frontend-tests

test(ci): wire ~64 orphaned async test files into CI + invariant guard
  .github/workflows/ci.yml
  backend/app/tests/test_admin_endpoints.py
  backend/app/tests/test_application_renewal.py
  backend/app/tests/test_application_sequence.py
  backend/app/tests/test_bank_verification.py
  backend/app/tests/test_batch_import_endpoints.py
  backend/app/tests/test_college_review_endpoints.py
  backend/app/tests/test_config_management.py
  backend/app/tests/test_core_exceptions.py
  backend/app/tests/test_developer_profiles.py
  backend/app/tests/test_mock_sso.py
  backend/app/tests/test_no_orphaned_async_tests.py
  backend/app/tests/test_notifications.py
  backend/app/tests/test_professor_endpoints.py
  backend/app/tests/test_quota_management.py
  backend/app/tests/test_rate_limiting.py
  backend/app/tests/test_roster_generate_concurrency.py
  backend/app/tests/test_roster_lifecycle.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
Due: backend-tests

fix(review): type safety + std_pid collision + metadata field
  backend/scripts/seed_summary_export_demo.py
  frontend/lib/api/modules/reference-data.ts
  mock-student-api/main.py
Due: backend-tests, frontend-tests, typescript-check

test(ci): wire ~64 orphaned async test files into CI + invariant guard (#904)
  .github/workflows/ci.yml
  backend/app/tests/test_admin_endpoints.py
  backend/app/tests/test_application_renewal.py
  backend/app/tests/test_application_sequence.py
  backend/app/tests/test_bank_verification.py
  backend/app/tests/test_batch_import_endpoints.py
  backend/app/tests/test_college_review_endpoints.py
  backend/app/tests/test_config_management.py
  backend/app/tests/test_core_exceptions.py
  backend/app/tests/test_developer_profiles.py
  backend/app/tests/test_mock_sso.py
  backend/app/tests/test_no_orphaned_async_tests.py
  backend/app/tests/test_notifications.py
  backend/app/tests/test_professor_endpoints.py
  backend/app/tests/test_quota_management.py
  backend/app/tests/test_rate_limiting.py
  backend/app/tests/test_roster_generate_concurrency.py
  backend/app/tests/test_roster_lifecycle.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
Due: backend-tests

test(reference-data): pin academy_code in /all departments response
  backend/app/tests/test_reference_data_response_shape.py
Due: backend-tests

fix(dev): dev profile email domain dev.local -> dev.example.com
  backend/app/schemas/user.py
  backend/app/services/developer_profile_service.py
  backend/app/tests/test_user_schemas.py
Due: backend-tests, api-types-check

chore(api): regenerate OpenAPI types for dev email domain default change
  frontend/lib/api/generated/schema.d.ts
Due: none

test(frontend): un-skip 7 admin/dashboard jest suites (mock useAuth)
  frontend/components/__tests__/admin-configuration-management.test.tsx
  frontend/components/__tests__/admin-dashboard.test.tsx
  frontend/components/__tests__/admin-rule-management.test.tsx
  frontend/components/__tests__/admin-scholarship-dashboard.test.tsx
  frontend/components/__tests__/admin-scholarship-management-interface.test.tsx
  frontend/components/__tests__/batch-import-panel.test.tsx
  frontend/components/__tests__/enhanced-admin-dashboard.test.tsx
Due: frontend-tests, typescript-check

fix(dev): dev profile email domain dev.local → dev.example.com (login was broken) (#905)
  backend/app/schemas/user.py
  backend/app/services/developer_profile_service.py
  backend/app/tests/test_user_schemas.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

test(frontend): un-skip 7 admin/dashboard jest suites (mock useAuth) (#906)
  frontend/components/__tests__/admin-configuration-management.test.tsx
  frontend/components/__tests__/admin-dashboard.test.tsx
  frontend/components/__tests__/admin-rule-management.test.tsx
  frontend/components/__tests__/admin-scholarship-dashboard.test.tsx
  frontend/components/__tests__/admin-scholarship-management-interface.test.tsx
  frontend/components/__tests__/batch-import-panel.test.tsx
  frontend/components/__tests__/enhanced-admin-dashboard.test.tsx
Due: frontend-tests, typescript-check

style(tests): black-format academy_code regression assertion
  backend/app/tests/test_reference_data_response_shape.py
Due: backend-tests

fix(reference-data): version /all cache key so academy_code fix auto-busts on deploy
  backend/app/api/v1/endpoints/reference_data.py
Due: backend-tests, api-types-check

feat(college-export): bundle same-name departments into one 申請總表
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore(dev): demo students under sibling 資工系 codes for bundle export
  backend/scripts/seed_summary_export_demo.py
  mock-student-api/main.py
Due: backend-tests

fix(college-export): disambiguate admin dropdown for cross-academy names
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

test(college-export): cover bundled department_code group
  backend/app/tests/test_application_summary_export_endpoint.py
Due: backend-tests

refactor(ranking): extract triggerBlobDownload helper, unify dup-finding, drop redundant import resets
  frontend/components/college-ranking-table.tsx
  frontend/lib/ranking/parse-ranking-sheet.ts
Due: frontend-tests, typescript-check

test(ranking): assert template export keeps pii_access audit + parser N-gap parity
  backend/app/tests/test_ranking_export_template.py
  frontend/lib/ranking/__tests__/parse-ranking-sheet.test.ts
Due: backend-tests, frontend-tests, typescript-check

fix(ranking): run consecutiveness check unless row-level errors or duplicate ranks
  frontend/lib/ranking/__tests__/parse-ranking-sheet.test.ts
  frontend/lib/ranking/parse-ranking-sheet.ts
Due: frontend-tests, typescript-check

fix(review): show reviewers only sub-types the student applied for
  backend/app/services/application_service.py
  backend/app/tests/test_application_available_sub_types_service.py
Due: backend-tests

refactor(review): normalize config sub_type_code on match + college compose test
  backend/app/services/application_service.py
  backend/app/tests/test_application_available_sub_types_service.py
Due: backend-tests
