Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


refactor(export): address PR review — lazy heavy import + tolerate wholesale table failure
  backend/app/services/export_package_service.py
  backend/app/services/export_summary_tables.py
  backend/app/tests/test_export_package_embeds_summary.py
Due: backend-tests

fix(roster): show shared-quota allocation year in 造冊 distribution lists
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/payment_roster.py
  backend/app/tests/test_payment_roster_schemas.py
Due: backend-tests, api-types-check

fix(roster): show allocation year per row in 查看名單 (correct the real cause)
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/payment_roster.py
  backend/app/tests/test_payment_roster_schemas.py
  backend/app/tests/test_roster_items_display_year.py
Due: backend-tests, api-types-check

test(roster): allow safe derived allocation_year in preview student_info
  backend/app/tests/test_payment_roster_allocation_map.py
Due: backend-tests

chore: update claude agent model
  .claude/agents/rubber-duck.md
Due: none

chore: update .gitignore for codegraph
  .gitignore
Due: none

docs: spec for including all student-uploaded docs in college 申請資料 ZIP
  docs/superpowers/specs/2026-06-09-college-export-all-student-documents-design.md
Due: none

docs: implementation plan for student-uploaded docs in college 申請資料 ZIP
  docs/superpowers/plans/2026-06-09-college-export-all-student-documents.md
Due: none

fix: label cloned passbook as 存摺封面 in college 申請資料 ZIP
  backend/app/services/export_package_service.py
  backend/app/tests/test_export_package_pure_helpers.py
Due: backend-tests

feat: add _ext_for_application_document helper for 申請文件 export
  backend/app/services/export_package_service.py
  backend/app/tests/test_export_package_pure_helpers.py
Due: backend-tests

feat: add _application_document_entry descriptor for 申請文件 export
  backend/app/services/export_package_service.py
  backend/app/tests/test_export_package_pure_helpers.py
Due: backend-tests

refactor: extract _fetch_and_write for ZIP export file streaming
  backend/app/services/export_package_service.py
  backend/app/tests/test_export_package_pure_helpers.py
Due: backend-tests

feat: include student-uploaded 申請文件 in college 申請資料 ZIP
  backend/app/services/export_package_service.py
Due: backend-tests

fix: count received months by 學號 so roster generation updates the total
  backend/alembic/versions/add_roster_student_number_001.py
  backend/app/models/payment_roster.py
  backend/app/services/received_months_service.py
  backend/app/services/roster_service.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_received_months_service.py
  backend/app/tests/test_received_months_with_roster.py
  backend/app/tests/test_roster_service_generation.py
  backend/app/tests/test_student_scholarship_history_service.py
  docs/received-months-calculation.md
Due: backend-tests, api-types-check, migration-check

Fix ownership and permissions for backend directories
  .claude/skills/init-dev-env.md
Due: none

test: make pii_crypto tamper test deterministic (corrupt middle byte)
  backend/app/tests/test_pii_crypto.py
Due: backend-tests

feat: support OpenDocument (ODF) for admin reference & sample docs
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_supplementary_docs.py
  backend/app/tests/test_system_settings_upload_doc.py
  frontend/components/admin/system-docs/AddSupplementaryDocDialog.tsx
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/lib/utils.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: support OpenDocument (ODF) for admin reference & sample docs (#922)
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_supplementary_docs.py
  backend/app/tests/test_system_settings_upload_doc.py
  frontend/components/admin/system-docs/AddSupplementaryDocDialog.tsx
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/lib/utils.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: enforce Taiwan-mobile-only format for application contact phone
  backend/alembic/versions/contact_phone_tw_mobile_001.py
  backend/app/services/application_service.py
  backend/app/tests/test_phone_validation.py
  backend/app/utils/phone_validation.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: backend-tests, frontend-tests, typescript-check, migration-check

feat: enforce Taiwan-mobile-only format for application contact phone (#923)
  backend/alembic/versions/contact_phone_tw_mobile_001.py
  backend/app/services/application_service.py
  backend/app/tests/test_phone_validation.py
  backend/app/utils/phone_validation.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: backend-tests, frontend-tests, typescript-check, migration-check

fix(auth): warn that NYCU Portal SSO session persists after logout (#925)
  frontend/components/__tests__/sso-login-page.test.tsx
  frontend/components/sso-login-page.tsx
  frontend/hooks/use-auth.tsx
Due: frontend-tests, typescript-check

fix(auth): warn that NYCU Portal SSO session persists after logout (#925) (#926)
  frontend/components/__tests__/sso-login-page.test.tsx
  frontend/components/sso-login-page.tsx
  frontend/hooks/use-auth.tsx
Due: frontend-tests, typescript-check

chore: add Webwright browser-agent skill to repo
  .claude/skills/webwright/SKILL.md
  .claude/skills/webwright/commands/craft.md
  .claude/skills/webwright/commands/run.md
  .claude/skills/webwright/reference/cli_tool_mode.md
  .claude/skills/webwright/reference/playwright_patterns.md
  .claude/skills/webwright/reference/workflow.md
Due: none

chore: default playwright-test-and-debug to the Webwright loop
  .claude/skills/playwright-test-and-debug/SKILL.md
Due: none

chore: add Webwright browser-agent skill + default playwright-test-and-debug to its loop (#927)
  .claude/skills/playwright-test-and-debug/SKILL.md
  .claude/skills/webwright/SKILL.md
  .claude/skills/webwright/commands/craft.md
  .claude/skills/webwright/commands/run.md
  .claude/skills/webwright/reference/cli_tool_mode.md
  .claude/skills/webwright/reference/playwright_patterns.md
  .claude/skills/webwright/reference/workflow.md
Due: none

fix(frontend): pin pdfjs-dist + regenerate pdf worker at build (fixes regulations PDF preview) (#928)
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests

fix(scripts): backfill legacy placeholder bank-account-proof documents (#929)
  backend/app/scripts/__init__.py
  backend/app/scripts/backfill_placeholder_bank_docs.py
Due: backend-tests

fix(frontend): pin pdfjs-dist + regenerate pdf worker at build (fixes regulations PDF preview) (#928) (#930)
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests

fix(scripts): backfill legacy placeholder bank-account-proof documents (#929) (#931)
  backend/app/scripts/__init__.py
  backend/app/scripts/backfill_placeholder_bank_docs.py
Due: backend-tests

Validate contact phone inline on blur instead of only at submit
  frontend/components/dynamic-application-form.tsx
Due: frontend-tests, typescript-check

Send notification email to admin on suspend/revoke actions
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/tests/test_revoke_suspend_endpoints.py
Due: backend-tests, api-types-check

Speed up college export package by fetching MinIO files concurrently
  backend/app/services/export_package_service.py
  backend/app/tests/test_export_package_embeds_summary.py
  backend/app/tests/test_export_package_pure_helpers.py
Due: backend-tests

Address review: reset stale field errors, link error text via aria-describedby
  frontend/components/dynamic-application-form.tsx
Due: frontend-tests, typescript-check

Simplify admin cancellation email: shared Taipei-time helper, parametrized tests
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/tests/test_revoke_suspend_endpoints.py
  backend/app/utils/date_utils.py
Due: backend-tests, api-types-check

Add documentation for national ID (std_pid) database encryption
  docs/architecture/pii-encryption.md
Due: none

Harden admin cancellation email helper
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/utils/date_utils.py
Due: backend-tests, api-types-check

fix(security): patch privilege escalation, XSS, and secret/token leakage
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/users.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/auth_service.py
  backend/app/services/minio_service.py
  backend/app/services/portal_sso_service.py
  docker-compose.staging-db.yml
  frontend/app/api/email/preview/[id]/route.ts
  frontend/app/api/v1/preview/route.ts
  scripts/backup.sh
Due: backend-tests, frontend-tests, typescript-check, api-types-check, docker-compose-check

chore: remove accidentally committed .hypothesis test artifacts
  backend/.hypothesis/unicode_data/15.0.0/charmap.json.gz
  backend/.hypothesis/unicode_data/15.0.0/codec-utf-8.json.gz
Due: backend-tests

Set name/nycu_id on mock admin and assert email greeting in tests
  backend/app/tests/test_revoke_suspend_endpoints.py
Due: backend-tests
