Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


refactor(notifications): delete 5 duplicate CRUD announcement handlers (-443 LOC)
  backend/app/api/v1/endpoints/notifications.py
  backend/app/tests/test_announcement_audit_log_invariants.py
Due: backend-tests, api-types-check

fix(test): update notification-button test — handler is now a no-op after console.log removal
  frontend/components/__tests__/notification-button.test.tsx
Due: frontend-tests, typescript-check

chore: regenerate schema.d.ts after removing 5 duplicate notification announcement endpoints
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(SECURITY): remove IntegrityError + raw form-data leaks from applications.py (3 sites)
  backend/app/api/v1/endpoints/applications.py
Due: backend-tests, api-types-check

test(SECURITY): extend exception-leak AST invariant to catch dict-detail str(e)
  backend/app/tests/test_no_exception_leak_in_endpoints.py
Due: backend-tests

fix(SECURITY): sanitize exception leaks in pre_authorization + applications (6 sites)
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/pre_authorization.py
Due: backend-tests, api-types-check

fix(security): sanitize 3 HTTPException detail leaks in minio_service.py
  backend/app/services/minio_service.py
Due: backend-tests

test(security): 5th AST invariant — extend leak detection to services/ and utils/
  backend/app/tests/test_no_exception_leak_in_endpoints.py
Due: backend-tests

test(security): 4th AST invariant — broad-except 4xx detail=str(e) leak
  backend/app/tests/test_no_exception_leak_in_endpoints.py
Due: backend-tests

fix(observability): replace pass-only broad-except handlers with debug/warning logs
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/api/v1/endpoints/users.py
Due: backend-tests, api-types-check

fix(observability): add logger.exception before 5xx HTTPException in broad-except handlers
  backend/app/api/v1/endpoints/email_management.py
  backend/app/api/v1/endpoints/nycu_employee.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/api/v1/endpoints/user_profiles.py
Due: backend-tests, api-types-check

test(security): 6th AST invariant — broad-except 5xx HTTPException without logger.exception
  backend/app/tests/test_no_exception_leak_in_endpoints.py
Due: backend-tests

fix(observability): replace root-logger calls with module logger (7 sites)
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/email_management.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
Due: backend-tests, api-types-check

refactor(admin-ts): narrow any → schema types + unknown (14 sites)
  frontend/lib/api/modules/admin.ts
  frontend/services/admin/announcements.ts
Due: frontend-tests, typescript-check

refactor(admin-ts): narrow remaining any → unknown in admin.ts (100 sites)
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

fix(types): add explicit casts at component call sites for unknown[] → typed state
  frontend/components/ScholarshipWorkflowMermaid.tsx
  frontend/components/admin-configuration-management.tsx
  frontend/components/admin-management-interface.tsx
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

fix(admin-ts): align getAllApplications implementation cast with declared return type
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

fix(admin-ts): add 3 missing response.data casts in admin-management-interface
  frontend/components/admin-management-interface.tsx
Due: frontend-tests, typescript-check

fix(admin-ts): add missing response.data casts in 4 more components
  frontend/components/admin/announcements/AnnouncementsPanel.tsx
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/components/batch-import-panel.tsx
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

fix(admin-ts): add missing response.data casts in 3 more components
  frontend/components/admin-rule-management.tsx
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/scholarship-rule-modal.tsx
Due: frontend-tests, typescript-check

fix(admin-ts): add missing response.data casts in 3 more component files
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/professor-assignment-dropdown.tsx
  frontend/components/roster/ConfigSelector.tsx
Due: frontend-tests, typescript-check

fix(admin-ts): add missing response.data casts in 2 more component files
  frontend/components/email-automation-management.tsx
  frontend/components/roster/CompactConfigSelector.tsx
Due: frontend-tests, typescript-check

fix(admin-ts): add missing casts in use-admin hook + workflows service
  frontend/hooks/use-admin.ts
  frontend/services/admin/workflows.ts
Due: frontend-tests, typescript-check

fix(admin-ts): cast getAllApplications items to Application[] in use-admin
  frontend/hooks/use-admin.ts
Due: frontend-tests, typescript-check

fix(ts): cast 4 remaining unknown[] sites in use-admin.ts
  frontend/hooks/use-admin.ts
Due: frontend-tests, typescript-check

fix(ts): cast getMyScholarships response in use-scholarship-permissions
  frontend/hooks/use-scholarship-permissions.ts
Due: frontend-tests, typescript-check

fix(ts): 2 remaining unknown casts in use-admin.ts
  frontend/hooks/use-admin.ts
Due: frontend-tests, typescript-check

fix(ts): narrow remaining 22 any sites in college.ts + cascade fixes
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/contexts/college-management-context.tsx
  frontend/hooks/use-admin.ts
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

fix(ts): resolve 4 tsc errors from college.ts any→unknown cascade
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
Due: frontend-tests, typescript-check

refactor(types): narrow college-management-context any → Application/CollegeRanking
  frontend/contexts/college-management-context.tsx
Due: frontend-tests, typescript-check

fix(ts): remove explicit predicate type incompatible with CollegeRanking[]
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

fix(ts): add professor_review_items to Application type
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

fix(ts): guard optional professor_review_items?.length against undefined
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

fix(ts): use truthiness narrowing for professor_review_items?.map
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

fix(ts): non-null assert applicationToDelete/ToRequestDocs before required props
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

fix(ts): narrow final any sites — redistribution_info, RankingData, config types
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/roster-management-dashboard.tsx
  frontend/components/roster/CompactConfigSelector.tsx
  frontend/contexts/college-management-context.tsx
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

fix(types): correct any-narrowing regressions from PR #733
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/roster-management-dashboard.tsx
  frontend/contexts/college-management-context.tsx
Due: frontend-tests, typescript-check

test(e2e): admin manual distribution flow — application reaches approved
  frontend/e2e/specs/admin-manual-distribution.spec.ts
Due: frontend-tests, typescript-check

test(e2e): student draft save + submit flow (issue #76)
  frontend/e2e/specs/student-draft-save.spec.ts
Due: frontend-tests, typescript-check

test(e2e): professor reject recommendation + upsert invariant (issue #76)
  frontend/e2e/specs/professor-reject-upsert.spec.ts
Due: frontend-tests, typescript-check
