Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


chore(frontend): migrate college-management-context console.* → logger (23 sites)
  frontend/contexts/college-management-context.tsx
Due: frontend-tests, typescript-check

chore(frontend): start components/ console.* → logger migration (3 files, 8 sites)
  frontend/components/dynamic-application-form.tsx
  frontend/components/email-test-mode-panel.tsx
  frontend/components/user-edit-modal.tsx
Due: frontend-tests, typescript-check

chore(frontend): SECURITY migrate sso-callback console.* → logger (30 sites)
  frontend/app/auth/sso-callback/page.tsx
Due: frontend-tests, typescript-check

chore(frontend): SECURITY migrate app/page.tsx console.* → logger (15 sites)
  frontend/app/page.tsx
Due: frontend-tests, typescript-check

chore(frontend): migrate dev-login-page console.* → logger (23 sites)
  frontend/components/dev-login-page.tsx
Due: frontend-tests, typescript-check

chore(frontend): migrate admin-management-interface console.* → logger (30 sites)
  frontend/components/admin-management-interface.tsx
Due: frontend-tests, typescript-check

chore(frontend): batch migrate components console.* → logger (9 files)
  frontend/app/admin/test-users/page.tsx
  frontend/components/admin-rule-management.tsx
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/application-detail-dialog.tsx
  frontend/components/application-form-data-display.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/enhanced-student-portal.tsx
Due: frontend-tests, typescript-check

chore(backend): sweep test-wishlist TODOs (30 sites across 6 test files)
  backend/app/tests/test_admin_endpoints.py
  backend/app/tests/test_application_service_comprehensive.py
  backend/app/tests/test_core_utilities.py
  backend/app/tests/test_email_management_service.py
  backend/app/tests/test_minio_service.py
  backend/app/tests/test_models_comprehensive.py
Due: backend-tests

chore(deps): SECURITY bump next 15.5.15 → 15.5.18 (Dependabot patch)
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests

chore(deps): SECURITY override postcss to top-level (fixes nested 8.4.31 XSS)
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests

chore(frontend): narrow email-management scheduled-email any → unknown (4 sites)
  frontend/lib/api/modules/email-management.ts
Due: frontend-tests, typescript-check

fix(frontend): logger.error LogContext type — wrap non-Record args (5 sites)
  frontend/components/admin-rule-management.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/scholarship-rule-modal.tsx
  frontend/components/whitelist-management-dialog.tsx
Due: frontend-tests, typescript-check

fix(logger): accept unknown context — fixes 77 TS2345/TS2554 errors from bulk transform
  frontend/lib/utils/logger.ts
Due: frontend-tests, typescript-check

fix(frontend): batch-bank-verification logger.error needs message string
  frontend/components/admin/batch-bank-verification.tsx
Due: frontend-tests, typescript-check

chore(frontend): migrate debug-panel.tsx console.* → logger (24 sites)
  frontend/components/debug-panel.tsx
Due: frontend-tests, typescript-check

chore(backend tests): delete stale skip-marked tests pointing to removed code
  backend/app/tests/test_combined_scholarship.py
  backend/app/tests/test_type_fixes.py
Due: backend-tests

chore(frontend): narrow college mutation any types to unknown
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow bank-verification any types
  frontend/lib/api/modules/bank-verification.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow notifications metadata any → unknown
  frontend/lib/api/modules/notifications.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow application-fields options + manual-distribution body any
  frontend/lib/api/modules/application-fields.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow users.ts UserResponse.raw_data shape
  frontend/lib/api/modules/users.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow students.ts SIS index signatures any → unknown
  frontend/lib/api/modules/students.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow user-profiles index sigs + changes audit any → unknown
  frontend/lib/api/modules/user-profiles.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow lib/utils any + fix getTranslation return-type bug
  frontend/lib/__tests__/i18n.test.ts
  frontend/lib/i18n.ts
  frontend/lib/utils/jwt.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow lib/api/types.ts [key: string]: any → unknown (7 sites)
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow application-helpers any → structural types
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow validation + form-data-helpers any → unknown
  frontend/lib/api/form-data-helpers.ts
  frontend/lib/validation.ts
Due: frontend-tests, typescript-check

SECURITY: stop leaking SSO exception detail to anonymous clients
  backend/app/api/v1/endpoints/auth.py
Due: backend-tests, api-types-check

SECURITY: gate /nycu-employee/* behind require_admin
  backend/app/api/v1/endpoints/nycu_employee.py
Due: backend-tests, api-types-check

SECURITY: require auth + ownership/role check on bank document serving
  backend/app/api/v1/endpoints/user_profiles.py
Due: backend-tests, api-types-check

chore(api-types): regenerate schema.d.ts for new token query param
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(frontend): merge duplicate `experimental` blocks in next.config.mjs
  frontend/next.config.mjs
Due: frontend-tests

chore(frontend): narrow getHistoricalApplications filters any → HistoricalApplicationFilters
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

test: add comprehensive tests for app.core.regex_validator
  backend/app/tests/test_regex_validator.py
Due: backend-tests

chore(frontend): enable tsc + eslint build errors in next.config
  frontend/next.config.mjs
Due: frontend-tests

SECURITY: audit-log scholarship permission deletions
  backend/app/api/v1/endpoints/admin/permissions.py
Due: backend-tests, api-types-check

SECURITY: audit-log scholarship permission grants (CREATE path)
  backend/app/api/v1/endpoints/admin/permissions.py
Due: backend-tests, api-types-check

SECURITY: audit-log scholarship-rule deletions
  backend/app/api/v1/endpoints/admin/rules.py
Due: backend-tests, api-types-check

fix(admin): return 501 for broken scholarship-email-templates endpoints (#647)
  backend/app/api/v1/endpoints/admin/email_templates.py
Due: backend-tests, api-types-check
