Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


feat: sort ranking template by department code then student ID, add dept column
  frontend/components/college-ranking-table.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

fix: use backend-provided filename for download, explicit annual semester mapping
  backend/app/services/export_package_service.py
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check

fix: remove unused imports, precompute file type counts, XML-escape Paragraph values
  backend/app/api/v1/endpoints/college_review/export_package.py
  backend/app/services/export_package_service.py
Due: backend-tests, api-types-check

refactor: use existing serialize_value, fix duplicate UserProfile query, fix CSS priority bug
  backend/app/services/application_service.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

feat: show professor review items (per sub-type recommendation) in college review panel
  backend/app/services/college_review_service.py
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

fix: professor review items not showing in college review panel
  backend/app/services/application_enricher_service.py
  backend/app/services/college_review_service.py
Due: backend-tests

fix: display sub-type labels instead of codes in professor review column
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

fix: restore enum+string comparison in can_professor_submit_review
  backend/app/services/application_service.py
Due: backend-tests

fix: address PR #36 review feedback
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

fix: use green badge for approved sub-types and stabilize React key
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

feat: add received_months migration for college_ranking_items
  backend/alembic/versions/a1b2c3d4e5f6_add_received_months_to_ranking_items.py
Due: backend-tests, migration-check

feat: add received_months fields to CollegeRankingItem model
  backend/alembic/versions/a1b2c3d4e5f6_add_received_months_to_ranking_items.py
  backend/app/models/college_review.py
Due: backend-tests, api-types-check, migration-check

feat: add soft-delete endpoint for admin applications
  backend/app/api/v1/endpoints/admin/applications.py
Due: backend-tests, api-types-check

feat: replace grade display with term_count and add renewal_sub_type + received_months
  backend/app/services/manual_distribution_service.py
Due: backend-tests

feat: add import-received-months endpoint for Excel upload
  backend/app/api/v1/endpoints/manual_distribution.py
Due: backend-tests, api-types-check

feat: update DistributionStudent interface and add importReceivedMonths API
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

feat: update distribution table with term_count, received_months, and enhanced renewal labels
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat: add soft-delete button to admin application list
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

perf: use Set for O(n) consecutive rank check instead of Array.includes O(n²)
  frontend/components/college-ranking-table.tsx
Due: frontend-tests, typescript-check

fix: address code review findings
  backend/alembic/versions/a1b2c3d4e5f6_add_received_months_to_ranking_items.py
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/api/v1/endpoints/manual_distribution.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: address review findings - nullable rank, dup student check, validator, commit
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/schemas/college_review.py
  frontend/components/college-ranking-table.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test: add unit tests for manual distribution service helpers
  backend/app/tests/test_manual_distribution_service.py
Due: backend-tests

chore: add seed script for manual distribution test data
  backend/scripts/seed_distribution_test_data.py
Due: backend-tests

fix: typescript errors in import button and regenerate OpenAPI schema
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/generated/schema.d.ts
Due: frontend-tests, typescript-check

fix: show empty state instead of infinite loader when application has no reviewable sub-types
  frontend/components/common/ApplicationReviewDialog.tsx
Due: frontend-tests, typescript-check

fix: address critical code review findings
  backend/alembic/versions/a1b2c3d4e5f6_add_received_months_to_ranking_items.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/roster_service.py
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: address Copilot code review findings
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_service.py
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

refactor: revert prettier reformatting noise from soft-delete commit
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

docs: add received-months calculation spec + Excel import template
  backend/scripts/generate_received_months_sample.py
  docs/received-months-calculation.md
  docs/samples/README.md
  docs/samples/received-months-template.xlsx
Due: backend-tests

feat(backend): add shared received_months_service
  backend/app/services/received_months_service.py
  backend/app/tests/test_received_months_service.py
Due: backend-tests

refactor(backend): PhD plugin delegates received_months to shared service
  backend/app/services/plugins/phd_eligibility_plugin.py
Due: backend-tests

feat(backend): compute system received_months for distribution panel
  backend/app/services/manual_distribution_service.py
Due: backend-tests

fix(frontend): pin 已領月份數 header to both header rows
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat(admin): replace 退件 with hard-delete for student-stage applications
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/services/application_audit_service.py
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/delete-application-dialog.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/admin.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: address Copilot review findings on PR #38
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/models/college_review.py
  backend/app/tests/test_admin_endpoints.py
  backend/scripts/seed_distribution_test_data.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat(frontend): update UI text for student application and professor review
  frontend/components/professor-review-component.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

fix: remove '個人資料' title from personal information section
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

fix: remove overall recommendation section from professor review
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

design: add title and subtitle to personal info section
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check
