Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


docs: implementation plan for batch import review-flow parity
  docs/superpowers/plans/2026-07-09-batch-import-like-student-submission.md
Due: none

feat: add shared application builder helpers (sub-type + submitted values)
  backend/app/services/application_builder.py
  backend/app/tests/test_application_builder.py
Due: backend-tests

feat: add generate_app_id and professor auto-assign to application builder
  backend/app/services/application_builder.py
  backend/app/tests/test_application_builder.py
Due: backend-tests

refactor: ApplicationService delegates shared logic to application_builder
  backend/app/services/application_service.py
Due: backend-tests

feat: batch import sub-type columns use checkmark semantics with forced moe_1w-first ordering
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_endpoints.py
  backend/app/tests/test_batch_import_pure_helpers.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests

feat: batch-imported applications enter the standard review flow like student submissions
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests

feat: eligibility and professor-account warnings in batch import preview
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_endpoints.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests, api-types-check

fix: guard eligibility check in batch import preview against rule-eval errors
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests

feat: batch import template samples use checkmark semantics for sub-type columns
  backend/app/api/v1/endpoints/batch_import.py
Due: backend-tests, api-types-check

fix: batch import confirm preserves submitted status and advisor fields
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/schemas/batch_import.py
  backend/app/tests/test_batch_import_pure_helpers.py
Due: backend-tests, api-types-check

test: batch import e2e uploads a sub-type-marked row (mandatory sub-type)
  frontend/e2e/specs/batch-import-upload.spec.ts
Due: frontend-tests, typescript-check

test: close coverage gaps for batch import confirm status and advisor chain
  backend/app/tests/test_batch_import_endpoints.py
  backend/app/tests/test_batch_import_pure_helpers.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests

fix: source batch postal account from UserProfile and dedupe field defs
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_service_unit.py
  frontend/components/batch-application-file-upload.tsx
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(#1079): gate /auth/register and /auth/login behind enable_mock_sso
  backend/app/api/v1/endpoints/auth.py
  backend/app/tests/test_auth_login_register_gated.py
Due: backend-tests, api-types-check

fix(#1079): revert docstrings to original; fix login test field name
  backend/app/api/v1/endpoints/auth.py
  backend/app/tests/test_auth_login_register_gated.py
Due: backend-tests, api-types-check

docs: add design spec for import-renewal-students feature
  docs/superpowers/specs/2026-07-09-import-renewal-students-design.md
Due: none

fix: batch import row errors name the failing field; template always round-trips
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/services/application_builder.py
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_endpoints.py
  frontend/lib/api/modules/batch-import.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(api): review/list professor MissingGreenlet 500 and positional filter args
  backend/app/api/v1/endpoints/applications.py
  backend/app/models/user.py
  backend/app/services/application_service.py
  backend/app/tests/test_get_applications_for_review_deep.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check, migration-check

docs: rename sub-type import column to 獎學金類別
  docs/superpowers/specs/2026-07-09-import-renewal-students-design.md
Due: none

fix: yearly-scholarship batch upload 422 and surface validation reasons in UI
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/tests/test_batch_import_endpoints.py
  frontend/components/batch-import-panel.tsx
  frontend/lib/api/compat.ts
  frontend/lib/api/modules/batch-import.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: address Copilot review — sub-type casing/dedup/order, token fallback, falsy cells
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_service_unit.py
  frontend/components/batch-application-file-upload.tsx
  frontend/components/batch-import-panel.tsx
  frontend/lib/api/modules/batch-import.ts
Due: backend-tests, frontend-tests, typescript-check

docs: correct spec reuse mechanics to match origin/main (no application_builder.py)
  docs/superpowers/specs/2026-07-09-import-renewal-students-design.md
Due: none

docs: add implementation plan for import-renewal-students
  docs/superpowers/plans/2026-07-09-import-renewal-students.md
Due: none

feat: add import_type discriminator to batch_imports
  backend/alembic/versions/add_batch_import_type_001.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/models/batch_import.py
  backend/app/tests/test_batch_import_type_migration.py
Due: backend-tests, api-types-check, migration-check

feat: add renewal-import schemas
  backend/app/schemas/renewal_import.py
  backend/app/tests/test_renewal_import_schema.py
Due: backend-tests, api-types-check

feat: renewal-import parser keeps only 是+通過 rows
  backend/app/services/renewal_import_service.py
  backend/app/tests/test_renewal_import_service.py
Due: backend-tests

feat: renewal-import preview validation (SIS, duplicate, quota warning)
  backend/app/services/renewal_import_service.py
  backend/app/tests/test_renewal_import_service.py
Due: backend-tests

feat: create approved renewal applications from import
  backend/app/services/renewal_import_service.py
  backend/app/tests/test_renewal_import_service.py
Due: backend-tests

feat: include approved renewals in matrix roster generation
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_renewal_inclusion.py
  backend/app/tests/test_roster_service_core.py
Due: backend-tests

feat: renewal-import API endpoints + router registration
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/renewal_import.py
  backend/app/tests/test_renewal_import_endpoints.py
Due: backend-tests, api-types-check

test: add confirm-endpoint tests for renewal import
  backend/app/tests/test_renewal_import_endpoints.py
Due: backend-tests

chore: regenerate OpenAPI types for renewal-import routes
  frontend/lib/api/generated/schema.d.ts
Due: none

feat: frontend renewal-import API module
  frontend/lib/api/index.ts
  frontend/lib/api/modules/renewal-import.ts
Due: frontend-tests, typescript-check

feat: renewal-import admin panel + tab mount + i18n
  frontend/app/page.tsx
  frontend/components/renewal-import-panel.tsx
  frontend/lib/i18n.ts
Due: frontend-tests, typescript-check

fix: guard batch endpoints by import_type, normalize yearly semester, require SIS snapshot for renewal import
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/schemas/renewal_import.py
  backend/app/services/renewal_import_service.py
  backend/app/tests/test_batch_import_endpoints.py
  backend/app/tests/test_renewal_import_endpoints.py
  backend/app/tests/test_renewal_import_schema.py
Due: backend-tests, api-types-check

fix: address ultrareview findings on renewal import
  backend/app/api/v1/endpoints/renewal_import.py
  backend/app/services/renewal_import_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_renewal_inclusion.py
Due: backend-tests, api-types-check

fix(frontend): renewal import sends semester=yearly for yearly-cycle upload
  frontend/components/renewal-import-panel.tsx
Due: frontend-tests, typescript-check

test(e2e): renewal-import full-flow Playwright spec + evidence
  frontend/e2e/evidence/renewal-import/01-login.png
  frontend/e2e/evidence/renewal-import/02-renewal-tab.png
  frontend/e2e/evidence/renewal-import/03-preview.png
  frontend/e2e/evidence/renewal-import/04-after-confirm.png
  frontend/e2e/evidence/renewal-import/05-roster.png
  frontend/e2e/specs/renewal-import.spec.ts
Due: frontend-tests, typescript-check

fix: remove pagination cap on professor application list
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/professor_student.py
  backend/app/services/application_service.py
  backend/app/tests/test_get_professor_applications_paginated_deep.py
  backend/app/tests/test_professor_endpoints.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

fix: address Copilot review — page metadata, stable ordering, relationship tests
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/professor_student.py
  backend/app/tests/test_professor_student_endpoints.py
Due: backend-tests, api-types-check
