Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

feat(college-review): backend deadline guard on ranking write endpoints (#63)
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_review_service.py
  backend/app/tests/test_college_review_deadline.py
Due: backend-tests, api-types-check

chore(datetime): replace deprecated datetime.utcnow() with datetime.now(timezone.utc) (14 files)
  monitoring/config/grafana/provisioning/dashboards/logs/application-logs.json
Due: none

docs(phase3-prep): consolidate P3-P7 outputs into single readiness brief
  docs/superpowers/audits/working/phase3-prep/PHASE3_PHASE4_BRIEF.md
Due: none

docs(monitoring): add PRODUCTION_LAUNCH_RUNBOOK for Phase 4 launch gate
  monitoring/PRODUCTION_LAUNCH_RUNBOOK.md
  monitoring/config/grafana/provisioning/dashboards/application/container-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/application/nginx-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/dashboards.yml
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/redis-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/default/scholarship-system-overview.json
  monitoring/config/grafana/provisioning/dashboards/logs/application-logs.json
  monitoring/config/grafana/provisioning/dashboards/system/node-exporter-system.json
Due: none

feat(scripts): add helper to open 6 Phase 3 deferred-alert tracking issues
  scripts/phase3/README.md
  scripts/phase3/open-deferred-alert-issues.sh
Due: none

docs(phase2): pre-merge PR description draft for feat/monitoring-phase2
  docs/superpowers/audits/working/phase3-prep/PR_DESCRIPTION.md
Due: none

chore(datetime): replace deprecated datetime.utcnow() with datetime.now(timezone.utc) (14 files)
  backend/app/api/v1/endpoints/csp_report.py
  backend/app/api/v1/endpoints/notifications.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/api/v1/endpoints/roster_schedules.py
  backend/app/api/v1/endpoints/users.py
  backend/app/core/security.py
  backend/app/services/application_service.py
  backend/app/services/auth_service.py
  backend/app/services/config_management_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/portal_sso_service.py
  backend/app/services/review_service.py
  backend/app/services/system_setting_service.py
Due: backend-tests, api-types-check

chore(schemas): replace deprecated Field(example=...) with examples=[...] (Pydantic v2)
  backend/app/schemas/application.py
  backend/app/schemas/document_request.py
Due: backend-tests, api-types-check

chore(tests): replace datetime.utcnow() with datetime.now(timezone.utc) in test fixtures
  backend/app/tests/test_application_field_service_unit.py
  backend/app/tests/test_core_security.py
  backend/app/tests/test_core_utilities.py
Due: backend-tests

chore(config): migrate Settings nested class Config to SettingsConfigDict (Pydantic v2)
  backend/app/core/config.py
Due: backend-tests

docs(audit): record round 9 (worktree rescue + Pydantic/datetime hygiene)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

chore(schemas): replace deprecated Pydantic .dict() with .model_dump() (5 call sites)
  backend/app/api/v1/endpoints/admin/rules.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/tests/test_professor_endpoints.py
Due: backend-tests, api-types-check

fix(models): use lambda for mutable Column defaults to avoid shared-instance footgun
  backend/app/models/application.py
  backend/app/models/notification.py
  backend/app/models/scholarship.py
Due: backend-tests, api-types-check, migration-check

fix(services): flag_modified() on JSONB student_data mutations to actually persist (P1)
  backend/app/services/application_service.py
  backend/app/services/roster_service.py
Due: backend-tests

fix(roster): validate month_int 1-12 in period_label semester mapping
  backend/app/services/roster_service.py
Due: backend-tests

fix(batch-import): constrain semester Query parameter to known values
  backend/app/api/v1/endpoints/batch_import.py
Due: backend-tests, api-types-check

docs(audit): record round 10 (P1 bug pass + deprecation cleanup)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

fix(bank-verify): flag_modified() on meta_data + bank_verification_details JSONB mutations (P1)
  backend/app/services/bank_verification_service.py
Due: backend-tests

fix(notifications): make datetime.now() timezone-aware to match TZ-aware DB columns (P1)
  backend/app/services/notification_service.py
Due: backend-tests

fix(files): constrain token Query parameter length + charset (P1 hardening)
  backend/app/api/v1/endpoints/files.py
Due: backend-tests, api-types-check

chore(timestamps): standardize datetime.now().isoformat() to UTC-aware in JSON timestamps
  backend/app/services/audit_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/roster_notification_service.py
Due: backend-tests

docs(audit): record round 11 (4 P1 bug fixes + hygiene)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

fix(auth): handle IntegrityError on register_user race (closes TOCTOU 500 bug)
  backend/app/services/auth_service.py
Due: backend-tests

fix(user-profile): handle IntegrityError on create_user_profile race
  backend/app/services/user_profile_service.py
Due: backend-tests

fix(auth): add rate limit decorators to register / login / mock-sso-login (P1 brute-force defense)
  backend/app/api/v1/endpoints/auth.py
Due: backend-tests, api-types-check

fix(ocr): reject oversized OCR uploads via Content-Length BEFORE buffering (P2 DoS hardening)
  backend/app/api/v1/endpoints/user_profiles.py
Due: backend-tests, api-types-check

docs(audit): record round 12 (security pass — 4 P1/P2 fixes)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

test(auth): regression tests for register_user TOCTOU IntegrityError handling
  backend/app/tests/test_auth_service.py
Due: backend-tests

fix(models): add Semester.yearly case to Application.get_semester_label() (P1)
  backend/app/models/application.py
Due: backend-tests, api-types-check, migration-check

fix(labels): add Semester.yearly to ScholarshipRule + ScholarshipConfiguration + academic_period labels
  backend/app/models/scholarship.py
  backend/app/utils/academic_period.py
Due: backend-tests, api-types-check, migration-check

fix(scholarships): handle Semester.yearly in semester-string → enum conversion (2 endpoints)
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarships.py
Due: backend-tests, api-types-check

docs(comments): clarify "學年制" branch covers both None and Semester.yearly
  backend/app/utils/application_helpers.py
Due: backend-tests

docs(audit): record round 13 (Semester.yearly sweep + regression tests)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

fix(fe-labels): handle Semester.yearly in 3 frontend semester-display sites
  frontend/components/admin-configuration-management.tsx
  frontend/components/roster/CompactConfigSelector.tsx
  frontend/components/whitelist-management-dialog.tsx
Due: frontend-tests, typescript-check

fix(fe-labels): handle Semester.yearly in 3 more frontend display sites
  frontend/components/admin-management-interface.tsx
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
Due: frontend-tests, typescript-check

docs(audit): final session record — 54 commits, 9 P1 bug categories closed
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

test(labels): regression coverage for Semester.yearly across labels + period helpers
  backend/app/tests/test_semester_yearly_labels.py
Due: backend-tests

fix(scholarships): semester code '0' (yearly) was silently mapped to Semester.second
  backend/app/api/v1/endpoints/scholarship_configurations.py
Due: backend-tests, api-types-check

test(notifications): pin source-level invariant — no naive datetime.now() in notification_service
  backend/app/tests/test_notification_timezone.py
Due: backend-tests

test(flag-modified): source-level invariant tests for JSONB persistence fixes
  backend/app/tests/test_flag_modified_invariants.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

