Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


test(core): DynamicConfig is_dynamic/is_static + type coercion
  backend/app/tests/test_dynamic_config_helpers.py
Due: backend-tests

test(core): handle_database_operation_with_retry behavior
  backend/app/tests/test_database_health_retry.py
Due: backend-tests

test(college-review): normalize_semester_value canonical form
  backend/app/tests/test_college_review_helpers_normalize_semester.py
Due: backend-tests

test(frontend): contiguousRuns column grouping helper
  frontend/lib/constants/__tests__/allocation-matrix-layout.test.ts
Due: frontend-tests, typescript-check

test(frontend): user-profile validators mirror backend AdvisorInfo/BankInfo
  frontend/lib/validations/__tests__/user-profile.test.ts
Due: frontend-tests, typescript-check

test(services): frontend_email_renderer error-path contract
  backend/app/tests/test_frontend_email_renderer.py
Due: backend-tests

test(services): MockSSOService _map_role_to_user_type contract
  backend/app/tests/test_mock_sso_role_mapper.py
Due: backend-tests

test(services): _sanitize_filename (export) + _parse_cron_expression
  backend/app/tests/test_export_sanitize_and_cron_parse.py
Due: backend-tests

test(db): handle_cached_statement_error retry behavior
  backend/app/tests/test_handle_cached_statement_error.py
Due: backend-tests

test(models): EmailTestModeAudit classmethod factories
  backend/app/tests/test_email_testmode_audit_factories.py
Due: backend-tests

test(services): EligibilityVerificationService pure helpers
  backend/app/tests/test_eligibility_verification_pure_helpers.py
Due: backend-tests

test(services): WhitelistExcelService.parse_import_excel
  backend/app/tests/test_whitelist_excel_parser.py
Due: backend-tests

test(services): QuotaService.get_quota_status math contract
  backend/app/tests/test_quota_service_status_math.py
Due: backend-tests

test(frontend): TypedApiClient auth-token management
  frontend/lib/api/__tests__/typed-client.test.ts
Due: frontend-tests, typescript-check

test(models): AuditLog.create_log + AuditAction enum contract
  backend/app/tests/test_audit_log_factory_and_enum.py
Due: backend-tests

style: apply black 26.3.1 formatting to 4 college_review files
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/tests/test_application_summary_export_endpoint.py
Due: backend-tests, api-types-check

test(frontend): unblock Frontend Tests — drop bogus 1-char TLD case
  frontend/lib/validations/__tests__/user-profile.test.ts
Due: frontend-tests, typescript-check

fix(ci): unbreak main — black-format 4 files + drop bogus email test case (#362)
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/tests/test_application_summary_export_endpoint.py
  frontend/lib/validations/__tests__/user-profile.test.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

docs: add post-distribution supplementary import implementation plan
  docs/superpowers/plans/2026-05-14-post-distribution-supplementary-import.md
Due: none

docs: add post-distribution supplementary import design spec
  docs/superpowers/specs/2026-05-14-post-distribution-supplementary-import-design.md
Due: none

feat: add allow_supplementary_import and is_supplementary columns to ORM models
  backend/app/models/college_review.py
Due: backend-tests, api-types-check, migration-check

feat: migration add_supplementary_import_001 — two new boolean columns
  backend/alembic/versions/add_supplementary_import_001.py
Due: backend-tests, migration-check

feat: SupplementaryImportService pure helpers + unit tests
  backend/app/services/supplementary_import_service.py
  backend/app/tests/unit/test_supplementary_import_service.py
Due: backend-tests

feat: SupplementaryImportService DB/SIS methods + tests
  backend/app/services/supplementary_import_service.py
  backend/app/tests/test_supplementary_import_service.py
Due: backend-tests

chore: add test runner script for isolated worktree
  .run-backend-tests.sh
Due: none

fix: finalize() skips reject for unallocated supplementary items
  backend/app/services/manual_distribution_service.py
  backend/app/tests/unit/test_finalize_supplementary_patch.py
Due: backend-tests

feat: add admin toggle + college supplementary import endpoints
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/tests/test_supplementary_import_endpoints.py
Due: backend-tests, api-types-check

feat: add toggleSupplementaryImport and uploadSupplementaryImport API calls
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

feat: surface is_supplementary on distribution students + render [補充] badge
  backend/app/services/manual_distribution_service.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

feat: expose allow_supplementary_import + admin toggle + college upload UI
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/contexts/college-management-context.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: review findings — sub_type_selection_mode, total_applications, auth, file size cap
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/supplementary_import_service.py
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test(models): ApplicationSequence ID format helpers
  backend/app/tests/test_application_sequence_id_format.py
Due: backend-tests

test(models): shared enums value-string contract
  backend/app/tests/test_shared_enums_value_contract.py
Due: backend-tests

fix(nightly): repair 3 broken test imports + matching production import
  backend/app/db/session.py
  backend/app/tests/test_analytics_service_overview_metrics.py
  backend/app/tests/test_application_audit_service_deep.py
  backend/app/tests/test_handle_cached_statement_error.py
Due: backend-tests

test(models): user enums (UserRole, UserType, EmployeeStatus) contract
  backend/app/tests/test_user_enums_contract.py
Due: backend-tests

test(schemas): SECURITY tests for bank-verification stack-trace scrub
  backend/app/tests/test_bank_verification_stack_trace_scrub.py
Due: backend-tests

test(models): payment_roster enums contract
  backend/app/tests/test_roster_enums_contract.py
Due: backend-tests

test(models): email-related enums value contract
  backend/app/tests/test_email_enums_contract.py
Due: backend-tests

test(models): misc enums contract (Scholarship/Field/Schedule/Audit)
  backend/app/tests/test_misc_enums_contract.py
Due: backend-tests

fix(nightly): repair 3 broken test imports + matching production import (#366)
  backend/app/db/session.py
  backend/app/tests/test_analytics_service_overview_metrics.py
  backend/app/tests/test_application_audit_service_deep.py
  backend/app/tests/test_handle_cached_statement_error.py
Due: backend-tests
