Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


test(core.exceptions): status_code + error_code contracts (24 cases)
  backend/app/tests/test_core_exceptions_contracts.py
Due: backend-tests

test(frontend/lib/scholarship-eligibility): isSelectableScholarship predicate (7 cases)
  frontend/lib/__tests__/scholarship-eligibility.test.ts
Due: frontend-tests, typescript-check

test(frontend/lib/email-preview-store): admin preview cache (6 cases)
  frontend/lib/__tests__/email-preview-store.test.ts
Due: frontend-tests, typescript-check

test(frontend/lib/use-is-mounted): SSR-safe hydration hook (3 cases)
  frontend/lib/__tests__/use-is-mounted.test.tsx
Due: frontend-tests, typescript-check

fix(deploy): wire PII_ENCRYPTION_KEYS into staging container env (#284)
  .github/workflows/deploy-pipeline.yml
Due: none

test(frontend/lib/utils/jwt): SSO token decode + expiry (12 cases)
  frontend/lib/utils/__tests__/jwt.test.ts
Due: frontend-tests, typescript-check

test(frontend/lib/utils/student-data-helpers): SIS field extractors (20 cases)
  frontend/lib/utils/__tests__/student-data-helpers.test.ts
Due: frontend-tests, typescript-check

chore(frontend): regenerate OpenAPI types for scope Literal
  frontend/lib/api/generated/schema.d.ts
Due: none

test(frontend/lib/utils/logger): env-aware silence in production (10 cases)
  frontend/lib/utils/__tests__/logger.test.ts
Due: frontend-tests, typescript-check

test(frontend/lib/i18n): getTranslation dot-path lookup (8 cases)
  frontend/lib/__tests__/i18n.test.ts
Due: frontend-tests, typescript-check

test(frontend/lib/enums): CLAUDE.md §4 enum value contract (12 cases)
  frontend/lib/__tests__/enums.test.ts
Due: frontend-tests, typescript-check

test(frontend/lib/api/form-data-helpers): FormData upload helpers (15 cases)
  frontend/lib/api/__tests__/form-data-helpers.test.ts
Due: frontend-tests, typescript-check

test(frontend/lib/api/compat): openapi-fetch → ApiResponse normalizer (16 cases)
  frontend/lib/api/__tests__/compat.test.ts
Due: frontend-tests, typescript-check

test(models.application): pure-property tests on Application (17 cases)
  backend/app/tests/test_application_model_properties.py
Due: backend-tests

test(models.user): role + permission ACL contracts (18 cases)
  backend/app/tests/test_user_model_role_checks.py
Due: backend-tests

test(models.scholarship): ScholarshipType pure helpers (16 cases)
  backend/app/tests/test_scholarship_type_pure_helpers.py
Due: backend-tests

test(models.college_review): quota dashboard properties (15 cases)
  backend/app/tests/test_college_review_model_properties.py
Due: backend-tests

test(models.notification): pure properties + mark setters (17 cases)
  backend/app/tests/test_notification_model_properties.py
Due: backend-tests

test(models.payment_roster): payment-workflow gate properties (16 cases)
  backend/app/tests/test_payment_roster_model.py
Due: backend-tests

test(models): prof-student relationship + roster-schedule state machine (15 cases)
  backend/app/tests/test_relationship_and_schedule_models.py
Due: backend-tests

test(models): ScholarshipRule + ScholarshipSubTypeConfig (15 cases)
  backend/app/tests/test_scholarship_rule_model.py
Due: backend-tests

test(models): UserProfile + BankVerificationTask properties (13 cases)
  backend/app/tests/test_user_profile_and_task_models.py
Due: backend-tests

test(models.email_management): ScheduledEmail state machine (13 cases)
  backend/app/tests/test_scheduled_email_model.py
Due: backend-tests

test(models.roster_audit): audit log level + display contract (10 cases)
  backend/app/tests/test_roster_audit_log_model.py
Due: backend-tests

test(models): cover ScholarshipConfiguration matrix-quota + period helpers
  backend/app/tests/test_scholarship_configuration_helpers.py
Due: backend-tests

test(schemas): cover application.py Pydantic validators
  backend/app/tests/test_application_schema_validators.py
Due: backend-tests

fix(college-review): show deadline banner on ranking page before selecting a ranking
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test(schemas): cover scholarship_configuration.py Pydantic validators
  backend/app/tests/test_scholarship_configuration_schema_validators.py
Due: backend-tests

test(schemas): cover review + college_review input validators
  backend/app/tests/test_review_ranking_input_validators.py
Due: backend-tests

fix(deploy): wire PII_ENCRYPTION_KEYS into staging container env (#284) (#313)
  .github/workflows/deploy-pipeline.yml
Due: none

test(schemas): cover scholarship.py Pydantic validators
  backend/app/tests/test_scholarship_schema_validators.py
Due: backend-tests

test(schemas): cover batch_import + system_setting validators
  backend/app/tests/test_batch_import_system_setting_validators.py
Due: backend-tests

test(schemas): cover notification + application_field validators
  backend/app/tests/test_notification_and_field_schema_validators.py
Due: backend-tests

test(schemas): cover roster_schedule cron + user_profile email validators
  backend/app/tests/test_cron_email_schema_validators.py
Due: backend-tests

test(core): SECURITY tests for path_security helpers
  backend/app/tests/test_path_security.py
Due: backend-tests

fix(college-review): deadline banner shows immediately on ranking page entry
  backend/app/api/v1/endpoints/college_review/utilities.py
  frontend/components/college/CollegeManagementShell.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test(core): SECURITY tests for pii_crypto AES-GCM helpers
  backend/app/tests/test_pii_crypto_helpers.py
Due: backend-tests

test(core): StudentDataJSON TypeDecorator encrypt/decrypt at storage boundary
  backend/app/tests/test_encrypted_json_typedecorator.py
Due: backend-tests

test(core): schema_validation helpers + metrics.normalize_endpoint
  backend/app/tests/test_schema_validation_and_metrics_helpers.py
Due: backend-tests

test(utils): endpoint_decorators error routing contract
  backend/app/tests/test_endpoint_decorators_error_routing.py
Due: backend-tests
