Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(export): keep original 未設定學院 message to satisfy bulk endpoint test
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
Due: backend-tests, api-types-check

feat(manual-distribution): export 申請總表 by 學院 instead of 系所 (#1090)
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test(ci): wire 73 orphaned tests into CI lanes, hard-gate E2E Smoke and npm audit
  .claude/CLAUDE.md
  .github/workflows/ci.yml
  backend/app/tests/test_admin_endpoints.py
  backend/app/tests/test_application_field_export_validation.py
  backend/app/tests/test_auto_allocate_preview.py
  backend/app/tests/test_batch_import_service_unit.py
  backend/app/tests/test_college_ranking_export_service.py
  backend/app/tests/test_finalize_supplementary_patch.py
  backend/app/tests/test_migration_shared_quota_pools.py
  backend/app/tests/test_no_orphaned_async_tests.py
  backend/app/tests/test_phd_sub_type_selection.py
  backend/app/tests/test_supplementary_import_helpers.py
  backend/app/tests/unit/__init__.py
  backend/app/tests/unit/conftest.py
  frontend/package-lock.json
Due: npm-audit, backend-tests, frontend-tests

fix(tests): stop test_auto_allocate_preview poisoning real model modules
  backend/app/tests/test_auto_allocate_preview.py
Due: backend-tests

test(frontend): revive skipped jest suites with real-module API spies (issue #948 A)
  frontend/components/__tests__/dev-login-page.test.tsx
  frontend/components/__tests__/file-upload-comprehensive.test.tsx
  frontend/components/__tests__/file-upload.test.tsx
  frontend/components/__tests__/scholarship-timeline.test.tsx
  frontend/hooks/__tests__/use-applications.test.tsx
Due: frontend-tests, typescript-check

test(ci): wire 73 orphaned tests into CI lanes, hard-gate E2E Smoke and npm audit (#1094)
  .claude/CLAUDE.md
  .github/workflows/ci.yml
  backend/app/tests/test_admin_endpoints.py
  backend/app/tests/test_application_field_export_validation.py
  backend/app/tests/test_auto_allocate_preview.py
  backend/app/tests/test_batch_import_service_unit.py
  backend/app/tests/test_college_ranking_export_service.py
  backend/app/tests/test_finalize_supplementary_patch.py
  backend/app/tests/test_migration_shared_quota_pools.py
  backend/app/tests/test_no_orphaned_async_tests.py
  backend/app/tests/test_phd_sub_type_selection.py
  backend/app/tests/test_supplementary_import_helpers.py
  backend/app/tests/unit/__init__.py
  backend/app/tests/unit/conftest.py
  frontend/package-lock.json
Due: npm-audit, backend-tests, frontend-tests

test(frontend): revive skipped jest suites with real-module API spies (issue #948 A) (#1095)
  frontend/components/__tests__/dev-login-page.test.tsx
  frontend/components/__tests__/file-upload-comprehensive.test.tsx
  frontend/components/__tests__/file-upload.test.tsx
  frontend/components/__tests__/scholarship-timeline.test.tsx
  frontend/hooks/__tests__/use-applications.test.tsx
Due: frontend-tests, typescript-check

fix(auth): dispatch session-expired on typed-client 401 instead of silent token clear
  frontend/lib/api/__tests__/typed-client.test.ts
  frontend/lib/api/typed-client.ts
Due: frontend-tests, typescript-check

Revise content in NoticeAgreementStep for clarity
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: frontend-tests, typescript-check

Fix system name typo and clear contact info content in footer
  frontend/app/layout.tsx
  frontend/app/page.tsx
  frontend/components/admin-dashboard.tsx
  frontend/components/admin-management-interface.tsx
  frontend/components/footer.tsx
  frontend/components/header.tsx
  frontend/components/sso-login-page.tsx
  frontend/emails/_components/Footer.tsx
  frontend/emails/_components/Header.tsx
  frontend/lib/__tests__/i18n.test.ts
  frontend/lib/i18n.ts
Due: frontend-tests, typescript-check

fix(deps): cap js-yaml override at ^4.1.1 to unbreak openapi-typescript
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests

Add advisor info guidance notes to student application form
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

Extend 簽核 -> 審核 rename to backend, deploy example, and docs spec
  .github/production-workflows-examples/deploy.yml
  backend/app/core/config.py
  docs/specifications/srs-v1.0.md
Due: backend-tests

Address review feedback: semantic list markup and clarify currency
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

fix(auth): dispatch session-expired on typed-client 401 and skip credential endpoints (#1097)
  frontend/lib/api/__tests__/typed-client.test.ts
  frontend/lib/api/typed-client.ts
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests, typescript-check

fix(frontend): clarify student wizard notice and advisor copy
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

fix(frontend): move 申請限制 notice item to position 2
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: frontend-tests, typescript-check

fix(frontend): clarify student wizard notice and advisor copy (#1100)
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

Remove empty Contact Information section from footer
  frontend/components/footer.tsx
Due: frontend-tests, typescript-check

Address Copilot review: fix stale comment, balance footer grid
  frontend/components/footer.tsx
Due: frontend-tests, typescript-check

test(api): HTTP-layer tests for reviews + ranking_management; fix 2 endpoint 500s
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/tests/test_ranking_management_endpoints.py
  backend/app/tests/test_reviews_endpoints.py
Due: backend-tests, api-types-check

test(api): HTTP-layer tests for reviews + ranking_management; fix 2 endpoint 500s (#1103)
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/tests/test_ranking_management_endpoints.py
  backend/app/tests/test_reviews_endpoints.py
Due: backend-tests, api-types-check

fix(frontend): FileUpload drops selected files + leaks blob URLs (issue #1096)
  frontend/components/__tests__/dev-login-page.test.tsx
  frontend/components/__tests__/file-upload.test.tsx
  frontend/components/dev-login-page.tsx
  frontend/components/file-upload.tsx
Due: frontend-tests, typescript-check

fix(reviews): enforce authorization scoping on review endpoints (#1081 A/B)
  backend/app/api/v1/endpoints/reviews.py
  backend/app/tests/test_reviews_endpoints.py
Due: backend-tests, api-types-check

fix(authz): college-scope distribution/roster/preview reads and per-student gate for application-document (issue #1081 C/D/E/F)
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/tests/test_authz_scoping_endpoints.py
  backend/app/tests/test_ranking_management_endpoints.py
Due: backend-tests, api-types-check

fix(frontend): FileUpload drops selected files + leaks blob URLs (issue #1096) (#1104)
  frontend/components/__tests__/dev-login-page.test.tsx
  frontend/components/__tests__/file-upload.test.tsx
  frontend/components/dev-login-page.tsx
  frontend/components/file-upload.tsx
Due: frontend-tests, typescript-check

fix(reviews): enforce authorization scoping on review endpoints (#1081 A/B) (#1105)
  backend/app/api/v1/endpoints/reviews.py
  backend/app/tests/test_reviews_endpoints.py
Due: backend-tests, api-types-check

fix(authz): college-scope distribution/roster/preview reads and per-student gate for application-document (issue #1081 C/D/E/F) (#1106)
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/tests/test_authz_scoping_endpoints.py
  backend/app/tests/test_ranking_management_endpoints.py
Due: backend-tests, api-types-check

fix(security): Excel formula injection + 3 mutation-guard gaps (#1081 G/H/I/K)
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_ranking_export_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/roster_service.py
  backend/app/services/whitelist_excel_service.py
  backend/app/tests/test_college_ranking_export_service.py
  backend/app/tests/test_excel_safety.py
  backend/app/tests/test_ranking_management_endpoints.py
  backend/app/tests/test_restore_allocation_service.py
  backend/app/tests/test_roster_item_removal_service.py
  backend/app/utils/excel_safety.py
Due: backend-tests, api-types-check

fix(roster): don't block restore_item when application row is absent (#1081 K)
  backend/app/services/roster_service.py
Due: backend-tests

fix(security): Excel formula injection + 3 mutation-guard gaps (#1081 G/H/I/K) (#1108)
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_ranking_export_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/roster_service.py
  backend/app/services/whitelist_excel_service.py
  backend/app/tests/test_college_ranking_export_service.py
  backend/app/tests/test_excel_safety.py
  backend/app/tests/test_ranking_management_endpoints.py
  backend/app/tests/test_restore_allocation_service.py
  backend/app/tests/test_roster_item_removal_service.py
  backend/app/utils/excel_safety.py
Due: backend-tests, api-types-check

chore(ci): drop redundant critical-workflows lane; correct CI_CD_GUIDE doc lies
  .claude/CLAUDE.md
  .github/CI_CD_GUIDE.md
  .github/workflows/ci.yml
Due: none

chore(ci): drop redundant critical-workflows lane; correct CI_CD_GUIDE doc lies (#1110)
  .claude/CLAUDE.md
  .github/CI_CD_GUIDE.md
  .github/workflows/ci.yml
Due: none

test(roster-schedules): add HTTP-layer endpoint tests
  backend/app/tests/test_roster_schedules_endpoints.py
Due: backend-tests

test(professor-student): add HTTP-layer endpoint tests
  backend/app/tests/test_professor_student_endpoints.py
Due: backend-tests

test(document-requests): add HTTP-layer endpoint tests
  backend/app/tests/test_document_requests_endpoints.py
Due: backend-tests
