Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

fix(#91): embed college_review_end in ranking detail response
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

feat(email-mgmt): render HTML body in 查看內容 / 查看模板 dialogs
  frontend/components/email-history-table.tsx
  frontend/components/scheduled-emails-table.tsx
Due: frontend-tests, typescript-check

feat(professor-review): show inline error banner for non-lock submit failures (#92)
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

chore(backend): rename status alias + serialize review_stage in ApplicationService
  backend/app/api/v1/endpoints/professor_student.py
  backend/app/services/application_service.py
Due: backend-tests, api-types-check

feat(professor-review): show inline error banner for non-lock submit failures (#92) (#99)
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

chore(backend): rename status alias + serialize review_stage in ApplicationService (#100)
  backend/app/api/v1/endpoints/professor_student.py
  backend/app/services/application_service.py
Due: backend-tests, api-types-check

feat(email-mgmt): render HTML body in 查看內容 / 查看模板 dialogs (#97)
  frontend/components/email-history-table.tsx
  frontend/components/scheduled-emails-table.tsx
Due: frontend-tests, typescript-check

style(backend): black --line-length=120 ranking_management.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

ci(claude-review): skip review for dependabot[bot] PRs
  .github/workflows/claude-code-review.yml
Due: none

feat(docs): manage staging-test evidence via HTML report + orphan branches
  .github/workflows/ci.yml
  .github/workflows/staging-evidence.yml
  .gitignore
  docs/staging-tests/.gitkeep
  docs/staging-tests/README.md
  scripts/evidence/publish.sh
  scripts/evidence/render.mjs
Due: none

fix(evidence): copy render.mjs to /tmp before orphan checkout
  scripts/evidence/publish.sh
Due: none

fix(#91): wire college_review_end into ranking deadline banner
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

feat(#68): add nationality and identity columns to admin list and college ranking Excel export
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  frontend/components/admin-management-interface.tsx
  frontend/components/college-ranking-table.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(#68): add nationality and identity columns to admin list and college ranking Excel export (#104)
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  frontend/components/admin-management-interface.tsx
  frontend/components/college-ranking-table.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore: regenerate schema.d.ts to include student_nationality field (#68)
  frontend/lib/api/generated/schema.d.ts
Due: none

ci(monitoring): include GH_PAT in pre-flight secret check
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(evidence): block javascript:/data: URLs in markdown links
  scripts/evidence/render.mjs
Due: none

ci(monitoring): use sudo test for GH_PAT empty-check
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): explicitly delete leftover Alertmanager datasource
  monitoring/config/grafana/provisioning/datasources/datasources.yml
Due: none

fix(monitoring): delete leftover alertmanager-uid by API
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/config/grafana/provisioning/datasources/datasources.yml
Due: none

fix(monitoring): cleanup leftover datasource via reprovisioning
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): restart grafana to apply cleanup provisioning
  .github/workflows/deploy-monitoring-stack.yml
Due: none

feat(monitoring): one-shot grafana_data reset + empty plugins dir
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/config/grafana/provisioning/plugins/.gitkeep
Due: none

fix(#68): add 國籍/身分 columns to HistoryPanel and remove stale gitlinks
  frontend/components/admin/history/HistoryPanel.tsx
Due: frontend-tests, typescript-check

fix(monitoring): replace log-grep gate with dashboard liveness check
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): count alert rules instead of filtering by config field
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): verify staging metrics via promql, not /api/v1/targets
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): actually restart Alloy + load env file on DB-VM compose
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): wait for full target count, not first arrival
  .github/workflows/deploy-monitoring-stack.yml
Due: none

docs(#68): add after-fix screenshot for 國籍/身分 column
  docs/screenshots/issue68-after-fix.png
Due: none

diag(monitoring): dump DB-VM Alloy env + logs when metrics short
  .github/workflows/deploy-monitoring-stack.yml
Due: none

docs(#68): add post-merge verification screenshot (2026-05-08)
  docs/screenshots/issue68-verified-20260508.png
Due: none

diag(monitoring): wait 60s + dump remote_write errors + reachability check
  .github/workflows/deploy-monitoring-stack.yml
Due: none

chore(monitoring): move DB-VM Alloy diag to on-failure only
  .github/workflows/deploy-monitoring-stack.yml
Due: none

ci(claude-review): skip review for dependabot[bot] PRs (#101)
  .github/workflows/claude-code-review.yml
Due: none

fix(#91): wire college_review_end through ranking detail (BE + FE) (#103)
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(docs): manage staging-test evidence via HTML report + orphan branches (#102)
  .github/workflows/ci.yml
  .github/workflows/staging-evidence.yml
  .gitignore
  docs/staging-tests/.gitkeep
  docs/staging-tests/README.md
  scripts/evidence/publish.sh
  scripts/evidence/render.mjs
Due: none

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

