Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

test(models): notification enums contract
  backend/app/tests/test_notification_enums_contract.py
Due: backend-tests

test(models): system_setting ConfigCategory + ConfigDataType contract
  backend/app/tests/test_config_enums_contract.py
Due: backend-tests

fix(staging): harden cadvisor against restart loop (closes #152)
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: docker-compose-check

fix(staging): harden cadvisor against restart loop (closes #152) (#374)
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: docker-compose-check

test(core): Settings pure validator + MIME_TYPE_MAPPING
  backend/app/tests/test_settings_pure_helpers.py
Due: backend-tests

test(frontend): pin ExtendedApiClient ↔ typedClient token sync
  frontend/lib/api/__tests__/extended-client-sync.test.ts
Due: frontend-tests, typescript-check

test(frontend): SECURITY pin url-validation open-redirect guard
  frontend/lib/utils/__tests__/url-validation.test.ts
Due: frontend-tests, typescript-check

fix(nightly): E2E Full — withdraw NOT NULL crash + 3 spec-level bugs
  backend/app/services/application_service.py
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/role-permissions.spec.ts
  frontend/e2e/specs/student-withdraw.spec.ts
Due: backend-tests, frontend-tests, typescript-check

test(frontend): pin use-reference-data lookup helpers
  frontend/hooks/__tests__/use-reference-data-helpers.test.ts
Due: frontend-tests, typescript-check

test(frontend): pin use-student-profile helper functions
  frontend/hooks/__tests__/use-student-profile-helpers.test.ts
Due: frontend-tests, typescript-check

test(backend): pin audit_helpers IP extraction + rollback contract
  backend/app/tests/test_audit_helpers.py
Due: backend-tests

fix(nightly): E2E Full — withdraw NOT NULL crash + 3 spec-level bugs (#378)
  backend/app/services/application_service.py
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/role-permissions.spec.ts
  frontend/e2e/specs/student-withdraw.spec.ts
Due: backend-tests, frontend-tests, typescript-check

test(backend): pin ApiResponse / Detailed / Paginated envelope contracts
  backend/app/tests/test_response_schemas.py
Due: backend-tests

test(backend): pin student_bank_account schema field contracts
  backend/app/tests/test_student_bank_account_schemas.py
Due: backend-tests

test(backend): pin document_request schema length bounds
  backend/app/tests/test_document_request_schemas.py
Due: backend-tests

test(backend): pin pre_authorization schema field contracts
  backend/app/tests/test_pre_authorization_schemas.py
Due: backend-tests

test(backend): pin settings + email-template + EmailConfig schemas
  backend/app/tests/test_settings_schemas.py
Due: backend-tests

test(backend): pin user_profile schema email + length contracts
  backend/app/tests/test_user_profile_schemas.py
Due: backend-tests

test(backend): pin email_management schema invariants
  backend/app/tests/test_email_management_schemas.py
Due: backend-tests

test(backend): pin student schema display + degree mapping
  backend/app/tests/test_student_schemas.py
Due: backend-tests

test(backend): pin payment_roster schema financial-gate invariants
  backend/app/tests/test_payment_roster_schemas.py
Due: backend-tests

test(backend): pin college_review recommendation pattern + bounds
  backend/app/tests/test_college_review_schema_create.py
Due: backend-tests

test(backend): pin config_management + bank-verification defaults
  backend/app/tests/test_config_management_schemas.py
Due: backend-tests

test(backend): pin roster.py vs payment_roster.py default divergence
  backend/app/tests/test_roster_schemas.py
Due: backend-tests

test(backend): pin roster_schedule defaults + stats invariants
  backend/app/tests/test_roster_schedule_defaults.py
Due: backend-tests

test(backend): pin notification schema length bounds + alias
  backend/app/tests/test_notification_schema_bounds.py
Due: backend-tests

test(backend): pin application_field + document defaults divergence
  backend/app/tests/test_application_field_defaults.py
Due: backend-tests

test(backend): pin ApplicationListResponse status-gate properties
  backend/app/tests/test_application_list_response_props.py
Due: backend-tests

test(backend): pin common.py pagination + ApiResponse defaults
  backend/app/tests/test_common_pagination_schemas.py
Due: backend-tests

test(backend): pin batch_import postal validator + defaults + bounds
  backend/app/tests/test_batch_import_defaults_and_postal.py
Due: backend-tests

test(backend): pin user schema SECURITY defaults + length bounds
  backend/app/tests/test_user_schemas.py
Due: backend-tests

test(backend): pin scholarship_configuration defaults + length bounds
  backend/app/tests/test_scholarship_configuration_defaults.py
Due: backend-tests

test(backend): pin bulk-approve + dashboard-stats + status-update
  backend/app/tests/test_application_bulk_approve_dashboard.py
Due: backend-tests

test(frontend): pin base ApiClient token management contract
  frontend/lib/api/__tests__/api-client-token.test.ts
Due: frontend-tests, typescript-check

test(backend): pin i18n module-level helpers + email template
  backend/app/tests/test_i18n_module_helpers.py
Due: backend-tests

test(backend): pin ScholarshipApplicationService pure helpers
  backend/app/tests/test_scholarship_application_service_helpers.py
Due: backend-tests

test(backend): pin BankVerificationService similarity + extraction + recs
  backend/app/tests/test_bank_verification_remaining_helpers.py
Due: backend-tests

test(backend): pin manual_distribution identity + enrollment-date helpers
  backend/app/tests/test_manual_distribution_identity_enrollment.py
Due: backend-tests

test(backend): pin EmailService test-mode banner + headers
  backend/app/tests/test_email_service_test_banner.py
Due: backend-tests

test(backend): pin whitelist Excel template + export round-trip
  backend/app/tests/test_whitelist_excel_template_export.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

