Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


chore: move init-dev-env skill to proper location
  .claude/skills/init-dev-env.md
Due: none

fix: address Copilot review — auth check, central label helper, EN consistency
  backend/app/services/application_service.py
  backend/app/utils/i18n.py
  frontend/components/college-ranking-table.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

fix: surface partial_approved in professor view and rename label to 部分同意 (#43)
  backend/app/models/enums.py
  backend/app/services/application_service.py
  backend/app/services/college_review_service.py
  backend/app/services/review_service.py
  backend/app/utils/i18n.py
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/enums.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

docs: add design spec for PhD scholarship card ineligible-subtype display
  docs/superpowers/specs/2026-04-27-phd-scholarship-card-ineligible-display-design.md
Due: none

docs: add implementation plan for PhD scholarship card ineligible-subtype display
  docs/superpowers/plans/2026-04-27-phd-scholarship-card-ineligible-display.md
Due: none

feat(schema): add subtype eligibility fields to EligibleScholarshipResponse
  backend/app/schemas/scholarship.py
Due: backend-tests, api-types-check

feat(api): pass all_sub_type_list and subtype_eligibility to client
  backend/app/api/v1/endpoints/scholarships.py
Due: backend-tests, api-types-check

chore(types): regenerate OpenAPI schema for subtype eligibility fields
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: add response_model to eligible scholarships endpoint for OpenAPI schema generation
  backend/app/api/v1/endpoints/scholarships.py
Due: backend-tests, api-types-check

refactor(api): use return type annotation for /eligible OpenAPI schema
  backend/app/api/v1/endpoints/scholarships.py
Due: backend-tests, api-types-check

feat(i18n): expand rule_types labels to full subtype names
  frontend/lib/i18n.ts
Due: frontend-tests, typescript-check

feat(student): render all subtypes on scholarship card with eligibility state
  frontend/components/enhanced-student-portal.tsx
Due: frontend-tests, typescript-check

feat(student): show std_nation and std_identity in 確認學籍資料
  frontend/components/student-wizard/steps/StudentDataReviewStep.tsx
Due: frontend-tests, typescript-check

feat(student): extend Block 2 (申請資格) to show ineligible subtypes
  frontend/components/enhanced-student-portal.tsx
Due: frontend-tests, typescript-check

fix: address Copilot review
  docs/superpowers/specs/2026-04-27-phd-scholarship-card-ineligible-display-design.md
  frontend/components/enhanced-student-portal.tsx
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

feat: add college_rejected flag to separate N marker from admin rejection
  backend/alembic/versions/add_college_rejected_001.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/models/college_review.py
  backend/app/services/manual_distribution_service.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: address code review - propagate college_rejected through distribution flow
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/services/alternate_promotion_service.py
  frontend/components/college-ranking-table.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: address PR review - authorization check + file size limit
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  frontend/components/college-ranking-table.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: clarify UI labels for distribution table and PhD master school field
  backend/alembic/versions/update_master_school_info_labels.py
  backend/app/seed.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/dynamic-application-form.tsx
Due: backend-tests, frontend-tests, typescript-check, migration-check

Apply suggestions from code review
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix: clarify UI labels for distribution table and PhD master school field (#46)
  backend/alembic/versions/update_master_school_info_labels.py
  backend/app/seed.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/dynamic-application-form.tsx
Due: backend-tests, frontend-tests, typescript-check, migration-check

fix: make local dev setup actually work on a fresh clone
  Makefile
  README.md
  backend/pyproject.toml
  backend/requirements.txt
  scripts/write_dev_env.sh
Due: python-safety-check, backend-tests

chore(ci): unblock backend-lint and Backend Security checks
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/core/config.py
  backend/app/models/college_review.py
  backend/app/models/scholarship.py
  backend/app/schemas/application.py
  backend/app/schemas/college_review.py
  backend/app/services/analytics_service.py
  backend/app/services/application_audit_service.py
  backend/app/services/college_review_service.py
  backend/app/services/export_package_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/plugins/phd_eligibility_plugin.py
  backend/app/services/received_months_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_admin_endpoints.py
  backend/app/tests/test_received_months_service.py
  backend/app/tests/unit/conftest.py
  backend/tests/test_auto_allocate_preview.py
  backend/tests/test_phd_sub_type_selection.py
Due: backend-tests, api-types-check, migration-check

chore(api): regenerate frontend OpenAPI types
  frontend/lib/api/generated/schema.d.ts
Due: none

chore(types): backfill missing fields on hand-written frontend types
  frontend/lib/api/modules/manual-distribution.ts
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

fix: make local dev setup work on a fresh clone (#47)
  Makefile
  README.md
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/core/config.py
  backend/app/models/college_review.py
  backend/app/models/scholarship.py
  backend/app/schemas/application.py
  backend/app/schemas/college_review.py
  backend/app/services/analytics_service.py
  backend/app/services/application_audit_service.py
  backend/app/services/college_review_service.py
  backend/app/services/export_package_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/plugins/phd_eligibility_plugin.py
  backend/app/services/received_months_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_admin_endpoints.py
  backend/app/tests/test_received_months_service.py
  backend/app/tests/unit/conftest.py
  backend/pyproject.toml
  backend/requirements.txt
  backend/tests/test_auto_allocate_preview.py
  backend/tests/test_phd_sub_type_selection.py
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/manual-distribution.ts
  frontend/lib/api/types.ts
  scripts/write_dev_env.sh
Due: python-safety-check, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(frontend): repair Frontend Tests CI job
  frontend/components/__tests__/enhanced-student-portal.test.tsx
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests, typescript-check

fix(frontend): disable coverageThreshold to dodge Jest 29 + glob 13 bug
  frontend/jest.config.js
Due: frontend-tests

fix(frontend): repair Frontend Tests CI job (#48)
  frontend/components/__tests__/enhanced-student-portal.test.tsx
  frontend/jest.config.js
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests, typescript-check
