Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

fix(e2e): fix 3 nightly test failures (dates, reviewer lazy-load, spec invariant)
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/services/application_service.py
  frontend/e2e/specs/student-duplicate-reapply.spec.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(roster): wire lock/unlock buttons in RosterDetailDialog
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/lib/api/modules/payment-rosters.ts
Due: frontend-tests, typescript-check

fix(college): replace non-null assertions with optional chaining in ApplicationReviewPanel
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

fix(schemas): add RevokeRequest and SuspendRequest to application schemas
  backend/app/schemas/application.py
Due: backend-tests, api-types-check

chore(api): wrap raw-list returns in ApiResponse format
  backend/app/api/v1/endpoints/admin/email_templates.py
  backend/app/api/v1/endpoints/nycu_employee.py
Due: backend-tests, api-types-check

fix(frontend): use apiClient in EditScheduleDialog to fix auth and URL bugs
  frontend/components/edit-schedule-dialog.tsx
Due: frontend-tests, typescript-check

fix(frontend): update semester-selector to read from ApiResponse wrapper
  frontend/components/semester-selector.tsx
Due: frontend-tests, typescript-check

fix(api): standardize delete_configuration to return ApiResponse format
  backend/app/api/v1/endpoints/system_settings.py
Due: backend-tests, api-types-check

fix(admin): surface error when bulk scholarship assignment fails on user create
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

fix(manual-distribution): restore revoke/suspend endpoints dropped in renewal merge
  backend/app/api/v1/endpoints/manual_distribution.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore: regenerate OpenAPI types and update method-count test for revoke/suspend
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
Due: frontend-tests, typescript-check

test(e2e): self-contained revoke-dialog spec with beforeAll fixture setup
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
Due: frontend-tests, typescript-check

fix(e2e): fix locked-roster fixture setup and revoke/suspend model columns
  backend/app/models/application.py
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(manual-distribution): add missing joinedload import
  backend/app/services/manual_distribution_service.py
Due: backend-tests

chore(deps): force ws>=8.20.1 to patch uninitialized memory disclosure
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests

fix(revoke): set success message after fetchData to prevent race condition
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix: apply 學號_姓名_ prefix to individual files inside export ZIP (#62)
  backend/app/services/export_package_service.py
Due: backend-tests

feat(api): wire bulk-approve + doc-cancel to frontend SDK; remove replaced send-test endpoint
  backend/app/api/v1/endpoints/email_management.py
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/modules/document-requests.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test(roster): eligibility rule-eval unit tests (issue #124 §1-2)
  backend/app/tests/test_roster_eligibility.py
Due: backend-tests

fix(ci): remove deleted send-test endpoint from schema.d.ts, bump method counts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/admin.test.ts
  frontend/lib/api/modules/__tests__/document-requests.test.ts
Due: frontend-tests, typescript-check

test(roster): payment-rosters API contract smoke tests (issue #124 §7)
  backend/app/tests/test_payment_rosters_api.py
Due: backend-tests

test(roster): received_months cumulative tracking (issue #124 §5)
  backend/app/tests/test_received_months_with_roster.py
Due: backend-tests

fix(types): always include send_notifications in bulk-approve body
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

test(roster): idempotency + TOCTOU concurrency (issue #124 §3)
  backend/app/tests/test_roster_generate_concurrency.py
Due: backend-tests

test(roster): lifecycle status-transition + exclude + delete guard tests (issue #124 §4)
  backend/app/tests/test_roster_lifecycle.py
Due: backend-tests

test(roster): scheduler cron-parsing + job-lifecycle unit tests (issue #124 §6)
  backend/app/tests/test_roster_scheduler.py
Due: backend-tests

feat(api): add missing payment-roster typed methods (items, exclude, audit-logs, statistics, export, download, preview-students, cycle-status, dry-run)
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/lib/api/modules/payment-rosters.ts
Due: frontend-tests, typescript-check

feat(api): add getReviewStatistics to college module; remove stale TODO comment
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

fix(ts): add missing async_mode + include_excluded defaults in exportRoster
  frontend/lib/api/modules/payment-rosters.ts
Due: frontend-tests, typescript-check

feat(api): add getStudentDashboardStats + getStudentData + updateStudentData to applications module
  frontend/lib/api/modules/applications.ts
Due: frontend-tests, typescript-check

feat(api): add getSemesters + getActiveAcademicPeriods to reference-data module; migrate 3 components from raw apiClient.request
  frontend/components/create-schedule-dialog.tsx
  frontend/components/edit-schedule-dialog.tsx
  frontend/components/semester-selector.tsx
  frontend/lib/api/modules/reference-data.ts
Due: frontend-tests, typescript-check

feat(api): add filter params to scholarships.getAll; migrate timeline + admin-dashboard to typed API
  frontend/components/enhanced-admin-dashboard.tsx
  frontend/components/scholarship-timeline.tsx
  frontend/lib/api/modules/scholarships.ts
Due: frontend-tests, typescript-check

fix(test): fix scholarships.getAll to not pass second arg when no params; add params coverage test
  frontend/lib/api/modules/__tests__/scholarships.test.ts
  frontend/lib/api/modules/scholarships.ts
Due: frontend-tests, typescript-check

feat(api): add roster-schedules module; migrate 10 components from raw apiClient.request to typed API
  frontend/components/create-schedule-dialog.tsx
  frontend/components/payment-roster-list.tsx
  frontend/components/roster-management-dashboard.tsx
  frontend/components/roster-schedule-list.tsx
  frontend/components/roster/PeriodDetailDialog.tsx
  frontend/components/roster/RosterCycleTimeline.tsx
  frontend/components/roster/RosterListTable.tsx
  frontend/components/roster/ScheduleSettingDialog.tsx
  frontend/components/roster/StudentRosterPreview.tsx
  frontend/components/scheduler-status.tsx
  frontend/lib/api/index.ts
  frontend/lib/api/modules/payment-rosters.ts
  frontend/lib/api/modules/roster-schedules.ts
Due: frontend-tests, typescript-check

fix(api): migrate edit-schedule-dialog PUT call to typed rosterSchedules.updateSchedule
  frontend/components/edit-schedule-dialog.tsx
Due: frontend-tests, typescript-check

fix(api): fix RosterCycle type cast and half_yearly→semi_yearly enum value in schedule dialogs
  frontend/components/create-schedule-dialog.tsx
  frontend/components/edit-schedule-dialog.tsx
Due: frontend-tests, typescript-check

fix(api): fix half_yearly→semi_yearly display label in roster cycle label maps
  frontend/components/payment-roster-list.tsx
  frontend/components/roster-schedule-list.tsx
Due: frontend-tests, typescript-check

fix(api): include required RosterScheduleCreate fields with schema defaults in create-schedule-dialog
  frontend/components/create-schedule-dialog.tsx
Due: frontend-tests, typescript-check

fix(types): cast response.data to CycleStatusData in RosterCycleTimeline
  frontend/components/roster/RosterCycleTimeline.tsx
Due: frontend-tests, typescript-check

test(e2e): roster admin + schedule management spec (issue #124 §8)
  frontend/e2e/specs/roster-admin.spec.ts
Due: frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

