Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

chore: trim CLAUDE.md context and remove unused agent definitions (#1184)
  .claude/CLAUDE.md
  .claude/agents/backend-engineer-postgres-minio.md
  .claude/agents/docker-test-validator.md
  .claude/agents/rubber-duck.md
  .claude/skills/regex-security/SKILL.md
Due: none

docs: address Copilot review comments from #1184
  .claude/CLAUDE.md
  .claude/skills/regex-security/SKILL.md
  docs/superpowers/plans/2026-05-06-monitoring-stack-audit-phase1.md
Due: none

fix(skills): move init-dev-env.md into SKILL.md directory layout
  .claude/skills/init-dev-env/SKILL.md
Due: none

refactor(commands): convert init-dev-env skill to explicit slash command
  .claude/commands/init-dev-env.md
Due: none

chore(commands): convert init-dev-env skill to explicit slash command (#1186)
  .claude/commands/init-dev-env.md
Due: none

docs: fix inaccuracies found by adversarial code review
  .claude/skills/regex-security/SKILL.md
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
Due: none

docs: address Copilot review comments from #1184 (#1185)
  .claude/CLAUDE.md
  .claude/skills/regex-security/SKILL.md
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
  docs/superpowers/plans/2026-05-06-monitoring-stack-audit-phase1.md
Due: none

chore: add change-dev-env-worktree command
  .claude/commands/change-dev-env-worktree.md
Due: none

fix: skip funded renewals in distribution finalize downgrade
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_finalize.py
Due: backend-tests

fix: run batch-import SIS lookups concurrently to stay inside proxy window
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests

fix: skip funded renewals in distribution finalize downgrade (#1187)
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_finalize.py
Due: backend-tests

fix: run batch-import SIS lookups concurrently to stay inside proxy window (#1188)
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests

refactor(college): merge 備取/未錄取 into one combined distribution table
  frontend/components/college/distribution/DistributionResultPanel.tsx
Due: frontend-tests, typescript-check

refactor(college): collapse 備取/未錄取 card into a single 未錄取 table
  frontend/components/college/distribution/DistributionResultPanel.tsx
Due: frontend-tests, typescript-check

feat(college): show applied scholarships per student in distribution results
  backend/app/api/v1/endpoints/college_review/_helpers.py
  frontend/components/college/distribution/DistributionResultPanel.tsx
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(college): align distribution export with panel — drop 'default' 類別, reorder rows
  backend/app/services/college_distribution_export_service.py
  backend/app/tests/test_college_distribution_export_service.py
Due: backend-tests

fix(college): review fixes for distribution results view
  backend/app/api/v1/endpoints/college_review/_helpers.py
  frontend/components/college/distribution/DistributionResultPanel.tsx
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(college): table-based distribution results with applied scholarships, aligned export (#1190)
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/services/college_distribution_export_service.py
  backend/app/tests/test_college_distribution_export_service.py
  frontend/components/college/distribution/DistributionResultPanel.tsx
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(auth): refresh user profile from /auth/me so SSO logins get college_code
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/hooks/__tests__/use-auth.test.tsx
  frontend/hooks/use-auth.tsx
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

fix: explain 1/0 checkmark semantics in batch-import template sub-type columns
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/tests/test_batch_import_endpoints.py
Due: backend-tests, api-types-check

fix(renewal-import): restrict 匯入續領生 to admin/super_admin only
  backend/app/api/v1/endpoints/renewal_import.py
  backend/app/tests/test_renewal_import_endpoints.py
  frontend/app/page.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore: regenerate OpenAPI types for template endpoint docstring
  frontend/lib/api/generated/schema.d.ts
Due: none

chore: update generated API types for renewal-import permission docstring
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: add zoom and download controls to the regulations reading PDF viewer
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/components/inline-pdf-viewer.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/lib/utils/download.ts
Due: frontend-tests, typescript-check

fix(renewal-import): restrict 匯入續領生 to admin/super_admin only (#1195)
  backend/app/api/v1/endpoints/renewal_import.py
  backend/app/tests/test_renewal_import_endpoints.py
  frontend/app/page.tsx
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: harden regulations PDF reading gate against zoom-induced false latches
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/inline-pdf-viewer.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/lib/utils/download.ts
Due: frontend-tests, typescript-check

fix: adopt Copilot review — full viewer reset on url change, rel=noopener on download anchor
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/inline-pdf-viewer.tsx
  frontend/lib/utils/download.ts
Due: frontend-tests, typescript-check

fix: zoom/download controls for the 閱讀獎學金要點 PDF viewer with a hardened reading gate (#1196)
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/components/inline-pdf-viewer.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/lib/utils/download.ts
Due: frontend-tests, typescript-check

feat: show professor and college recommendation on manual distribution page
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_dedup.py
  backend/app/tests/test_manual_distribution_review_display.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

test(e2e): verify 教授推薦/學院推薦 columns on manual-distribution grid
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
Due: frontend-tests, typescript-check

evidence: snapshot 2026-07-22
  docs/staging-tests/2026-07-22/01-manual-dist-recommendation/01-grid-overview.png
  docs/staging-tests/2026-07-22/01-manual-dist-recommendation/02-professor-college-columns.png
  docs/staging-tests/2026-07-22/01-manual-dist-recommendation/03-college-rejected-row.png
  docs/staging-tests/2026-07-22/01-manual-dist-recommendation/REPORT.md
  docs/staging-tests/2026-07-22/REPORT.md
  index.html
Due: none

fix(deps): resolve Dependabot security alerts in backend and frontend
  backend/requirements.txt
  frontend/bun.lock
  frontend/package.json
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

feat: write out every applied sub-type's college verdict in 學院推薦
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
Due: frontend-tests, typescript-check

evidence: refresh 2026-07-22 — explicit 學院推薦 per-sub-type verdicts (未推薦/不推薦)
  docs/staging-tests/2026-07-22/01-manual-dist-recommendation/01-grid-overview.png
  docs/staging-tests/2026-07-22/01-manual-dist-recommendation/02-professor-college-columns.png
  docs/staging-tests/2026-07-22/01-manual-dist-recommendation/03-college-rejected-row.png
  docs/staging-tests/2026-07-22/01-manual-dist-recommendation/REPORT.md
  index.html
Due: none

evidence: add 學院推薦 verdict-states close-up (independent re-verification of f5912ed1)
  docs/staging-tests/2026-07-22/01-manual-dist-recommendation/04-college-verdict-states.png
  index.html
Due: none

fix(deps): resolve Dependabot security alerts in backend and frontend (#1198)
  backend/requirements.txt
  frontend/bun.lock
  frontend/package.json
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

fix: don't block manual distribution on missing professor approval
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_professor_gate.py
  backend/app/tests/test_manual_distribution_review_display.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

chore: regenerate API types after backend dependency bumps
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: don't block manual distribution on missing professor approval (#1199)
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_professor_gate.py
  backend/app/tests/test_manual_distribution_review_display.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

