Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


feat(scholarship): set MOE PhD advisor matching fund label to NT$5,000/month
  backend/app/db/seed_scholarship_configs.py
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check

docs(student-apply): implementation plan for hiding submitted/no-eligible scholarships
  docs/superpowers/plans/2026-06-29-hide-submitted-scholarships-from-apply-flow.md
Due: none

feat(enums): add apply-flow status sets and DRY the duplicate guard
  backend/app/api/v1/endpoints/applications.py
  backend/app/models/enums.py
  backend/app/tests/test_application_status_sets.py
Due: backend-tests, api-types-check, migration-check

docs: spec for PhD quota Excel import
  docs/superpowers/specs/2026-06-29-phd-quota-excel-import-design.md
Due: none

docs(security): high-level PII encryption & masking architecture
  docs/security/pii-encryption-and-masking.md
Due: none

feat(eligibility): add has_blocking_application EXISTS query
  backend/app/services/eligibility_service.py
  backend/app/tests/test_eligibility_blocking_service.py
Due: backend-tests

feat(scholarships): expose already_submitted on the eligible response
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/schemas/scholarship.py
  backend/app/services/scholarship_service.py
Due: backend-tests, api-types-check

docs: implementation plan for PhD quota Excel import
  docs/superpowers/plans/2026-06-29-phd-quota-excel-import.md
Due: none

feat(frontend): add isApplyableScholarship predicate and already_submitted type
  frontend/lib/__tests__/scholarship-eligibility.test.ts
  frontend/lib/api/types.ts
  frontend/lib/scholarship-eligibility.ts
Due: frontend-tests, typescript-check

feat(frontend): hide already-submitted scholarships from the apply flow
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/i18n.ts
Due: frontend-tests, typescript-check

chore(api): regenerate OpenAPI types for already_submitted
  frontend/lib/api/generated/schema.d.ts
Due: none

docs(student-apply): correct multi-row edge case in spec (uq_user_pure_new_app)
  docs/superpowers/specs/2026-06-29-hide-submitted-scholarships-from-apply-flow-design.md
Due: none

feat(quota): add pure validate_quota_matrix helper
  backend/app/tests/test_quota_validation.py
  backend/app/utils/quota_validation.py
Due: backend-tests

refactor(student-apply): simplify — shared match-key helper, native exists(), drop dead get_application_status
  backend/app/api/v1/endpoints/applications.py
  backend/app/models/application.py
  backend/app/services/eligibility_service.py
  backend/app/services/scholarship_service.py
  backend/app/tests/test_eligibility_service_unit.py
  docs/superpowers/specs/2026-06-29-hide-submitted-scholarships-from-apply-flow-design.md
Due: backend-tests, api-types-check, migration-check

docs(test): correct stale .limit(1) comment to exists() after simplify
  backend/app/tests/test_eligibility_blocking_service.py
Due: backend-tests

fix(quota): persist and validate matrix quotas on create and update
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
Due: backend-tests, api-types-check

feat(quota): add pure parseQuotaSheet for matrix Excel import
  frontend/lib/quota/__tests__/parse-quota-sheet.test.ts
  frontend/lib/quota/parse-quota-sheet.ts
Due: frontend-tests, typescript-check

feat(quota): add matrix template builder (round-trippable)
  frontend/lib/quota/__tests__/build-quota-template.test.ts
  frontend/lib/quota/build-quota-template.ts
Due: frontend-tests, typescript-check

feat(quota): add quota import preview dialog
  frontend/components/admin/quota-import/QuotaImportDialog.tsx
  frontend/components/admin/quota-import/__tests__/QuotaImportDialog.test.tsx
Due: frontend-tests, typescript-check

fix(quota): add DialogDescription to QuotaImportDialog for pristine a11y
  frontend/components/admin/quota-import/QuotaImportDialog.tsx
Due: frontend-tests, typescript-check

test(verify): PR #1071 manual e2e screenshots
  verify/pr-1071/01-apply-flow-BEFORE-wizard-shown.png
  verify/pr-1071/02-apply-flow-AFTER-hidden-empty-state.png
  verify/pr-1071/03-catalog-AFTER-still-listed.png
  verify/pr-1071/04-approved-app-apply-flow-hidden.png
Due: none

feat(quota): add Excel import + template buttons
  frontend/components/admin/quota-import/QuotaExcelButtons.tsx
  frontend/components/admin/quota-import/__tests__/QuotaExcelButtons.test.tsx
Due: frontend-tests, typescript-check

feat(quota): wire Excel import buttons into config dialog (create + edit)
  frontend/components/admin-configuration-management.tsx
Due: frontend-tests, typescript-check

fix(quota): source matrix rows from all_sub_type_list (backend-consistent)
  frontend/components/admin-configuration-management.tsx
Due: frontend-tests, typescript-check

fix(quota): read sub_type_list from admin payload (revert all_sub_type_list)
  frontend/components/admin-configuration-management.tsx
Due: frontend-tests, typescript-check

refactor(quota): unify blank-cell check and collapse enum resolution
  backend/app/api/v1/endpoints/scholarship_configurations.py
  frontend/lib/quota/parse-quota-sheet.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(quota): fall back to default sub-types on empty list (match backend)
  frontend/components/admin-configuration-management.tsx
Due: frontend-tests, typescript-check

chore(api): regenerate OpenAPI types after config docstring update
  frontend/lib/api/generated/schema.d.ts
Due: none

docs: design spec for college-viewable distribution results (admin-gated)
  docs/superpowers/specs/2026-06-30-college-view-distribution-results-design.md
Due: none

fix(quota): reject unknown mode, block empty-sheet import, label sub-types, a11y (PR review)
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
  frontend/components/admin/quota-import/QuotaExcelButtons.tsx
  frontend/components/admin/quota-import/QuotaImportDialog.tsx
  frontend/lib/quota/__tests__/parse-quota-sheet.test.ts
  frontend/lib/quota/parse-quota-sheet.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

docs: implementation plan for college-view-distribution results
  docs/superpowers/plans/2026-06-30-college-view-distribution-results.md
Due: none

docs(plan): Task 3 college-scoping in Python (SQLite-portable, encrypted JSON)
  docs/superpowers/plans/2026-06-30-college-view-distribution-results.md
Due: none

feat(model): add allow_college_view_distribution toggle to scholarship config
  backend/alembic/versions/college_view_distribution_001.py
  backend/app/models/scholarship.py
Due: backend-tests, api-types-check, migration-check

feat(quota): PhD scholarship quota Excel import (#1070)
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_quota_validation.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
  backend/app/utils/quota_validation.py
  docs/superpowers/plans/2026-06-29-phd-quota-excel-import.md
  docs/superpowers/specs/2026-06-29-phd-quota-excel-import-design.md
  frontend/components/admin-configuration-management.tsx
  frontend/components/admin/quota-import/QuotaExcelButtons.tsx
  frontend/components/admin/quota-import/QuotaImportDialog.tsx
  frontend/components/admin/quota-import/__tests__/QuotaExcelButtons.test.tsx
  frontend/components/admin/quota-import/__tests__/QuotaImportDialog.test.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/quota/__tests__/build-quota-template.test.ts
  frontend/lib/quota/__tests__/parse-quota-sheet.test.ts
  frontend/lib/quota/build-quota-template.ts
  frontend/lib/quota/parse-quota-sheet.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(roster-excel): add eligibility verification columns with red/amber highlighting
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_eligibility.py
  docs/superpowers/specs/2026-06-30-roster-excel-eligibility-verification-design.md
Due: backend-tests

feat(api): admin toggle for college-view-distribution + surface flag in config payloads
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_college_view_distribution.py
Due: backend-tests, api-types-check

feat(api): college-scoped distribution-results endpoint (admin-gated)
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/tests/test_college_view_distribution.py
Due: backend-tests, api-types-check

docs(roster-excel): design spec for eligibility columns + red/amber cell fills
  docs/superpowers/specs/2026-06-30-roster-excel-eligibility-columns-design.md
Due: none

chore(api): regenerate OpenAPI types for college-view-distribution endpoints
  frontend/lib/api/generated/schema.d.ts
Due: none
