Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

fix(security): keep pool-status docstring stable to avoid OpenAPI type drift
  backend/app/main.py
Due: backend-tests

Mask national ID numbers displayed in the UI
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/roster/RevokedSuspendedSection.tsx
  frontend/components/roster/StudentRosterPreview.tsx
  frontend/lib/utils/mask.ts
Due: frontend-tests, typescript-check

Cache Taipei tzinfo so missing-tzdata warning logs once per process
  backend/app/utils/date_utils.py
Due: backend-tests

test(auth): pin create_tokens smoke test to production-safe debug behavior
  backend/app/tests/test_auth_service.py
Due: backend-tests

Address review feedback on ID masking
  frontend/components/roster/RevokedSuspendedSection.tsx
  frontend/lib/utils/mask.test.ts
  frontend/lib/utils/mask.ts
Due: frontend-tests, typescript-check

security: address PR review feedback (XSS, log redaction, tests)
  backend/app/api/v1/endpoints/auth.py
  backend/app/core/config.py
  backend/app/services/minio_service.py
  backend/app/services/portal_sso_service.py
  backend/app/tests/test_minio_service_unit.py
  backend/app/tests/test_users_endpoint_authz.py
  docker-compose.staging-db.yml
  frontend/app/api/email/preview/[id]/route.ts
  frontend/app/api/v1/preview/route.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, docker-compose-check

security: address second-round review (log + CSP hardening)
  backend/app/services/minio_service.py
  frontend/app/api/email/preview/[id]/route.ts
  frontend/app/api/v1/preview/route.ts
Due: backend-tests, frontend-tests, typescript-check

ci(staging): add manual workflow to run placeholder-bank-doc backfill (#929)
  .github/workflows/staging-backfill-bank-docs.yml
Due: none

ci(staging): add manual workflow to run placeholder-bank-doc backfill (#929) (#941)
  .github/workflows/staging-backfill-bank-docs.yml
Due: none

fix(preview): allow same-origin iframe framing for /api/v1/preview proxies (#942)
  .github/workflows/deploy-pipeline.yml
  frontend/__tests__/middleware-csp.test.ts
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

fix(preview): allow same-origin iframe framing for /api/v1/preview proxies (#942) (#943)
  .github/workflows/deploy-pipeline.yml
  frontend/__tests__/middleware-csp.test.ts
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

fix(preview): clear PDF preview skeleton via fallback timer (onLoad unreliable)
  frontend/components/__tests__/file-preview-dialog.test.tsx
  frontend/components/file-preview-dialog.tsx
Due: frontend-tests, typescript-check

fix(preview): clear PDF preview skeleton via fallback timer (onLoad unreliable) (#944)
  frontend/components/__tests__/file-preview-dialog.test.tsx
  frontend/components/file-preview-dialog.tsx
Due: frontend-tests, typescript-check

test(application): pin read paths delegate to _integrate_application_file_data
  backend/app/tests/test_application_read_path_integrate_invariant.py
Due: backend-tests

test(application): pin read paths delegate to _integrate_application_file_data (#945)
  backend/app/tests/test_application_read_path_integrate_invariant.py
Due: backend-tests

fix: narrow tz fallback to ZoneInfoNotFoundError and show UTC offset
  backend/app/utils/date_utils.py
Due: backend-tests

feat(ops): rewrite production DB backup workflow for split AP/DB server architecture
  .github/production-workflows-examples/IT-BACKUP-TRANSFER-GUIDE.md
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/backup.yml
Due: none

feat: send notification email to admin on suspend/revoke (停發/撤銷) actions (#938)
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/tests/test_revoke_suspend_endpoints.py
  backend/app/utils/date_utils.py
Due: backend-tests, api-types-check

feat(frontend): validate contact phone inline on blur instead of only at submit (#933)
  frontend/components/dynamic-application-form.tsx
Due: frontend-tests, typescript-check

Add documentation for national ID (std_pid) database encryption (#934)
  docs/architecture/pii-encryption.md
Due: none

docs: add college quota matrix design spec for manual distribution page
  docs/superpowers/specs/2026-06-10-college-quota-matrix-design.md
Due: none

docs: align college quota matrix spec with existing CollegeQuota frontend type
  docs/superpowers/specs/2026-06-10-college-quota-matrix-design.md
Due: none

docs: add college quota matrix implementation plan
  docs/superpowers/plans/2026-06-10-college-quota-matrix.md
Due: none

feat: add consumers_by_college per-college consumer split
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_pool_math.py
Due: backend-tests

refactor: share consumer filter predicates between count and per-college split
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_pool_math.py
Due: backend-tests

feat: add per-college quota breakdown to quota-status payload
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_get_quota_status_shared_pool.py
Due: backend-tests

feat: add CollegeQuotaMatrix component and align quota types
  frontend/components/admin/manual-distribution/CollegeQuotaMatrix.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

feat: show per-college remaining quota matrix on manual distribution page
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

refactor: extract shared reloadServerSnapshot for save/finalize/restore
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix(e2e+api): clear nightly e2e-full failures; background the revoke/suspend admin email
  backend/app/api/v1/endpoints/manual_distribution.py
  frontend/e2e/specs/admin-config-deadline.spec.ts
  frontend/e2e/specs/admin-returns-application.spec.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/student-draft-save.spec.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test+ci: unmask two silently-ignored test failures
  .github/workflows/ci.yml
  backend/app/tests/test_developer_profiles.py
Due: backend-tests

test+ci: unmask two silently-ignored test failures (#947)
  .github/workflows/ci.yml
  backend/app/tests/test_developer_profiles.py
Due: backend-tests

fix(e2e+api): clear nightly e2e-full failures; background the revoke/suspend admin email (#946)
  backend/app/api/v1/endpoints/manual_distribution.py
  frontend/e2e/specs/admin-config-deadline.spec.ts
  frontend/e2e/specs/admin-returns-application.spec.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/student-draft-save.spec.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test(e2e): pin admin preview-dialog UI render + pdfjs worker version (@nightly)
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
Due: frontend-tests, typescript-check

test(e2e): pin admin preview-dialog UI render + pdfjs worker version (@nightly) (#949)
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
Due: frontend-tests, typescript-check

feat(ci): staging-e2e lane — full e2e against an ephemeral replica of the live staging deploy
  .github/workflows/staging-e2e.yml
  docker-compose.staging-e2e.yml
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/api.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/env.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/college-dept-summary-export.spec.ts
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
  frontend/e2e/specs/student-draft-document-preview.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
  frontend/playwright.config.ts
Due: frontend-tests, typescript-check, docker-compose-check

test(e2e)+fix(email): close 5 nightly coverage gaps; fix silent admin-notification email loss (#951)
  backend/app/services/email_service.py
  docker-compose.dev.yml
  frontend/e2e/specs/admin-restores-professor-reject.spec.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/batch-import-upload.spec.ts
  frontend/e2e/specs/regulations-pdf-canvas.spec.ts
  frontend/e2e/specs/whitelist-remove.spec.ts
Due: backend-tests, frontend-tests, typescript-check, docker-compose-check

feat(ci): staging-e2e lane — full e2e against an ephemeral replica of the live staging deploy (#950)
  .github/workflows/staging-e2e.yml
  docker-compose.staging-e2e.yml
  frontend/e2e/global-setup.ts
  frontend/e2e/helpers/api.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/env.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/college-dept-summary-export.spec.ts
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
  frontend/e2e/specs/student-draft-document-preview.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
  frontend/playwright.config.ts
Due: frontend-tests, typescript-check, docker-compose-check

test(e2e)+fix(email): close 5 nightly coverage gaps; fix silent admin-notification email loss (#951) (#952)
  backend/app/services/email_service.py
  docker-compose.dev.yml
  frontend/e2e/specs/admin-restores-professor-reject.spec.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/batch-import-upload.spec.ts
  frontend/e2e/specs/regulations-pdf-canvas.spec.ts
  frontend/e2e/specs/whitelist-remove.spec.ts
Due: backend-tests, frontend-tests, typescript-check, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

