Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

chore(security): bump frontend/backend vulnerable dependencies (#14)
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
  mock-student-api/requirements.txt
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

chore: add .worktrees to .gitignore
  .gitignore
Due: none

chore(test-data): add 114-2 term records to mock student API
  mock-student-api/main.py
Due: none

chore(test-data): update professor-student relationships to 114-2
  backend/app/seed.py
Due: backend-tests

chore(test-data): add undergraduate_freshman_114_2 scholarship config
  backend/app/db/seed_scholarship_configs.py
Due: backend-tests

fix: use Node.js runtime for Next.js dev server (Bun for deps only)
  docker-compose.dev.yml
  frontend/Dockerfile
Due: frontend-tests, docker-compose-check

chore: remove temporary refactor artifacts
  REFACTOR_SUMMARY.md
  verify-refactor.sh
Due: none

chore(test-data): update test data to 114-2 (2026-02-23) (#19)
  backend/app/db/seed_scholarship_configs.py
  backend/app/seed.py
  mock-student-api/main.py
Due: backend-tests

chore: remove unnecessary documentation and dev scripts
  DEV_SETUP.md
  QUICKSTART.md
  dev.sh
Due: none

docs: add manual distribution system design
  docs/plans/2026-02-24-manual-distribution-design.md
Due: none

docs: add manual distribution implementation plan
  docs/plans/2026-02-24-manual-distribution-plan.md
Due: none

feat: add manual distribution service
  backend/app/services/manual_distribution_service.py
Due: backend-tests

feat: add manual distribution API endpoints
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/core/deps.py
Due: backend-tests, api-types-check

refactor: remove automated distribution algorithms (replaced by manual)
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/services/college_review_service.py
  backend/app/services/matrix_distribution.py
Due: backend-tests, api-types-check

feat: add manual distribution frontend API client
  frontend/lib/api/index.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

feat: add manual distribution UI panel
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat: wire manual distribution panel into admin page
  frontend/components/college/CollegeManagementShell.tsx
Due: frontend-tests, typescript-check

refactor: remove old automated distribution frontend components
  frontend/components/college-dashboard.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/distribution/DistributionPanel.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/distribution-results-panel.tsx
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

fix: add explicit type annotation for Map.entries() destructuring
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

chore: clean up remaining references to automated distribution
  backend/app/schemas/college_review.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: move manual distribution to admin-only top-level tab
  frontend/app/page.tsx
  frontend/components/college/CollegeManagementShell.tsx
Due: frontend-tests, typescript-check

fix: resolve admin permission error in manual distribution tab
  backend/app/api/v1/endpoints/manual_distribution.py
  frontend/components/college/CollegeManagementShell.tsx
  frontend/contexts/college-management-context.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: add academic year and semester selectors to manual distribution panel
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix: handle yearly semester mismatch in manual distribution service
  backend/app/services/manual_distribution_service.py
Due: backend-tests

feat: redesign manual distribution panel to match reference UI
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix: resolve quota-status 500 error and simplify scholarshipTypeId resolution
  backend/app/services/manual_distribution_service.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

feat: add multi-year quota support for supplementary distribution (補發)
  backend/alembic/versions/add_allocation_year_to_ranking_items.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/models/college_review.py
  backend/app/services/manual_distribution_service.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat: use abbreviated column names with conditional year prefix for multi-year sub-types
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat: add applied sub-type constraint and optimize table layout for reduced scrolling
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat: add allocation reset/undo functionality
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat: implement allocation history tracking and restore functionality
  backend/alembic/versions/add_allocation_year_to_ranking_items.py
  backend/alembic/versions/add_distribution_history_001_add_manual_distribution_history_table.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/models/college_review.py
  backend/app/services/manual_distribution_service.py
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat: record finalization in allocation history for post-finalization undo
  backend/app/services/manual_distribution_service.py
Due: backend-tests

feat: add history viewing and restore UI to manual distribution panel
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix: properly reload allocation data after restore operation
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix: properly refresh data after finalize distribution
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

docs: add development environment setup instructions to CLAUDE.md
  .claude/CLAUDE.md
Due: none

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

