Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

fix(#1079): update register tests to match auth-gated endpoint
  backend/app/tests/test_auth_login_register_gated.py
Due: backend-tests

feat(student-history): open award-history lookup to college and student roles
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/student_history.py
  backend/app/schemas/student_scholarship_history.py
  backend/app/tests/test_student_history_shared_endpoint.py
  frontend/app/page.tsx
  frontend/components/admin/student-history/StudentHistoryPanel.tsx
  frontend/components/admin/student-history/__tests__/parse-student-numbers.test.ts
  frontend/components/admin/student-history/parse-student-numbers.ts
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student/TotalReceivedMonthsCard.tsx
  frontend/e2e/specs/admin-student-history.spec.ts
  frontend/e2e/specs/student-history-access.spec.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/student-history.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(student-history): harden batch endpoint per code review
  backend/app/api/v1/endpoints/admin/student_history.py
  backend/app/api/v1/endpoints/student_history.py
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_history_shared_endpoint.py
  frontend/components/__tests__/enhanced-student-portal.test.tsx
  frontend/components/admin/student-history/StudentHistoryPanel.tsx
  frontend/components/admin/student-history/parse-student-numbers.ts
  frontend/components/enhanced-student-portal.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/student-history.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(#1223): neutralise formula injection in the remaining spreadsheet exports
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/quota_dashboard.py
  backend/app/services/whitelist_excel_service.py
  backend/app/tests/test_admin_history_export_formula_injection.py
  backend/app/tests/test_excel_safety.py
  backend/app/utils/excel_safety.py
Due: backend-tests, api-types-check

fix(#1223): verify the SSO callback token server-side before installing a session
  frontend/__tests__/verify-sso-token.test.ts
  frontend/app/auth/sso-callback/page.tsx
  frontend/app/page.tsx
  frontend/lib/auth/verify-sso-token.ts
Due: frontend-tests, typescript-check

fix(#1223): response-header hardening (Permissions-Policy, CSP img-src, COOP/CORP)
  .github/workflows/ci.yml
  frontend/__tests__/middleware-csp.test.ts
  frontend/__tests__/security-headers-nginx-parity.test.ts
  frontend/lib/security-headers.ts
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

fix(#1223): scope 學院 users to their own college across the application service
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/files.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/services/application_service.py
  backend/app/tests/test_college_scope_application_access.py
  backend/app/tests/test_delete_application_deep.py
  backend/app/tests/test_get_applications_for_review_deep.py
  backend/app/tests/test_restore_application_deep.py
  backend/app/tests/test_reviews_endpoints.py
  backend/app/tests/test_update_application_deep.py
  backend/app/tests/test_update_application_status_deep.py
  backend/app/utils/college_scope.py
  mock-student-api/main.py
Due: backend-tests, api-types-check

fix(#1223): constrain the admin-configured SQL in email automation
  backend/app/api/v1/endpoints/email_automation.py
  backend/app/core/sql_read_only_guard.py
  backend/app/services/email_automation_service.py
  backend/app/tests/test_email_automation_redos_fix.py
  backend/app/tests/test_email_automation_service_unit.py
  backend/app/tests/test_sql_read_only_guard.py
Due: backend-tests, api-types-check

fix(#1223): address code-review findings
  .claude/skills/playwright-test-and-debug/SKILL.md
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/email_automation.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/core/sql_read_only_guard.py
  backend/app/seed.py
  backend/app/services/application_service.py
  backend/app/services/email_automation_service.py
  backend/app/tests/test_application_available_sub_types_service.py
  backend/app/tests/test_assign_professor.py
  backend/app/tests/test_college_scope_application_access.py
  backend/app/tests/test_excel_safety.py
  backend/app/tests/test_reviews_endpoints.py
  backend/app/tests/test_sql_read_only_guard.py
  backend/app/utils/college_scope.py
  backend/app/utils/excel_safety.py
  frontend/__tests__/security-headers-nginx-parity.test.ts
  mock-student-api/main.py
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(#1223): drop the unrecognised bluetooth Permissions-Policy token, add Playwright evidence
  docs/screenshots/issue1223-app-normal.png
  docs/screenshots/issue1223-clipboard-works.png
  docs/screenshots/issue1223-headers-before-after.png
  docs/screenshots/issue1223-preview-still-works.png
  docs/screenshots/issue1223-sso-forged-token-after.png
  docs/screenshots/issue1223-sso-forged-token-before.png
  frontend/lib/security-headers.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

fix(#1223): emit `extra={...}` fields from JsonFormatter, add e2e evidence
  backend/app/main.py
  backend/app/tests/test_json_formatter_extras.py
  docs/screenshots/issue1223-e2e-t1a-cs_college-list-114.png
  docs/screenshots/issue1223-e2e-t1b-cs_college-list-113.png
  docs/screenshots/issue1223-e2e-t4-after-own-delete.png
  docs/screenshots/issue1223-e2e-t6-admin-list.png
Due: backend-tests

feat(footer): make 相關連結 admin-editable with file upload support
  backend/alembic/versions/add_footer_links_001_add_footer_links_table.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/footer_links.py
  backend/app/core/document_formats.py
  backend/app/models/__init__.py
  backend/app/models/footer_link.py
  backend/app/schemas/footer_link.py
  backend/app/tests/test_footer_links.py
  frontend/app/api/v1/footer-links/upload-proxy/route.ts
  frontend/app/api/v1/preview/footer-links/route.ts
  frontend/components/__tests__/footer.test.tsx
  frontend/components/admin/footer-links/AddFooterLinkDialog.tsx
  frontend/components/admin/footer-links/FooterLinksPanel.tsx
  frontend/components/admin/footer-links/__tests__/FooterLinksPanel.test.tsx
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/components/footer.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/footer-links.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(footer): address code-review findings on 相關連結
  backend/alembic/versions/add_footer_links_001_add_footer_links_table.py
  backend/app/api/v1/endpoints/footer_links.py
  backend/app/core/document_formats.py
  backend/app/schemas/footer_link.py
  backend/app/tests/test_footer_links.py
  frontend/components/__tests__/footer.test.tsx
  frontend/components/admin/footer-links/FooterLinksPanel.tsx
  frontend/components/footer.tsx
  frontend/lib/api/modules/footer-links.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

refactor(nginx): collapse the three upload-proxy blocks into one regex
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: none

feat: export 分發名單 as Excel/PDF from the admin distribution panel
  backend/CLAUDE.md
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/college_distribution_export_service.py
  backend/app/services/export_table_chassis.py
  backend/app/services/manual_distribution_export_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_application_summary_export_helpers.py
  backend/app/tests/test_distribution_summary_export_endpoint.py
  backend/app/tests/test_manual_distribution_export_service.py
  backend/app/utils/export_download.py
  frontend/components/admin/manual-distribution/DistributionSummaryDialog.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/admin/manual-distribution/__tests__/DistributionSummaryDialog.test.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/binary-export.ts
  frontend/lib/api/modules/college.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: cap PDF cells against the measured 2-row header, not a fixed reserve
  backend/app/services/export_table_chassis.py
  backend/app/services/manual_distribution_export_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_export_service.py
  backend/app/utils/student_snapshot_fields.py
  frontend/components/admin/manual-distribution/DistributionSummaryDialog.tsx
  frontend/lib/api/modules/__tests__/college.test.ts
Due: backend-tests, frontend-tests, typescript-check

feat(student-history): admin-controlled visibility for students and colleges
  backend/alembic/versions/student_history_visibility_001.py
  backend/app/api/v1/endpoints/student_history.py
  backend/app/db/seed_system_settings.py
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/student_history_visibility.py
  backend/app/tests/test_student_history_visibility.py
  frontend/app/page.tsx
  frontend/components/__tests__/enhanced-student-portal.test.tsx
  frontend/components/admin/student-history/HistoryVisibilityCard.tsx
  frontend/components/admin/student-history/StudentHistoryPanel.tsx
  frontend/components/admin/student-history/__tests__/HistoryVisibilityCard.test.tsx
  frontend/components/student/TotalReceivedMonthsCard.tsx
  frontend/components/student/__tests__/TotalReceivedMonthsCard.test.tsx
  frontend/e2e/specs/admin-student-history.spec.ts
  frontend/hooks/use-student-history-visibility.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/student-history.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(student-history): address code-review findings on visibility switches
  backend/app/api/v1/endpoints/student_history.py
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/student_history_visibility.py
  backend/app/tests/test_student_history_visibility.py
  frontend/components/admin/student-history/HistoryVisibilityCard.tsx
  frontend/hooks/__tests__/use-student-history-visibility.test.tsx
  frontend/hooks/use-student-history-visibility.ts
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test(student-history): give the visibility card a data-testid
  frontend/components/admin/student-history/HistoryVisibilityCard.tsx
  frontend/e2e/specs/admin-student-history.spec.ts
Due: frontend-tests, typescript-check

fix(student-timeline): light 已核定 once admin opens distribution results
  frontend/lib/api/types.ts
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

docs: Playwright verification screenshots for PR #1262
  README.md
  screenshots/01-admin-visibility-card-both-on.png
  screenshots/02-college-three-tabs.png
  screenshots/03-student-months-card-visible.png
  screenshots/04-admin-college-switch-off.png
  screenshots/05a-college-two-tabs-no-history.png
  screenshots/06-student-card-still-visible.png
  screenshots/07a-admin-student-off-college-on.png
  screenshots/07b-student-no-card.png
  screenshots/07c-college-tab-back.png
  screenshots/08-admin-both-off-lookup-works.png
  screenshots/09-admin-both-restored-on.png
  screenshots/10-college-tab-restored.png
  screenshots/11-student-card-restored.png
  screenshots/12-recheck-college-3tabs-open.png
  screenshots/13-recheck-student-card-open.png
  screenshots/14-recheck-college-2tabs-closed.png
  screenshots/15-recheck-admin-both-on-final.png
  screenshots/16-recheck-college-3tabs-restored.png
  screenshots/17-recheck-student-card-restored.png
Due: none

fix(types): declare Application.review_stage now that the timeline keys off it
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

Update locked review message for clarity
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

fix(test): patch the academic-year helper where renewal.py looks it up
  backend/app/tests/test_renewal_application_creation.py
Due: backend-tests

feat(ui): add full row/column borders to distribution allocation table
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat(roster): add 重新生成造冊 so admins can rebuild a roster at any time
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/models/payment_roster.py
  backend/app/schemas/payment_roster.py
  backend/app/services/roster_regeneration_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_regenerate_api.py
  backend/app/tests/test_roster_regeneration_service.py
  frontend/components/__tests__/roster-list-table-regenerate.test.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/components/roster/RosterListTable.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/payment-rosters.test.ts
  frontend/lib/api/modules/manual-distribution.ts
  frontend/lib/api/modules/payment-rosters.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(student-portal): drop the duplicate progress bar from 審核進度
  frontend/components/application-detail-dialog.tsx
  frontend/components/enhanced-student-portal.tsx
Due: frontend-tests, typescript-check

feat(ui): rule every cell of the 造冊管理 配額矩陣
  frontend/components/roster/MatrixQuotaDisplay.tsx
Due: frontend-tests, typescript-check

feat(ui): 配額矩陣與核配表格補上完整 row/column 框線 (#1264)
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/roster/MatrixQuotaDisplay.tsx
Due: frontend-tests, typescript-check

fix(authz): grant super_admin every capability admin already has
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/roster_notification_service.py
  backend/app/tests/test_payment_rosters_api.py
  backend/app/tests/test_roster_notification_defaults.py
Due: backend-tests, api-types-check

feat(ranking): state the rank rule in college ranking import errors
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  frontend/lib/ranking/__tests__/parse-ranking-sheet.test.ts
  frontend/lib/ranking/parse-ranking-sheet.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore: update API types
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(student-portal): stop disclosing 申請狀態 to the student
  frontend/components/__tests__/enhanced-student-portal.test.tsx
  frontend/components/application-detail-dialog.tsx
  frontend/components/enhanced-student-portal.tsx
Due: frontend-tests, typescript-check

docs(init-dev-env): add troubleshooting for container name conflicts and frontend node_modules crash-loop
  .claude/commands/init-dev-env.md
Due: none

fix: change default roster unit column from 次 to 元
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_service_rows.py
Due: backend-tests

feat(email): reduce automated mail to three trigger points
  backend/alembic/versions/email_timing_three_triggers_001.py
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/document_requests.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/services/bulk_approval_service.py
  backend/app/services/email_automation_service.py
  backend/app/tasks/deadline_checker.py
  backend/app/tests/test_application_bulk_approve_dashboard.py
  backend/app/tests/test_assign_professor.py
  backend/app/tests/test_bulk_approval_service.py
  backend/app/tests/test_bulk_approval_service_unit.py
  backend/app/tests/test_college_ranking_submitted_email.py
  backend/app/tests/test_critical_workflows.py
  backend/app/tests/test_deadline_checker_draft_reminder.py
  frontend/app/api/email/render/route.ts
  frontend/e2e/specs/admin-bulk-approve.spec.ts
  frontend/emails/college-ranking-submitted.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/admin.ts
  frontend/lib/email-renderer.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(email): repair fresh-DB seeding and the leftover assignment mail
  backend/alembic/versions/email_timing_three_triggers_001.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/services/application_service.py
  backend/app/tests/test_deadline_checker_draft_reminder.py
  backend/app/tests/test_email_seed_idempotency.py
Due: backend-tests, migration-check

feat(college): replace 批次匯入 with 補充匯入 for colleges
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/supplementary_import.py
  backend/app/models/application.py
  backend/app/models/college_review.py
  backend/app/models/scholarship.py
  backend/app/services/batch_import_service.py
  backend/app/services/batch_import_template_service.py
  backend/app/services/supplementary_import_service.py
  backend/app/tests/test_batch_import_endpoints.py
  backend/app/tests/test_batch_import_service_unit.py
  backend/app/tests/test_ranking_management_endpoints.py
  backend/app/tests/test_supplementary_import_endpoints.py
  backend/app/tests/test_supplementary_import_helpers.py
  backend/app/tests/test_supplementary_import_service.py
  backend/app/tests/test_supplementary_import_template.py
  backend/app/utils/excel_safety.py
  frontend/app/page.tsx
  frontend/components/__tests__/supplementary-import-panel.test.tsx
  frontend/components/admin-configuration-management.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/supplementary-import-panel.tsx
  frontend/contexts/college-management-context.tsx
  frontend/e2e/specs/batch-import-upload.spec.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(csp): remove unsafe-inline from production style-src (#1273)
  docs/CSP_IMPLEMENTATION.md
  frontend/__tests__/csp-nonce-wiring.test.tsx
  frontend/__tests__/csp-sonner-hash.test.ts
  frontend/__tests__/middleware-csp.test.ts
  frontend/app/layout.tsx
  frontend/components/providers/csp-nonce.tsx
  frontend/components/ui/scroll-area.tsx
  frontend/components/ui/select.tsx
  frontend/e2e/csp-violation-check.js
  frontend/lib/security-headers.ts
  frontend/middleware.ts
Due: frontend-tests, typescript-check

fix(csp): nonce the remaining runtime style injectors (#1273)
  docs/CSP_IMPLEMENTATION.md
  frontend/__tests__/csp-nonce-wiring.test.tsx
  frontend/components/audit-trail/JsonDiffViewer.tsx
  frontend/components/react-email-template-viewer.tsx
  frontend/components/ui/chart.tsx
  frontend/e2e/csp-violation-check.js
Due: frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

