Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

ci: time-box the Safari check's certificate step
  .github/workflows/safari-upload-preview.yml
Due: none

test: retry the agree-terms tick in the Safari wizard check
  scripts/safari/wizard_upload_preview.py
Due: none

ci: bound and retry the Safari check's certificate fetch
  .github/workflows/safari-upload-preview.yml
Due: none

test: retry Safari launch in the wizard check
  scripts/safari/wizard_upload_preview.py
Due: none

ci: retry the Safari check's reachability probe
  .github/workflows/safari-upload-preview.yml
Due: none

docs: fix stale facts and conflicts in Claude Code config
  .claude/CLAUDE.md
  .claude/agents/frontend-engineer-nycu.md
  .claude/commands/init-dev-env.md
  .claude/skills/playwright-test-and-debug/SKILL.md
  .claude/skills/scholarship-issue-workflow/SKILL.md
  .claude/skills/webwright/SKILL.md
  backend/CLAUDE.md
Due: backend-tests

chore: add a dev mock script for AY115 phd applications
  scripts/mock/seed_115_applications.py
Due: none

ci: add real-Safari header/embed matrix for framed PDFs (#1434)
  .github/workflows/safari-pdf-preview.yml
  scripts/safari/pdf_header_matrix.py
Due: none

ci: drive the real FilePreviewDialog in Safari (#1434)
  .github/workflows/safari-pdf-preview.yml
  scripts/safari/dialog_pdf_preview.py
  scripts/safari/harness/page.tsx
  scripts/safari/pdf_header_matrix.py
Due: none

ci: capture diagnostics and fail loudly in the Safari dialog check (#1434)
  .github/workflows/safari-pdf-preview.yml
  scripts/safari/dialog_pdf_preview.py
Due: none

ci: drop upgrade-insecure-requests in the http Safari harness (#1434)
  .github/workflows/safari-pdf-preview.yml
  scripts/safari/dialog_pdf_preview.py
Due: none

ci: measure Safari dialog paint from the WebDriver crop and close with Escape (#1434)
  scripts/safari/dialog_pdf_preview.py
  scripts/safari/pdf_header_matrix.py
Due: none

ci: bisect the Safari blank-PDF cause with dialog variants (#1434)
  scripts/safari/dialog_pdf_preview.py
  scripts/safari/harness/page.tsx
Due: none

ci: trigger the Safari PDF check on every harness file (#1434)
  .github/workflows/safari-pdf-preview.yml
Due: none

ci: add the real production header set to the Safari matrix (#1434)
  scripts/safari/dialog_pdf_preview.py
  scripts/safari/pdf_header_matrix.py
Due: none

fix: preview a local PDF with pdf.js and frame remote PDFs by URL, not blob (#1434)
  .github/workflows/safari-pdf-preview.yml
  frontend/components/__tests__/file-preview-dialog.test.tsx
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/components/file-upload.tsx
  frontend/components/inline-pdf-viewer.tsx
  scripts/safari/dialog_pdf_preview.py
  scripts/safari/harness/page.tsx
  scripts/safari/harness/preview-sample-route.ts
Due: frontend-tests, typescript-check

ci: close every dialog case in the Safari check (#1434)
  scripts/safari/dialog_pdf_preview.py
Due: none

docs: correct stale blob: framing comments (#1434)
  frontend/lib/file-preview.ts
  frontend/middleware.ts
Due: frontend-tests, typescript-check

fix: address review of the Safari blob-PDF fix (#1434)
  .github/workflows/safari-pdf-preview.yml
  frontend/__tests__/middleware-csp.test.ts
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/components/inline-pdf-viewer.tsx
  frontend/lib/security-headers.ts
  frontend/middleware.ts
  scripts/safari/dialog_pdf_preview.py
  scripts/safari/pdf_header_matrix.py
Due: frontend-tests, typescript-check

fix: serve every page frame-ancestors 'self' instead of a pdf.js detour (#1434)
  frontend/__tests__/middleware-csp.test.ts
  frontend/components/__tests__/file-preview-dialog.test.tsx
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/components/file-upload.tsx
  frontend/components/inline-pdf-viewer.tsx
  frontend/lib/file-preview.ts
  frontend/lib/security-headers.ts
  frontend/middleware.ts
  scripts/safari/dialog_pdf_preview.py
  scripts/safari/harness/page.tsx
  scripts/safari/pdf_header_matrix.py
Due: frontend-tests, typescript-check

fix: enforce MOE-first preference in default distribution
  backend/app/services/application_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_auto_allocate_preview.py
Due: backend-tests

feat: let professors view assigned applications' detail
  backend/app/api/v1/endpoints/files.py
  backend/app/tests/test_professor_file_access.py
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/common/__tests__/ApplicationReviewDialog.role-tabs.test.tsx
  frontend/components/professor-review-component.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: match moe_1w case-insensitively when ordering preferences
  backend/app/services/application_builder.py
  backend/app/tests/test_application_builder.py
Due: backend-tests

refactor: address review of the professor detail view
  backend/app/api/v1/endpoints/files.py
  backend/app/services/application_service.py
  backend/app/utils/professor_scope.py
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/common/__tests__/ApplicationReviewDialog.role-tabs.test.tsx
  frontend/components/professor-review-component.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: enforce MOE-first preference in default distribution (#1439)
  backend/app/services/application_builder.py
  backend/app/services/application_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_application_builder.py
  backend/app/tests/test_auto_allocate_preview.py
Due: backend-tests

refactor: drop the 未分配 badge from the 學院推薦 column
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

docs: drop the stale 未分配 chip note from the recommendation-columns spec
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
Due: frontend-tests, typescript-check

chore(deps): bump pypdf to 6.19.0 and PyJWT to 2.15.1 for Dependabot alerts
  backend/pyproject.toml
  backend/requirements.txt
Due: python-safety-check, backend-tests

fix(deps): bump next to 15.5.27 and patched transitive npm deps
  frontend/bun.lock
  frontend/package.json
Due: npm-audit, frontend-tests

ci: ignore GHSA-vfj7-8cjw-p6xm (braces) in the hard-gated bun audit
  .github/workflows/ci.yml
Due: none

fix: stop form-config prefill leaking one student's profile to others
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/schemas/application_field.py
  backend/app/services/application_field_service.py
  backend/app/services/application_service.py
  backend/app/tests/test_application_field_fixed_builders.py
  backend/app/tests/test_application_field_fixed_overrides.py
  backend/app/tests/test_profile_owned_form_fields.py
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: read the student's own account first and drop poisoned caches
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/bank_verification_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_application_field_service_unit.py
  backend/app/tests/test_bank_verification_extract_fields.py
  backend/app/tests/test_bank_verification_preserves_original_form_data.py
  backend/app/tests/test_profile_owned_form_fields.py
  backend/app/utils/bank_account_fields.py
  frontend/components/__tests__/application-form-data-display.test.tsx
  frontend/components/application-form-data-display.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: stop form-config prefill leaking one student's profile (v1.2.0 hotfix)
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/application_field.py
  backend/app/services/application_field_service.py
  backend/app/services/application_service.py
  backend/app/services/bank_verification_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_application_field_fixed_builders.py
  backend/app/tests/test_application_field_fixed_overrides.py
  backend/app/tests/test_application_field_service_unit.py
  backend/app/tests/test_bank_verification_extract_fields.py
  backend/app/tests/test_bank_verification_preserves_original_form_data.py
  backend/app/tests/test_profile_owned_form_fields.py
  backend/app/utils/bank_account_fields.py
  frontend/components/__tests__/application-form-data-display.test.tsx
  frontend/components/application-form-data-display.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/types.ts
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

ci: add manual workflow to build release images from any ref
  .github/workflows/build-release-images.yml
Due: none

ci: allow a -suffix on release image versions (e.g. v1.2.0-hotfix)
  .github/workflows/build-release-images.yml
Due: none

Merge pull request #1447 from anud18/ci/build-release-images
  .github/workflows/build-release-images.yml
Due: none

ci: add report-only Edge run of the framed-PDF header matrix
  .github/workflows/edge-pdf-preview.yml
  scripts/safari/pdf_header_matrix.py
Due: none

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

