Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


feat: 教育部博士生獎學金標籤加上 115學年度 與滾動式調整說明
  backend/alembic/versions/moe_1w_ay115_label_001.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/services/application_service.py
  frontend/components/professor-review-component.tsx
  frontend/e2e/specs/student-subtype-label.spec.ts
  frontend/lib/api/modules/professor.ts
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check, migration-check

chore: student-side playwright screenshots for PR #1362
  screenshots/student/01-student-subtype-cards-desktop.png
  screenshots/student/01b-subtype-block-desktop.png
  screenshots/student/02-moe1w-card-closeup.png
  screenshots/student/03-student-subtype-cards-mobile.png
  screenshots/student/03b-moe1w-card-closeup-mobile.png
  screenshots/student/03c-subtype-block-mobile.png
Due: none

fix: 移除國科會子類型的重複說明文字
  backend/alembic/versions/moe_1w_ay115_label_001.py
  backend/app/db/seed_scholarship_configs.py
Due: backend-tests, migration-check

chore: nstc-removed screenshots for PR #1363
  screenshots/nstc-removed/01-review-list.png
  screenshots/nstc-removed/01-review-modal-subtypes.png
  screenshots/nstc-removed/02-nstc-card-closeup.png
  screenshots/nstc-removed/03-viewport-both-cards.png
  screenshots/nstc-removed/04-moe1w-card-closeup.png
Due: none

fix: 移除國科會子類型的重複說明文字 (#1363)
  backend/alembic/versions/moe_1w_ay115_label_001.py
  backend/app/db/seed_scholarship_configs.py
Due: backend-tests, migration-check

fix: 移除國科會子類型的重複說明文字
  backend/alembic/versions/drop_nstc_subtype_description_001.py
  backend/app/db/seed_scholarship_configs.py
Due: backend-tests, migration-check

fix: 移除國科會子類型的重複說明文字 (#1364)
  backend/alembic/versions/drop_nstc_subtype_description_001.py
  backend/app/db/seed_scholarship_configs.py
Due: backend-tests, migration-check

fix: 縮短 nstc description migration 的 revision id
  backend/alembic/versions/drop_nstc_subtype_desc_001.py
Due: backend-tests, migration-check

fix: 縮短 nstc description migration 的 revision id (#1365)
  backend/alembic/versions/drop_nstc_subtype_desc_001.py
Due: backend-tests, migration-check

Revert "Merge pull request #79 from NYCUITSC/production-sync-20260904-071414"
  backend/alembic/versions/add_footer_link_section_001_add_section_to_footer_links.py
  backend/alembic/versions/drop_nstc_subtype_desc_001.py
  backend/alembic/versions/moe_1w_ay115_label_001.py
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/footer_links.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/models/__init__.py
  backend/app/models/footer_link.py
  backend/app/schemas/footer_link.py
  backend/app/services/application_service.py
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/admin/footer-links/AddFooterLinkDialog.tsx
  frontend/components/admin/footer-links/FooterLinksPanel.tsx
  frontend/components/admin/footer-links/sections.ts
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/components/file-upload.tsx
  frontend/components/footer.tsx
  frontend/components/professor-review-component.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/footer-links.ts
  frontend/lib/api/modules/professor.ts
  frontend/lib/i18n.ts
  frontend/lib/utils/example-document-preview.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

Revert "Revert "Merge pull request #79 from NYCUITSC/production-sync-20260904-071414""
  backend/alembic/versions/add_footer_link_section_001_add_section_to_footer_links.py
  backend/alembic/versions/drop_nstc_subtype_desc_001.py
  backend/alembic/versions/moe_1w_ay115_label_001.py
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/footer_links.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/models/__init__.py
  backend/app/models/footer_link.py
  backend/app/schemas/footer_link.py
  backend/app/services/application_service.py
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/admin/footer-links/AddFooterLinkDialog.tsx
  frontend/components/admin/footer-links/FooterLinksPanel.tsx
  frontend/components/admin/footer-links/sections.ts
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/components/file-upload.tsx
  frontend/components/footer.tsx
  frontend/components/professor-review-component.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/footer-links.ts
  frontend/lib/api/modules/professor.ts
  frontend/lib/i18n.ts
  frontend/lib/utils/example-document-preview.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

docs: trim derivable content from CLAUDE.md and move backend-only rules
  .claude/CLAUDE.md
  backend/CLAUDE.md
Due: backend-tests

feat: move dev seed and mock SIS to academic year 115
  backend/app/db/seed_ay115_demo.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/seed.py
  backend/scripts/generate_ay115_import_samples.py
  docs/samples/ay115/115_批次匯入.xlsx
  docs/samples/ay115/115_續領生匯入.xlsx
  frontend/e2e/specs/renewal-import.spec.ts
  frontend/e2e/specs/roster-generation.spec.ts
  mock-student-api/main.py
Due: backend-tests, frontend-tests, typescript-check

feat: tag AY115 demo student names by group (續領/匯入/新申請)
  backend/app/db/seed_ay115_demo.py
  backend/app/seed.py
  backend/scripts/generate_ay115_import_samples.py
  docs/samples/ay115/115_批次匯入.xlsx
  docs/samples/ay115/115_續領生匯入.xlsx
  mock-student-api/main.py
Due: backend-tests

feat: seed 續領 cohort as 113 award + 114 renewal with locked rosters
  backend/app/db/seed_ay115_demo.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/seed.py
Due: backend-tests

test: add Chinese classification tags and browser/API mode tags to e2e specs
  frontend/e2e/helpers/tags.ts
  frontend/e2e/specs/admin-approve-reject.spec.ts
  frontend/e2e/specs/admin-bulk-approve.spec.ts
  frontend/e2e/specs/admin-config-deadline.spec.ts
  frontend/e2e/specs/admin-manual-distribution.spec.ts
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
  frontend/e2e/specs/admin-restores-professor-reject.spec.ts
  frontend/e2e/specs/admin-returns-application.spec.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/admin-soft-delete-restore.spec.ts
  frontend/e2e/specs/admin-student-history.spec.ts
  frontend/e2e/specs/batch-import-upload.spec.ts
  frontend/e2e/specs/college-dept-summary-export.spec.ts
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
  frontend/e2e/specs/multi-role-phd.spec.ts
  frontend/e2e/specs/professor-reject-upsert.spec.ts
  frontend/e2e/specs/regulations-pdf-canvas.spec.ts
  frontend/e2e/specs/renewal-import.spec.ts
  frontend/e2e/specs/role-permissions.spec.ts
  frontend/e2e/specs/roster-admin.spec.ts
  frontend/e2e/specs/roster-generation.spec.ts
  frontend/e2e/specs/showcase-replay.spec.ts
  frontend/e2e/specs/student-draft-document-preview.spec.ts
  frontend/e2e/specs/student-draft-save.spec.ts
  frontend/e2e/specs/student-duplicate-reapply.spec.ts
  frontend/e2e/specs/student-history-access.spec.ts
  frontend/e2e/specs/student-subtype-label.spec.ts
  frontend/e2e/specs/student-withdraw.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
  frontend/e2e/specs/whitelist-remove.spec.ts
Due: frontend-tests, typescript-check

docs: add CI e2e report screenshots showing Chinese tag chips
  docs/screenshots/e2e-tags-ci-report-all.png
  docs/screenshots/e2e-tags-ci-report-browser-filter.png
  docs/screenshots/e2e-tags-ci-report-student-upload-filter.png
Due: none

feat: seed yearly 造冊 schedules for phd_113/114/115
  backend/app/db/seed_ay115_demo.py
Due: backend-tests

test: add click-to-select tag filter panel and Chinese describe titles to e2e report
  frontend/e2e/reporters/tag-filter-reporter.ts
  frontend/e2e/specs/admin-approve-reject.spec.ts
  frontend/e2e/specs/admin-bulk-approve.spec.ts
  frontend/e2e/specs/admin-config-deadline.spec.ts
  frontend/e2e/specs/admin-manual-distribution.spec.ts
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
  frontend/e2e/specs/admin-restores-professor-reject.spec.ts
  frontend/e2e/specs/admin-returns-application.spec.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/admin-soft-delete-restore.spec.ts
  frontend/e2e/specs/admin-student-history.spec.ts
  frontend/e2e/specs/batch-import-upload.spec.ts
  frontend/e2e/specs/college-dept-summary-export.spec.ts
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
  frontend/e2e/specs/multi-role-phd.spec.ts
  frontend/e2e/specs/professor-reject-upsert.spec.ts
  frontend/e2e/specs/regulations-pdf-canvas.spec.ts
  frontend/e2e/specs/renewal-import.spec.ts
  frontend/e2e/specs/role-permissions.spec.ts
  frontend/e2e/specs/roster-admin.spec.ts
  frontend/e2e/specs/roster-generation.spec.ts
  frontend/e2e/specs/showcase-replay.spec.ts
  frontend/e2e/specs/student-draft-document-preview.spec.ts
  frontend/e2e/specs/student-draft-save.spec.ts
  frontend/e2e/specs/student-duplicate-reapply.spec.ts
  frontend/e2e/specs/student-history-access.spec.ts
  frontend/e2e/specs/student-subtype-label.spec.ts
  frontend/e2e/specs/student-withdraw.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
  frontend/e2e/specs/whitelist-remove.spec.ts
  frontend/playwright.config.ts
Due: frontend-tests, typescript-check

feat: close out 114 with rankings + 114 新申請 recipients, pre-create 匯入 accounts
  backend/app/db/seed_ay115_demo.py
  backend/app/seed.py
  backend/scripts/generate_ay115_import_samples.py
  docs/samples/ay115/115_批次匯入.xlsx
  docs/samples/ay115/115_續領生匯入.xlsx
  mock-student-api/main.py
Due: backend-tests

docs: refresh e2e report screenshots with tag panel and Chinese titles
  docs/screenshots/e2e-tags-ci-report-all.png
  docs/screenshots/e2e-tags-ci-report-browser-filter.png
  docs/screenshots/e2e-tags-ci-report-student-upload-filter.png
Due: none

fix: adopt code-review findings for the AY115 seed
  backend/app/db/seed_ay115_demo.py
  backend/app/db/seed_scholarship_configs.py
  frontend/e2e/specs/admin-config-deadline.spec.ts
  mock-student-api/main.py
Due: backend-tests, frontend-tests, typescript-check

feat: let admins edit each year's MOE / NSTC display names
  backend/alembic/versions/add_config_sub_type_labels_001.py
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/models/scholarship.py
  backend/app/schemas/scholarship_configuration.py
  backend/app/services/application_service.py
  backend/app/services/export_package_service.py
  backend/app/services/export_summary_tables.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/scholarship_service.py
  backend/app/services/sub_type_labels.py
  backend/app/tests/test_export_summary_tables.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
  backend/app/tests/test_sub_type_labels.py
  frontend/components/admin-configuration-management.tsx
  frontend/components/admin/config/SubTypeLabelsEditor.tsx
  frontend/components/admin/config/__tests__/SubTypeLabelsEditor.test.tsx
  frontend/e2e/specs/student-subtype-label.spec.ts
  frontend/lib/api/types.ts
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: stream college export-package ZIP in bounded chunks (#1376)
  backend/app/api/v1/endpoints/college_review/export_package.py
  backend/app/services/export_package_service.py
  backend/app/services/zip_stream.py
  backend/app/tests/export_package_fakes.py
  backend/app/tests/test_export_package_dynamic_merge.py
  backend/app/tests/test_export_package_embeds_summary.py
  backend/app/tests/test_export_package_endpoint.py
  backend/app/tests/test_export_package_pure_helpers.py
  backend/app/tests/test_export_package_streaming.py
  backend/app/tests/test_zip_stream.py
  frontend/app/api/v1/export-package/route.ts
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/api/modules/__tests__/college.test.ts
  frontend/lib/api/modules/college.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore: regenerate OpenAPI types for export-package dry_run
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: harden export-package streaming after review (#1376)
  backend/app/api/v1/endpoints/college_review/export_package.py
  backend/app/services/export_package_service.py
  backend/app/tests/test_export_package_endpoint.py
  backend/app/tests/test_export_package_pure_helpers.py
  backend/app/tests/test_export_package_streaming.py
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/api/modules/__tests__/college.test.ts
  frontend/lib/api/modules/college.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: address export-package review findings (#1376)
  backend/app/api/v1/endpoints/college_review/export_package.py
  backend/app/core/config.py
  backend/app/services/export_package_service.py
  backend/app/services/zip_stream.py
  backend/app/tests/test_export_package_endpoint.py
  backend/app/tests/test_export_package_pure_helpers.py
  backend/app/tests/test_export_package_streaming.py
  backend/app/tests/test_zip_stream.py
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/utils/download.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test: keep the original English describe titles alongside the Chinese ones
  frontend/e2e/specs/admin-approve-reject.spec.ts
  frontend/e2e/specs/admin-bulk-approve.spec.ts
  frontend/e2e/specs/admin-config-deadline.spec.ts
  frontend/e2e/specs/admin-manual-distribution.spec.ts
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
  frontend/e2e/specs/admin-restores-professor-reject.spec.ts
  frontend/e2e/specs/admin-returns-application.spec.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/admin-soft-delete-restore.spec.ts
  frontend/e2e/specs/admin-student-history.spec.ts
  frontend/e2e/specs/batch-import-upload.spec.ts
  frontend/e2e/specs/college-dept-summary-export.spec.ts
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
  frontend/e2e/specs/multi-role-phd.spec.ts
  frontend/e2e/specs/professor-reject-upsert.spec.ts
  frontend/e2e/specs/regulations-pdf-canvas.spec.ts
  frontend/e2e/specs/renewal-import.spec.ts
  frontend/e2e/specs/role-permissions.spec.ts
  frontend/e2e/specs/roster-admin.spec.ts
  frontend/e2e/specs/roster-generation.spec.ts
  frontend/e2e/specs/showcase-replay.spec.ts
  frontend/e2e/specs/student-draft-document-preview.spec.ts
  frontend/e2e/specs/student-draft-save.spec.ts
  frontend/e2e/specs/student-duplicate-reapply.spec.ts
  frontend/e2e/specs/student-history-access.spec.ts
  frontend/e2e/specs/student-subtype-label.spec.ts
  frontend/e2e/specs/student-withdraw.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
  frontend/e2e/specs/whitelist-remove.spec.ts
Due: frontend-tests, typescript-check

PR #1378 Playwright verification screenshots
  screenshots/01-admin-config-list.png
  screenshots/02-admin-config-target-row.png
  screenshots/03-edit-dialog-subtype-labels-before.png
  screenshots/04-edit-dialog-subtype-labels-filled.png
  screenshots/05-edit-save-toast.png
  screenshots/06-view-dialog-labels.png
  screenshots/07-student-regulations-read.png
  screenshots/07-student-wizard-entry.png
  screenshots/08-student-step2.png
  screenshots/09-student-application-step.png
  screenshots/10-student-subtype-cards.png
  screenshots/11-student-subtype-cards-zoom.png
  screenshots/12-student-form-filled.png
  screenshots/13-student-submit-result.png
  screenshots/14-professor-dashboard.png
  screenshots/14-professor-review-list.png
  screenshots/15-professor-review-dialog.png
  screenshots/16-admin-distribution-quota.png
  screenshots/16-admin-distribution.png
Due: none

docs: refresh e2e report screenshots with bilingual titles
  docs/screenshots/e2e-tags-ci-report-all.png
  docs/screenshots/e2e-tags-ci-report-browser-filter.png
  docs/screenshots/e2e-tags-ci-report-student-upload-filter.png
Due: none

test: accept the per-year label kwargs in export aux-loader stubs
  backend/app/tests/test_export_package_dynamic_merge.py
  backend/app/tests/test_export_package_embeds_summary.py
Due: backend-tests

fix(roster): renewals roster in the paying year's period, per cycle, marked 續領
  backend/alembic/versions/roster_period_req_year_001.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_cycle_status_entry.py
  backend/app/tests/test_roster_renewal_period.py
  frontend/components/__tests__/roster-list-table-renewal-badge.test.tsx
  frontend/components/roster/RosterListTable.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(roster): show 分發獎學金 for renewals in the roster preview
  backend/app/api/v1/endpoints/payment_rosters.py
Due: backend-tests, api-types-check

feat(roster): a configuration owns its cohort's 36 months
  backend/alembic/versions/roster_owner_alloc_cfg_001.py
  backend/alembic/versions/roster_period_req_year_001.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/db/seed_ay115_demo.py
  backend/app/models/payment_roster.py
  backend/app/services/received_months_service.py
  backend/app/services/renewal_import_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_received_months_service.py
  backend/app/tests/test_renewal_import_service.py
  backend/app/tests/test_roster_cycle_status_entry.py
  backend/app/tests/test_roster_generate_per_config_group.py
  backend/app/tests/test_roster_renewal_period.py
  backend/app/tests/test_roster_service_core.py
  backend/app/tests/test_roster_service_generation.py
  docs/received-months-calculation.md
  frontend/components/roster/RosterListTable.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(roster): 博士生是月度造冊 — monthly seed, no 失敗 row for an empty period
  backend/app/db/seed_ay115_demo.py
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_renewal_period.py
  frontend/components/__tests__/roster-list-table-renewal-badge.test.tsx
  frontend/components/roster/RosterListTable.tsx
Due: backend-tests, frontend-tests, typescript-check

fix(renewal-import): 續領生 = the selected configuration's awardees
  backend/app/api/v1/endpoints/renewal_import.py
  backend/app/services/renewal_import_service.py
  backend/app/tests/test_renewal_import_endpoints.py
  frontend/components/renewal-import-panel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(seed): approved 115 續領 for both cohorts; 造冊管理 lists closed configs
  backend/app/db/seed_ay115_demo.py
  frontend/components/roster/CompactConfigSelector.tsx
Due: backend-tests, frontend-tests, typescript-check

chore(seed): label the 113 cohort as 113續領生; no 115 renewal for the ceiling student
  backend/app/db/seed_ay115_demo.py
  backend/scripts/generate_ay115_import_samples.py
  docs/samples/ay115/115_批次匯入.xlsx
  docs/samples/ay115/115_續領生匯入.xlsx
  mock-student-api/main.py
Due: backend-tests

chore(seed): name demo students by their cohort — 113續領生-… / 114續領生-…
  backend/app/db/seed_ay115_demo.py
  backend/app/seed.py
  backend/scripts/generate_ay115_import_samples.py
  docs/samples/ay115/115_續領生匯入.xlsx
  mock-student-api/main.py
Due: backend-tests

fix(seed): restore the 36-month ceiling exclusion lost by the rename commit
  backend/app/db/seed_ay115_demo.py
Due: backend-tests
