Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

chore(dev): seed multi-department PhD demo data for 申請總表 export
  backend/scripts/seed_summary_export_demo.py
  mock-student-api/main.py
Due: backend-tests

fix(reference-data): include academy_code in /all response
  backend/app/api/v1/endpoints/reference_data.py
Due: backend-tests, api-types-check

feat(ranking): add template flag to export-excel for blank-rank import template
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/tests/test_ranking_export_template.py
Due: backend-tests, api-types-check

feat(ranking): extract pure parser for 彙整表-format ranking import
  frontend/lib/ranking/__tests__/parse-ranking-sheet.test.ts
  frontend/lib/ranking/parse-ranking-sheet.ts
Due: frontend-tests, typescript-check

feat(ranking): parse 彙整表-format file on ranking import via shared parser
  frontend/components/college-ranking-table.tsx
Due: frontend-tests, typescript-check

feat(ranking): add downloadRankingTemplate API helper (export-excel?template=true)
  frontend/lib/api/modules/__tests__/college.test.ts
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

feat(ranking): download 彙整表 template (blank rank) from backend instead of client 4-col build
  frontend/components/college-ranking-table.tsx
Due: frontend-tests, typescript-check

docs(ranking): correct import-excel docstring to reflect 彙整表 JSON contract
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

fix(applications): correct broken get_applications_for_review response builder
  backend/app/services/application_service.py
Due: backend-tests

perf(roster): eager-load student & scholarship_type in _get_eligible_applications
  backend/app/services/roster_service.py
Due: backend-tests

fix(tests): repair _sa_instance_state model-construction in pure-helper tests
  backend/app/tests/test_eligibility_verification_pure_helpers.py
  backend/app/tests/test_scholarship_configuration_helpers.py
  backend/app/tests/test_scholarship_rule_model.py
  backend/app/tests/test_scholarship_type_pure_helpers.py
  backend/app/tests/test_user_model_role_checks.py
  backend/app/tests/test_user_profile_and_task_models.py
Due: backend-tests

perf(frontend): lazy-load xlsx (sheetjs) instead of top-level import
  frontend/components/college-ranking-table.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

perf(db): add indexes for audit-log lookups and applications config FK
  backend/alembic/versions/20260531_add_performance_indexes.py
  backend/app/models/application.py
  backend/app/models/audit_log.py
Due: backend-tests, api-types-check, migration-check

fix(notifications): use scholarship_name in emails + add contract tests
  backend/app/services/scholarship_notification_service.py
  backend/app/tests/test_scholarship_notification_service.py
Due: backend-tests

test(email): add contract tests for EmailManagementService scheduled-email lifecycle
  backend/app/tests/test_email_management_service.py
Due: backend-tests

fix(tests): repair pre-existing unit-suite failures (wrong class + stale model API)
  backend/app/tests/test_scholarship_service_pure_helpers.py
  backend/app/tests/test_semester_yearly_labels.py
Due: backend-tests

fix(tests): convert test_scholarship_configuration_service to async (was sync-calling-async)
  backend/app/tests/test_scholarship_configuration_service.py
Due: backend-tests

fix(tests+model): move can_student_apply* to ScholarshipConfiguration; repair renewal tests
  backend/app/models/scholarship.py
  backend/app/tests/test_renewal_flow_sequence.py
  backend/app/tests/test_scholarship_renewal.py
Due: backend-tests, api-types-check, migration-check

fix: two real bugs (whitelist parser, renewal-review validator) + unit contract updates
  backend/app/schemas/scholarship_configuration.py
  backend/app/services/whitelist_excel_service.py
  backend/app/tests/test_shared_enums_value_contract.py
  backend/app/tests/test_type_fixes.py
Due: backend-tests, api-types-check

fix(tests): force-disable SIS API in StudentService `service` fixture
  backend/app/tests/test_student_service.py
Due: backend-tests

fix: resolve latent renamed-attribute bugs (#859, #865)
  backend/app/services/application_service.py
  backend/app/services/scholarship_service.py
  backend/app/tests/test_scholarship_application_service_helpers.py
  backend/app/tests/test_scholarship_service_pure_helpers.py
Due: backend-tests

fix(roster): resilient export dir + nycu test cache isolation (nightly #869)
  backend/app/services/excel_export_service.py
  backend/app/tests/test_nycu_employee_endpoints.py
Due: backend-tests

fix(e2e): align professor-reject-upsert spec with reject-is-rejected policy (#869)
  backend/app/tests/test_review_service_status_gating.py
  frontend/e2e/specs/professor-reject-upsert.spec.ts
Due: backend-tests, frontend-tests, typescript-check

fix(lint): drop redundant PermissionError in except (B014) from #874
  backend/app/services/excel_export_service.py
Due: backend-tests

fix: auto-fix CI failure for PR #857 — collapse Query() call to one line for black
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

fix: auto-fix CI failure for PR #856 — collapse db.execute() call to one line for black
  backend/scripts/seed_summary_export_demo.py
Due: backend-tests

fix(roster): preserve traceback in export-dir warning (WARNING-traceback invariant)
  backend/app/services/excel_export_service.py
Due: backend-tests

fix(tests): deterministic tamper in pii-crypto test (flaky DID NOT RAISE)
  backend/app/tests/test_pii_crypto_helpers.py
Due: backend-tests

fix(e2e): professor cannot re-review a rejected app (403), per policy (#869)
  frontend/e2e/specs/professor-reject-upsert.spec.ts
Due: frontend-tests, typescript-check

docs(claude): capture testing/lint/CI + model/perf lessons from the 2026-05-30 cleanup
  .claude/CLAUDE.md
Due: none

fix(applications): draft keeps uploaded files + inline preview works
  backend/app/services/application_service.py
  frontend/middleware.ts
Due: backend-tests, frontend-tests, typescript-check

fix(preview): build same-origin /api/v1/preview URL from file_id (staging base_url is localhost)
  frontend/components/file-upload.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

fix(minio): clone bank document with correct CopySource API; stop writing placeholder
  backend/app/services/minio_service.py
Due: backend-tests

fix(applications): draft keeps uploaded files + inline document preview works (#885)
  backend/app/services/application_service.py
  frontend/components/file-upload.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/middleware.ts
Due: backend-tests, frontend-tests, typescript-check

test(minio): assert clone uses CopySource and raises (no placeholder) on copy failure
  backend/app/tests/test_minio_service_unit.py
Due: backend-tests

fix(minio): clone bank document with correct CopySource API; stop writing placeholder (#887)
  backend/app/services/minio_service.py
  backend/app/tests/test_minio_service_unit.py
Due: backend-tests

fix: auto-fix CI failure for PR #856 — black formatting in seed script
  backend/scripts/seed_summary_export_demo.py
Due: backend-tests

fix: auto-fix CI failure for PR #857 — black formatting in ranking endpoint
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

fix(applications): consolidate document enrichment to shared helper in 4 read/submit paths
  backend/app/services/application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

