Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

test(e2e): admin config deadline enforcement — create/PUT/student-apply
  frontend/e2e/specs/admin-config-deadline.spec.ts
Due: frontend-tests, typescript-check

test(e2e): admin return application → student re-submit flow (issue #76)
  frontend/e2e/specs/admin-returns-application.spec.ts
Due: frontend-tests, typescript-check

test(e2e): admin bulk-approve submitted application (issue #76)
  frontend/e2e/specs/admin-bulk-approve.spec.ts
Due: frontend-tests, typescript-check

test(e2e): college dept-summary-export @nightly spec
  frontend/e2e/specs/college-dept-summary-export.spec.ts
Due: frontend-tests, typescript-check

test(e2e): admin soft-delete + restore lifecycle (issue #76)
  frontend/e2e/specs/admin-soft-delete-restore.spec.ts
Due: frontend-tests, typescript-check

test(e2e): duplicate-application prevention + post-withdrawal reapply (issue #76)
  frontend/e2e/specs/student-duplicate-reapply.spec.ts
Due: frontend-tests, typescript-check

test(e2e): admin approve + reject status transitions (issue #76)
  frontend/e2e/specs/admin-approve-reject.spec.ts
Due: frontend-tests, typescript-check

fix: pre-merge review — full SIS snapshot, batched sequence, audit log, count, MIME check
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/supplementary_import_service.py
  backend/app/tests/test_supplementary_import_service.py
Due: backend-tests, api-types-check

fix: auto-fix CI failure for PR #745 — regenerate OpenAPI types
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: regenerate schema.d.ts with supplementary-import endpoints for PR #745
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: update schema.d.ts with correct supplementary-import types for PR #745
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: add is_supplementary to DistributionSummaryStudent interface
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

fix: add is_supplementary to DistributionSummaryStudent (raw text)
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

fix: update schema.d.ts with supplementary-import types (raw text)
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: auto-fix CI failure for PR #745 — regenerate OpenAPI types and add is_supplementary field
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

fix: add is_supplementary field to DistributionStudent and DistributionSummaryStudent interfaces
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

fix: regenerate OpenAPI types — add supplementary-import endpoints and DistributionStudent fields
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: restore full schema.d.ts (21819 lines) — all OpenAPI types for PR #745
  frontend/lib/api/generated/schema.d.ts
Due: none

feat(email): wire college_review_submitted automation trigger in reviews.py
  backend/app/api/v1/endpoints/reviews.py
Due: backend-tests, api-types-check

chore(skill): add screenshots-in-worktree project skill
  .claude/skills/screenshots-in-worktree/SKILL.md
Due: none

fix(admin-ui): admin can now reach supplementary import toggle
  backend/app/core/security.py
  docs/samples/supplementary-import-example.xlsx
  frontend/components/college/CollegeManagementShell.tsx
Due: backend-tests, frontend-tests, typescript-check

refactor: move supplementary-import toggle from CollegeRanking → ScholarshipConfiguration
  backend/alembic/versions/add_supplementary_import_001.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/models/college_review.py
  backend/app/models/scholarship.py
  backend/app/tests/test_supplementary_import_endpoints.py
  frontend/components/admin-configuration-management.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/lib/api/modules/college.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(e2e): repair 4 nightly @nightly spec failures
  backend/app/api/v1/endpoints/applications.py
  backend/app/seed.py
  backend/app/services/bulk_approval_service.py
  backend/app/services/review_service.py
Due: backend-tests, api-types-check

revert: restrict supplementary-import toggle access to admin system management
  backend/app/core/security.py
  frontend/components/college/CollegeManagementShell.tsx
Due: backend-tests, frontend-tests, typescript-check

refactor(admin-ui): remove [補充] badge from manual distribution panel
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix(supplementary-import): populate scholarship_subtype_list so apps appear in manual distribution
  backend/app/services/supplementary_import_service.py
Due: backend-tests

feat(ui): redesign supplementary-import controls
  frontend/components/admin-configuration-management.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

fix(export): rename reserved 'filename' key in logger.info extra dict
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
Due: backend-tests, api-types-check

fix(export): rename reserved 'filename' key in export_package logger.info extra
  backend/app/api/v1/endpoints/college_review/export_package.py
Due: backend-tests, api-types-check

chore: update API types for PATCH status endpoint
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(supplementary-import): reject students from other colleges
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

fix: normalize status comparison to handle SQLite strings vs PostgreSQL enum members
  backend/app/services/bulk_approval_service.py
Due: backend-tests

feat(supplementary-import-ui): surface backend error detail inline
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

fix(supplementary-import): read error message from ApiResponse wrapper
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

refactor(supplementary-import): use canonical college extractor
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

test(supplementary-import): cover college-mismatch guard + subtype_list population
  backend/app/tests/test_supplementary_import_endpoints.py
  backend/app/tests/test_supplementary_import_service.py
Due: backend-tests

chore(ci): black 26.3.1 + regenerated OpenAPI types
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/models/college_review.py
  backend/app/services/supplementary_import_service.py
  backend/app/tests/test_supplementary_import_endpoints.py
  backend/app/tests/test_supplementary_import_service.py
  backend/app/tests/unit/test_supplementary_import_service.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check, migration-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

