Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

feat: add config-driven prior_quota_years to scholarship configurations
  backend/alembic/versions/add_prior_quota_years_to_config.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/models/scholarship.py
  backend/app/services/manual_distribution_service.py
Due: backend-tests, api-types-check, migration-check

feat: enhance roster with distribution info and snapshot fields
  backend/alembic/versions/add_allocation_year_to_roster_items.py
  backend/alembic/versions/add_roster_item_distribution_fields.py
  backend/alembic/versions/add_roster_sub_type_and_project_fields.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/models/payment_roster.py
  backend/app/schemas/payment_roster.py
  backend/app/schemas/roster.py
  backend/app/services/roster_service.py
  frontend/components/admin-configuration-management.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/components/roster/RosterListTable.tsx
  frontend/lib/api/modules/manual-distribution.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat: add allocation info to preview-students, StudentRosterPreview, and Excel export
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/excel_export_service.py
  frontend/components/roster/StudentRosterPreview.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: update staging image owner from jotpalch to anud18
  docker-compose.staging.yml
Due: docker-compose-check

fix: handle prior_quota_years stored as string instead of dict
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/services/manual_distribution_service.py
Due: backend-tests, api-types-check

feat: add sub_type_preferences field to Application model and schemas
  backend/alembic/versions/add_sub_type_preferences_001.py
  backend/app/models/application.py
  backend/app/schemas/application.py
Due: backend-tests, api-types-check, migration-check

feat: add auto_allocate_preview algorithm with tests (TDD)
  backend/app/services/manual_distribution_service.py
  backend/tests/test_auto_allocate_preview.py
Due: backend-tests

feat: add /auto-allocate-preview API endpoint
  backend/app/api/v1/endpoints/manual_distribution.py
Due: backend-tests, api-types-check

feat: add sub-type preference ordering UI to application form
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

feat: integrate auto-allocate preview into distribution page
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

fix: add sub_type_preferences validator to ApplicationUpdate schema
  backend/app/schemas/application.py
Due: backend-tests, api-types-check

fix: resolve TypeScript error and regenerate API types
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/generated/schema.d.ts
Due: frontend-tests, typescript-check

fix: address code review findings
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/tests/test_auto_allocate_preview.py
Due: backend-tests, api-types-check

fix: address final review — allocation subtraction and permutation validation
  backend/app/schemas/application.py
  backend/app/services/manual_distribution_service.py
Due: backend-tests, api-types-check

feat: change PhD scholarship from hierarchical to multiple sub-type selection
  backend/alembic/versions/update_phd_selection_mode_001.py
  backend/app/seed.py
  backend/tests/test_phd_sub_type_selection.py
Due: backend-tests, migration-check

feat: add renewal_year support for batch import and ranking integration
  backend/alembic/versions/add_renewal_year_001.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/models/application.py
  backend/app/schemas/batch_import.py
  backend/app/seed.py
  backend/app/services/batch_import_service.py
  backend/app/services/college_review_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/unit/__init__.py
  backend/app/tests/unit/conftest.py
  docs/博士生獎學金_批次匯入範例.xlsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  mock-student-api/main.py
  scripts/clear_import_data.sh
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: prevent allocation to sub-types student did not apply for
  backend/app/services/manual_distribution_service.py
Due: backend-tests

fix: add renewal_year and scholarship_subtype_list to test mock
  backend/tests/test_auto_allocate_preview.py
Due: backend-tests

fix: add mock SIS data for all DB students missing from mock API
  mock-student-api/main.py
Due: none

fix: add mock SIS data for all DB students missing from mock API (#27)
  mock-student-api/main.py
Due: none

fix: correct enum member vs string comparisons in application status checks
  backend/app/models/application.py
  backend/app/services/analytics_service.py
  backend/app/services/application_service.py
Due: backend-tests, api-types-check, migration-check

refactor: add _serialize_result helper and return existing draft on duplicate
  backend/app/api/v1/endpoints/applications.py
Due: backend-tests, api-types-check

chore: add test scripts for application seeding and cleanup
  scripts/clear_applications.sh
  scripts/seed_csphd001_draft.py
  scripts/seed_test_draft.sh
Due: none

fix: respect sub-type preference order in auto-allocation
  backend/app/services/batch_import_service.py
  backend/app/services/manual_distribution_service.py
  backend/tests/test_auto_allocate_preview.py
Due: backend-tests

fix: address PR review feedback
  backend/app/api/v1/endpoints/applications.py
  backend/app/services/application_service.py
  scripts/clear_applications.sh
  scripts/seed_csphd001_draft.py
  scripts/seed_test_draft.sh
Due: backend-tests, api-types-check

feat: support numeric priority in batch import sub-type columns
  backend/app/services/batch_import_service.py
  docs/博士生獎學金_批次匯入範例.xlsx
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

