Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

feat(config): list GET emits shared_quota_sources+project_numbers, drops prior_quota_years
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
Due: backend-tests, api-types-check

feat(roster): payment_rosters allocation_map reads CollegeRankingItem.allocation_config_id
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/tests/test_payment_roster_allocation_map.py
Due: backend-tests, api-types-check

test(roster): pin excel/history readers to kept PaymentRosterItem.allocation_year snapshot
  backend/app/tests/test_display_snapshot_readers_unaffected.py
Due: backend-tests

test(fe): pin allocate body to allocation_config_id (RED)
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
Due: frontend-tests, typescript-check

feat(fe): AllocationItem/Suggestion use allocation_config_id
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

feat(fe): config-keyed quota column type (by_config/SubTypeConfigCol)
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

feat(fe): DistributionStudent/AvailableQuota pool keys → config
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

feat(fe): roster/summary/freed_slot keyed on allocation_config_id
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

fix(task 6.5): address review
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

fix(task 6.5): address review
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

feat(fe): panel columns keyed on (sub_type, config)
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat(fe): seed localAllocations from allocation_config_id
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat(fe): handleCheckbox + allocate/preview payload use config_id
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat(fe): grid cells/header/sidebar/roster-label + available-quota block use config columns
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat(fe): ScholarshipConfiguration project_numbers flat + shared_quota_sources
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

fix(roster): restore endpoint returns 404 for missing roster/item (spec §4.1)
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/roster_service.py
  backend/app/tests/test_payment_rosters_api.py
  backend/app/tests/test_roster_item_removal_service.py
Due: backend-tests, api-types-check

feat(fe): shared_quota_sources picker + project_numbers field replace prior_quota_years
  frontend/components/admin-configuration-management.tsx
Due: frontend-tests, typescript-check

feat(seed): flat project_numbers + shared_quota_sources, sibling project codes
  backend/app/db/seed_scholarship_configs.py
Due: backend-tests

feat(seed): distribution test data uses allocation_config_id
  backend/scripts/seed_distribution_test_data.py
Due: backend-tests

fix(roster): address PR review — typed restore exceptions, audit empty-state honors filter, spec status
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_item_removal_service.py
  docs/superpowers/specs/2026-06-08-roster-removed-restore-audit-design.md
  frontend/components/roster/RosterDetailDialog.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(application): hide sub-type preference ordering, force moe_1w first (#913)
  backend/app/services/application_service.py
  backend/app/tests/test_update_application_deep.py
  docs/screenshots/hide-preference-ordering/A-both-subtypes-selected.png
  docs/screenshots/hide-preference-ordering/after-ordering-hidden.png
  docs/screenshots/hide-preference-ordering/before-ordering-visible.png
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: backend-tests, frontend-tests, typescript-check

feat(migration): MIGRATION 1 — add allocation_config_id + backfill + shared_quota_sources
  backend/alembic/versions/20260608_shared_quota_pools_add.py
  backend/tests/test_migration_shared_quota_pools.py
Due: backend-tests, migration-check

feat(migration): MIGRATION 2 — drop dead allocation_year + prior_quota_years
  backend/alembic/versions/20260608_shared_quota_pools_drop.py
Due: backend-tests, migration-check

fix(migration): cast enum semester to text in MIGRATION 1 backfill
  backend/alembic/versions/20260608_shared_quota_pools_add.py
Due: backend-tests, migration-check

docs: spec for embedding 申請總表 into /export-package ZIP
  docs/superpowers/specs/2026-06-08-embed-summary-tables-in-export-package-design.md
Due: none

docs: implementation plan for embedding 申請總表 into /export-package
  docs/superpowers/plans/2026-06-08-embed-summary-tables-in-export-package.md
Due: none

test(backend): rewrite §13 fixtures for allocation_config_id + shared_quota_sources
  backend/app/tests/test_distribution_state_endpoint.py
  backend/app/tests/test_roster_distribution_reconcile_service.py
Due: backend-tests

feat(export): add export_summary_tables module with sort/dept helpers
  backend/app/services/export_summary_tables.py
  backend/app/tests/test_export_summary_tables.py
Due: backend-tests

feat(export): embed 申請總表 workbooks into /export-package ZIP
  backend/app/services/export_package_service.py
  backend/app/tests/test_export_package_embeds_summary.py
Due: backend-tests

refactor(export): share single _sort_key between summary-export and package
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
Due: backend-tests, api-types-check

fix(distribution): emit allocation_config_id from distribution builders + drop dead ORM columns
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/models/college_review.py
  backend/app/models/scholarship.py
  backend/app/services/manual_distribution_service.py
Due: backend-tests, api-types-check, migration-check

chore(fe): regenerate OpenAPI schema (allocation_config_id)
  frontend/lib/api/generated/schema.d.ts
Due: none

test(backend): align fixtures with dropped prior_quota_years + roster.allocation_config_id
  backend/app/tests/test_models_allocation_config.py
  backend/app/tests/test_roster_service_core.py
Due: backend-tests

fix(roster): add item_restore to PG rosterauditaction enum (restore 500 fix)
  backend/alembic/versions/add_item_restore_audit_001.py
  backend/app/tests/test_roster_audit_log_model.py
  docs/superpowers/plans/2026-06-08-roster-removed-restore-audit.md
  docs/superpowers/specs/2026-06-08-roster-removed-restore-audit-design.md
Due: backend-tests, migration-check

refactor(simplify): drop dead pool helpers + hoist shared-quota candidate filter
  backend/app/services/manual_distribution_service.py
  frontend/components/admin-configuration-management.tsx
Due: backend-tests, frontend-tests, typescript-check

fix(roster): full-suite green — gate revoked/suspended on is_included + enum pin + soft-delete test
  backend/app/services/roster_service.py
  backend/app/tests/test_misc_enums_contract.py
  backend/app/tests/test_revoke_suspend_flow.py
  backend/app/tests/test_roster_audit_log_model.py
Due: backend-tests

fix(config): carry academic_year into edit formData so shared-quota picker isn't always empty
  frontend/components/admin-configuration-management.tsx
Due: frontend-tests, typescript-check

fix(apply): key scholarship selector on configuration_id, not type code
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

refactor(export): /simplify cleanup of embedded summary tables
  backend/app/services/export_summary_tables.py
  backend/app/tests/test_export_summary_tables.py
Due: backend-tests

refactor(export): log full table path on build failure (code-review)
  backend/app/services/export_summary_tables.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

