Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

Remove empty SMTP password default and fix attribute naming bugs
  backend/app/core/config.py
  backend/app/services/config_management_service.py
  backend/app/services/notification_service.py
  backend/app/tests/test_core_utilities.py
Due: backend-tests

Fix Alembic migration failure in CI by adding missing DATABASE_URL
  .github/workflows/ci.yml
Due: none

Release v0.10.6 (#24)
  backend/app/core/config.py
  backend/app/services/config_management_service.py
  backend/app/services/notification_service.py
  frontend/BATCH_MIGRATION.sh
  frontend/components/dynamic-application-form.tsx
  frontend/components/payment-roster-list.tsx
  frontend/lib/utils/url-validation.ts
  frontend/regenerate-deps.sh
  frontend/test-api-connection.js
  frontend/test-output.txt
  monitoring/config/grafana/grafana.ini
Due: backend-tests, frontend-tests, typescript-check

feat: enhance roster management with student preview and auto-selection
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/roster_schedules.py
  frontend/components/create-schedule-dialog.tsx
  frontend/components/roster-management-dashboard.tsx
  frontend/components/roster/CompactConfigSelector.tsx
  frontend/components/roster/ConfigInfoCard.tsx
  frontend/components/roster/ConfigSelector.tsx
  frontend/components/roster/CreateSchedulePrompt.tsx
  frontend/components/roster/MatrixQuotaDisplay.tsx
  frontend/components/roster/PeriodDetailDialog.tsx
  frontend/components/roster/RosterCycleTimeline.tsx
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/components/roster/RosterListTable.tsx
  frontend/components/roster/ScheduleSettingDialog.tsx
  frontend/components/roster/StudentRosterPreview.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

Fix seed data step missing environment variables in CI
  .github/workflows/ci.yml
Due: none

Add TESTING environment variable to Alembic migration step
  .github/workflows/ci.yml
Due: none

feat: implement comprehensive Content Security Policy (CSP) protection
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/api/v1/endpoints/admin/scholarships.py
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/csp_report.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/api/v1/endpoints/roster_schedules.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/schemas/roster_schedule.py
  backend/app/services/college_review_service.py
  backend/app/services/github_integration_service.py
  backend/app/utils/academic_period.py
  docs/CSP_IMPLEMENTATION.md
  frontend/app/page.tsx
  frontend/components/create-schedule-dialog.tsx
  frontend/components/roster/CreateSchedulePrompt.tsx
  frontend/components/roster/MatrixQuotaDisplay.tsx
  frontend/components/roster/RosterListTable.tsx
  frontend/components/roster/StudentRosterPreview.tsx
  frontend/lib/utils/jwt.ts
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: address security scan vulnerabilities (SQL injection, information disclosure)
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/email_automation.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/main.py
  backend/app/services/email_automation_service.py
  docs/SECURITY_FIXES.md
  frontend/next.config.mjs
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: backend-tests, frontend-tests, api-types-check

feat: enhance security - fix cache headers and prevent information leakage
  frontend/app/api/v1/download/route.ts
  frontend/app/api/v1/preview-document-example/route.ts
  frontend/app/api/v1/preview-terms/route.ts
  frontend/app/api/v1/preview/route.ts
  frontend/hooks/use-auth.tsx
  frontend/lib/api/client.ts
  frontend/lib/utils/logger.ts
  frontend/next.config.mjs
Due: frontend-tests, typescript-check

chore: add pydantic-settings dependency for enhanced configuration management
  backend/requirements.txt
Due: python-safety-check, backend-tests

refactor: update nonce generation in middleware to use Web Crypto API
  frontend/middleware.ts
Due: frontend-tests, typescript-check

feat: optimize performance and enhance payment roster calendar display
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/utils/academic_period.py
  frontend/app/layout.tsx
  frontend/components/providers/app-provider.tsx
  frontend/components/roster/RosterCycleTimeline.tsx
  frontend/components/ui/table.tsx
  frontend/hooks/admin/use-dashboard.ts
  frontend/hooks/admin/use-workflows.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/next.config.mjs
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check

chore: update CI workflow to include TESTING environment variable and modify DATABASE_URL for database initialization
  .github/workflows/api-types-check.yml
Due: none

chore: update test files to streamline mocking and improve clarity
  frontend/components/__tests__/admin-configuration-management.test.tsx
  frontend/components/__tests__/dev-login-page.test.tsx
  frontend/junit.xml
Due: frontend-tests, typescript-check

fix: prevent polynomial ReDoS vulnerability in email automation validation
  backend/app/api/v1/endpoints/email_automation.py
  backend/app/tests/test_email_automation_redos_fix.py
Due: backend-tests, api-types-check

fix: resolve 11 TypeScript errors and remove orphaned React Query code
  frontend/app/page.tsx
  frontend/components/providers/query-provider.tsx
  frontend/components/roster-management-dashboard.tsx
  frontend/components/roster/PeriodDetailDialog.tsx
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/components/roster/RosterListTable.tsx
  frontend/components/roster/ScheduleSettingDialog.tsx
Due: frontend-tests, typescript-check

feat: enhance file upload security and add CSP nonce support
  frontend/app/NonceProvider.tsx
  frontend/app/api/v1/scholarships/[type]/upload-terms/route.ts
  frontend/app/layout.tsx
Due: frontend-tests, typescript-check

fix: use Student API data for department info and SWR for display
  backend/app/services/portal_sso_service.py
  frontend/components/admin/students/StudentListManagement.tsx
Due: backend-tests, frontend-tests, typescript-check

fix: remove deprecated X-XSS-Protection header to prevent legacy browser vulnerabilities
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

feat: auto-create required directories in make init-all
  Makefile
Due: none

docs: add database initialization warning to README
  README.md
Due: none

fix: upgrade black to 24.8.0 in CI workflow for Python 3.13 support
  .github/workflows/ci.yml
Due: none

fix: resolve TypeScript type errors in roster components
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/lib/api/modules/payment-rosters.ts
Due: frontend-tests, typescript-check

style: fix code formatting with Black formatter
  .pre-commit-config.yaml
  backend/pyproject.toml
Due: backend-tests

style: apply Black formatting to consolidate multi-line Field definitions
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/application.py
  backend/app/schemas/scholarship_configuration.py
  backend/app/services/excel_export_service.py
  backend/app/services/roster_service.py
Due: backend-tests, api-types-check

refactor: remove check_and_fix_roster_consistency.py script
  backend/check_and_fix_roster_consistency.py
Due: backend-tests

Delete backend/check_and_fix_roster_consistency.py
  backend/check_and_fix_roster_consistency.py
Due: backend-tests

fix: improve roster preview error handling with specific error messages
  backend/app/api/v1/endpoints/payment_rosters.py
  frontend/components/roster/StudentRosterPreview.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(ssl): downgrade Python to 3.12 to avoid OpenSSL certificate verification issues
  backend/Dockerfile
Due: backend-tests

fix: improve error messaging for missing student and scholarship configuration
  backend/app/services/roster_service.py
Due: backend-tests

fix: auto-set scholarship_configuration_id in batch import and resolve async lazy loading errors
  backend/app/api/v1/endpoints/roster_schedules.py
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests, api-types-check

fix: resolve duplicate roster schedules and add regenerate UI
  backend/app/api/v1/endpoints/roster_schedules.py
  frontend/components/roster/RosterListTable.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: update enum key from Semester.annual to Semester.yearly
  backend/app/services/batch_import_service.py
Due: backend-tests

fix: map Semester.yearly to NULL for ScholarshipConfiguration queries
  backend/app/services/batch_import_service.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

