Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix: improve error detection for admin approval/rejection
  frontend/components/common/ApplicationReviewDialog.tsx
Due: frontend-tests, typescript-check

fix: standardize submitted_form_data to new format with fields and documents structure
  backend/app/services/application_service.py
  frontend/components/application-form-data-display.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
Due: backend-tests, frontend-tests, typescript-check

fix: apply data normalization in _integrate_application_file_data for ApplicationListResponse
  backend/app/services/application_service.py
Due: backend-tests

fix: normalize form data in get_application_by_id endpoint
  backend/app/services/application_service.py
Due: backend-tests

fix: return normalized form data in get_application_by_id response
  backend/app/services/application_service.py
Due: backend-tests

fix: refresh application list after college review actions
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

fix: sync application status across ranking and review pages
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

fix: exclude rejected applications from matrix distribution
  backend/app/services/matrix_distribution.py
Due: backend-tests

chore: update codebase with various improvements and fixes
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  GEMINI.md
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/core/security.py
  backend/app/main.py
  backend/app/schemas/college_review.py
  backend/app/services/application_field_service.py
  backend/app/services/application_service.py
  backend/app/services/batch_import_service.py
  backend/app/utils/audit_helpers.py
  backend/app/utils/endpoint_decorators.py
  frontend/app/page.tsx
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/application-form-data-display.tsx
  frontend/components/batch-application-file-upload.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/distribution-results-panel.tsx
  frontend/components/user-permission-management.tsx
  frontend/hooks/use-student-preview.ts
  frontend/junit.xml
  frontend/lib/api.legacy.ts
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: resolve CI test failures and coverage issues
  frontend/components/__tests__/application-form-data-display.test.tsx
  frontend/components/application-form-data-display.tsx
  frontend/jest.config.js
  frontend/junit.xml
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/applications.ts
Due: frontend-tests, typescript-check

fix: resolve CI test failures and coverage issues
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  frontend/components/application-form-data-display.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: resolve null reference error in confidence score display and update Docker setup
  backend/Dockerfile
  frontend/components/common/ApplicationReviewDialog.tsx
Due: backend-tests, frontend-tests, typescript-check

fix: resolve Docker build context issue for email templates
  .github/workflows/deploy-pipeline.yml
  .gitignore
  backend/Dockerfile
Due: backend-tests

fix: update GPA null check in ApplicationReviewDialog
  frontend/components/common/ApplicationReviewDialog.tsx
Due: frontend-tests, typescript-check

refactor: enhance student preview display in ApplicationReviewDialog
  frontend/components/common/ApplicationReviewDialog.tsx
Due: frontend-tests, typescript-check

fix: improve student preview fetching logic in ApplicationReviewDialog
  frontend/components/common/ApplicationReviewDialog.tsx
Due: frontend-tests, typescript-check

feat: enhance batch import service to prioritize SIS data for new users
  backend/app/services/batch_import_service.py
Due: backend-tests

refactor: migrate scholarship components to use useScholarshipData SWR hook (#98)
  .github/workflows/gemini-dispatch.yml
  .github/workflows/gemini-review.yml
  .github/workflows/gemini-scheduled-triage.yml
  .github/workflows/gemini-triage.yml
  backend/alembic/versions/6d5b1940bf8a_seed_reference_tables_degrees_.py
  backend/alembic/versions/cd2d48ec6d34_add_backup_allocations_to_ranking_items.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/utilities.py
  backend/app/models/college_review.py
  backend/app/services/application_service.py
  backend/app/services/matrix_distribution.py
  docker-manager.sh
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/batch-application-file-upload.tsx
  frontend/components/college/CollegeManagementShell.tsx
  frontend/components/college/PermissionStatusPanel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/distribution-results-panel.tsx
  frontend/components/examples/scholarship-data-example.tsx
  frontend/contexts/college-management-context.tsx
  frontend/docs/SCHOLARSHIP_DATA_QUICKSTART.md
  frontend/docs/use-scholarship-data.md
  frontend/hooks/__tests__/use-scholarship-data.test.tsx
  frontend/hooks/use-reference-data.ts
  frontend/hooks/use-scholarship-data.ts
  frontend/jest.config.js
  frontend/junit.xml
  frontend/lib/api.legacy.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

refactor: improve error handling and student data enrichment
  backend/alembic/versions/07e9ece93d90_add_backup_info_to_payment_roster_items.py
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/models/document_request.py
  backend/app/models/email_management.py
  backend/app/models/payment_roster.py
  backend/app/schemas/college_review.py
  backend/app/services/alternate_promotion_service.py
  backend/app/services/application_enricher_service.py
  backend/app/services/batch_import_service.py
  backend/app/services/matrix_distribution.py
  backend/app/services/plugins/__init__.py
  backend/app/services/plugins/phd_eligibility_plugin.py
  backend/app/services/student_service.py
  backend/app/tests/test_batch_import_service_unit.py
  backend/app/utils/application_helpers.py
  frontend/components/batch-import-panel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/student-preview-card.tsx
  frontend/hooks/use-reference-data.ts
  frontend/hooks/use-student-preview.ts
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: add missing get_inet_type() function to college_review model
  backend/app/models/college_review.py
Due: backend-tests, api-types-check, migration-check

chore: update API types after batch import documentation change
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: resolve NameError and migrate to Sonner toast notifications
  backend/app/services/application_service.py
  frontend/app/layout.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/ui/sonner.tsx
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, backend-tests, frontend-tests, typescript-check

refactor: remove scoring system and implement ranking-based review mechanism
  .claude/CLAUDE.md
  SERVICE_REFACTORING_CHECKLIST.md
  backend/SCORING_REFACTORING_COMPLETED.md
  backend/alembic/versions/adcbec818138_remove_all_scoring_fields_and_clarify_.py
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/roster_schedules.py
  backend/app/db/session.py
  backend/app/models/application.py
  backend/app/models/college_review.py
  backend/app/schemas/application.py
  backend/app/schemas/batch_import.py
  backend/app/schemas/college_review.py
  backend/app/schemas/student_snapshot.py
  backend/app/services/analytics_service.py
  backend/app/services/batch_import_service.py
  backend/app/services/bulk_approval_service.py
  backend/app/services/college_review_service.py
  backend/app/services/email_automation_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/services/scholarship_notification_service.py
  backend/app/services/scholarship_service.py
  backend/app/services/student_service.py
  backend/app/services/student_verification_service.py
  backend/app/tests/test_bulk_approval_service_unit.py
  frontend/components/batch-import-panel.tsx
  frontend/components/ui/sonner.tsx
  frontend/hooks/use-admin.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat: enhance payment roster and reference data endpoints
  backend/alembic/versions/7f1085a5bbe0_add_genders_reference_table.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/models/student.py
  backend/app/schemas/roster.py
  frontend/app/api/v1/preview/route.ts
  frontend/components/payment-roster-list.tsx
  frontend/hooks/use-reference-data.ts
  frontend/lib/api/modules/reference-data.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: enhance student snapshot with term data and fix yearly scholarship period data retrieval
  backend/app/seed.py
  backend/app/services/application_enricher_service.py
  backend/app/services/application_service.py
  backend/app/services/student_service.py
  backend/app/utils/application_helpers.py
  backend/db_data_backup.sql
Due: backend-tests

refactor: cleanup old applications and migrate to new student data format
  backend/alembic/versions/06e8a66d9437_cleanup_old_applications.py
  backend/alembic/versions/5b7fb81203ac_cleanup_application_fields.py
  backend/app/api/v1/endpoints/college_review/application_review.py
Due: backend-tests, api-types-check, migration-check

refactor: replace get_student_basic_info with get_student_snapshot in batch import
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests

refactor: streamline department code retrieval in student data processing
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/utils/application_helpers.py
  frontend/components/common/ApplicationReviewDialog.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

refactor: simplify student preview endpoint - remove StudentPreviewBasic layer
  backend/app/api/v1/endpoints/college_review/application_review.py
Due: backend-tests, api-types-check

refactor: simplify get_student_snapshot - remove manual field mapping
  backend/app/services/student_service.py
Due: backend-tests

refactor: complete frontend adaptation for new student preview data structure
  backend/app/services/application_service.py
  frontend/components/college-ranking-table.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/student-preview-card.tsx
  frontend/hooks/use-student-preview.ts
Due: backend-tests, frontend-tests, typescript-check

feat: expand Basic Information Section with all API fields and create enrollment type converter
  frontend/components/college-ranking-table.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/hooks/use-reference-data.ts
Due: frontend-tests, typescript-check

fix: modify getEnrollTypeName to support degree-based enrollment type lookup
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/hooks/use-reference-data.ts
Due: frontend-tests, typescript-check

refactor: enhance ApplicationResponse with extracted student fields from snapshot
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

fix: prioritize std_academyno field for academy/college code retrieval and improve type safety
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/services/college_review_service.py
  backend/app/services/matrix_distribution.py
  backend/app/utils/application_helpers.py
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/api.legacy.ts
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: await cookieStore in GET request to ensure token retrieval
  .github/workflows/ci.yml
  frontend/app/api/v1/preview/route.ts
  frontend/lib/api/modules/batch-import.ts
Due: frontend-tests, typescript-check

fix: prioritize term-specific fields and enhance application review UI
  backend/app/utils/application_helpers.py
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/hooks/use-student-preview.ts
  mock-student-api/main.py
  mock-student-api/models.py
Due: backend-tests, frontend-tests, typescript-check

fix: prioritize term-specific fields and enhance application review UI
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/distribution-results-panel.tsx
  frontend/components/student-preview-card.tsx
  frontend/components/ui/hover-card.tsx
  frontend/lib/utils/student-data-helpers.ts
  mock-student-api/main.py
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: prioritize term-specific fields and enhance application review UI
  backend/app/api/v1/endpoints/reference_data.py
  frontend/app/page.tsx
  frontend/components/application-detail-dialog.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/quota/matrix-quota-table.tsx
  frontend/hooks/use-reference-data.ts
  frontend/lib/college-mappings.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

security: fix critical vulnerabilities (SSRF + dependencies)
  backend/requirements.txt
  frontend/app/api/v1/preview/route.ts
Due: python-safety-check, backend-tests, frontend-tests, typescript-check
