Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


Apply suggestions from code review
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

fix: remove debug code and add empty submission validation
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

feat(frontend): update UI text for student application and professor review (#40)
  frontend/components/professor-review-component.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

docs: add design spec for scholarship docs display and application document upload
  docs/superpowers/specs/2026-04-21-scholarship-docs-and-application-upload-design.md
Due: none

feat: hide professor reviews from students, show reject reason to college/admin
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

docs: add implementation plan for scholarship docs and application document upload
  docs/superpowers/plans/2026-04-21-scholarship-docs-and-application-upload.md
Due: none

fix: address Copilot review on PR #36
  backend/app/services/college_review_service.py
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

feat: add application_document_url column to applications
  backend/Dockerfile
  backend/alembic/versions/42ccef0f18fc_add_application_document_url_to_.py
  backend/app/core/config.py
Due: backend-tests, migration-check

feat: expose application_document_url in application model and schema
  backend/app/models/application.py
  backend/app/schemas/application.py
Due: backend-tests, api-types-check, migration-check

feat: add application document upload and delete endpoints
  backend/app/api/v1/endpoints/applications.py
Due: backend-tests, api-types-check

feat: add system doc upload, serve, and public-docs endpoints
  backend/app/api/v1/endpoints/system_settings.py
Due: backend-tests, api-types-check

feat: add Next.js proxy route for system settings documents
  frontend/app/api/v1/system-settings/file/[key]/route.ts
Due: frontend-tests, typescript-check

feat: add system-settings and application document API client methods
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/system-settings.ts
Due: frontend-tests, typescript-check

feat: add reference docs buttons to NoticeAgreementStep
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: frontend-tests, typescript-check

feat: add application document upload field to ScholarshipApplicationStep
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

feat: add document upload status to submit preview dialog
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

feat: add regulations link to professor review panel
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

feat: add regulations link to college review panel
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

feat: add system docs management tab to admin interface
  frontend/components/admin-management-interface.tsx
Due: frontend-tests, typescript-check

fix: add missing Loader2 import to admin-management-interface
  frontend/components/admin-management-interface.tsx
Due: frontend-tests, typescript-check

fix: critical bugs in scholarship docs feature
  backend/app/api/v1/endpoints/applications.py
  frontend/app/api/v1/applications/[id]/application-document/route.ts
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: add system-docs tab to actual AdminManagementShell
  frontend/components/admin/AdminManagementShell.tsx
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
Due: frontend-tests, typescript-check

fix: use relative URLs for upload methods to work via Nginx proxy
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/system-settings.ts
Due: frontend-tests, typescript-check

fix: use query-param proxy paths to bypass Next.js rewrite catch-all
  frontend/app/api/v1/application-document-proxy/route.ts
  frontend/app/api/v1/system-settings/file-proxy/route.ts
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/professor-review-component.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

fix: allow .doc/.docx for application document upload
  backend/app/api/v1/endpoints/applications.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: preserve original filename and improve doc preview UX
  backend/app/api/v1/endpoints/system_settings.py
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/professor-review-component.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/modules/system-settings.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: stale document preview after re-upload
  frontend/app/api/v1/application-document-proxy/route.ts
  frontend/app/api/v1/system-settings/file-proxy/route.ts
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

refactor: simplify cache strategy and demote savedApplicationId to ref
  frontend/app/api/v1/application-document-proxy/route.ts
  frontend/app/api/v1/system-settings/file-proxy/route.ts
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

fix: preserve original filename for uploaded application document
  backend/alembic/versions/b7c3a1f8d290_add_application_document_original_.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/models/application.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: address code review findings (C1, C2, I1-I4)
  backend/Dockerfile
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/services/application_service.py
  frontend/app/api/v1/application-document-proxy/route.ts
  frontend/app/api/v1/system-settings/file-proxy/route.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(admin): redesign system docs panel with drag-and-drop and file cards
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
Due: frontend-tests, typescript-check

fix: enforce is_editable and log MinIO cleanup failures on application docs
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/system_settings.py
Due: backend-tests, api-types-check

fix: bypass broken rewrite proxy for larger upload POSTs
  frontend/app/api/v1/application-document-upload-proxy/route.ts
  frontend/app/api/v1/system-settings/upload-proxy/route.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/system-settings.ts
Due: frontend-tests, typescript-check

fix: show empty-state card in apply step when no eligible scholarships
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

test: add mainland undergrad and on-leave PhD mock student personas
  backend/app/seed.py
  mock-student-api/main.py
Due: backend-tests

fix: gate wizard entry at portal level when no eligible scholarships
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/scholarship-eligibility.ts
Due: frontend-tests, typescript-check

style: drop description from filtered empty-state card
  frontend/components/enhanced-student-portal.tsx
Due: frontend-tests, typescript-check

refactor: use isSelectableScholarship at the scholarship-list render site
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

fix: address Copilot review — draft edit bypass + fixture status codes
  frontend/components/enhanced-student-portal.tsx
  mock-student-api/main.py
Due: frontend-tests, typescript-check

fix: surface partial_approved in professor view and rename label to 部分同意
  backend/app/models/enums.py
  backend/app/services/application_service.py
  backend/app/services/college_review_service.py
  backend/app/services/review_service.py
  backend/app/utils/i18n.py
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/enums.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check
