Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


d9
  .github/workflows/d9.yml
Due: none

d9 (#139)
  .github/workflows/d9.yml
Due: none

fix(monitoring): revert webhook URL to GitHub + lower repeat_interval
  .github/workflows/d8.yml
  .github/workflows/d9.yml
  monitoring/config/grafana/provisioning/alerting/contact-points.yml
  monitoring/config/grafana/provisioning/alerting/notification-policies.yml
Due: none

fix(monitoring): revert webhook URL to GitHub + lower repeat_interval (#140)
  .github/workflows/d8.yml
  .github/workflows/d9.yml
  monitoring/config/grafana/provisioning/alerting/contact-points.yml
  monitoring/config/grafana/provisioning/alerting/notification-policies.yml
Due: none

d10
  .github/workflows/d10.yml
Due: none

d10 (#141)
  .github/workflows/d10.yml
Due: none

chore: drop debug workflow d10
  .github/workflows/d10.yml
Due: none

chore: drop debug workflow d10 (#142)
  .github/workflows/d10.yml
Due: none

chore: drop final debug workflow d4
  .github/workflows/d4.yml
Due: none

chore: drop final debug workflow d4 (#143)
  .github/workflows/d4.yml
Due: none

feat(monitoring): webhook-bridge sidecar (FastAPI + uv) for /dispatches
  monitoring/config/grafana/provisioning/alerting/contact-points.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/webhook-bridge/Dockerfile
  monitoring/webhook-bridge/bridge.py
  monitoring/webhook-bridge/pyproject.toml
Due: docker-compose-check

feat(monitoring): webhook-bridge sidecar (FastAPI + uv) for /dispatches (#144)
  monitoring/config/grafana/provisioning/alerting/contact-points.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/webhook-bridge/Dockerfile
  monitoring/webhook-bridge/bridge.py
  monitoring/webhook-bridge/pyproject.toml
Due: docker-compose-check

test(#124): pure-unit coverage for roster eligibility operators + cron parsing
  backend/app/tests/test_roster_eligibility_operators.py
  backend/app/tests/test_roster_scheduler_cron.py
Due: backend-tests

ci(monitoring): build webhook-bridge image instead of pulling
  .github/workflows/deploy-monitoring-stack.yml
Due: none

ci(monitoring): build webhook-bridge image instead of pulling (#146)
  .github/workflows/deploy-monitoring-stack.yml
Due: none

diag: bridge container status
  .github/workflows/d-bridge.yml
Due: none

diag: bridge container status (#147)
  .github/workflows/d-bridge.yml
Due: none

fix(monitoring): GH_PAT file readable by Grafana + webhook-bridge
  .github/workflows/d-bridge.yml
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): GH_PAT file readable by Grafana + webhook-bridge (#148)
  .github/workflows/d-bridge.yml
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): quiet alert noise + safe value formatting
  monitoring/config/grafana/provisioning/alerting/notification-policies.yml
  monitoring/config/grafana/provisioning/alerting/rules-container.yml
  monitoring/config/grafana/provisioning/alerting/rules-database.yml
  monitoring/config/grafana/provisioning/alerting/rules-monitoring.yml
  monitoring/config/grafana/provisioning/alerting/rules-system.yml
Due: none

fix(monitoring): quiet alert noise + safe value formatting (#153)
  monitoring/config/grafana/provisioning/alerting/notification-policies.yml
  monitoring/config/grafana/provisioning/alerting/rules-container.yml
  monitoring/config/grafana/provisioning/alerting/rules-database.yml
  monitoring/config/grafana/provisioning/alerting/rules-monitoring.yml
  monitoring/config/grafana/provisioning/alerting/rules-system.yml
Due: none

feat(monitoring): bridge fans out per-alert + pin uv image
  monitoring/webhook-bridge/Dockerfile
  monitoring/webhook-bridge/bridge.py
Due: none

feat(monitoring): bridge fans out per-alert + pin uv image (#154)
  monitoring/webhook-bridge/Dockerfile
  monitoring/webhook-bridge/bridge.py
Due: none

chore(monitoring): pin :latest images to specific versions
  docker-compose.dev.yml
  docker-compose.prod-db-monitoring.yml
  docker-compose.prod-db.yml
  docker-compose.prod.yml
  docker-compose.staging-db-monitoring.yml
  docker-compose.staging-db.yml
  docker-compose.staging.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

chore(monitoring): pin :latest images to specific versions (#155)
  docker-compose.dev.yml
  docker-compose.prod-db-monitoring.yml
  docker-compose.prod-db.yml
  docker-compose.prod.yml
  docker-compose.staging-db-monitoring.yml
  docker-compose.staging-db.yml
  docker-compose.staging.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(monitoring): widen Loki reject_old_samples_max_age 168h → 720h
  monitoring/config/loki/loki-config.yml
Due: none

fix(monitoring): widen Loki reject_old_samples_max_age 168h → 720h (#156)
  monitoring/config/loki/loki-config.yml
Due: none

fix(deploy): bump cadvisor pin v0.54.2 → v0.55.1 (tag did not exist)
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: docker-compose-check

fix(deploy): bump cadvisor pin v0.54.2 → v0.55.1 (tag did not exist) (#160)
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: docker-compose-check

fix(monitoring): bridge collapses envelope into 1 dispatch (was N)
  monitoring/webhook-bridge/bridge.py
Due: none

fix(monitoring): bridge collapses envelope into 1 dispatch (was N) (#161)
  monitoring/webhook-bridge/bridge.py
Due: none

feat(cache): foundation + reference-data + form-config caching (#162 PR 1)
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/core/cache.py
  backend/app/tests/test_cache.py
Due: backend-tests, api-types-check

style: black reformat (line-length=120) for PR 1 cache files
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/core/cache.py
  backend/app/tests/test_cache.py
Due: backend-tests, api-types-check

chore: regenerate API types after docstring update
  frontend/lib/api/generated/schema.d.ts
Due: none

feat(cache): foundation + reference-data + form-config caching (#162 PR 1) (#163)
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/core/cache.py
  backend/app/tests/test_cache.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

feat(cache): dashboard + quota stats caching with invalidation hooks (#162 PR 2)
  backend/app/api/v1/endpoints/admin/dashboard.py
  backend/app/api/v1/endpoints/admin/permissions.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/users.py
  backend/app/services/application_service.py
  backend/app/services/quota_service.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

feat(cache): dashboard + quota stats caching with invalidation hooks (#162 PR 2) (#164)
  backend/app/api/v1/endpoints/admin/dashboard.py
  backend/app/api/v1/endpoints/admin/permissions.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/users.py
  backend/app/services/application_service.py
  backend/app/services/quota_service.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

feat(cache): NYCU employee cache + payment-roster idempotency lock (#162 PR 3)
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/cache.py
  backend/app/api/v1/endpoints/nycu_employee.py
  backend/app/api/v1/endpoints/payment_rosters.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

feat(cache): NYCU employee cache + payment-roster idempotency lock (#162 PR 3) (#165)
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/cache.py
  backend/app/api/v1/endpoints/nycu_employee.py
  backend/app/api/v1/endpoints/payment_rosters.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

test(ci): add smoke marker hygiene + required smoke lane (Phase 1)
  .github/workflows/ci.yml
  backend/app/tests/conftest.py
  backend/app/tests/test_application_service.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_critical_workflows.py
  backend/app/tests/test_eligibility_service.py
  backend/app/tests/test_health.py
  backend/app/tests/test_mock_sso.py
  backend/app/tests/test_scholarship_rules_service.py
  frontend/package.json
Due: npm-audit, backend-tests, frontend-tests
