Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(alembic): reparent supplementary_import migration onto post-merge head
  backend/alembic/versions/add_supplementary_import_001.py
Due: backend-tests, migration-check

feat(frontend): add react-pdf and configure pdf.js worker
  frontend/lib/pdf-worker.ts
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests, typescript-check

feat(frontend): add InlinePdfViewer with scroll-to-bottom gating
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/inline-pdf-viewer.tsx
Due: frontend-tests, typescript-check

fix: address Copilot review feedback on PR #745
  .run-backend-tests.sh
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  docs/superpowers/specs/2026-05-14-post-distribution-supplementary-import-design.md
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(frontend): gate agree checkbox on inline regulations PDF scroll
  frontend/components/__tests__/notice-agreement-step.test.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: frontend-tests, typescript-check

feat: post-distribution supplementary import (#745)
  .run-backend-tests.sh
  backend/alembic/versions/add_supplementary_import_001.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/models/college_review.py
  backend/app/models/scholarship.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/supplementary_import_service.py
  backend/app/tests/test_supplementary_import_endpoints.py
  backend/app/tests/test_supplementary_import_service.py
  backend/app/tests/unit/test_finalize_supplementary_patch.py
  backend/app/tests/unit/test_supplementary_import_service.py
  docs/samples/supplementary-import-example.xlsx
  docs/superpowers/plans/2026-05-14-post-distribution-supplementary-import.md
  docs/superpowers/specs/2026-05-14-post-distribution-supplementary-import-design.md
  frontend/components/admin-configuration-management.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/contexts/college-management-context.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/college.ts
  frontend/lib/api/modules/manual-distribution.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat(frontend): restrict 獎學金要點 admin upload to PDF only
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
Due: frontend-tests, typescript-check

feat(backend): enforce PDF-only upload for regulations_url
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_system_settings_upload_doc.py
Due: backend-tests, api-types-check

fix(preview): ensure PDF Content-Type for inline iframe when type param is a document category
  frontend/app/api/v1/preview/route.ts
  frontend/components/application-detail-dialog.tsx
Due: frontend-tests, typescript-check

feat(service): add revoke_allocation + suspend_allocation
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_revoke_suspend_service.py
Due: backend-tests

test(service): cover suspend_allocation paths
  backend/app/tests/test_revoke_suspend_service.py
Due: backend-tests

docs: add revoke/suspend scholarship distribution design spec
  docs/superpowers/specs/2026-05-21-revoke-suspend-distribution-design.md
Due: none

feat(api): add roster revoked-suspended listing + locked-item delete
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/tests/test_revoke_suspend_endpoints.py
Due: backend-tests, api-types-check

feat(db): add revoke/suspend metadata + excel_stale flag
  backend/alembic/versions/20260521_revoke_suspend.py
  backend/app/models/application.py
  backend/app/models/payment_roster.py
  backend/app/tests/test_revoke_suspend_models.py
Due: backend-tests, api-types-check, migration-check

feat(schemas): add revoke/suspend request and response schemas
  backend/app/schemas/application.py
  backend/app/schemas/payment_roster.py
  backend/app/tests/test_revoke_suspend_schemas.py
Due: backend-tests, api-types-check

feat(api): add revoke + suspend application endpoints
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_revoke_suspend_endpoints.py
  backend/app/tests/test_revoke_suspend_service.py
Due: backend-tests, api-types-check

feat(roster): add LOCKED-roster item removal + revoked/suspended listing
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_item_removal_service.py
Due: backend-tests

docs: add revoke/suspend distribution implementation plan
  docs/superpowers/plans/2026-05-21-revoke-suspend-distribution.md
Due: none

feat(frontend-api): add revoke/suspend + roster item removal clients
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/manual-distribution.ts
  frontend/lib/api/modules/payment-rosters.ts
Due: frontend-tests, typescript-check

test(e2e): revoke + locked-roster item removal flow
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
Due: frontend-tests, typescript-check

feat(ui): replace cancel column with revoke/suspend buttons + dialogs
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

feat(ui): roster status-change notice + locked-item removal button
  frontend/components/roster/RosterDetailDialog.tsx
Due: frontend-tests, typescript-check

test(integration): revoke flow across locked + draft rosters
  backend/app/tests/test_revoke_suspend_flow.py
Due: backend-tests

fix: auto-fix CI failure for PR #754 — black formatting on revoke/suspend files
  backend/app/services/manual_distribution_service.py
Due: backend-tests

fix: auto-fix CI failure for PR #754 — black formatting (test files + migration)
  backend/alembic/versions/20260521_revoke_suspend.py
  backend/app/tests/test_revoke_suspend_flow.py
  backend/app/tests/test_revoke_suspend_service.py
  backend/app/tests/test_roster_item_removal_service.py
Due: backend-tests, migration-check

fix: auto-fix CI failure for PR #754 — black formatting (roster_service + endpoint tests)
  backend/app/tests/test_revoke_suspend_endpoints.py
Due: backend-tests

fix: auto-fix CI failure for PR #754 — black formatting (roster_service.py)
  backend/app/services/roster_service.py
Due: backend-tests

fix(e2e): fix admin-returns 500 + professor-reject status regression
  backend/app/services/application_service.py
  backend/app/services/review_service.py
Due: backend-tests

fix(ci): update method count to 13 + merge alembic heads for revoke/suspend
  backend/alembic/versions/20260521_merge_revoke_supplementary.py
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
Due: backend-tests, frontend-tests, typescript-check, migration-check

fix(ci): shorten merge migration revision ID to fit VARCHAR(32)
  backend/alembic/versions/20260521_merge_revoke_supplementary.py
Due: backend-tests, migration-check

feat(renewal): scholarship renewal design — Phase 6 + challenge release
  backend/alembic/versions/add_renewal_challenge_001_add_renewal_challenge_columns.py
  backend/app/api/v1/api.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/renewal.py
  backend/app/models/application.py
  backend/app/models/enums.py
  backend/app/schemas/application.py
  backend/app/schemas/renewal.py
  backend/app/services/application_service.py
  backend/app/services/college_review_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/renewal_audit_service.py
  backend/app/services/renewal_distribution_service.py
  backend/app/services/renewal_eligibility_service.py
  backend/app/services/review_phase_filter.py
  backend/app/tests/test_challenge_release_distribution.py
  backend/app/tests/test_distribution_state_endpoint.py
  backend/app/tests/test_renewal_application_creation.py
  backend/app/tests/test_renewal_audit_service.py
  backend/app/tests/test_renewal_distribution_result.py
  backend/app/tests/test_renewal_distribution_service.py
  backend/app/tests/test_renewal_eligibility_service.py
  backend/app/tests/test_renewal_end_to_end.py
  backend/app/tests/test_review_routing_renewal.py
  backend/docs/scholarship_renewal_design.md
  docs/superpowers/plans/2026-05-13-renewal-application.md
  docs/superpowers/specs/2026-05-13-renewal-application-design.md
  frontend/app/admin/renewal/page.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/admin/renewal/RenewalDistributionResult.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student/ChallengeApplicationCard.tsx
  frontend/components/student/RenewalApplicationCard.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/manual-distribution.ts
  frontend/lib/api/modules/renewal.ts
  frontend/lib/api/types.ts
  frontend/lib/enums.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(alembic): merge add_renewal_challenge_001 + merge_20260521_dual into single head
  backend/alembic/versions/20260521_merge_renewal_main.py
Due: backend-tests, migration-check

fix(lint): black format + B904 exception chain in manual_distribution
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
Due: backend-tests, api-types-check

fix(openapi): add revoked-suspended + items/{item_id} DELETE to generated schema
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(migration): use status::text cast in partial index predicates for 'deleted' enum value
  backend/alembic/versions/add_renewal_challenge_001_add_renewal_challenge_columns.py
Due: backend-tests, migration-check

fix(model): use status::text cast in Application partial index predicates
  backend/app/models/application.py
Due: backend-tests, api-types-check, migration-check

fix(model,migration): use deleted_at IS NULL in partial index predicates
  backend/alembic/versions/add_renewal_challenge_001_add_renewal_challenge_columns.py
  backend/app/models/application.py
Due: backend-tests, api-types-check, migration-check

fix(migration): make index + check constraint creation idempotent
  backend/alembic/versions/add_renewal_challenge_001_add_renewal_challenge_columns.py
Due: backend-tests, migration-check

fix(ci): correct schema.d.ts, mock fields, and method list for PR #278
  backend/app/tests/test_application_service.py
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
Due: backend-tests, frontend-tests, typescript-check

fix(e2e): restore HTTP 200 for duplicate-application rejection + raise mock-SSO rate limit
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/auth.py
Due: backend-tests, api-types-check
