Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


feat(distribution): add remaining global-live helper (spec §6.2)
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_pool_math.py
Due: backend-tests

feat(distribution): add _allowed_config_ids + linked-config resolver (spec §6.3)
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_pool_math.py
Due: backend-tests

feat(distribution): add distributable_pool own+linked live columns (spec §6.3)
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_pool_math.py
Due: backend-tests

feat(distribution): replace _pick_pool with _pick_config, drop _build_remaining_quota (spec §6.3)
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_pool_math.py
Due: backend-tests

feat(distribution): rebuild get_quota_status onto live shared pool (by_config)
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_get_quota_status_shared_pool.py
Due: backend-tests

fix(task 3.4): address review
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_get_quota_status_shared_pool.py
Due: backend-tests

feat(distribution): allocate writes allocation_config_id + allowed-set validation + §10 gate (allocate)
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_allocate_config_id.py
Due: backend-tests, api-types-check

feat(distribution): §10 lock gate in finalize + config_id snapshot re-key
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_finalize_lock_gate.py
Due: backend-tests

feat(distribution): restore_from_history + prev-slot loader keyed on allocation_config_id
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_restore_history_config_id.py
Due: backend-tests

docs: spec for roster removed-items display + restore + unified audit
  docs/superpowers/specs/2026-06-08-roster-removed-restore-audit-design.md
Due: none

feat(distribution): per-config auto-allocate tracker honoring pool cap + per-college caps
  backend/app/services/manual_distribution_service.py
  backend/tests/test_auto_allocate_preview.py
Due: backend-tests

docs: implementation plan for roster removed-items + restore + audit
  docs/superpowers/plans/2026-06-08-roster-removed-restore-audit.md
Due: none

feat(distribution): compute_distribution_state available_quotas + renewals keyed by config
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_distribution_state_endpoint.py
Due: backend-tests

feat(roster): add ITEM_RESTORE audit action
  backend/app/models/roster_audit.py
  backend/app/tests/test_roster_audit_log_model.py
Due: backend-tests, api-types-check, migration-check

fix(roster): /audit-logs returns real operator (user_id/name/role), not missing created_by_user_id
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/roster.py
  backend/app/tests/test_payment_rosters_api.py
Due: backend-tests, api-types-check

feat(roster): add _write_roster_item_audit helper for unified item audit trail
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_item_audit_helper.py
Due: backend-tests

feat(roster): locked-roster removal soft-deletes + writes RosterAuditLog
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_item_removal_service.py
Due: backend-tests

feat(distribution): execute_general_distribution onto per-config pool + config-keyed release; drop dead _pick_pool/_build_remaining_quota
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_challenge_release_distribution.py
  backend/app/tests/test_general_distribution_config_id.py
Due: backend-tests

feat(roster): reconcile removal soft-deletes, gates soft-removed orphans, unified RosterAuditLog
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_distribution_reconcile_service.py
Due: backend-tests

fix(roster): distribution diff ignores soft-removed items in to_remove
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_distribution_reconcile_service.py
Due: backend-tests

feat(roster): group distribution rosters by allocation_config_id with per-group consumed config
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_generate_per_config_group.py
Due: backend-tests

feat(roster): add restore_item service + POST /items/{id}/restore endpoint
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/payment_roster.py
  backend/app/services/roster_service.py
  backend/app/tests/test_payment_rosters_api.py
  backend/app/tests/test_roster_item_removal_service.py
Due: backend-tests, api-types-check

chore(api): regenerate types for restore endpoint + audit-log operator fields
  frontend/lib/api/generated/schema.d.ts
Due: none

feat(roster): add restoreRosterItem API client method
  frontend/lib/api/modules/__tests__/payment-rosters.test.ts
  frontend/lib/api/modules/payment-rosters.ts
Due: frontend-tests, typescript-check

feat(roster): roster item amount/year from consumed config, write allocation_config_id snapshot
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_item_consumed_config.py
Due: backend-tests

feat(roster): show removed students inline with 回復 button + 顯示已移除 toggle
  frontend/components/roster/RosterDetailDialog.tsx
Due: frontend-tests, typescript-check

feat(roster): reconcile diff matches on allocation_config_id, NULL = whole-period sentinel
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_distribution_reconcile_service.py
Due: backend-tests

feat(roster): add 操作紀錄 audit panel to roster detail dialog
  frontend/components/roster/RosterDetailDialog.tsx
Due: frontend-tests, typescript-check

fix(distribution): promoted alternate inherits displaced winner's allocation_config_id
  backend/app/services/alternate_promotion_service.py
  backend/app/tests/test_alternate_promotion_inherits_config.py
Due: backend-tests

feat(renewal): snapshot allocation_config_id from prior slot with own-config fallback
  backend/app/services/application_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_renewal_allocation_config_snapshot.py
Due: backend-tests

fix(roster): restore status guard + onRosterChanged + stable row key + soft-remove docstrings
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_item_removal_service.py
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/lib/api/modules/payment-rosters.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test(restore): re-key restore-allocation fixtures onto allocation_config_id
  backend/app/tests/test_restore_allocation_service.py
Due: backend-tests

test(distribution): rewrite challenge-release test onto shared_quota_sources + allocation_config_id
  backend/app/tests/test_challenge_release_distribution.py
Due: backend-tests

test(renewal): rewrite e2e onto shared_quota_sources + allocation_config_id
  backend/app/tests/test_renewal_end_to_end.py
Due: backend-tests

test(roster): align reconcile API test with allocation_config_id fixtures
  backend/app/tests/test_roster_distribution_reconcile_api.py
Due: backend-tests

feat(config): SharedQuotaSource schema + project_numbers/shared_quota_sources on ScholarshipConfigurationBase
  backend/app/schemas/scholarship_configuration.py
  backend/app/tests/test_scholarship_configuration_schema_validators.py
Due: backend-tests, api-types-check

feat(config): imperative _validate_shared_quota_sources link gate (exists + prior-year + sub_type)
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_shared_quota_link_validation.py
Due: backend-tests, api-types-check

feat(config): create path writes project_numbers+shared_quota_sources, validates links, GET drops prior_quota_years
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
Due: backend-tests, api-types-check

feat(config): update path replaces prior_quota_years branch with validated shared_quota_sources + project_numbers
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
Due: backend-tests, api-types-check

feat(config): duplicate path carries over quotas/project_numbers/shared_quota_sources
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
Due: backend-tests, api-types-check
