Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


feat: show scholarship configuration name in admin student list applied column (#1155)
  backend/app/api/v1/endpoints/admin/students.py
  backend/app/tests/test_admin_pure_helpers.py
  backend/app/tests/test_admin_students_endpoint.py
  frontend/components/admin/students/StudentListManagement.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/students.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: bucket professor review queue by review existence, not status
  backend/app/services/application_service.py
  backend/app/services/college_review_service.py
  backend/app/tests/test_get_professor_applications_paginated_deep.py
  backend/app/tests/test_review_routing_renewal.py
Due: backend-tests

fix: bucket professor review queue by review existence, not status (#1158)
  backend/app/services/application_service.py
  backend/app/services/college_review_service.py
  backend/app/tests/test_get_professor_applications_paginated_deep.py
  backend/app/tests/test_review_routing_renewal.py
Due: backend-tests

fix: show professor-centric 待審核/已審核 status in professor review list
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/tests/test_get_professor_applications_paginated_deep.py
  frontend/components/professor-review-component.tsx
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

refactor: show only 待審核/已審核 in professor list status, drop downstream stage
  frontend/components/professor-review-component.tsx
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

fix: show professor-centric 待審核/已審核 status in professor review list (#1159)
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/tests/test_get_professor_applications_paginated_deep.py
  frontend/components/professor-review-component.tsx
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: harden rejection gate — normalization, remaining writers, and UI deadlock
  backend/app/services/manual_distribution_service.py
  backend/app/services/renewal_distribution_service.py
  backend/app/tests/test_manual_distribution_professor_gate.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

refactor: hoist skipped-rejected set out of the approvable comprehension
  backend/app/services/renewal_distribution_service.py
Due: backend-tests

test: cover renewal rejection-gate skip; dedupe gate app-id loads
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_renewal_distribution_service.py
Due: backend-tests

style: explicit list for IN clause; drop stale lint-guard alias in test
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_renewal_distribution_service.py
Due: backend-tests

fix: restore two renewal tests dropped in the merge resolution
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_renewal_distribution_service.py
Due: backend-tests

feat: remove generic application document upload from student wizard
  backend/alembic/versions/20260714_drop_application_document.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/models/application.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/services/export_package_service.py
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
  backend/app/tests/test_authz_scoping_endpoints.py
  backend/app/tests/test_export_package_pure_helpers.py
  frontend/__tests__/middleware-csp.test.ts
  frontend/app/api/v1/application-document-upload-proxy/route.ts
  frontend/app/api/v1/preview/application-document/route.ts
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/applications.test.ts
  frontend/lib/api/modules/applications.ts
  frontend/middleware.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

ci: migrate frontend dependency management from npm to bun
  .claude/CLAUDE.md
  .github/PRODUCTION_SYNC_GUIDE.md
  .github/workflows/api-types-check.yml
  .github/workflows/ci.yml
  .github/workflows/dev-workflow.yml
  .github/workflows/nightly.yml
  .github/workflows/security.yml
  .github/workflows/staging-e2e.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  frontend/Dockerfile
  frontend/bun.lock
  frontend/e2e/helpers/diagnose.ts
  frontend/lib/api/TYPE_SAFETY_STATUS.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/copy-pdf-worker.mjs
  frontend/scripts/generate-api-types.sh
Due: npm-audit, frontend-tests, typescript-check

ci: pin Node in security.yml bun jobs for the postinstall hook
  .github/workflows/security.yml
Due: none

feat: remove generic application document upload from student wizard (#1163)
  backend/alembic/versions/20260714_drop_application_document.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/models/application.py
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/services/export_package_service.py
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
  backend/app/tests/test_authz_scoping_endpoints.py
  backend/app/tests/test_export_package_pure_helpers.py
  frontend/__tests__/middleware-csp.test.ts
  frontend/app/api/v1/application-document-upload-proxy/route.ts
  frontend/app/api/v1/preview/application-document/route.ts
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/applications.test.ts
  frontend/lib/api/modules/applications.ts
  frontend/middleware.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: hard-block reviewer-rejected sub-types from scholarship distribution (#1162)
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/renewal_distribution_service.py
  backend/app/tests/test_manual_distribution_professor_gate.py
  backend/app/tests/test_renewal_distribution_service.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: guard migration downgrade when applications table is absent
  backend/alembic/versions/20260714_drop_application_document.py
Due: backend-tests, migration-check

fix: guard migration downgrade when applications table is absent (#1165)
  backend/alembic/versions/20260714_drop_application_document.py
Due: backend-tests, migration-check

chore(ci): migrate frontend dependency management from npm to bun (#1164)
  .claude/CLAUDE.md
  .github/PRODUCTION_SYNC_GUIDE.md
  .github/workflows/api-types-check.yml
  .github/workflows/ci.yml
  .github/workflows/dev-workflow.yml
  .github/workflows/nightly.yml
  .github/workflows/security.yml
  .github/workflows/staging-e2e.yml
  .gitignore
  .pre-commit-config.yaml
  README.md
  frontend/Dockerfile
  frontend/bun.lock
  frontend/e2e/helpers/diagnose.ts
  frontend/lib/api/TYPE_SAFETY_STATUS.md
  frontend/package-lock.json
  frontend/package.json
  frontend/scripts/copy-pdf-worker.mjs
  frontend/scripts/generate-api-types.sh
Due: npm-audit, frontend-tests, typescript-check

Show Chinese college names instead of codes in quota Excel import
  frontend/components/admin/quota-import/QuotaImportDialog.tsx
  frontend/lib/quota/__tests__/build-quota-template.test.ts
  frontend/lib/quota/build-quota-template.ts
  frontend/lib/quota/parse-quota-sheet.ts
Due: frontend-tests, typescript-check

Add scope=col to quota import preview column headers
  frontend/components/admin/quota-import/QuotaImportDialog.tsx
Due: frontend-tests, typescript-check

feat(quota): show Chinese college names instead of codes in quota Excel import (#1166)
  frontend/components/admin/quota-import/QuotaImportDialog.tsx
  frontend/lib/quota/__tests__/build-quota-template.test.ts
  frontend/lib/quota/build-quota-template.ts
  frontend/lib/quota/parse-quota-sheet.ts
Due: frontend-tests, typescript-check

docs: design for college distribution results 系所 + Excel/PDF export
  docs/superpowers/specs/2026-07-15-college-distribution-results-export-design.md
Due: none

docs: implementation plan for college distribution results export
  docs/superpowers/plans/2026-07-16-college-distribution-results-export.md
Due: none

docs: fix plan pre-flight defects
  docs/superpowers/plans/2026-07-16-college-distribution-results-export.md
Due: none

refactor: extract college distribution-results loader into _helpers
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/distribution.py
Due: backend-tests, api-types-check

feat: add 系所 to college distribution results
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/tests/test_college_view_distribution.py
Due: backend-tests, api-types-check

docs: drop unused List import from plan Task 1 (would fail F401)
  docs/superpowers/plans/2026-07-16-college-distribution-results-export.md
Due: none

fix: dedup, order and 名次 in college distribution results
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/tests/test_college_view_distribution.py
Due: backend-tests, api-types-check

fix: enforce scholarship/year grants and scope rankings by college
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/tests/test_college_view_distribution.py
Due: backend-tests, api-types-check

feat: add college distribution-results export renderer
  backend/app/services/college_distribution_export_service.py
  backend/app/tests/test_college_distribution_export_service.py
Due: backend-tests

feat: add college distribution-results Excel/PDF export endpoint
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/tests/test_college_distribution_export_endpoint.py
Due: backend-tests, api-types-check

feat: show 系所 and add Excel/PDF export to the college distribution panel
  frontend/components/college-ranking-table.tsx
  frontend/components/college/distribution/DistributionResultPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/college.test.ts
  frontend/lib/api/modules/college.ts
  frontend/lib/utils/download.ts
Due: frontend-tests, typescript-check

refactor: simplify college distribution export per review
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/services/college_distribution_export_service.py
  frontend/components/college/distribution/DistributionResultPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: mirror the loader's finite-year guard in handleExport
  frontend/components/college/distribution/DistributionResultPanel.tsx
Due: frontend-tests, typescript-check

fix: align SIS numeric academy codes 2/3/5 and unify manual-distribution college labels
  backend/alembic/versions/align_academy_names_002.py
  backend/app/core/college_mappings.py
  backend/app/tests/test_college_mappings.py
  backend/app/tests/test_quota_management.py
  frontend/components/admin/manual-distribution/CollegeQuotaMatrix.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, migration-check

fix: align SIS numeric academy codes 2/3/5 and unify manual-distribution college labels (#1182)
  backend/alembic/versions/align_academy_names_002.py
  backend/app/core/college_mappings.py
  backend/app/tests/test_college_mappings.py
  backend/app/tests/test_quota_management.py
  frontend/components/admin/manual-distribution/CollegeQuotaMatrix.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, migration-check

chore: trim CLAUDE.md context and remove unused agent definitions
  .claude/CLAUDE.md
  .claude/agents/backend-engineer-postgres-minio.md
  .claude/agents/docker-test-validator.md
  .claude/agents/frontend-engineer-nycu.md
  .claude/agents/rubber-duck.md
  .claude/skills/regex-security/SKILL.md
Due: none

chore: keep frontend-engineer-nycu agent definition
  .claude/agents/frontend-engineer-nycu.md
Due: none

feat(college): render distribution results as tables with status badges
  frontend/components/college/distribution/DistributionResultPanel.tsx
Due: frontend-tests, typescript-check
