Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

fix: remove Y option from sub-type columns, require numeric priority
  backend/app/services/batch_import_service.py
  docs/博士生獎學金_批次匯入範例.xlsx
Due: backend-tests

fix: improve UI text across student application and admin panels
  backend/app/services/manual_distribution_service.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/student-wizard/steps/PersonalInfoStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/components/student-wizard/steps/StudentDataReviewStep.tsx
Due: backend-tests, frontend-tests, typescript-check

chore: run black formatter on all backend files
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/models/college_review.py
  backend/app/models/scholarship.py
  backend/app/schemas/application.py
  backend/app/seed.py
  backend/app/services/analytics_service.py
  backend/app/services/college_review_service.py
  backend/app/services/email_automation_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/services/roster_service.py
  backend/app/tests/unit/conftest.py
  backend/tests/test_auto_allocate_preview.py
  backend/tests/test_phd_sub_type_selection.py
Due: backend-tests, api-types-check, migration-check

chore: reformat with black==24.8.0 to match CI version
  backend/app/seed.py
  backend/app/services/email_automation_service.py
Due: backend-tests

fix: resolve frontend Jest test failures with Next.js require-hook
  frontend/jest.config.js
  frontend/jest.setup.ts
Due: frontend-tests, typescript-check

fix: disable coverageThreshold incompatible with V8 coverage provider
  frontend/jest.config.js
Due: frontend-tests

fix: add pull-requests write permission to API types check workflow
  .github/workflows/api-types-check.yml
Due: none

fix: add missing TypeScript properties to frontend interfaces
  frontend/lib/api/modules/manual-distribution.ts
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

fix: allow string type for prior_quota_years in form data
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

chore: add init-dev-env Claude Code skill for dev environment setup
  .claude/commands/init-dev-env.md
Due: none

fix: improve student scholarship application UI
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/StudentApplicationWizard.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/components/student-wizard/steps/StudentDataReviewStep.tsx
  frontend/components/student-wizard/types.ts
  frontend/lib/validations/user-profile.ts
Due: frontend-tests, typescript-check

feat: add submit preview dialog and fix form progress calculation
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

fix: address code review findings
  frontend/components/student-wizard/steps/PersonalInfoStep.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/validations/user-profile.ts
Due: frontend-tests, typescript-check

fix: address PR #33 review feedback from Copilot and Claude
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/validations/user-profile.ts
Due: frontend-tests, typescript-check

docs: add college export package design spec
  .claude/plans/college-export-package-design.md
Due: none

docs: add college export package implementation plan
  .claude/plans/college-export-package-plan.md
Due: none

chore: add weasyprint dependency and system packages for PDF generation
  backend/Dockerfile
  backend/pyproject.toml
Due: backend-tests

feat: add student summary HTML template for PDF generation
  backend/app/templates/student_summary.html
Due: backend-tests

feat: add ExportPackageService for ZIP generation with student summary PDFs
  backend/app/services/export_package_service.py
Due: backend-tests

feat: add Next.js proxy route for export package download
  frontend/app/api/v1/export-package/route.ts
Due: frontend-tests, typescript-check

feat: add GET /college-review/export-package endpoint
  backend/app/api/v1/endpoints/college_review/__init__.py
  backend/app/api/v1/endpoints/college_review/export_package.py
Due: backend-tests, api-types-check

fix: auto-assign professor on submit and fix professor review bugs
  backend/app/api/v1/endpoints/professor.py
  backend/app/services/application_service.py
Due: backend-tests, api-types-check

feat: add export package button and API method to college review panel
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

fix: include review_stage in application API responses
  backend/app/schemas/application.py
  backend/app/services/application_service.py
Due: backend-tests, api-types-check

fix: address review findings - college filter, status filter, form labels, resource cleanup
  backend/app/services/export_package_service.py
Due: backend-tests

fix: make review timeline dynamic based on scholarship config
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  frontend/lib/utils/application-helpers.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: include submitted and partial_approved in college ranking query
  backend/app/services/college_review_service.py
Due: backend-tests

feat: disable professor-rejected sub-types in manual distribution
  backend/app/services/manual_distribution_service.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

fix: exclude professor-rejected sub-types from auto-allocation preview
  backend/app/services/manual_distribution_service.py
Due: backend-tests

refactor: address code review findings
  backend/app/services/application_service.py
  backend/app/services/manual_distribution_service.py
  frontend/lib/utils/application-helpers.ts
Due: backend-tests, frontend-tests, typescript-check

chore: regenerate OpenAPI types with export-package endpoint
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: read auth token from localStorage instead of cookie
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

fix: normalize semester value before export to handle 'yearly' variant
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

perf: replace weasyprint with fpdf2 for 20x faster PDF generation
  backend/Dockerfile
  backend/app/services/export_package_service.py
  backend/pyproject.toml
Due: backend-tests

fix: use normalize_semester_value and async MinIO calls to prevent blocking
  backend/app/api/v1/endpoints/college_review/export_package.py
  backend/app/services/export_package_service.py
Due: backend-tests, api-types-check

fix: add 200-app export limit, remove redundant college name query, delete unused HTML template
  backend/app/services/export_package_service.py
  backend/app/templates/.gitkeep
  backend/app/templates/student_summary.html
Due: backend-tests

docs: add design spec and implementation plan for ranking import validation
  .claude/plans/2026-04-07-college-ranking-import-validation-design.md
  .claude/plans/2026-04-07-college-ranking-import-validation-plan.md
Due: none

fix: switch from fpdf2 to reportlab for correct CJK font rendering in PDFs
  backend/Dockerfile
  backend/app/services/export_package_service.py
  backend/pyproject.toml
Due: backend-tests

feat: accept 'N' (reject) in ranking import schema
  backend/app/schemas/college_review.py
Due: backend-tests, api-types-check

feat: add strict validation to ranking import endpoint
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

