Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix: remove pagination cap on professor application list (#1136)
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/professor_student.py
  backend/app/services/application_service.py
  backend/app/tests/test_get_professor_applications_paginated_deep.py
  backend/app/tests/test_professor_endpoints.py
  backend/app/tests/test_professor_student_endpoints.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

fix(ci): silence bandit B105 false positive on PASS_MARK constant
  backend/app/services/renewal_import_service.py
Due: backend-tests

feat: simplify student application progress timeline to 4 steps
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/tests/test_application_list_response_props.py
  frontend/lib/api/types.ts
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test: update portal timeline assertions to merged 4-step titles
  frontend/components/__tests__/enhanced-student-portal.test.tsx
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

fix: treat cancelled_by_challenge as terminal in timeline final step
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

feat: simplify student application progress timeline to 4 steps (#1137)
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/tests/test_application_list_response_props.py
  frontend/components/__tests__/enhanced-student-portal.test.tsx
  frontend/lib/api/types.ts
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore(mock): load git-ignored local student datasets when present
  .gitignore
  mock-student-api/main.py
Due: none

fix: verification mock reads mock SIS status instead of last digit
  backend/app/services/student_verification_service.py
  backend/app/tests/test_student_verification_pure_helpers.py
Due: backend-tests

fix: preserve text-cell formatting in batch import (leading zeros)
  backend/app/services/batch_import_service.py
Due: backend-tests

fix: record per-ranking allocated_count at distribution finalize
  backend/app/services/manual_distribution_service.py
Due: backend-tests

fix: accumulate all roster exclusion reasons instead of overwriting
  backend/app/services/roster_service.py
Due: backend-tests

fix: align academies names with core/college_mappings.py
  backend/alembic/versions/align_academy_names_001.py
Due: backend-tests, migration-check

fix: record per-ranking allocated_count at distribution finalize (#1144)
  backend/app/services/manual_distribution_service.py
Due: backend-tests

fix: preserve text-cell formatting in batch import (leading zeros) (#1146)
  backend/app/services/batch_import_service.py
Due: backend-tests

fix: verification mock reads mock SIS status instead of last digit (#1147)
  backend/app/services/student_verification_service.py
  backend/app/tests/test_student_verification_pure_helpers.py
Due: backend-tests

fix: accumulate all roster exclusion reasons instead of overwriting (#1148)
  backend/app/services/roster_service.py
Due: backend-tests

chore(mock): load git-ignored local student datasets when present (#1150)
  .gitignore
  mock-student-api/main.py
Due: none

fix: align academies names with core/college_mappings.py (#1149)
  backend/alembic/versions/align_academy_names_001.py
Due: backend-tests, migration-check

fix: flag 休學/退學 students at import precheck and roster eligibility
  backend/alembic/versions/harden_enrollment_rule_001.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/services/roster_service.py
Due: backend-tests, migration-check

fix: flag 休學/退學 students at import precheck and roster eligibility (#1151)
  backend/alembic/versions/harden_enrollment_rule_001.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/services/roster_service.py
Due: backend-tests, migration-check

fix: wrap roster preview college tabs instead of overflowing the card
  frontend/components/roster/StudentRosterPreview.tsx
Due: frontend-tests, typescript-check

fix: wrap roster preview college tabs instead of overflowing the card (#1152)
  frontend/components/roster/StudentRosterPreview.tsx
Due: frontend-tests, typescript-check

feat: show applied scholarships in admin student list with filters
  backend/alembic/versions/20260712_add_applications_user_id_index.py
  backend/app/api/v1/endpoints/admin/students.py
  backend/app/models/application.py
  backend/app/tests/test_admin_pure_helpers.py
  backend/app/tests/test_admin_students_endpoint.py
  frontend/components/admin/students/StudentListManagement.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/__tests__/students.test.ts
  frontend/lib/api/modules/students.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: hard-block professor-rejected sub-types from scholarship distribution
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_professor_gate.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

refactor: reuse useScholarshipData hook for student-list scholarship filter
  frontend/components/admin/students/StudentListManagement.tsx
Due: frontend-tests, typescript-check

feat: let admins decide professor/college review for renewal applications
  backend/alembic/versions/add_renewal_review_flags_001.py
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/api/v1/endpoints/admin/scholarships.py
  backend/app/api/v1/endpoints/renewal.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/models/scholarship.py
  backend/app/schemas/scholarship_configuration.py
  backend/app/services/application_field_service.py
  backend/app/services/application_service.py
  backend/app/services/college_review_service.py
  backend/app/services/renewal_distribution_service.py
  backend/app/services/review_phase_filter.py
  backend/app/services/review_service.py
  backend/app/services/scholarship_configuration_service.py
  backend/app/services/scholarship_service.py
  backend/app/tests/test_renewal_distribution_service.py
  backend/app/tests/test_renewal_end_to_end.py
  backend/app/tests/test_review_routing_renewal.py
  backend/app/tests/test_scholarship_configuration_schema_validators.py
  frontend/components/admin-configuration-management.tsx
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

chore: gitignore Hypothesis test cache directory
  .gitignore
Due: none

refactor: address Copilot review on admin student list
  backend/app/api/v1/endpoints/admin/students.py
  backend/app/tests/test_admin_students_endpoint.py
Due: backend-tests, api-types-check

feat: show applied scholarships in admin student list with filters (#1154)
  backend/alembic/versions/20260712_add_applications_user_id_index.py
  backend/app/api/v1/endpoints/admin/students.py
  backend/app/models/application.py
  backend/app/tests/test_admin_pure_helpers.py
  backend/app/tests/test_admin_students_endpoint.py
  frontend/components/admin/students/StudentListManagement.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/__tests__/students.test.ts
  frontend/lib/api/modules/students.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

refactor: tidy applied-scholarships helper in admin student list
  backend/app/api/v1/endpoints/admin/students.py
Due: backend-tests, api-types-check

fix: auto-fix CI failure for PR #1156 — resolve duplicate Alembic head
  backend/alembic/versions/add_renewal_review_flags_001.py
Due: backend-tests, migration-check

fix: resolve duplicate Alembic head, regenerate API types, review fixes
  backend/alembic/versions/add_renewal_review_flags_001.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/services/application_service.py
  backend/app/services/renewal_distribution_service.py
  backend/app/services/review_service.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check, migration-check

fix: coerce renewal review flags to strict booleans at write boundaries
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/services/scholarship_configuration_service.py
Due: backend-tests, api-types-check

fix: drop renewal review dates when the matching renewal flag is off
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/services/scholarship_configuration_service.py
  backend/app/tests/test_scholarship_configuration_service.py
Due: backend-tests, api-types-check

fix: professor-only renewal flow also approves in-progress college_review stage
  backend/app/services/renewal_distribution_service.py
  backend/app/tests/test_renewal_distribution_service.py
Due: backend-tests

feat: let admins decide professor/college review for renewal applications (#1156)
  .gitignore
  backend/alembic/versions/add_renewal_review_flags_001.py
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/api/v1/endpoints/admin/scholarships.py
  backend/app/api/v1/endpoints/renewal.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/models/scholarship.py
  backend/app/schemas/scholarship_configuration.py
  backend/app/services/application_field_service.py
  backend/app/services/application_service.py
  backend/app/services/college_review_service.py
  backend/app/services/renewal_distribution_service.py
  backend/app/services/review_phase_filter.py
  backend/app/services/review_service.py
  backend/app/services/scholarship_configuration_service.py
  backend/app/services/scholarship_service.py
  backend/app/tests/test_renewal_distribution_service.py
  backend/app/tests/test_renewal_end_to_end.py
  backend/app/tests/test_review_routing_renewal.py
  backend/app/tests/test_scholarship_configuration_schema_validators.py
  backend/app/tests/test_scholarship_configuration_service.py
  frontend/components/admin-configuration-management.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat: show scholarship configuration name in admin student list applied column
  backend/app/api/v1/endpoints/admin/students.py
  backend/app/tests/test_admin_pure_helpers.py
  backend/app/tests/test_admin_students_endpoint.py
  frontend/components/admin/students/StudentListManagement.tsx
  frontend/lib/api/modules/students.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

refactor: reconcile applied-config filter invariant and trim GROUP BY
  backend/app/api/v1/endpoints/admin/students.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

fix: don't hide legacy null-config applications from admin student list
  backend/app/api/v1/endpoints/admin/students.py
  backend/app/tests/test_admin_students_endpoint.py
  frontend/components/admin/students/StudentListManagement.tsx
  frontend/lib/api/modules/students.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: deterministic ordering of applied-scholarship badges
  backend/app/api/v1/endpoints/admin/students.py
Due: backend-tests, api-types-check
