Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

feat(roster): calculate estimated_count for waiting periods in cycle status
  backend/app/api/v1/endpoints/payment_rosters.py
Due: backend-tests, api-types-check

style: apply black formatting
  backend/app/api/v1/endpoints/payment_rosters.py
Due: backend-tests, api-types-check

test(e2e): add Playwright harness with multi-role and whitelist scenarios
  frontend/e2e/global-setup.ts
  frontend/e2e/global-teardown.ts
  frontend/e2e/helpers/api.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/db.ts
  frontend/e2e/helpers/diagnose.ts
  frontend/e2e/helpers/logs.ts
  frontend/e2e/helpers/runState.ts
  frontend/e2e/reporters/diagnostic-reporter.ts
  frontend/e2e/specs/multi-role-phd.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
  frontend/package.json
  frontend/playwright.config.ts
Due: npm-audit, frontend-tests, typescript-check

chore(frontend): regenerate package-lock.json for new e2e devDependencies
  frontend/package-lock.json
Due: npm-audit, frontend-tests

test(e2e): add Playwright harness with multi-role and whitelist scenarios (#50)
  frontend/e2e/global-setup.ts
  frontend/e2e/global-teardown.ts
  frontend/e2e/helpers/api.ts
  frontend/e2e/helpers/auth.ts
  frontend/e2e/helpers/db.ts
  frontend/e2e/helpers/diagnose.ts
  frontend/e2e/helpers/logs.ts
  frontend/e2e/helpers/runState.ts
  frontend/e2e/reporters/diagnostic-reporter.ts
  frontend/e2e/specs/multi-role-phd.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
Due: npm-audit, frontend-tests, typescript-check

fix(ci): use repository_owner for ghcr image namespace
  .github/workflows/deploy-pipeline.yml
Due: none

fix(ci): use repository_owner for ghcr image namespace (#51)
  .github/workflows/deploy-pipeline.yml
Due: none

fix(ci): use repository_owner for ghcr image namespace in main pipeline
  .github/workflows/ci.yml
Due: none

fix(ci): use repository_owner for ghcr image namespace in main pipeline (#52)
  .github/workflows/ci.yml
Due: none

docs: add screenshot for issue #53 (file preview bug)
  docs/screenshots/issue-53/preview-bug.png
Due: none

fix(frontend): allow dots in preview/download proxy fileId validation
  frontend/app/api/v1/download/route.ts
  frontend/app/api/v1/preview/route.ts
Due: frontend-tests, typescript-check

docs: add post-fix verification screenshot for issue #53
  docs/screenshots/issue-53/preview-after-fix.png
Due: none

fix(frontend): allow dots in preview/download proxy fileId validation (closes #53) (#54)
  frontend/app/api/v1/download/route.ts
  frontend/app/api/v1/preview/route.ts
Due: frontend-tests, typescript-check

fix(email): trigger automation when application is created as submitted directly
  backend/app/services/application_service.py
Due: backend-tests

fix(eligibility): fire warning rules when condition is met, not when it fails
  backend/app/services/eligibility_service.py
Due: backend-tests

fix(professor): fix 5 bugs in professor assignment and review flow
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/services/application_service.py
  backend/app/services/email_automation_service.py
Due: backend-tests, api-types-check

fix(email-preview): render templates via server-side API route instead of client-side
  frontend/components/react-email-template-viewer.tsx
Due: frontend-tests, typescript-check

fix(ci): update generated API types and apply black formatting
  backend/app/services/application_service.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests

style(backend): apply black formatting to three pre-existing lint failures
  backend/app/seed.py
  backend/app/services/email_automation_service.py
  backend/tests/test_auto_allocate_preview.py
Due: backend-tests

fix(seed): add scholarship_configuration_id, bank account, and SIS fields to distribution test data
  backend/scripts/seed_distribution_test_data.py
Due: backend-tests

style(backend): reformat with Python 3.13 black to match CI environment
  backend/app/seed.py
  backend/app/services/email_automation_service.py
Due: backend-tests

fix(seed): repair distribution test data seed for roster generation (#57)
  backend/scripts/seed_distribution_test_data.py
  backend/tests/test_auto_allocate_preview.py
Due: backend-tests

fix(nginx): route /api/email/ to frontend for React Email rendering
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: none

fix(email): send HTML emails correctly and fix preview iframe styling
  backend/app/api/v1/endpoints/email_management.py
  frontend/components/react-email-template-viewer.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(email): send notification emails on submission and daily professor deadline reminders
  backend/alembic/versions/enable_automation_rules_001.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/tasks/deadline_checker.py
Due: backend-tests, migration-check

fix(email-preview): fix CSP blocking inline styles in iframe preview
  frontend/app/api/email/preview/[id]/route.ts
  frontend/app/api/email/preview/route.ts
  frontend/components/react-email-template-viewer.tsx
  frontend/lib/email-preview-store.ts
Due: frontend-tests, typescript-check

style: apply black formatting to deadline_checker.py
  backend/app/tasks/deadline_checker.py
Due: backend-tests

fix(nginx): allow SAMEORIGIN for /api/email/ to unblock preview iframe
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: none

docs(monitoring): add design spec for phased monitoring stack fix
  docs/superpowers/specs/2026-05-06-monitoring-stack-fix-design.md
Due: none

docs(monitoring): add phase-1 audit implementation plan
  docs/superpowers/plans/2026-05-06-monitoring-stack-audit-phase1.md
Due: none

chore(audit): scaffold phase-1 audit directories
  docs/superpowers/audits/working/api-responses/alloy-crossvm/.gitkeep
  docs/superpowers/audits/working/api-responses/app-metrics/.gitkeep
  docs/superpowers/audits/working/api-responses/deploy-pipeline/.gitkeep
  docs/superpowers/audits/working/api-responses/grafana/.gitkeep
  docs/superpowers/audits/working/api-responses/prometheus-loki/.gitkeep
  docs/superpowers/audits/working/screenshots/alloy-crossvm/.gitkeep
  docs/superpowers/audits/working/screenshots/app-metrics/.gitkeep
  docs/superpowers/audits/working/screenshots/deploy-pipeline/.gitkeep
  docs/superpowers/audits/working/screenshots/grafana/.gitkeep
  docs/superpowers/audits/working/screenshots/prometheus-loki/.gitkeep
Due: none

chore(audit): add read-only probe scripts for monitoring audit
  scripts/audit/README.md
  scripts/audit/probe-alloy-diff.sh
  scripts/audit/probe-deploy-honesty.sh
  scripts/audit/probe-grafana.js
  scripts/audit/probe-prom.sh
Due: none

chore(audit): capture baseline probe artifacts
  docs/superpowers/audits/working/api-responses/alloy-crossvm/block-summary.txt
  docs/superpowers/audits/working/api-responses/alloy-crossvm/diff-prod-ap-vm-vs-prod-db-vm.txt
  docs/superpowers/audits/working/api-responses/alloy-crossvm/diff-prod-ap-vm-vs-staging-ap-vm.txt
  docs/superpowers/audits/working/api-responses/alloy-crossvm/diff-prod-ap-vm-vs-staging-db-vm.txt
  docs/superpowers/audits/working/api-responses/alloy-crossvm/diff-prod-db-vm-vs-staging-ap-vm.txt
  docs/superpowers/audits/working/api-responses/alloy-crossvm/diff-prod-db-vm-vs-staging-db-vm.txt
  docs/superpowers/audits/working/api-responses/alloy-crossvm/diff-staging-ap-vm-vs-staging-db-vm.txt
  docs/superpowers/audits/working/api-responses/deploy-pipeline/last-success-log.txt
  docs/superpowers/audits/working/api-responses/deploy-pipeline/last-success-meta.json
  docs/superpowers/audits/working/api-responses/deploy-pipeline/prod-db-monitoring-compose.yml
  docs/superpowers/audits/working/api-responses/deploy-pipeline/prod-monitoring-compose.yml
  docs/superpowers/audits/working/api-responses/grafana/dashboard-application-logs.json
  docs/superpowers/audits/working/api-responses/grafana/dashboard-container-monitoring.json
  docs/superpowers/audits/working/api-responses/grafana/dashboard-minio-monitoring.json
  docs/superpowers/audits/working/api-responses/grafana/dashboard-nginx-monitoring.json
  docs/superpowers/audits/working/api-responses/grafana/dashboard-node-exporter-system.json
  docs/superpowers/audits/working/api-responses/grafana/dashboard-postgresql-monitoring.json
  docs/superpowers/audits/working/api-responses/grafana/dashboard-redis-monitoring.json
  docs/superpowers/audits/working/api-responses/grafana/dashboard-scholarship-overview.json
  docs/superpowers/audits/working/api-responses/grafana/dashboards-list.json
  docs/superpowers/audits/working/api-responses/grafana/datasources-health.json
  docs/superpowers/audits/working/api-responses/prometheus-loki/rules.json
  docs/superpowers/audits/working/api-responses/prometheus-loki/runtimeinfo.json
  docs/superpowers/audits/working/api-responses/prometheus-loki/targets.json
  docs/superpowers/audits/working/screenshots/grafana/alerting-list.png
  docs/superpowers/audits/working/screenshots/grafana/dashboard-application-logs.png
  docs/superpowers/audits/working/screenshots/grafana/dashboard-container-monitoring.png
  docs/superpowers/audits/working/screenshots/grafana/dashboard-minio-monitoring.png
  docs/superpowers/audits/working/screenshots/grafana/dashboard-nginx-monitoring.png
  docs/superpowers/audits/working/screenshots/grafana/dashboard-node-exporter-system.png
  docs/superpowers/audits/working/screenshots/grafana/dashboard-postgresql-monitoring.png
  docs/superpowers/audits/working/screenshots/grafana/dashboard-redis-monitoring.png
  docs/superpowers/audits/working/screenshots/grafana/dashboard-scholarship-overview.png
Due: none

audit(deploy-pipeline): add repo-migration context & old-repo run history
  docs/superpowers/audits/working/api-responses/deploy-pipeline/MIGRATION-CONTEXT.md
  docs/superpowers/audits/working/api-responses/deploy-pipeline/all-runs.json
  docs/superpowers/audits/working/api-responses/deploy-pipeline/mirror-runs.json
  docs/superpowers/audits/working/api-responses/deploy-pipeline/old-repo-deploy-runs.json
  docs/superpowers/audits/working/api-responses/deploy-pipeline/old-repo-run-19155493587-log.txt
  docs/superpowers/audits/working/api-responses/deploy-pipeline/old-repo-run-19155493587-meta.json
Due: none

audit(alloy-crossvm): findings for Alloy + cross-VM topology
  docs/superpowers/audits/working/alloy-crossvm.md
Due: none

audit(app-metrics): findings for application metric/log interface
  docs/superpowers/audits/working/api-responses/app-metrics/metric-inventory.md
  docs/superpowers/audits/working/app-metrics.md
Due: none

audit(deploy-pipeline): findings for deploy & mirror pipelines
  docs/superpowers/audits/working/deploy-pipeline.md
Due: none

audit(prometheus-loki): findings for Prometheus + Loki subsystem
  docs/superpowers/audits/working/api-responses/prometheus-loki/supplemental-queries.json
  docs/superpowers/audits/working/prometheus-loki.md
Due: none

audit(grafana): findings for Grafana subsystem
  docs/superpowers/audits/working/grafana.md
Due: none

fix(middleware): exclude /api/email/preview/ from CSP middleware
  frontend/middleware.ts
Due: frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

