Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

test: fix batch-10 CI failures — AsyncMock context manager + college review service
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_nycu_employee_endpoints.py
Due: backend-tests

fix(#839): use enum members (not .value) to avoid identity-map comparison bug
  backend/app/tests/test_critical_workflows.py
Due: backend-tests

fix(#839): use dedicated student_api_client fixture for API guard tests
  backend/app/tests/test_critical_workflows.py
Due: backend-tests

fix(tests): forward-port Wave 4 test fixes onto PR #843 branch
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix(tests): repair 5 remaining integration test failures
  backend/app/tests/test_application_service.py
Due: backend-tests

fix(#839): use client fixture + get_current_user override in API guard tests
  backend/app/tests/test_critical_workflows.py
Due: backend-tests

fix(#839): call endpoint function directly to avoid ASGI/patch interaction
  backend/app/tests/test_critical_workflows.py
Due: backend-tests

fix(#839): restore proper newlines in test_critical_workflows.py
  backend/app/tests/test_critical_workflows.py
Due: backend-tests

fix(#839): replace skipped service-level duplicate test with API-layer tests
  backend/app/tests/test_critical_workflows.py
Due: backend-tests

fix(lint): remove extra blank line (E303) in test_critical_workflows.py
  backend/app/tests/test_critical_workflows.py
Due: backend-tests

fix(tests): fix 5 more CI failures in PR #843 branch
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix(tests): correct documents assertion in integration test
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix(tests): resolve pre-existing unit/integration test failures
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix(tests): fix remaining unit and integration test failures
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix(tests): resolve batch-7 CI failures — ApplicationReview model + counter names + AsyncMock patterns
  backend/app/schemas/system_setting.py
  backend/app/tests/test_application_service.py
Due: backend-tests, api-types-check

fix(tests): update nycu_employee assertions for ApiResponse wrapper
  backend/app/tests/test_nycu_employee_endpoints.py
Due: backend-tests

fix(tests): resolve 5 pre-existing integration test failures
  backend/alembic/versions/20260530_scheduled_emails_created_by_nullable.py
  backend/app/models/email_management.py
  backend/app/tests/test_eligibility_service.py
  backend/app/tests/test_eligibility_service_unit.py
  backend/app/tests/test_email_automation_service_unit.py
Due: backend-tests, api-types-check, migration-check

fix(tests): use dependency_overrides for OCR endpoint auth (closes #850)
  backend/app/tests/test_ocr_endpoints.py
Due: backend-tests

fix(tests): resolve 5 more pre-existing integration test failures
  backend/app/tests/test_email_service_schedule_deep.py
  backend/app/tests/test_notification_service.py
Due: backend-tests

fix(roster): eagerly load items in download endpoint; allow empty-roster export
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/excel_export_service.py
Due: backend-tests, api-types-check

fix(tests): align OCR test assertions with lazy-config service and security-hardened endpoint
  backend/app/tests/test_ocr_endpoints.py
  backend/app/tests/test_ocr_service.py
Due: backend-tests

fix(tests): align OCR service tests with async is_enabled + stateless factory
  backend/app/tests/test_ocr_service.py
Due: backend-tests

fix(ocr): re-raise HTTPException in bank OCR inner handler so success=False returns correct message
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/tests/test_ocr_endpoints.py
Due: backend-tests, api-types-check

fix(application): guard _validate_sub_type_for_submission against None scholarship
  backend/app/services/application_service.py
Due: backend-tests

fix(application): reject "general" sub-type fallback for scholarships with real sub-types
  backend/app/services/application_service.py
  backend/app/tests/test_application_subtype_submission_guard.py
  frontend/components/enhanced-student-portal.tsx
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check

style: run black on test_application_subtype_submission_guard.py
  backend/app/tests/test_application_subtype_submission_guard.py
Due: backend-tests

fix(tests): repair PaymentRoster SA-state and notification datetime/enum failures
  backend/app/tests/test_notification_service.py
  backend/app/tests/test_payment_roster_model.py
Due: backend-tests

fix(tests): resolve 4 remaining deadline/bulk notification test failures
  backend/app/tests/test_notification_service.py
Due: backend-tests

fix(tests): resolve review-gating, roster-ORM-stale, reference-data-get_db failures
  backend/app/services/review_service.py
  backend/app/services/roster_service.py
  backend/app/tests/conftest.py
  backend/app/tests/test_reference_data_response_shape.py
  backend/app/tests/test_roster_service_generation.py
Due: backend-tests

fix(tests): move core_get_db import after app.main to break circular import
  backend/app/tests/conftest.py
Due: backend-tests

fix(tests): resolve SA-state, CollegeRanking constructor, and service API signature failures
  backend/app/tests/test_relationship_and_schedule_models.py
  backend/app/tests/test_roster_service_generation.py
  backend/app/tests/test_scholarship_configuration_service_full.py
Due: backend-tests

fix(tests): resolve RosterSchedule SA-state, roster matrix exception type, and scholarship config service API mismatches
  backend/app/tests/test_relationship_and_schedule_models.py
  backend/app/tests/test_roster_service_generation.py
  backend/app/tests/test_scholarship_configuration_service_full.py
Due: backend-tests

fix(tests+service): SA-state in RosterAuditLog, config_name KeyError, Application.config_code bug
  backend/app/services/scholarship_configuration_service.py
  backend/app/tests/test_roster_audit_log_model.py
  backend/app/tests/test_scholarship_configuration_service_full.py
Due: backend-tests

fix(tests): SA-state for ScheduledEmail, add missing amount field in create_configuration
  backend/app/tests/test_scheduled_email_model.py
  backend/app/tests/test_scholarship_configuration_service_full.py
Due: backend-tests

fix(tests): normalize_endpoint regex + rewrite student_service tests for current API
  backend/app/core/metrics.py
  backend/app/tests/test_student_service.py
Due: backend-tests

fix(application): re-derive sub_scholarship_type on edit; case-insensitive guard
  backend/app/services/application_service.py
  backend/app/tests/test_application_subtype_submission_guard.py
  frontend/components/enhanced-student-portal.tsx
Due: backend-tests, frontend-tests, typescript-check

fix(application): move sub-type fix to the live wizard; harden backend guard
  backend/app/services/application_service.py
  backend/app/tests/test_application_subtype_submission_guard.py
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check

docs: spec for ranking import/template unification on 學生資料彙整表 format
  docs/superpowers/specs/2026-05-30-ranking-import-template-unify-design.md
Due: none

docs: implementation plan for ranking import/template unification
  docs/superpowers/plans/2026-05-30-ranking-import-template-unify.md
Due: none

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

