Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


security: fix SSRF vulnerability in download API route (CodeQL #141)
  frontend/app/api/v1/download/route.ts
Due: frontend-tests, typescript-check

fix: configure pip-audit to scan only project dependencies, not system packages
  .github/workflows/security.yml
Due: none

security: update xlsx to 0.20.3 from SheetJS CDN
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests

fix: update security scans - migrate to Safety scan and configure Bandit
  .github/workflows/security.yml
  backend/.bandit
Due: backend-tests

fix: update dependencies to fix 8 security vulnerabilities
  backend/requirements.txt
Due: python-safety-check, backend-tests

feat: enhance backend URL validation to prevent SSRF attacks
  docker-compose.yml
  frontend/app/api/v1/download/route.ts
  frontend/app/api/v1/preview/route.ts
Due: frontend-tests, typescript-check, docker-compose-check

fix: align CodeQL category identifier to replace stale scan results
  .github/workflows/security.yml
Due: none

feat: implement GitHub Actions workflow for production mirroring
  .github/workflows/mirror-to-production.yml
  frontend/app/api/v1/download/route.ts
  frontend/app/api/v1/preview/route.ts
Due: frontend-tests, typescript-check

chore: clean up repository - remove env files and outdated docs
  .env.dev
  .env.example
  .env.example.dev
  .env.example.prod
  .env.example.prod-db
  .env.example.staging
  .env.prod-db-monitoring.example
  .env.staging
  .env.staging-db-monitoring.example
  .env.test
  .github/PRODUCTION_SYNC_GUIDE.md
  .github/production-workflows-examples/IT-BACKUP-TRANSFER-GUIDE.md
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/backup.yml
  .github/production-workflows-examples/deploy.yml
  .github/production-workflows-examples/health-check.yml
  APPLICATION_ID_UPGRADE_SUMMARY.md
  DEPLOYMENT.md
  EMAIL_AUTOMATION_INTEGRATION.md
  GEMINI.md
  NGINX_MONITORING_TEST.md
  SECRETS_SETUP.md
  SERVICE_REFACTORING_CHECKLIST.md
  STUDENT_PREVIEW_FEATURE.md
  backend/.env.example
  backend/.env.production.example
  db_schema_new.sql
  frontend/.env.local.example
  monitoring/.env.monitoring.example
Due: backend-tests, frontend-tests, env-validation

docs: add GitHub Secrets configuration guide
  GITHUB_SECRETS.md
Due: none

chore: remove redundant root config files and update Makefile
  Makefile
  docker-compose.yml
  nginx.conf
  package.json
Due: docker-compose-check

chore: consolidate dev tools - keep only Makefile
  Makefile
  docker-manager.sh
  docs/GITHUB_SECRETS.md
  test-docker.sh
Due: none

fix: exclude mock-student-api from production mirror
  .github/workflows/mirror-to-production.yml
Due: none

feat: squash commits and exclude .claude from production mirror
  .github/workflows/mirror-to-production.yml
Due: none

docs: remove outdated DATABASE_INITIALIZATION_ISSUES.md and update deployment and development documentation
  docs/DATABASE_INITIALIZATION_ISSUES.md
  docs/deployment/production-deployment.md
  docs/development/ci-cd.md
  docs/features/authentication.md
  docs/features/developer-profiles.md
  docs/features/user-management.md
  docs/getting-started/development-setup.md
  docs/getting-started/installation.md
  docs/getting-started/quick-start.md
Due: none

docs: update README and enhance production workflow for GitHub Actions
  .github/workflows/mirror-to-production.yml
  README.md
Due: none

chore: update backend dependencies for security and performance
  backend/requirements.txt
Due: python-safety-check, backend-tests

Add CodeQL analysis workflow configuration
  .github/workflows/codeql.yml
Due: none

Add GitHub Actions workflow for issue summarization
  .github/workflows/summary.yml
Due: none

fix: upgrade Pydantic to 2.12.3 to fix OpenAPI schema generation
  backend/requirements.txt
  frontend/lib/api/generated/schema.d.ts
Due: python-safety-check, backend-tests

feat: add migration for missing system settings
  backend/alembic/versions/be06a159931a_add_missing_system_settings_for_staging.py
Due: backend-tests, migration-check

refactor: update bank verification result schema and error handling
  backend/app/schemas/config_management.py
  backend/app/services/bank_verification_service.py
  frontend/components/admin-scholarship-dashboard.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: add missing is_readonly field in system settings migration
  backend/alembic/versions/be06a159931a_add_missing_system_settings_for_staging.py
Due: backend-tests, migration-check

fix: set last_modified_by to NULL to avoid foreign key constraint
  backend/alembic/versions/be06a159931a_add_missing_system_settings_for_staging.py
Due: backend-tests, migration-check

feat: implement bank account verification logging and error handling
  backend/app/api/v1/endpoints/admin.py
  backend/app/models/audit_log.py
  backend/app/services/application_audit_service.py
  backend/app/services/bank_verification_service.py
Due: backend-tests, api-types-check, migration-check

feat: add gemini_query_delay system setting and enhance bank verification service
  backend/alembic/versions/94e544932d78_add_gemini_query_delay_setting.py
  backend/app/core/config.py
  backend/app/services/bank_verification_service.py
  backend/app/services/ocr_service.py
Due: backend-tests, migration-check

feat: add Docker rebuild command and new float configuration retrieval method
  Makefile
  backend/app/core/dynamic_config.py
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/application-audit-trail.tsx
  frontend/components/audit-trail/AuditLogFilters.tsx
  frontend/components/audit-trail/AuditLogItem.tsx
  frontend/components/audit-trail/JsonDiffViewer.tsx
  frontend/components/audit-trail/README.md
  frontend/components/audit-trail/index.ts
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, backend-tests, frontend-tests, typescript-check

fix: update document ID handling in file mappings
  frontend/components/application-detail-dialog.tsx
  frontend/components/audit-trail/AuditLogItem.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/enhanced-student-portal.tsx
Due: frontend-tests, typescript-check

refactor: reorganize admin endpoints and standardize API responses
  backend/app/api/v1/endpoints/admin.py
  backend/app/api/v1/endpoints/admin/README.md
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/_helpers.py
  backend/app/api/v1/endpoints/admin/announcements.py
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/api/v1/endpoints/admin/configurations.py
  backend/app/api/v1/endpoints/admin/dashboard.py
  backend/app/api/v1/endpoints/admin/email_templates.py
  backend/app/api/v1/endpoints/admin/permissions.py
  backend/app/api/v1/endpoints/admin/professors.py
  backend/app/api/v1/endpoints/admin/rules.py
  backend/app/api/v1/endpoints/admin/scholarships.py
  backend/app/api/v1/endpoints/admin/system_settings.py
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/email_automation.py
  backend/app/api/v1/endpoints/email_management.py
  backend/app/api/v1/endpoints/notifications.py
  backend/app/api/v1/endpoints/nycu_employee.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/pre_authorization.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarship_rules.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/core/path_security.py
  backend/app/services/roster_service.py
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/admin/dashboard/DashboardPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore: sync OpenAPI types with admin endpoint refactoring
  frontend/lib/api/generated/schema.d.ts
Due: none

feat: enhance payment roster and college review system
  backend/alembic/versions/0a35efe15189_add_ranking_id_to_payment_rosters.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/utilities.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/models/payment_roster.py
  backend/app/schemas/application.py
  backend/app/schemas/roster.py
  backend/app/services/college_review_service.py
  backend/app/services/matrix_distribution.py
  backend/app/services/roster_service.py
  frontend/app/api/v1/scholarships/[type]/upload-terms/route.ts
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/application-detail-dialog.tsx
  frontend/components/college-dashboard.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/distribution/DistributionPanel.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/college/shared/ConfigSelector.tsx
  frontend/components/college/shared/RankingCard.tsx
  frontend/components/college/shared/RankingCardList.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/mock-sso-login.tsx
  frontend/components/semester-selector.tsx
  frontend/contexts/college-management-context.tsx
  frontend/hooks/use-admin.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/applications.ts
  frontend/lib/api/modules/college.ts
  frontend/lib/api/modules/payment-rosters.ts
  frontend/src/services/api/configApi.ts
  frontend/src/services/api/scholarshipConfigApi.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat: improve dashboard statistics and roster status tracking
  backend/app/api/v1/endpoints/admin/dashboard.py
  backend/app/services/college_review_service.py
  frontend/components/college/distribution/DistributionPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: implement separate bank verification statuses for partial verification
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/schemas/config_management.py
  backend/app/services/bank_verification_service.py
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/components/bank-verification-review-dialog.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/bank-verification.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: implement split-panel layout for bank verification review
  backend/app/api/v1/endpoints/admin/bank_verification.py
  frontend/components/bank-verification-review-dialog.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: enable OCR in manual review mode for bank verification
  frontend/components/admin-scholarship-dashboard.tsx
Due: frontend-tests, typescript-check

fix: resolve college review authorization issue with sub-type filtering
  backend/app/api/v1/endpoints/reviews.py
  backend/app/services/review_service.py
  frontend/components/quota-management.tsx
  frontend/components/quota/matrix-quota-table.tsx
  frontend/hooks/use-quota-data.ts
  frontend/lib/api/modules/quota.ts
  frontend/lib/quota-utils.ts
  frontend/services/api/quotaApi.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: handle role enum vs string comparison in review authorization
  backend/app/services/review_service.py
Due: backend-tests

fix: handle None and enum objects in review authorization checks
  backend/app/services/review_service.py
Due: backend-tests
