Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


ci(monitoring): include GH_PAT in pre-flight secret check (#105)
  .github/workflows/deploy-monitoring-stack.yml
  docs/screenshots/issue68-after-fix.png
  docs/screenshots/issue68-verified-20260508.png
  monitoring/config/grafana/provisioning/plugins/.gitkeep
Due: none

fix(#106): catch ReviewPermissionError in college-review applications endpoint
  backend/app/api/v1/endpoints/college_review/application_review.py
Due: backend-tests, api-types-check

fix(#106): catch ReviewPermissionError in college-review applications endpoint (#108)
  backend/app/api/v1/endpoints/college_review/application_review.py
Due: backend-tests, api-types-check

fix(monitoring): postgres SSL + MinIO scrape + auth=public
  docker-compose.staging-db-monitoring.yml
  docker-compose.staging-db.yml
  monitoring/config/alloy/staging-db-vm.alloy
Due: docker-compose-check

ci(monitoring): sync staging-db.yml + recreate MinIO during deploy
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): force-remove old MinIO container before recreate
  .github/workflows/deploy-monitoring-stack.yml
Due: none

chore(skill): add scholarship-issue-workflow project-level skill
  .claude/skills/scholarship-issue-workflow/SKILL.md
  .claude/skills/scholarship-issue-workflow/evals/evals.json
Due: none

chore(skill): add scholarship-issue-workflow project-level skill (#111)
  .claude/skills/scholarship-issue-workflow/SKILL.md
  .claude/skills/scholarship-issue-workflow/evals/evals.json
Due: none

fix(monitoring): verify gate must wait for DOWN==0 too
  .github/workflows/deploy-monitoring-stack.yml
Due: none

feat(monitoring): backend error logs trigger GitHub issues via Loki alerts
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/config/grafana/provisioning/alerting/rules-application-logs.yml
Due: none

fix(monitoring): reload Grafana provisioning after config copy
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): postgres SSL + MinIO scrape + auth=public (#110)
  .github/workflows/deploy-monitoring-stack.yml
  docker-compose.staging-db-monitoring.yml
  docker-compose.staging-db.yml
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/provisioning/alerting/rules-application-logs.yml
Due: docker-compose-check

fix(monitoring): MinIO dashboard queries point at db-vm not ap-vm
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
Due: none

fix(#93): rename status param shadowing fastapi.status in POST/PUT endpoints
  backend/app/api/v1/endpoints/professor_student.py
Due: backend-tests, api-types-check

docs: add spec for college ranking Excel export (學生資料彙整表)
  docs/superpowers/specs/2026-05-08-college-ranking-export-design.md
Due: none

chore(types): regenerate OpenAPI types for #93 active_status alias
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(monitoring): MinIO bucket+node scrapes + dashboard vm/datname fixes
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
Due: none

fix(monitoring): MinIO bucket+node scrapes + dashboard vm/datname fixes (#113)
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
Due: none

docs: add implementation plan for college ranking Excel export
  docs/superpowers/plans/2026-05-08-college-ranking-export.md
Due: none

fix(#93): rename status param shadow in POST/PUT professor-student endpoints (#112)
  backend/app/api/v1/endpoints/professor_student.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

feat(application-field): add include_in_college_export + export_column_label columns
  backend/alembic/versions/add_college_export_flag_001.py
Due: backend-tests, migration-check

feat(application-field): add ORM columns for college export flag
  backend/app/models/application_field.py
Due: backend-tests, api-types-check, migration-check

feat(application-field): pydantic schema + validator for college export flag
  backend/app/schemas/application_field.py
  backend/tests/test_application_field_export_validation.py
Due: backend-tests, api-types-check

feat(application-field): re-validate export flag after partial update merges
  backend/app/api/v1/endpoints/application_fields.py
Due: backend-tests, api-types-check

refactor(application-field): drop defensive getattr in export-flag guard
  backend/app/api/v1/endpoints/application_fields.py
Due: backend-tests, api-types-check

feat(college-export): add CollegeRankingExportService for 學生資料彙整表
  backend/app/services/college_ranking_export_service.py
  backend/tests/test_college_ranking_export_service.py
Due: backend-tests

feat(college-export): add GET /rankings/{id}/export-excel endpoint
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

chore(openapi): regenerate types after adding college export flag
  frontend/lib/api/generated/schema.d.ts
Due: none

feat(admin): add college export flag + override label to field editor
  frontend/components/application-field-form.tsx
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

feat(api): add exportRankingExcel client helper
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

feat(college-export): swap frontend xlsx generation for backend download
  frontend/components/college-ranking-table.tsx
Due: frontend-tests, typescript-check

fix: auto-fix CI failure for PR #114 - black formatting
  backend/app/services/college_ranking_export_service.py
  backend/tests/test_application_field_export_validation.py
Due: backend-tests

fix: auto-fix CI failure for PR #114 - black formatting (test + endpoint files)
  backend/tests/test_college_ranking_export_service.py
Due: backend-tests

fix: apply black formatting to ranking_management.py for PR #114 CI
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

fix(test): replace smart-quote with straight quote in export test
  backend/tests/test_college_ranking_export_service.py
Due: backend-tests

fix(monitoring): close the last 8 staging No-data panels
  monitoring/config/grafana/provisioning/dashboards/application/nginx-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/default/scholarship-system-overview.json
  monitoring/config/grafana/provisioning/dashboards/logs/application-logs.json
Due: none

fix(monitoring): close the last 8 staging No-data panels (#116)
  monitoring/config/grafana/provisioning/dashboards/application/nginx-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/default/scholarship-system-overview.json
  monitoring/config/grafana/provisioning/dashboards/logs/application-logs.json
Due: none

fix(monitoring): bump dashboard version + postgres allValue regex
  monitoring/config/grafana/provisioning/dashboards/application/nginx-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/default/scholarship-system-overview.json
  monitoring/config/grafana/provisioning/dashboards/logs/application-logs.json
Due: none

fix(monitoring): bump dashboard version + postgres allValue regex (#117)
  monitoring/config/grafana/provisioning/dashboards/application/nginx-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/default/scholarship-system-overview.json
  monitoring/config/grafana/provisioning/dashboards/logs/application-logs.json
Due: none

fix(monitoring): docker restart Grafana after reload to force dashboard re-read
  .github/workflows/deploy-monitoring-stack.yml
Due: none
