Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(tests): align Wave 4 tests with updated service contracts
  backend/app/tests/test_application_service.py
  backend/app/tests/test_audit_log_factory_and_enum.py
  backend/app/tests/test_bank_verification.py
  backend/app/tests/test_bank_verification_stack_trace_scrub.py
Due: backend-tests

feat(manual-distribution): remove ✕ column, add 撤/停 buttons via shared dialog
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix(manual-distribution): correct group-header colSpan after 取消 column removal
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

docs(manual-distribution): clarify mode snapshot before setAction reset
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix(roster-download): thread trace_id into all log lines + diagnose regen path
  backend/app/api/v1/endpoints/payment_rosters.py
Due: backend-tests, api-types-check

feat(roster): suspended students get 從本造冊移除 button; extract RevokedSuspendedSection
  frontend/components/roster/RevokedSuspendedSection.tsx
  frontend/components/roster/RosterDetailDialog.tsx
Due: frontend-tests, typescript-check

test(e2e): revoke/suspend distribution + locked-roster suspend removal
  frontend/e2e/specs/revoke-suspend.spec.ts
Due: frontend-tests, typescript-check

test(e2e): extend admin-revoke-suspend with ✕-removal, 停發 dialog, locked suspend removal; fix revoke placeholder
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/revoke-suspend.spec.ts
Due: frontend-tests, typescript-check

test(e2e): drop stale revoked cross-check in locked-suspend test (state pollution)
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
Due: frontend-tests, typescript-check

test(roster): cover suspended-application removal from locked roster (C2)
  backend/app/tests/test_roster_item_removal_service.py
Due: backend-tests

feat(distribution): only distribute a student to a professor-approved sub-type
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_professor_gate.py
Due: backend-tests

feat(manual-distribution): segmented status bar (正常/撤銷/停發) + disable 核配 checkboxes for cancelled students
  backend/app/services/manual_distribution_service.py
  frontend/components/admin/manual-distribution/AllocationStatusControl.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/admin/manual-distribution/__tests__/AllocationStatusControl.test.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

feat(manual-distribution): make 撤銷/停發 reversible — restore back to 正常
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  frontend/components/admin/manual-distribution/AllocationActionDialog.tsx
  frontend/components/admin/manual-distribution/AllocationStatusControl.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/admin/manual-distribution/__tests__/AllocationActionDialog.test.tsx
  frontend/components/admin/manual-distribution/__tests__/AllocationStatusControl.test.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore(dev): add isolated docker-compose override for parallel test stacks
  docker-compose.postal-test.yml
Due: docker-compose-check

fix: auto-fix CI failure for PR #841 — black formatting on test_roster_item_removal_service.py
  backend/app/tests/test_roster_item_removal_service.py
Due: backend-tests

fix(manual-distribution): free quota slot on revoke/suspend; address code review
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_restore_allocation_service.py
  docs/superpowers/specs/2026-05-29-revoke-suspend-ui-completion-design.md
  frontend/components/admin/manual-distribution/AllocationActionDialog.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(tests+schema): fix 6 CI failures exposed by continue-on-error gate
  backend/app/schemas/system_setting.py
  backend/app/tests/test_bank_verification_stack_trace_scrub.py
  backend/app/tests/test_bulk_approval_service.py
  backend/app/tests/test_business_metrics_instrumentation.py
  backend/app/tests/test_file_uploads_metric.py
  backend/app/tests/test_payment_rosters_metric.py
Due: backend-tests, api-types-check

fix(tests): fix 5 more integration test failures on main
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix(tests): forward-port all application-service test fixes onto PR #840
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix(tests): fix 6 more CI failures — SA instrumentation, auth mock pattern, wrong keys
  backend/app/tests/test_application_service_integration.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_college_review_model_properties.py
Due: backend-tests

fix(tests+schema): forward-port all CI gate fixes onto PR #840 branch
  backend/app/schemas/system_setting.py
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_bank_verification_stack_trace_scrub.py
  backend/app/tests/test_bulk_approval_service.py
  backend/app/tests/test_business_metrics_instrumentation.py
  backend/app/tests/test_college_review_model_properties.py
  backend/app/tests/test_file_uploads_metric.py
  backend/app/tests/test_payment_rosters_metric.py
Due: backend-tests, api-types-check

test: fix 5 stale unit tests (config constants, exceptions details, settings, dev profiles)
  backend/app/tests/test_config.py
  backend/app/tests/test_core_exceptions.py
  backend/app/tests/test_core_utilities.py
  backend/app/tests/test_developer_profiles.py
Due: backend-tests

test: fix unit+integration failures in developer-profiles and auth-service
  backend/app/services/developer_profile_service.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_developer_profiles.py
Due: backend-tests

test: fix 7 CI failures — audit-log invariants, sql-injection, token response, batch import
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/app/api/v1/endpoints/college_review/export_package.py
  backend/app/api/v1/endpoints/email_automation.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_batch_import_service_unit.py
  backend/app/tests/test_developer_profiles.py
  backend/app/tests/test_email_automation_redos_fix.py
Due: backend-tests, api-types-check

fix(tests): batch 6 CI fixes — traceback-loss, mock patterns, stale tests
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/core/cache.py
  backend/app/services/supplementary_import_service.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_batch_import_service_unit.py
  backend/app/tests/test_developer_profiles.py
  backend/app/tests/test_excel_validate_export_data.py
  backend/app/tests/test_notification_service.py
  backend/app/tests/test_student_service.py
Due: backend-tests, api-types-check

fix(tests): replace all data[detail] with data[message] in test assertions
  backend/app/tests/test_batch_import_endpoints.py
  backend/app/tests/test_mock_sso.py
  backend/app/tests/test_nycu_employee_endpoints.py
  backend/app/tests/test_ocr_endpoints.py
  backend/app/tests/test_quota_management.py
Due: backend-tests

fix(tests): fix AsyncMock chain in markNotificationAsRead test
  backend/app/tests/test_notification_service.py
Due: backend-tests

fix(tests): resolve batch-7 CI failures — ApplicationReview model + batch import test
  backend/app/services/batch_import_service.py
  backend/app/services/bulk_approval_service.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests

fix(tests): resolve batch-8 CI failures — Notification SA instrumentation + bulk rejection assertions
  backend/app/tests/test_batch_import_service_unit.py
  backend/app/tests/test_bulk_approval_service.py
  backend/app/tests/test_bulk_approval_service_unit.py
  backend/app/tests/test_notification_model_properties.py
Due: backend-tests

test: fix require_admin auth bypass + db fixture name in batch-9 CI failures
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_nycu_employee_endpoints.py
Due: backend-tests

test: fix batch-10 CI failures — AsyncMock context manager + college review service
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_nycu_employee_endpoints.py
Due: backend-tests
