Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

refactor(frontend): auto-detect debug panel via URL hostname instead of env var
  .claude/CLAUDE.md
  .env.staging
  docker-compose.dev.yml
  docker-compose.staging.yml
  docker-compose.yml
  frontend/.env.local.example
  frontend/components/debug-panel-wrapper.tsx
  frontend/components/debug-panel.tsx
Due: frontend-tests, typescript-check, env-validation, docker-compose-check

feat(email): add configurable email processor interval and fix template loading
  backend/app/db/seed_system_settings.py
  backend/app/services/roster_scheduler_service.py
  frontend/next.config.mjs
  package-lock.json
Due: backend-tests, frontend-tests

refactor(email): frontend-rendered HTML architecture
  backend/alembic/versions/8d7aa61ad1f9_add_html_body_to_scheduled_emails.py
  backend/app/models/email_management.py
  backend/app/services/email_automation_service.py
  backend/app/services/email_service.py
  backend/app/services/email_template_loader.py
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/lib/email-renderer.ts
  frontend/lib/enums.ts
  frontend/lib/i18n.ts
  frontend/lib/utils/application-helpers.ts
  frontend/package.json
Due: npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat(email): separate FRONTEND_URL and add monitoring infrastructure
  backend/app/core/config.py
  backend/app/core/metrics.py
  backend/app/main.py
  backend/app/middleware/metrics_middleware.py
  backend/app/services/email_automation_service.py
  backend/app/services/frontend_email_renderer.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
  docker-compose.yml
  frontend/app/api/email/render/route.ts
  frontend/app/layout.tsx
  frontend/components/scheduled-emails-table.tsx
  frontend/components/session-expired-modal.tsx
  frontend/contexts/session-expired-context.tsx
  frontend/emails/application-submitted.tsx
  frontend/emails/college-review-request.tsx
  frontend/emails/deadline-reminder.tsx
  frontend/emails/document-request.tsx
  frontend/emails/professor-review-request.tsx
  frontend/emails/result-notification.tsx
  frontend/emails/roster-notification.tsx
  frontend/emails/whitelist-notification.tsx
  frontend/lib/api/client.ts
  frontend/lib/enums.ts
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check, docker-compose-check

fix(deps): update package-lock.json to include @react-email/render
  frontend/package-lock.json
Due: npm-audit, frontend-tests

fix(frontend): rename email-renderer.ts to .tsx for JSX support
  frontend/lib/email-renderer.tsx
Due: frontend-tests, typescript-check

fix(email): use environment-specific frontend URL instead of hardcoded production URL
  backend/app/services/email_automation_service.py
  backend/app/services/email_service.py
Due: backend-tests

fix(migration): add existence check for html_body column
  backend/alembic/versions/8d7aa61ad1f9_add_html_body_to_scheduled_emails.py
Due: backend-tests, migration-check

feat(email): add email template management UI with React Email preview
  backend/app/api/v1/endpoints/email_management.py
  backend/app/services/react_email_template_service.py
  frontend/components/email-template-management.tsx
  frontend/components/react-email-template-viewer.tsx
  frontend/components/text-template-editor.tsx
  frontend/lib/api/modules/email-management.ts
  frontend/lib/email-renderer.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: improve email templates and UX enhancements
  backend/app/services/email_management_service.py
  frontend/components/student-wizard/StudentApplicationWizard.tsx
  frontend/emails/_components/BaseTemplate.tsx
  frontend/emails/_components/Footer.tsx
  frontend/emails/_components/Header.tsx
  frontend/emails/_components/InfoBox.tsx
  frontend/emails/_components/NYCUButton.tsx
Due: backend-tests, frontend-tests, typescript-check

chore: adjust Jest coverage threshold and update API types
  frontend/jest.config.js
  frontend/lib/api/generated/schema.d.ts
Due: frontend-tests

refactor: migrate from bank account to post office account system
  backend/alembic/versions/6e466296a228_remove_bank_code_and_bank_name_fields.py
  backend/app/models/payment_roster.py
  backend/app/models/user_profile.py
  backend/app/schemas/application.py
  backend/app/schemas/payment_roster.py
  backend/app/schemas/user_profile.py
  backend/app/services/bank_verification_service.py
  frontend/components/student-wizard/steps/PersonalInfoStep.tsx
  frontend/components/user-profile-management.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/validations/user-profile.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

refactor: migrate from bank account to post office account system
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/schemas/application_field.py
  backend/app/services/application_field_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/ocr_service.py
  backend/app/services/roster_service.py
  backend/app/services/student_verification_service.py
  backend/app/tests/test_bank_verification.py
  backend/app/tests/test_ocr_service.py
  frontend/lib/api.legacy.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/bank-verification.ts
  frontend/lib/api/modules/user-profiles.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: implement sequential Application ID system
  .claude/CLAUDE.md
  APPLICATION_ID_UPGRADE_SUMMARY.md
  backend/alembic/versions/31ff09e2beed_merge_application_sequences_and_bank_.py
  backend/alembic/versions/6b5cb44d2fe3_add_application_sequences_table.py
  backend/app/models/__init__.py
  backend/app/models/application_sequence.py
  backend/app/services/application_service.py
  backend/app/tests/test_application_sequence.py
  backend/verify_app_id.py
  frontend/components/admin/email/EmailPanel.tsx
  frontend/components/application-detail-dialog.tsx
  frontend/components/college-dashboard.tsx
  frontend/junit.xml
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

refactor: integrate React Email preview into email management panel
  frontend/components/admin/email/EmailPanel.tsx
  frontend/emails/_components/NYCUButton.tsx
Due: frontend-tests, typescript-check

fix(frontend): resolve Docker build webpack error with marked package
  frontend/babel.config.js
  frontend/emails/_components/Header.tsx
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests, typescript-check

chore: update Grafana monitoring dashboards and cleanup
  frontend/.cursor/rules/frontend.mdc
  monitoring/config/grafana/provisioning/dashboards/application/application-logs.json
  monitoring/config/grafana/provisioning/dashboards/application/container-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/application/nginx-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/redis-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/default/scholarship-system-overview.json
  monitoring/config/grafana/provisioning/dashboards/system/node-exporter-system.json
Due: frontend-tests

chore: update API types
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: default ranking force flag
  frontend/lib/api.legacy.ts
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

fix: align ranking payload type
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

feat: enhance college review system and UI improvements
  backend/alembic/versions/25101514470356be_force_cascade_college_reviews.py
  backend/alembic/versions/d5e18b9d8e3a_add_cascade_delete_to_college_reviews.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/college_review.py
  backend/app/models/college_review.py
  backend/app/schemas/user.py
  backend/app/services/batch_import_service.py
  backend/app/services/college_review_service.py
  backend/app/services/matrix_distribution.py
  frontend/app/globals.css
  frontend/components/college-dashboard.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/distribution-results-panel.tsx
  frontend/hooks/useGridMetrics.ts
  frontend/hooks/usePillMetrics.ts
  frontend/lib/api/modules/college.ts
  frontend/lib/constants/allocation-matrix-layout.ts
  frontend/styles/alloc-matrix.css
  frontend/types/user.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

refactor: update DistributionResultsPanel layout and styles
  frontend/components/distribution-results-panel.tsx
  frontend/lib/constants/allocation-matrix-layout.ts
Due: frontend-tests, typescript-check

improve: clarify user not found message in batch import
  backend/app/services/batch_import_service.py
Due: backend-tests

fix: correct deadline field references in deadline checker
  backend/app/tasks/deadline_checker.py
Due: backend-tests

fix: Add college_code to users and simplify managed-college endpoint
  backend/app/api/v1/endpoints/college_review.py
  backend/app/seed.py
Due: backend-tests, api-types-check

feat: Add duplicate student_id detection in batch import
  backend/app/services/batch_import_service.py
Due: backend-tests

feat: enhance college review with academy/department display and dynamic student data
  backend/app/api/v1/endpoints/college_review.py
  frontend/components/college-dashboard.tsx
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore: update OpenAPI types and adjust test coverage threshold
  frontend/jest.config.js
  frontend/lib/api/generated/schema.d.ts
Due: frontend-tests

chore: update OpenAPI types and adjust test coverage threshold
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/services/college_review_service.py
Due: backend-tests, api-types-check

fix: handle semester_filter boolean in ranking queries and filter invalid applications
  backend/app/services/college_review_service.py
Due: backend-tests

fix: resolve ranking creation issue with JSON field access
  backend/app/api/v1/endpoints/college_review.py
  backend/app/services/college_review_service.py
  frontend/components/college-dashboard.tsx
  frontend/components/college-ranking-table.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: implement unfinalize ranking functionality and enhance ranking data retrieval
  backend/alembic/versions/05a291e3cca0_remove_total_score_from_ranking_items.py
  backend/app/api/v1/endpoints/college_review.py
  backend/app/models/college_review.py
  backend/app/services/college_review_service.py
  backend/app/services/github_integration_service.py
  backend/app/tests/test_github_integration_service.py
  backend/app/tests/test_github_integration_utils.py
  frontend/components/college-dashboard.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/distribution-results-panel.tsx
  frontend/lib/api/modules/college.ts
  frontend/styles/alloc-matrix.css
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

chore: update OpenAPI types and fix save status indicator display
  frontend/components/college-dashboard.tsx
  frontend/components/college-ranking-table.tsx
  frontend/lib/api/generated/schema.d.ts
Due: frontend-tests, typescript-check

feat: add comprehensive audit logging to student-side endpoints
  STUDENT_PREVIEW_FEATURE.md
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/college_review.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/roster_schedules.py
  backend/app/models/audit_log.py
  backend/app/services/application_audit_service.py
  frontend/app/page.tsx
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/CollegeManagementShell.tsx
  frontend/components/college/distribution/DistributionPanel.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/college/shared/DistributionQuotaSummary.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/student-preview-card.tsx
  frontend/contexts/college-management-context.tsx
  frontend/hooks/use-student-preview.ts
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: fix college review form display to show only submitted form fields
  frontend/components/__tests__/application-form-data-display.test.tsx
  frontend/components/application-form-data-display.tsx
Due: frontend-tests, typescript-check

fix: display sub-scholarship badges in Chinese from database
  frontend/components/batch-application-file-upload.tsx
Due: frontend-tests, typescript-check

refactor: restructure college_review.py into modular package
  backend/app/api/v1/endpoints/college_review.py
  backend/app/api/v1/endpoints/college_review/__init__.py
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/college_review/utilities.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

feat: add admin approval/rejection with reason input UI for applications
  backend/app/services/application_audit_service.py
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/lib/api/modules/applications.ts
Due: backend-tests, frontend-tests, typescript-check

refactor: remove score field from application status update
  backend/app/schemas/application.py
  frontend/lib/api/modules/applications.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

