Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

fix(logging): preserve tracebacks in 4 stragglers missed by sweep
  backend/app/api/v1/endpoints/admin/professors.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/core/database_health.py
  backend/app/utils/date_utils.py
Due: backend-tests, api-types-check

fix(logging): preserve APScheduler job-error event traceback
  backend/app/services/roster_scheduler_service.py
Due: backend-tests

chore(tests): delete 4 module-level-skipped test files (2271 LOC)
  backend/app/tests/test_application_service_comprehensive.py
  backend/app/tests/test_email_management_service.py
  backend/app/tests/test_minio_service.py
  backend/app/tests/test_models_comprehensive.py
Due: backend-tests

test(security): source-level regression for announcement audit-log
  backend/app/tests/test_announcement_audit_log_invariants.py
Due: backend-tests

sec(notifications): stop leaking exception detail to HTTP client
  backend/app/api/v1/endpoints/notifications.py
Due: backend-tests, api-types-check

sec(nycu_employee): stop leaking exception detail to HTTP client (24 sites)
  backend/app/api/v1/endpoints/nycu_employee.py
Due: backend-tests, api-types-check

sec(email_management): stop leaking exception detail (10 of 11 sites)
  backend/app/api/v1/endpoints/email_management.py
Due: backend-tests, api-types-check

sec(endpoints): final-sweep exception-leak sanitization (24 sites, 10 files)
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/api/v1/endpoints/scholarship_management.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/api/v1/endpoints/users.py
Due: backend-tests, api-types-check

fix(logging): drop redundant logger.error(traceback.format_exc()) (6 sites)
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
Due: backend-tests, api-types-check

test(security): pin audit-log invariants for 12 instrumented endpoints
  backend/app/tests/test_endpoint_audit_log_invariants.py
Due: backend-tests

fix(types): remove duplicate UserListResponse interface declaration
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

sec(services): stop leaking exception detail through ValueError/BusinessLogicError (9 sites)
  backend/app/services/bank_verification_service.py
  backend/app/services/college_review_service.py
  backend/app/services/roster_service.py
  backend/app/services/user_profile_service.py
Due: backend-tests

fix(types): remove 7 duplicate interface declarations (-170 LOC)
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

chore(imports): clear 6 F401 stragglers across 3 files
  backend/app/api/v1/endpoints/admin/_helpers.py
  backend/app/api/v1/endpoints/admin/permissions.py
  backend/app/services/college_review_service.py
Due: backend-tests, api-types-check

sec(endpoints): AST invariant test for exception-leak + sweep 26 more sites
  backend/app/api/v1/endpoints/admin/students.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/utilities.py
  backend/app/api/v1/endpoints/email_automation.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_no_exception_leak_in_endpoints.py
Due: backend-tests, api-types-check

sec(logging): AST invariant against logger.error traceback-loss + sweep 6 sites
  backend/app/api/v1/endpoints/college_review/utilities.py
  backend/app/services/application_audit_service.py
  backend/app/services/batch_import_service.py
  backend/app/services/frontend_email_renderer.py
  backend/app/services/roster_service.py
  backend/app/tests/test_no_logger_error_traceback_loss.py
Due: backend-tests, api-types-check

sec(logging): preserve traceback for 3 logger.error sites passing exception as positional arg
  backend/app/main.py
  backend/app/services/email_service.py
Due: backend-tests

test(security): pin 7 more endpoint audit-log invariants (19 → 26 total)
  backend/app/tests/test_endpoint_audit_log_invariants.py
Due: backend-tests

sec(logging): preserve traceback for 5 logger.warning sites in utils/core/db
  backend/app/core/rate_limiting.py
  backend/app/db/session.py
  backend/app/utils/audit_helpers.py
  backend/app/utils/date_utils.py
Due: backend-tests

sec(logging): preserve traceback for 14 logger.warning sites in services/
  backend/app/services/application_service.py
  backend/app/services/batch_import_service.py
  backend/app/services/college_review_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/minio_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/services/roster_service.py
  backend/app/services/scholarship_service.py
  backend/app/services/student_service.py
Due: backend-tests

test(security): extend logger.error traceback-loss invariant to catch positional-arg form
  backend/app/tests/test_no_logger_error_traceback_loss.py
Due: backend-tests

sec(logging): preserve traceback for 8 logger.warning sites in core/cache.py
  backend/app/core/cache.py
Due: backend-tests

sec(logging): preserve traceback for 28 logger.warning sites in endpoints/
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/export_package.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/api/v1/endpoints/system_settings.py
Due: backend-tests, api-types-check

fix: auto-fix CI failure for PR #431 — pin exact W3C spec URL to resolve CodeQL py/incomplete-url-substring-sanitization
  backend/app/tests/test_csp_report_endpoint.py
Due: backend-tests

chore(frontend): narrow manual-distribution.ts any-types (19 sites)
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

test(observability): add WARNING-level traceback-loss AST invariant + sweep 3 stragglers
  backend/app/services/application_service.py
  backend/app/services/bank_verification_task_service.py
  backend/app/services/batch_import_service.py
  backend/app/tests/test_no_logger_warning_traceback_loss.py
  backend/app/utils/endpoint_decorators.py
Due: backend-tests

chore(frontend): narrow college.ts any-types (11 paths typed, 1 orphan)
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow admin.ts any-types (9 of 10 sites cleared)
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow applications.ts any-types (8 sites)
  frontend/lib/api/modules/applications.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow any-types across 4 API modules (16 sites)
  frontend/lib/api/modules/bank-verification.ts
  frontend/lib/api/modules/quota.ts
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/api/modules/user-profiles.ts
Due: frontend-tests, typescript-check

chore(frontend): narrow component-level any-type casts (13 sites)
  frontend/components/admin-management-interface.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/reviewer-dashboard.tsx
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

chore(frontend): narrow any-types across 8 small API modules (14 sites)
  frontend/lib/api/modules/application-fields.ts
  frontend/lib/api/modules/batch-import.ts
  frontend/lib/api/modules/email-management.ts
  frontend/lib/api/modules/notifications.ts
  frontend/lib/api/modules/professor-student.ts
  frontend/lib/api/modules/scholarships.ts
  frontend/lib/api/modules/users.ts
  frontend/lib/api/modules/whitelist.ts
Due: frontend-tests, typescript-check

test(frontend): update getHistory/restoreFromHistory tests for typed-route migration
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
Due: frontend-tests, typescript-check

test(frontend): update getScholarshipAuditTrail test for typed-route migration
  frontend/lib/api/modules/__tests__/admin.test.ts
Due: frontend-tests, typescript-check

chore(frontend): clear last 3 narrowable any-types
  frontend/components/application-form-data-display.tsx
  frontend/hooks/use-reference-data.ts
  frontend/lib/api/modules/auth.ts
Due: frontend-tests, typescript-check

fix(nightly): delete orphaned test that imports deleted module
  backend/app/tests/test_fb_notification_request_schemas.py
Due: backend-tests

fix(SECURITY): sanitize RosterGenerationError 500 detail + extend AST invariant
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/tests/test_no_exception_leak_in_endpoints.py
Due: backend-tests, api-types-check

fix(alembic): handle UNIQUE INDEX vs UNIQUE CONSTRAINT in email_templates migration
  backend/alembic/versions/20260515_email_templates_scholarship_type_id.py
Due: backend-tests, migration-check

refactor(frontend): remove debug useEffects + unused apiClient import from page.tsx
  frontend/app/page.tsx
Due: frontend-tests, typescript-check

fix(frontend): migrate error-boundary + notification-button console.* → logger
  frontend/components/__tests__/error-boundary.test.tsx
  frontend/components/error-boundary.tsx
  frontend/components/notification-button.tsx
Due: frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

