Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(document-requests): stop cancel from 500ing after it commits
  backend/app/api/v1/endpoints/document_requests.py
Due: backend-tests, api-types-check

chore: add PR #1406 Playwright screenshots
  screenshots/01-college-review-dialog-own-app-no-docreq-button.png
  screenshots/02-scenario-A-results.png
  screenshots/03-scenario-B-results.png
  screenshots/04-scenario-C-results.png
Due: none

fix(academies): remove duplicate academy code 8 (人社院)
  backend/alembic/versions/remove_academy_8_001.py
  backend/app/core/college_mappings.py
  backend/app/tests/test_academy_migrations.py
  backend/app/tests/test_align_academy_names_003_migration.py
  backend/app/tests/test_college_mappings.py
Due: backend-tests, migration-check

fix(academies): move code-8 departments to A instead of detaching
  backend/alembic/versions/remove_academy_8_001.py
Due: backend-tests, migration-check

chore: 更改郵件內容
  frontend/emails/application-submitted.tsx
  frontend/emails/professor-review-request.tsx
Due: frontend-tests, typescript-check

docs: add /prod-release-notes command for production sync PRs
  .claude/commands/prod-release-notes.md
Due: none

feat(college-ranking): enforce one ranking per college per period
  .claude/skills/playwright-test-and-debug/SKILL.md
  backend/alembic/versions/college_ranking_single_001.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/models/college_review.py
  backend/app/services/college_review_service.py
  backend/app/tests/conftest.py
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_ranking_management_endpoints.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/admin-manual-distribution.spec.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
  frontend/e2e/specs/multi-role-phd.spec.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/college.test.ts
  frontend/lib/api/modules/college.ts
  scripts/multicollege_seed_to_roster.py
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(college-ranking): sync late applications, harden single-ranking edge cases
  .claude/skills/playwright-test-and-debug/scripts/verify-multi-college-distribution.js
  backend/alembic/versions/college_ranking_single_001.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_review_service.py
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_ranking_management_endpoints.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/e2e/helpers/db.ts
  frontend/lib/api/generated/schema.d.ts
  scripts/multicollege_seed_to_roster.py
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

test(e2e): adapt multi-college fixtures and drivers to single-ranking rule
  .claude/skills/playwright-test-and-debug/scripts/db-query.sh
  .claude/skills/playwright-test-and-debug/scripts/verify-multi-college-distribution.js
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
Due: frontend-tests, typescript-check

chore(migration): collapse the dual alembic head, re-parent single-ranking onto it
  backend/alembic/versions/20260921_merge_renewal_dual.py
  backend/alembic/versions/college_ranking_single_001.py
Due: backend-tests, migration-check

feat(college-ranking): prompt when applications are missing from the ranking
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_review_service.py
  backend/app/tests/test_ranking_management_endpoints.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/contexts/college-management-context.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: grey out professor-unreviewed cells and make the college ranking-only
  backend/app/api/v1/endpoints/reviews.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/renewal_distribution_service.py
  backend/app/services/review_service.py
  backend/app/tests/test_auto_allocate_preview.py
  backend/app/tests/test_manual_distribution_professor_gate.py
  backend/app/tests/test_manual_distribution_review_display.py
  backend/app/tests/test_reviews_endpoints.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/college-ranking-table.tsx
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/contexts/college-management-context.tsx
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
  frontend/hooks/use-admin.ts
  frontend/lib/api/__tests__/college-quota-grid.test.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/college.test.ts
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/college.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

docs(evidence): 2026-09-21 manual-dist unreviewed-gray / college ranking-only (PR #1414)
  docs/staging-tests/2026-09-21/01-manual-dist-unreviewed-gray-college-rank-only/01-grid-overview.png
  docs/staging-tests/2026-09-21/01-manual-dist-unreviewed-gray-college-rank-only/02-professor-college-columns.png
  docs/staging-tests/2026-09-21/01-manual-dist-unreviewed-gray-college-rank-only/03-college-rejected-row.png
  docs/staging-tests/2026-09-21/01-manual-dist-unreviewed-gray-college-rank-only/03-unreviewed-row-disabled.png
  docs/staging-tests/2026-09-21/01-manual-dist-unreviewed-gray-college-rank-only/04-college-dialog-no-review-tab.png
  docs/staging-tests/2026-09-21/01-manual-dist-unreviewed-gray-college-rank-only/05-admin-dialog-has-review-tab.png
  docs/staging-tests/2026-09-21/01-manual-dist-unreviewed-gray-college-rank-only/06-college-review-403.txt
  docs/staging-tests/2026-09-21/01-manual-dist-unreviewed-gray-college-rank-only/07-college-ranking-dialog.png
  docs/staging-tests/2026-09-21/01-manual-dist-unreviewed-gray-college-rank-only/README.md
  index.html
Due: none

chore(migration): re-parent college_ranking_single_001 onto main's head
  backend/alembic/versions/college_ranking_single_001.py
Due: backend-tests, migration-check

fix: count saved personal info in step 3 form completion
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/utils/__tests__/application-progress.test.ts
  frontend/lib/utils/application-progress.ts
Due: frontend-tests, typescript-check

fix: derive step 3 progress synchronously to remove stale-response race
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/utils/__tests__/application-progress.test.ts
  frontend/lib/utils/application-progress.ts
Due: frontend-tests, typescript-check

fix: share one real-sub-type predicate across progress and selector
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/__tests__/scholarship-eligibility.test.ts
  frontend/lib/scholarship-eligibility.ts
Due: frontend-tests, typescript-check

evidence: PR #1416 step-3 form completion Playwright run (b182ab48)
  pr-1416-step3-progress/README.md
  pr-1416-step3-progress/saved-315551401-B1-initial.png
  pr-1416-step3-progress/saved-315551401-B2-subtype-selected.png
  pr-1416-step3-progress/saved-315551401-B3-all-filled.png
  pr-1416-step3-progress/saved-315551401-B4-advisor-edited-unsaved.png
  pr-1416-step3-progress/saved-315551401-results.json
  pr-1416-step3-progress/unsaved-stuphd001-A1-initial.png
  pr-1416-step3-progress/unsaved-stuphd001-A2-all-below-filled.png
  pr-1416-step3-progress/unsaved-stuphd001-A3-go-to-personal-info.png
  pr-1416-step3-progress/unsaved-stuphd001-results.json
Due: none

fix: require the 存摺封面 before 儲存個人資料 and 提交申請
  backend/app/services/application_field_service.py
  backend/app/services/application_service.py
  backend/app/tests/test_critical_workflows.py
  backend/app/tests/test_fixed_bank_document_required.py
  backend/app/tests/test_submit_application_deep.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/e2e/helpers/api.ts
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
  frontend/e2e/specs/admin-returns-application.spec.ts
  frontend/e2e/specs/student-draft-save.spec.ts
  frontend/lib/utils/__tests__/fixed-form-text.test.ts
  frontend/lib/utils/fixed-form-text.ts
Due: backend-tests, frontend-tests, typescript-check

fix: close the review gaps in the 存摺封面 gate
  backend/app/services/application_service.py
  backend/app/tests/test_critical_workflows.py
  backend/app/tests/test_submit_application_deep.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/e2e/helpers/api.ts
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
  frontend/e2e/specs/admin-returns-application.spec.ts
  frontend/e2e/specs/student-draft-save.spec.ts
  frontend/lib/utils/__tests__/fixed-form-text.test.ts
  frontend/lib/utils/fixed-form-text.ts
Due: backend-tests, frontend-tests, typescript-check

fix: seed a 存摺封面 for returning dev students instead of per-spec setup
  backend/app/db/seed_passbooks.py
  backend/app/seed.py
  backend/app/tests/test_application_renewal.py
  backend/app/tests/test_application_service.py
  frontend/e2e/helpers/api.ts
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
  frontend/e2e/specs/admin-returns-application.spec.ts
  frontend/e2e/specs/student-draft-save.spec.ts
Due: backend-tests, frontend-tests, typescript-check

feat: add 匯出申請資料 to the admin 獎學金分發 page
  backend/app/api/v1/endpoints/college_review/export_package.py
  backend/app/services/export_package_service.py
  backend/app/services/export_summary_tables.py
  backend/app/tests/test_export_package_embeds_summary.py
  backend/app/tests/test_export_package_endpoint.py
  frontend/app/api/v1/export-package/route.ts
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/college.test.ts
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

Refactor staging health monitor workflow
  .github/workflows/staging-health-monitor.yml
Due: none

fix: make monitoring alerts actually reach someone
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/deploy-monitoring-stack.yml
  .github/production-workflows-examples/monitoring-alert-issue.yml
  .github/workflows/mirror-to-production.yml
  monitoring/README.md
  monitoring/config/grafana/provisioning/alerting/rules-monitoring.yml
Due: none

ci: add a temporary staging disk diagnose/rescue workflow
  .github/workflows/diag-staging-disk-rescue.yml
Due: none

ci: run the staging cleanup before the slow diagnostics
  .github/workflows/diag-staging-disk-rescue.yml
Due: none

ci: make the staging rescue independent of dockerd
  .github/workflows/diag-staging-disk-rescue.yml
Due: none

revert: restore the staging health checks removed in af6a46f1
  .github/workflows/staging-health-monitor.yml
Due: none

fix: stop monitoring-alert issue creation failing on empty labels
  .github/production-workflows-examples/monitoring-alert-issue.yml
  .github/workflows/monitoring-alert-issue.yml
Due: none

ci: add workflow to run a VS Code tunnel as a service on the self-hosted runner
  .github/workflows/vscode-tunnel.yml
Due: none

ci: temporary push trigger to exercise the vscode tunnel workflow
  .github/workflows/vscode-tunnel.yml
Due: none

fix: update two nightly e2e specs that went stale
  frontend/e2e/specs/admin-preview-dialog-render.spec.ts
  frontend/e2e/specs/regulations-pdf-canvas.spec.ts
Due: frontend-tests, typescript-check

feat: dev nginx overlay and real-Safari upload preview check
  .github/workflows/safari-upload-preview.yml
  docker-compose.dev-nginx.yml
  docker-compose.dev-release.yml
  scripts/dev-nginx.sh
  scripts/safari/wizard_upload_preview.py
Due: docker-compose-check

test: sample preview dialog state in the Safari wizard check
  scripts/safari/wizard_upload_preview.py
Due: none
