Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


chore(api-types): update schema.d.ts to match 501-not-implemented docstrings
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(api): return 501 for endpoints calling missing service methods
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/api/v1/endpoints/scholarship_management.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

fix(api): return 501 for scholarship_management.py async-on-sync-session endpoints
  backend/app/api/v1/endpoints/scholarship_management.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

chore(lint): clear F841 + F811 flake8 violations in 2 endpoint files
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/manual_distribution.py
Due: backend-tests, api-types-check

chore(tests): drop 14 unused-variable bindings (F841) across 6 test files
  backend/app/tests/test_application_audit_service_deep.py
  backend/app/tests/test_bank_verification_task_state_machine.py
  backend/app/tests/test_get_user_notifications_deep.py
  backend/app/tests/test_manual_distribution_finalize.py
  backend/app/tests/test_professor_review_stats.py
  backend/app/tests/test_settings_schemas.py
Due: backend-tests

SECURITY: bump PyJWT 2.9.0 -> 2.12.0 in pyproject.toml
  backend/pyproject.toml
Due: backend-tests

SECURITY: pin @tootallnate/once >=3.0.1 via npm override (closes #38)
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests

SECURITY: audit-log bulk PII export endpoint (college_review/export-package)
  backend/app/api/v1/endpoints/college_review/export_package.py
Due: backend-tests, api-types-check

chore: sync schema.d.ts description for export-package after docstring update
  frontend/lib/api/generated/schema.d.ts
Due: none

SECURITY: audit-log admin/system-setting PUT mutations
  backend/app/api/v1/endpoints/admin/system_settings.py
Due: backend-tests, api-types-check

SECURITY: audit-log admin/announcements mutations (CREATE / UPDATE / DELETE)
  backend/app/api/v1/endpoints/admin/announcements.py
Due: backend-tests, api-types-check

chore: sync schema.d.ts description for admin/system-setting PUT
  frontend/lib/api/generated/schema.d.ts
Due: none

SECURITY: audit-log admin/email-template PUT mutations
  backend/app/api/v1/endpoints/admin/email_templates.py
Due: backend-tests, api-types-check

SECURITY: audit-log system-settings configuration CREATE / UPDATE / DELETE
  backend/app/api/v1/endpoints/system_settings.py
Due: backend-tests, api-types-check

SECURITY: audit-log college_review/department-summary-export (single + bulk)
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
Due: backend-tests, api-types-check

SECURITY: audit-log admin/students detail + SIS lookups + log swallowed SIS-term failures
  backend/app/api/v1/endpoints/admin/students.py
Due: backend-tests, api-types-check

chore: sync schema.d.ts for admin/students docstring expansion
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(api): implement ApplicationService.get_application_available_sub_types (closes #649)
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/services/application_service.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

chore: extract schemas + delete notifications_facebook_demo.py (closes #665 cat. C)
  backend/app/api/v1/endpoints/notifications_facebook_demo.py
  backend/app/schemas/notification_facebook.py
  backend/app/tests/test_facebook_notification_request_schemas.py
Due: backend-tests, api-types-check

chore: delete 4 orphaned 501-stub endpoints in scholarship_management.py
  backend/app/api/v1/endpoints/scholarship_management.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

chore(alembic): merge 5 unmerged heads into single head (closes #668)
  backend/alembic/versions/20260515_merge_5_heads.py
Due: backend-tests, migration-check

feat(api): implement per-scholarship email templates (closes #647)
  backend/alembic/versions/20260515_email_templates_scholarship_type_id.py
  backend/app/api/v1/endpoints/admin/email_templates.py
  backend/app/models/system_setting.py
  backend/app/services/system_setting_service.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check, migration-check

chore(api): regenerate OpenAPI types for per-scholarship email templates
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(security): rate limit /portal-sso/verify (closes #641)
  backend/app/api/v1/endpoints/auth.py
  backend/app/tests/test_auth_rate_limit_invariants.py
Due: backend-tests, api-types-check

fix(migration): drop incompatible FK on email_automation_rules.template_key
  backend/alembic/versions/20260515_email_templates_scholarship_type_id.py
  backend/alembic/versions/c5d8f9a2b3e1_create_email_automation_rules.py
  backend/app/models/email_management.py
Due: backend-tests, api-types-check, migration-check

fix(types): reconcile DashboardStats / SystemStats type drift (closes #642)
  frontend/components/admin-management-interface.tsx
  frontend/lib/api/modules/admin.ts
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

fix(migration): drop FK on EmailHistory + ScheduledEmail template_key too
  backend/alembic/versions/20260515_email_templates_scholarship_type_id.py
  backend/app/models/email_management.py
Due: backend-tests, api-types-check, migration-check

fix(migration): shorten revision ID to fit alembic_version VARCHAR(32)
  backend/alembic/versions/20260515_email_templates_scholarship_type_id.py
Due: backend-tests, migration-check

fix(api-client): pass scholarship_type_id query in createScholarshipEmailTemplate
  frontend/lib/api/modules/admin.ts
Due: frontend-tests, typescript-check

test(api-client): update admin.test.ts to match new email-template signatures
  frontend/lib/api/modules/__tests__/admin.test.ts
Due: frontend-tests, typescript-check

chore(types): narrow application-fields module any → Record<string, unknown>
  frontend/lib/api/modules/application-fields.ts
Due: frontend-tests, typescript-check

chore(types): clear last 3 any sites in email-management module
  frontend/lib/api/modules/email-management.ts
Due: frontend-tests, typescript-check

fix(types): use canonical ScholarshipFormConfig / FormConfigSaveRequest
  frontend/lib/api/modules/application-fields.ts
Due: frontend-tests, typescript-check

fix(types): keep PaginatedEmailResponse.items as any[] (3 consumers diverge)
  frontend/lib/api/modules/email-management.ts
Due: frontend-tests, typescript-check

fix(admin): use ?. on response.data after uploadDocumentExample (#673)
  frontend/components/admin-scholarship-management-interface.tsx
Due: frontend-tests, typescript-check

chore(types): narrow ApplicationCreate index signature any → unknown
  frontend/lib/api/modules/applications.ts
Due: frontend-tests, typescript-check

fix(types): cast saveFormConfig body through never (openapi-fetch schema gap)
  frontend/lib/api/modules/application-fields.ts
Due: frontend-tests, typescript-check

chore(types): narrow toApiResponse(response: any) to FetchResponse<unknown>
  frontend/lib/api/compat.ts
Due: frontend-tests, typescript-check

fix(types): coerce data.success to boolean in toApiResponse
  frontend/lib/api/compat.ts
Due: frontend-tests, typescript-check

sec(notifications): audit-log orphan /admin/announcement mutations
  backend/app/api/v1/endpoints/notifications.py
Due: backend-tests, api-types-check
