Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

Create setting-env.yml
  .github/workflows/setting-env.yml
Due: none

feat: add Docker permissions verification step to production workflow
  .github/production-workflows-examples/setting-env.yml
Due: none

Update setting-env.yml
  .github/workflows/setting-env.yml
Due: none

feat: update CLAUDE code review workflow to skip drafts
  .github/workflows/claude-code-review.yml
Due: none

fix: resolve CodeQL regex injection and stack trace exposure warnings
  .claude/CLAUDE.md
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/core/regex_validator.py
Due: backend-tests, api-types-check

fix: properly suppress CodeQL regex injection warnings using filter-sarif
  .claude/CLAUDE.md
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  backend/app/core/regex_validator.py
Due: backend-tests

fix: add missing filter-sarif pattern to suppress CodeQL alert #204
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  backend/app/api/v1/endpoints/admin/bank_verification.py
Due: backend-tests, api-types-check

feat: implement draft hard delete and comprehensive application editing
  backend/app/api/v1/endpoints/applications.py
  backend/app/services/application_service.py
  frontend/app/page.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/StudentApplicationWizard.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: add authentication token to SARIF artifact download
  .github/workflows/sarif-to-pdf.yml
Due: none

chore: update API types for DELETE endpoint documentation
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: use origin/production as baseline for mirror workflow diff calculation
  .github/workflows/mirror-to-production.yml
Due: none

fix: skip merge from production repo to enable one-way dev-to-prod sync
  .github/workflows/mirror-to-production.yml
Due: none

fix: add --allow-unrelated-histories to main branch merge
  .github/workflows/mirror-to-production.yml
Due: none

fix: add -X theirs strategy to resolve merge conflicts automatically
  .github/workflows/mirror-to-production.yml
Due: none

Remove deprecated files and test scripts to streamline codebase
  .github/workflows/mirror-to-production.yml
  DEPRECATED_CODE_CLEANUP_REPORT.md
  backend/SCORING_REFACTORING_COMPLETED.md
  backend/test_bank_verification.py
  backend/test_manual_review.py
  backend/test_pre_auth_role_preservation.py
  backend/tests/conftest.py
  backend/tests/test_bank_verification_sanitization.py
  backend/tests/test_distribution_roster_pipeline.py
  backend/tests/test_regex_validator.py
  backend/tests/test_review_authorization.py
  backend/verify_app_id.py
  frontend/ADMIN_ENDPOINTS_STATUS.md
  frontend/BATCH_MIGRATION.sh
  frontend/MIGRATION_PROGRESS.md
  frontend/MIGRATION_STATUS.md
  frontend/OPENAPI_TYPES_GUIDE.md
  frontend/PHASE_2_2_SUMMARY.md
  frontend/PHASE_2_COMPONENT_FIXES.md
  frontend/TESTING_STATUS.md
  frontend/regenerate-deps.sh
  frontend/test-api-connection.js
  frontend/test-output.txt
Due: backend-tests, frontend-tests

Refactor mirror-to-production workflow to exclude test files and documentation from sync
  .github/workflows/mirror-to-production.yml
Due: none

Remove test paths from CodeQL configuration to streamline analysis
  .github/codeql/codeql-config.yml
Due: none

Security: implement comprehensive credential management best practices
  .github/workflows/security.yml
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
  backend/Dockerfile
  backend/alembic/versions/24becd31ed61_decrypt_empty_sensitive_values.py
  backend/app/core/config.py
  docker-compose.staging.yml
  frontend/Dockerfile
  frontend/components/admin-management-interface.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/bank-verification-review-dialog.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/payment-roster-list.tsx
  frontend/components/user-permission-management.tsx
  frontend/lib/api/types.ts
  monitoring/config/grafana/grafana.ini.example
Due: backend-tests, frontend-tests, typescript-check, migration-check, docker-compose-check

Enhance CI workflows with environment variable management
  .github/workflows/api-types-check.yml
  .github/workflows/ci.yml
Due: none

Security: Remove grafana.ini from version control while maintaining deployment functionality
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/config/grafana/grafana.ini
Due: none

Remove env_file references from staging docker-compose for redis and frontend services to streamline configuration management.
  docker-compose.staging.yml
Due: docker-compose-check

Delete .github/production-workflows-examples directory
  .github/production-workflows-examples/IT-BACKUP-TRANSFER-GUIDE.md
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/auto-tag-on-merge.yml
  .github/production-workflows-examples/backup.yml
  .github/production-workflows-examples/deploy.yml
  .github/production-workflows-examples/health-check.yml
  .github/production-workflows-examples/setting-env.yml
Due: none

Delete .github/codeql directory
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
Due: none

Update mirror-to-production workflow to exclude .github/codeql directory from sync process
  .github/workflows/mirror-to-production.yml
Due: none

Enhance mirror-to-production workflow by adding removal of .github/codeql directory
  .github/workflows/mirror-to-production.yml
Due: none

Release v0.10.2 (#19)
  .gitignore
  .pre-commit-config.yaml
  .secrets.baseline
  README.md
  backend/.github/workflows/schema_validation.yml
  backend/Dockerfile
  backend/SCORING_REFACTORING_COMPLETED.md
  backend/alembic/versions/24becd31ed61_decrypt_empty_sensitive_values.py
  backend/app/core/config.py
  backend/test_bank_verification.py
  backend/test_manual_review.py
  backend/test_pre_auth_role_preservation.py
  backend/tests/conftest.py
  backend/tests/test_regex_validator.py
  backend/tests/test_review_authorization.py
  backend/verify_app_id.py
  docker-compose.staging.yml
  frontend/ADMIN_ENDPOINTS_STATUS.md
  frontend/Dockerfile
  frontend/MIGRATION_PROGRESS.md
  frontend/MIGRATION_STATUS.md
  frontend/OPENAPI_TYPES_GUIDE.md
  frontend/PHASE_2_2_SUMMARY.md
  frontend/PHASE_2_COMPONENT_FIXES.md
  frontend/TESTING_STATUS.md
  frontend/components/admin-management-interface.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/bank-verification-review-dialog.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/payment-roster-list.tsx
  frontend/components/user-permission-management.tsx
  frontend/lib/api/types.ts
  monitoring/config/grafana/grafana.ini.example
Due: backend-tests, frontend-tests, typescript-check, migration-check, docker-compose-check

Refactor mirror-to-production workflow to remove unnecessary files and directories
  .github/workflows/mirror-to-production.yml
  backend/docker-compose.yml
Due: backend-tests, docker-compose-check

Delete DEPRECATED_CODE_CLEANUP_REPORT.md
  DEPRECATED_CODE_CLEANUP_REPORT.md
Due: none

Enhance mirror-to-production workflow to support baseline tracking from prod-repo/main
  .github/workflows/mirror-to-production.yml
Due: none

Update header component to change button variants for professor and college roles from secondary to default
  frontend/components/header.tsx
Due: frontend-tests, typescript-check

Add student management feature with API integration and type optimization
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/students.py
  frontend/components/admin/AdminManagementShell.tsx
  frontend/components/admin/students/StudentDetailModal.tsx
  frontend/components/admin/students/StudentListManagement.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/students.ts
  frontend/lib/api/modules/users.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

Release v0.10.4 (#21)
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/students.py
  backend/tests/test_bank_verification_sanitization.py
  backend/tests/test_distribution_roster_pipeline.py
  frontend/components/admin/AdminManagementShell.tsx
  frontend/components/admin/students/StudentDetailModal.tsx
  frontend/components/admin/students/StudentListManagement.tsx
  frontend/components/header.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/students.ts
  frontend/lib/api/modules/users.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

Refactor database configuration to enhance security and prevent hardcoded credentials
  backend/alembic.ini
  backend/app/core/config.py
  monitoring/config/grafana/grafana.ini.example
  scripts/validate_enum_consistency.py
Due: backend-tests

Release v0.10.5 (#22)
  backend/alembic.ini
  backend/app/core/config.py
  monitoring/config/grafana/grafana.ini.example
  scripts/validate_enum_consistency.py
Due: backend-tests

Fix open redirect security vulnerabilities with URL validation utility
  .github/codeql/README.md
  .github/workflows/codeql.yml
  frontend/components/dynamic-application-form.tsx
  frontend/components/payment-roster-list.tsx
  frontend/lib/utils/url-validation.test.ts
  frontend/lib/utils/url-validation.ts
Due: frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

