Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

test: skip stale test_email_management_service tests (rot cluster #490)
  backend/app/tests/test_email_management_service.py
Due: backend-tests

test(core-utilities): fix 8 schema-drift failures
  backend/app/tests/test_core_utilities.py
Due: backend-tests

test(debug-panel): unskip 3 tests via use-auth mock
  frontend/components/__tests__/debug-panel.test.tsx
Due: frontend-tests, typescript-check

fix(form-data): render nested object form values as JSON, not [object Object]
  frontend/components/__tests__/application-form-data-display.test.tsx
  frontend/components/application-form-data-display.tsx
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

fix(application-detail-dialog): render nested form values as JSON
  frontend/components/application-detail-dialog.tsx
Due: frontend-tests, typescript-check

fix(core): preserve exception chains in security + regex_validator
  backend/app/core/regex_validator.py
  backend/app/core/security.py
Due: backend-tests

test(core-security): fix 5 schema-drift failures
  backend/app/tests/test_core_security.py
Due: backend-tests

chore(scholarship-rules): instrument bulk + copy with structured logging
  backend/app/api/v1/endpoints/scholarship_rules.py
Due: backend-tests, api-types-check

chore(users-endpoint): instrument destructive admin endpoints with structured logging
  backend/app/api/v1/endpoints/users.py
Due: backend-tests, api-types-check

chore(pre-auth): instrument access-control endpoints + preserve exception chains
  backend/app/api/v1/endpoints/pre_authorization.py
Due: backend-tests, api-types-check

fix(core): clear all 13 remaining B904 exception-chain violations
  backend/app/core/regex_validator.py
  backend/app/core/schema_validation.py
  backend/app/integrations/nycu_emp/client_http.py
  backend/app/utils/date_utils.py
  backend/app/utils/endpoint_decorators.py
Due: backend-tests

chore(scholarship-mgmt): instrument bulk admin endpoints + clear 6 B904 sites
  backend/app/api/v1/endpoints/scholarship_management.py
Due: backend-tests, api-types-check

fix(roster): stop hardcoding "monthly" roster_cycle when generating from UI
  frontend/components/roster-management-dashboard.tsx
  frontend/components/roster/PeriodDetailDialog.tsx
  frontend/components/roster/RosterCycleTimeline.tsx
  frontend/components/roster/RosterListTable.tsx
Due: frontend-tests, typescript-check

chore(scholarships): instrument whitelist toggle + reset; clear 2 B904 sites
  backend/app/api/v1/endpoints/scholarships.py
Due: backend-tests, api-types-check

fix(file-upload): break useEffect infinite render loop
  frontend/components/__tests__/file-upload-simple.test.tsx
  frontend/components/file-upload.tsx
Due: frontend-tests, typescript-check

fix(user-edit-modal): break useEffect array-prop render loop (same as #509)
  frontend/components/user-edit-modal.tsx
Due: frontend-tests, typescript-check

chore(batch-import): audit logging on confirm/delete + clear 5 B904 sites
  backend/app/api/v1/endpoints/batch_import.py
Due: backend-tests, api-types-check

fix(system-settings): clear 8 B904 exception-chain violations
  backend/app/api/v1/endpoints/system_settings.py
Due: backend-tests, api-types-check

fix(endpoints): bulk B904 sweep — clear 78 exception-chain violations
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/api/v1/endpoints/admin/configurations.py
  backend/app/api/v1/endpoints/admin/students.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/college_review/export_package.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/email_management.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/notifications_facebook_demo.py
  backend/app/api/v1/endpoints/nycu_employee.py
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/api/v1/endpoints/users.py
Due: backend-tests, api-types-check

chore(tests): delete stale rot in test_minio_service + test_models_comprehensive (closes #490)
  backend/app/tests/test_minio_service.py
  backend/app/tests/test_models_comprehensive.py
Due: backend-tests

fix(backend): clear unbound-except B904 sites — backend bugbear gate now passes
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/email_automation.py
  backend/app/api/v1/endpoints/email_management.py
  backend/app/api/v1/endpoints/files.py
  backend/app/api/v1/endpoints/notifications_facebook_demo.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/api/v1/endpoints/scholarship_rules.py
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/api/v1/endpoints/users.py
  backend/app/core/deps.py
  backend/app/schemas/college_review.py
  backend/app/services/batch_import_service.py
  backend/app/services/bulk_approval_service.py
  backend/app/services/portal_sso_service.py
  backend/app/services/student_service.py
  backend/app/services/student_verification_service.py
Due: backend-tests, api-types-check

chore(ci): wire flake8-bugbear into backend lint gate + clear B014
  .github/workflows/ci.yml
  backend/app/core/config.py
  backend/requirements-lint.txt
Due: python-safety-check, backend-tests

fix(backend): clear other flake8-bugbear violations — B007, B010, B017
  backend/app/api/v1/endpoints/admin/announcements.py
  backend/app/services/excel_export_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/scholarship_configuration_service.py
  backend/app/tests/test_critical_workflows.py
  backend/app/tests/test_rate_limiting.py
Due: backend-tests, api-types-check

chore(scholarship-timeline): replace 3 \`any\` types with ScholarshipApiPayload interface
  frontend/components/scholarship-timeline.tsx
Due: frontend-tests, typescript-check

chore(admin-scholarship-dashboard): replace 2 \`any\` types with explicit interfaces
  frontend/components/admin-scholarship-dashboard.tsx
Due: frontend-tests, typescript-check

chore(admin-management-context): type scholarshipTypes with ScholarshipType[]
  frontend/contexts/admin-management-context.tsx
Due: frontend-tests, typescript-check

chore(college-management-context): type 2 of 23 \`any\` sites — extract AvailableOptions + ManagedCollege
  frontend/contexts/college-management-context.tsx
Due: frontend-tests, typescript-check

chore(admin-scholarship-management-interface): clear 7 \`catch (err: any)\` sites
  frontend/components/admin-scholarship-management-interface.tsx
Due: frontend-tests, typescript-check

chore(frontend): \`catch (err: any)\` → \`catch (err: unknown)\` sweep across 9 files
  frontend/components/bank-verification-review-dialog.tsx
  frontend/components/email-test-mode-panel.tsx
  frontend/components/professor-review-component.tsx
  frontend/components/roster/PeriodDetailDialog.tsx
  frontend/components/roster/RosterListTable.tsx
  frontend/components/roster/ScheduleSettingDialog.tsx
  frontend/components/whitelist-management-dialog.tsx
  frontend/hooks/use-student-preview.ts
  frontend/lib/api/modules/professor.ts
Due: frontend-tests, typescript-check

chore(admin-management-interface): clear 2 \`catch (error: any)\` sites with axios-shape narrowing
  frontend/components/admin-management-interface.tsx
Due: frontend-tests, typescript-check

chore(admin-configuration-management): clear all 6 \`catch (error: any)\` sites via axios-shape narrowing
  frontend/components/admin-configuration-management.tsx
Due: frontend-tests, typescript-check

chore(email-automation-management): clear 7 \`catch (error: any)\` sites
  frontend/components/email-automation-management.tsx
Due: frontend-tests, typescript-check

chore(user-profile-management): clear all 5 \`catch (error: any)\` sites
  frontend/components/user-profile-management.tsx
Due: frontend-tests, typescript-check

chore(frontend): clear 9 more \`catch (err: any)\` sites across 7 files
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/components/application-file-upload-dialog.tsx
  frontend/components/batch-document-upload.tsx
  frontend/components/batch-import-editor.tsx
  frontend/components/delete-application-dialog.tsx
  frontend/components/document-request-form.tsx
  frontend/components/enhanced-student-portal.tsx
Due: frontend-tests, typescript-check

chore(frontend): clear final \`catch (err: any)\` cluster — 6 files, 7 sites
  frontend/app/api/email/preview/route.ts
  frontend/app/api/email/render/route.ts
  frontend/app/api/v1/download/route.ts
  frontend/app/api/v1/preview/route.ts
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/copy-rules-modal.tsx
Due: frontend-tests, typescript-check

chore(student-wizard): clear last 6 \`catch (err: any)\` sites — frontend ledger complete
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

chore(application-detail-dialog): replace 2 \`any\` callback args + harden preview path
  frontend/components/application-detail-dialog.tsx
Due: frontend-tests, typescript-check

chore(college): replace 2 \`(item: any)\` callback args with named shapes
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

