Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix: map Semester.yearly to NULL for ScholarshipConfiguration queries
  backend/app/services/batch_import_service.py
Due: backend-tests

fix: auto-set scholarship_configuration_id in batch import and resolve async lazy loading errors
  backend/app/api/v1/endpoints/roster_schedules.py
  backend/app/services/batch_import_service.py
  backend/app/tests/test_batch_import_service_unit.py
Due: backend-tests, api-types-check

fix: improve error messaging for missing student and scholarship configuration
  backend/app/services/roster_service.py
Due: backend-tests

fix: resolve duplicate roster schedules and add regenerate UI
  backend/app/api/v1/endpoints/roster_schedules.py
  frontend/components/roster/RosterListTable.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: auto-set scholarship_configuration_id and resolve async lazy loading errors (#3)
  backend/app/services/batch_import_service.py
Due: backend-tests

docs: add comprehensive alternate promotion system documentation
  backend/docs/ALTERNATE_PROMOTION_SYSTEM.md
Due: backend-tests

fix: remove refenerate buttom for created roster
  frontend/components/roster/RosterListTable.tsx
Due: frontend-tests, typescript-check

Disable scheduled CodeQL analysis
  .github/workflows/codeql.yml
Due: none

Disable weekly security scan schedule
  .github/workflows/security.yml
Due: none

feat: configure production deployment with pre-built images and monitoring
  docker-compose.prod.yml
  nginx/nginx.prod.conf
Due: docker-compose-check

feat: add PostgreSQL backup service with cron scheduling and retention management
  docker-compose.prod-db.yml
  scripts/backup.sh
Due: docker-compose-check

feat: preserve production files in mirror workflow
  .github/workflows/mirror-to-production.yml
Due: none

refactor: remove unnecessary MinIO server URL environment variables
  docker-compose.prod-db.yml
Due: docker-compose-check

Revert "feat: add PostgreSQL backup service with cron scheduling and retention management"
  docker-compose.prod-db.yml
  scripts/backup.sh
Due: docker-compose-check

Revert "security: fix password exposure in backup script using .pgpass file"
  docker-compose.prod.yml
  scripts/backup.sh
Due: docker-compose-check

Revert "security: improve .pgpass file handling with error checks and temp file"
  scripts/backup.sh
Due: none

Revert "feat: configure production deployment with pre-built images and monitoring"
  docker-compose.prod.yml
  nginx/nginx.prod.conf
Due: docker-compose-check

feat: add NEXT_PUBLIC_NYCU_PORTAL_URL environment variable to frontend service
  docker-compose.prod.yml
Due: docker-compose-check

Apply suggestions from code review
  .github/workflows/mirror-to-production.yml
Due: none

Fix/prodction deploy (#6)
  .github/workflows/mirror-to-production.yml
  docker-compose.prod-db.yml
  docker-compose.prod.yml
Due: docker-compose-check

feat: enhance Redis scheduler configuration and add auto-recovery job
  backend/app/services/roster_scheduler_service.py
Due: backend-tests

fix: update backend image reference and change Redis data volume path
  docker-compose.prod.yml
Due: docker-compose-check

fix: correct Redis URL parsing in scheduler service using urlparse
  backend/app/services/roster_scheduler_service.py
  docker-compose.prod.yml
Due: backend-tests, docker-compose-check

fix: correct Redis URL parsing in scheduler service using urlparse
  backend/app/services/roster_scheduler_service.py
Due: backend-tests

chore: update production images to use anud18 container registry
  docker-compose.prod.yml
Due: docker-compose-check

Fix/redis-url-parsing (#8)
  backend/app/services/roster_scheduler_service.py
  docker-compose.prod.yml
Due: backend-tests, docker-compose-check

fix: improve roster detail display and schema fields
  backend/app/schemas/roster.py
  frontend/components/roster/RosterDetailDialog.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

Change Docker images to use new repository
  docker-compose.dev.yml
Due: docker-compose-check

chore(security): bump frontend/backend vulnerable dependencies
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

Apply suggestions from code review
  frontend/package.json
Due: npm-audit, frontend-tests

chore(security): bump frontend/backend vulnerable dependencies (#14)
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

chore(security): bump additional vulnerable dependencies
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

Chore/security deps 20260213 (#16)
  backend/requirements.txt
  frontend/package-lock.json
  frontend/package.json
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

chore(security): bump additional vulnerable dependencies
  mock-student-api/requirements.txt
Due: none

Chore/security deps 20260213 (#17)
  mock-student-api/requirements.txt
Due: none

refactor: migrate to Bun and uv for faster development
  DEV_SETUP.md
  Makefile
  QUICKSTART.md
  README.md
  REFACTOR_SUMMARY.md
  backend/Dockerfile
  backend/pyproject.toml
  dev.sh
  docker-compose.dev.yml
  frontend/Dockerfile
  mock-student-api/Dockerfile
  mock-student-api/pyproject.toml
  verify-refactor.sh
Due: backend-tests, frontend-tests, docker-compose-check

perf: optimize Bun and Next.js dev performance
  docker-compose.dev.yml
  frontend/next.config.mjs
  frontend/package.json
Due: npm-audit, frontend-tests, docker-compose-check

fix: move @import to top of globals.css
  frontend/app/globals.css
Due: frontend-tests
