Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

fix: add missing audit action enums for professor and admin reviews
  backend/app/api/v1/endpoints/reviews.py
  backend/app/models/audit_log.py
Due: backend-tests, api-types-check, migration-check

fix: handle UserRole enum in review system properly
  backend/app/api/v1/endpoints/reviews.py
  backend/app/services/review_service.py
Due: backend-tests, api-types-check

fix: correct review authorization logic for college and admin roles
  backend/app/services/review_service.py
  backend/tests/conftest.py
  backend/tests/test_review_authorization.py
Due: backend-tests

feat: separate ApplicationStatus and ReviewStage for clearer workflow tracking
  backend/alembic/versions/20251028_add_review_stage_to_applications.py
  backend/alembic/versions/20251028_cleanup_application_status_enum.py
  backend/app/models/application.py
  backend/app/models/enums.py
  backend/app/services/review_service.py
  frontend/lib/enums.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

refactor: remove CollegeReview table and migrate to unified review system
  backend/alembic/versions/20251028_drop_college_reviews_table.py
  backend/alembic/versions/20251028_remove_college_review_dependency.py
  backend/app/models/college_review.py
  backend/app/services/college_review_service.py
Due: backend-tests, api-types-check, migration-check

perf: add performance indexes for unified review system
  backend/alembic/versions/20251028_add_performance_indexes.py
Due: backend-tests, migration-check

fix: remove remaining CollegeReview references from models and API endpoints
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/utilities.py
  backend/app/models/__init__.py
  backend/app/models/application.py
  backend/app/models/user.py
Due: backend-tests, api-types-check, migration-check

feat: add PDF report generation for CodeQL security analysis
  .github/workflows/codeql.yml
  .github/workflows/sarif-to-pdf.yml
Due: none

refactor: use setup-python action in sarif-to-pdf workflow
  .github/workflows/sarif-to-pdf.yml
Due: none

refactor: use pure Python solution for PDF generation
  .github/workflows/sarif-to-pdf.yml
Due: none

fix: correct SARIF file path for artifact upload in CodeQL workflow
  .github/workflows/codeql.yml
Due: none

fix: use dynamic sarif-output path for reliable SARIF artifact upload
  .github/workflows/codeql.yml
Due: none

fix: handle SARIF filename mismatch in PDF generation workflow
  .github/workflows/sarif-to-pdf.yml
Due: none

security: fix 23 high and medium severity CodeQL issues
  .github/workflows/api-types-check.yml
  .github/workflows/deploy-monitoring-stack.yml
  .github/workflows/mirror-to-production.yml
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/api/v1/endpoints/admin/configurations.py
  backend/app/api/v1/endpoints/admin/dashboard.py
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/core/regex_validator.py
  backend/app/services/config_management_service.py
  backend/app/services/email_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/react_email_template_service.py
  backend/tests/test_regex_validator.py
  frontend/components/text-template-editor.tsx
  frontend/lib/email-renderer.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: resolve all 25 CodeQL security vulnerabilities (Phase 2)
  BANK_VERIFICATION_IMPLEMENTATION.md
  backend/alembic/versions/20251028_add_bank_verification_tasks_table.py
  backend/alembic/versions/20251028_add_passbook_cover_to_student_bank_accounts.py
  backend/alembic/versions/20251028_add_performance_indexes.py
  backend/alembic/versions/20251028_add_review_stage_to_applications.py
  backend/alembic/versions/20251028_cleanup_application_status_enum.py
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/api/v1/endpoints/student_bank_accounts.py
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/core/regex_validator.py
  backend/app/db/seed_system_settings.py
  backend/app/models/__init__.py
  backend/app/models/bank_verification_task.py
  backend/app/models/student_bank_account.py
  backend/app/services/bank_verification_service.py
  backend/app/services/bank_verification_task_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/react_email_template_service.py
  frontend/components/admin/batch-bank-verification.tsx
  frontend/components/student/verified-account-alert.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/bank-verification.ts
  frontend/lib/email-renderer.tsx
  scripts/validate_enum_consistency.py
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: resolve remaining CodeQL security issues (Phase 3 - actual bugs)
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-pipeline.yml
  frontend/lib/email-renderer.tsx
  mock-student-api/main_db_version.py
Due: frontend-tests, typescript-check

refactor: eliminate all CodeQL false positive alerts through code pattern refactoring
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/core/regex_validator.py
  backend/app/db/seed_system_settings.py
  backend/app/services/excel_export_service.py
  backend/app/services/react_email_template_service.py
  scripts/validate_enum_consistency.py
Due: backend-tests, api-types-check

fix: eliminate CodeQL false positives through taint flow breaking + API dismissal
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/db/seed_system_settings.py
  scripts/validate_enum_consistency.py
Due: backend-tests, api-types-check

Potential fix for code scanning alert no. 201: Information exposure through an exception
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/services/ocr_service.py
Due: backend-tests, api-types-check

Enhance production sync guide with automatic version tagging and add auto-tag workflow example
  .github/production-workflows-examples/auto-tag-on-merge.yml
  .github/workflows/mirror-to-production.yml
Due: none

style: fix Black formatting in user_profiles.py
  backend/app/api/v1/endpoints/user_profiles.py
Due: backend-tests, api-types-check

Enhance mirror-to-production workflow with conflict auto-resolution
  .github/workflows/mirror-to-production.yml
Due: none

Release v0.9.0 (#4)
  .github/production-workflows-examples/auto-tag-on-merge.yml
  BANK_VERIFICATION_IMPLEMENTATION.md
  COLLEGE_REVIEW_AUTO_REDISTRIBUTION_FIX.md
  COLLEGE_REVIEW_COMPLETE_FIX.md
  COLLEGE_REVIEW_FIX_SUMMARY.md
  backend/app/api/v1/endpoints/user_profiles.py
  backend/app/services/ocr_service.py
  test_college_review.sh
Due: backend-tests, api-types-check

Add auto-tagging workflow for production merges
  .github/workflows/auto-tag-on-merge.yml
Due: none

Enhance auto-tag workflow with release notes extraction
  .github/workflows/auto-tag-on-merge.yml
Due: none

Enhance production sync guide and workflows with squashing and auto-release features
  .github/PRODUCTION_SYNC_GUIDE.md
  .github/production-workflows-examples/auto-tag-on-merge.yml
  .github/workflows/mirror-to-production.yml
Due: none

Release v0.9.1 (#6)
  .github/PRODUCTION_SYNC_GUIDE.md
  .github/production-workflows-examples/auto-tag-on-merge.yml
Due: none

Update auto-tag-on-merge.yml
  .github/workflows/auto-tag-on-merge.yml
Due: none

Refactor footer generation in release notes
  .github/workflows/auto-tag-on-merge.yml
Due: none

Refactor auto-tag workflow and update README for clarity
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/auto-tag-on-merge.yml
  .github/workflows/mirror-to-production.yml
Due: none

Update release title format in workflow
  .github/workflows/auto-tag-on-merge.yml
Due: none

fix: resolve security vulnerabilities - stack trace exposure and regex injection
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/core/regex_validator.py
  backend/tests/test_bank_verification_sanitization.py
Due: backend-tests, api-types-check

refactor: enhance security with JSON round-trip and CodeQL config
  backend/.github/codeql/README.md
  backend/.github/codeql/codeql-config.yml
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/core/regex_validator.py
  backend/app/schemas/config_management.py
Due: backend-tests, api-types-check

Enhance mirror-to-production workflow to calculate and update file statistics in release notes
  .github/workflows/mirror-to-production.yml
Due: none

fix: add CodeQL inline suppression comments to eliminate false positives
  .github/codeql/README.md
  .github/codeql/codeql-config.yml
  backend/.github/codeql/README.md
  backend/.github/codeql/codeql-config.yml
  backend/.github/workflows/schema_validation.yml
  backend/app/api/v1/endpoints/admin/bank_verification.py
  backend/app/core/regex_validator.py
Due: backend-tests, api-types-check

feat: add GitHub Secrets Setup Guide and production environment workflow
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/setting-env.yml
Due: none

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

