Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

feat(college-export): add 是否為逕博學生 static column from std_enrolltype
  backend/app/services/college_ranking_export_service.py
  backend/tests/test_college_ranking_export_service.py
Due: backend-tests

fix(review): gate status approval on configured pipeline (closes #182) (#183)
  backend/app/services/review_service.py
  backend/app/tests/test_review_service_status_gating.py
Due: backend-tests

feat(college-export): seed PhD dynamic fields with export flag enabled
  backend/alembic/versions/seed_phd_college_export_fields_001.py
Due: backend-tests, migration-check

fix(college-export): source 學生匯款帳號 from user_profile (not dynamic field)
  backend/alembic/versions/seed_phd_college_export_fields_001.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_ranking_export_service.py
  backend/tests/test_college_ranking_export_service.py
Due: backend-tests, api-types-check, migration-check

feat(college-export): add 指導教授姓名 static column with multi-advisor support
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_ranking_export_service.py
  backend/tests/test_college_ranking_export_service.py
Due: backend-tests, api-types-check

fix(college-export): source 學生通訊地址 from SIS API com_commadd (not dynamic field)
  backend/alembic/versions/seed_phd_college_export_fields_001.py
  backend/app/services/college_ranking_export_service.py
  backend/tests/test_college_ranking_export_service.py
Due: backend-tests, migration-check

docs(college-export): update spec to reflect final 18-static-column layout
  docs/superpowers/specs/2026-05-08-college-ranking-export-design.md
Due: none

style: apply black 26.3.1 reformat to ranking_management.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

fix(college-export): address PR #114 review findings
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_ranking_export_service.py
  frontend/components/college-ranking-table.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test: fix typo 碑士畢業學校 → 碩士畢業學校 in payload fixture
  backend/tests/test_application_field_export_validation.py
Due: backend-tests

fix(nightly): pre-create nightly-failure label so issue filing works
  .github/workflows/nightly.yml
Due: none

fix(tests): realign audit-log contract tests with current service signatures
  backend/app/tests/test_application_audit_service_contract.py
Due: backend-tests

fix(docker): expose frontend/emails as a named build context for backend
  .github/workflows/deploy-pipeline.yml
  .github/workflows/release.yml
  backend/Dockerfile
  docker-compose.dev.yml
Due: backend-tests, docker-compose-check

fix(nightly): pre-create nightly-failure label so issue filing works (#186)
  .github/workflows/nightly.yml
Due: none

fix(tests): tag slow tests so the nightly slow-lane has something to run
  backend/app/tests/test_ocr_service.py
  backend/app/tests/test_roster_evaluate_condition_property.py
Due: backend-tests

fix(tests): realign audit-log contract tests with current service signatures (#187)
  backend/app/tests/test_application_audit_service_contract.py
Due: backend-tests

fix(tests): tag slow tests so the nightly slow-lane has something to run (#189)
  backend/app/tests/test_ocr_service.py
  backend/app/tests/test_roster_evaluate_condition_property.py
Due: backend-tests

fix(docker): expose frontend/emails as a named build context for backend (#188)
  .github/workflows/deploy-pipeline.yml
  .github/workflows/release.yml
  backend/Dockerfile
  docker-compose.dev.yml
Due: backend-tests, docker-compose-check

fix(ci): take ownership of frontend/node_modules before host-level npm ci
  .github/workflows/ci.yml
Due: none

fix(ci): take ownership of frontend/node_modules before host-level npm ci (#190)
  .github/workflows/ci.yml
Due: none

fix(nightly): chown node_modules in E2E Full (same EACCES as ci.yml)
  .github/workflows/nightly.yml
Due: none

fix(nightly): chown node_modules in E2E Full (same EACCES as ci.yml) (#192)
  .github/workflows/nightly.yml
Due: none

fix(nightly): migrate + seed inside backend container before E2E Full
  .github/workflows/nightly.yml
Due: none

fix(nightly): migrate + seed inside backend container before E2E Full (#193)
  .github/workflows/nightly.yml
Due: none

fix(e2e): correct review table names + roster spec scholarship choice
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/roster-generation.spec.ts
Due: frontend-tests, typescript-check

fix(e2e): correct review table names + roster spec scholarship choice (#194)
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/roster-generation.spec.ts
Due: frontend-tests, typescript-check

chore(workflows): opt every workflow into Node.js 24 runtime
  .github/workflows/api-types-check.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-monitoring-stack.yml
  .github/workflows/deploy-pipeline.yml
  .github/workflows/dev-workflow.yml
  .github/workflows/mirror-to-production.yml
  .github/workflows/monitoring-alert-issue.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/sarif-to-pdf.yml
  .github/workflows/security.yml
  .github/workflows/staging-evidence.yml
  .github/workflows/summary.yml
Due: none

chore(workflows): opt every workflow into Node.js 24 runtime (#195)
  .github/workflows/api-types-check.yml
  .github/workflows/ci.yml
  .github/workflows/claude-code-review.yml
  .github/workflows/codeql.yml
  .github/workflows/deploy-monitoring-stack.yml
  .github/workflows/deploy-pipeline.yml
  .github/workflows/dev-workflow.yml
  .github/workflows/mirror-to-production.yml
  .github/workflows/monitoring-alert-issue.yml
  .github/workflows/nightly.yml
  .github/workflows/release.yml
  .github/workflows/sarif-to-pdf.yml
  .github/workflows/security.yml
  .github/workflows/staging-evidence.yml
  .github/workflows/summary.yml
Due: none

chore(e2e): drop dead-table reference in deleteApplicationCascade
  frontend/e2e/helpers/db.ts
Due: frontend-tests, typescript-check

chore(e2e): drop dead-table reference in deleteApplicationCascade (#198)
  frontend/e2e/helpers/db.ts
Due: frontend-tests, typescript-check

fix(#199): commit ranking before returning HTTP 200 to close read-after-write race
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

feat(pii): encrypt std_pid at rest with AES-256-GCM (#73)
  backend/alembic/versions/20260512_encrypt_std_pid.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/core/config.py
  backend/app/core/encrypted_json.py
  backend/app/core/pii_crypto.py
  backend/app/models/application.py
  backend/app/models/audit_log.py
  backend/app/models/payment_roster.py
  backend/app/tests/test_pii_crypto.py
  backend/app/tests/test_pii_encryption_integration.py
  backend/scripts/rotate_pii_keys.py
  docker-compose.dev.yml
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: backend-tests, api-types-check, migration-check, docker-compose-check

style: apply black 26.3.1 formatting on ranking_management.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

fix(e2e): close read-after-write race in POST /college-review/rankings
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

docs(application-summary-export): add design spec
  docs/superpowers/specs/2026-05-13-application-summary-export-design.md
Due: none

docs(application-summary-export): add implementation plan
  docs/superpowers/plans/2026-05-13-application-summary-export.md
  docs/superpowers/specs/2026-05-13-application-summary-export-design.md
Due: none

feat(export-service): allow Optional rank_position; render empty cell when None
  backend/app/services/college_ranking_export_service.py
  backend/tests/test_college_ranking_export_service.py
Due: backend-tests

refactor(college-review): extract load_export_aux_data helper
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
Due: backend-tests, api-types-check

refactor(college-review): drop redundant local User import in helper
  backend/app/api/v1/endpoints/college_review/_helpers.py
Due: backend-tests, api-types-check

feat(application-summary-export): scaffold router and module
  backend/app/api/v1/endpoints/college_review/__init__.py
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
Due: backend-tests, api-types-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

