Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

[WIP] feat(monitoring): Complete monitoring infrastructure with Grafana dashboards and nginx integration (#95)
  .github/workflows/deploy-monitoring-stack.yml
  NGINX_MONITORING_TEST.md
  docker-compose.prod-db.yml
  docker-compose.prod.yml
  docker-compose.staging-db.yml
  docker-compose.staging.yml
  monitoring/.env.monitoring.example
  monitoring/DASHBOARDS.md
  monitoring/GITHUB_DEPLOYMENT.md
  monitoring/PRODUCTION_RUNBOOK.md
  monitoring/QUICKSTART.md
  monitoring/README.md
  monitoring/config/alertmanager/alertmanager.yml
  monitoring/config/alloy/prod-ap-vm.alloy
  monitoring/config/alloy/prod-db-vm.alloy
  monitoring/config/alloy/staging-ap-vm.alloy
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/grafana.ini
  monitoring/config/grafana/provisioning/dashboards/application/nginx-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/dashboards.yml
  monitoring/config/grafana/provisioning/dashboards/default/scholarship-system-overview.json
  monitoring/config/grafana/provisioning/dashboards/system/node-exporter-system.json
  monitoring/config/grafana/provisioning/datasources/datasources.yml
  monitoring/config/loki/limits.yml
  monitoring/config/loki/loki-config.yml
  monitoring/config/prometheus/alerts/basic-alerts.yml
  monitoring/config/prometheus/prometheus.yml
  monitoring/config/prometheus/recording-rules/aggregations.yml
  monitoring/docker-compose.monitoring.yml
  monitoring/scripts/backup-dashboards.sh
  monitoring/scripts/backup-metrics.sh
  monitoring/scripts/download-community-dashboards.sh
  monitoring/scripts/restore-monitoring.sh
  monitoring/tests/integration-test.sh
  monitoring/tests/test-monitoring-stack.sh
  nginx.conf
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: env-validation, docker-compose-check

fix(deployment): fix monitoring stack deployment dependencies
  .github/workflows/deploy-monitoring-stack.yml
  .github/workflows/deploy-pipeline.yml
  docker-compose.staging.yml
Due: docker-compose-check

fix(deployment): fix network ownership and deployment sequence
  .github/workflows/deploy-monitoring-stack.yml
  .github/workflows/deploy-pipeline.yml
  docker-compose.staging-db.yml
  docker-compose.staging.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(monitoring): resolve configuration syntax errors for all monitoring components
  monitoring/config/alertmanager/alertmanager.yml
  monitoring/config/alloy/prod-ap-vm.alloy
  monitoring/config/alloy/prod-db-vm.alloy
  monitoring/config/alloy/staging-ap-vm.alloy
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/grafana.ini
  monitoring/config/loki/loki-config.yml
Due: none

fix(monitoring): remove AlertManager and fix Loki errors, add Redis Exporter
  docker-compose.staging.yml
  monitoring/config/alloy/staging-ap-vm.alloy
  monitoring/config/loki/loki-config.yml
  monitoring/config/prometheus/prometheus.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(workflow): remove AlertManager health check from deployment workflow
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(workflow): create monitoring directories on DB-VM before scp
  .github/workflows/deploy-monitoring-stack.yml
Due: none

fix(monitoring): fix Grafana 503 error and adopt pure Alloy architecture
  monitoring/config/prometheus/prometheus.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(monitoring): fix Grafana redirect loop and provisioning errors
  monitoring/config/grafana/provisioning/dashboards/dashboards.yml
  nginx/nginx.staging.conf
Due: none

fix(monitoring): correct Grafana reverse proxy configuration per official docs
  nginx/nginx.staging.conf
Due: none

fix(monitoring): resolve Alloy DNS failures and network connectivity
  monitoring/config/alloy/staging-ap-vm.alloy
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(monitoring): use scholarship_staging_network for external network reference
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(nginx): resolve Grafana redirect loop by keeping subpath in requests
  nginx/nginx.staging.conf
Due: none

fix(monitoring): remove trailing slashes from location and root_url
  monitoring/docker-compose.monitoring.yml
  nginx/nginx.staging.conf
Due: docker-compose-check

fix(grafana): update protocol to https and remove trailing slash from root_url
  monitoring/config/grafana/grafana.ini
Due: none

fix(grafana): revert protocol to http and switch to Enterprise edition
  monitoring/config/grafana/grafana.ini
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(nginx): add X-Forwarded-Prefix header and reorder location blocks
  nginx/nginx.staging.conf
Due: none

fix(grafana): implement official rewrite pattern for subpath serving
  monitoring/config/grafana/grafana.ini
  nginx/nginx.staging.conf
Due: none

fix(grafana): resolve redirect loop using ^~ location modifier
  monitoring/config/grafana/grafana.ini
  nginx/nginx.staging.conf
Due: none

feat(email): add react-email support and fix system-settings API
  frontend/.gitignore
  frontend/emails/_components/BaseTemplate.tsx
  frontend/emails/_components/Footer.tsx
  frontend/emails/_components/Header.tsx
  frontend/emails/_components/InfoBox.tsx
  frontend/emails/_components/NYCUButton.tsx
  frontend/emails/application-submitted.tsx
  frontend/lib/api/modules/system-settings.ts
  frontend/package-lock.json
  frontend/package.json
  nginx/nginx.staging.conf
Due: npm-audit, frontend-tests, typescript-check

feat: implement React Email template system
  backend/app/services/email_service.py
  backend/app/services/email_template_loader.py
  frontend/emails/college-review-request.tsx
  frontend/emails/deadline-reminder.tsx
  frontend/emails/document-request.tsx
  frontend/emails/professor-review-request.tsx
  frontend/emails/result-notification.tsx
  frontend/emails/roster-notification.tsx
  frontend/emails/whitelist-notification.tsx
Due: backend-tests, frontend-tests, typescript-check

feat(monitoring): restructure DB-VM monitoring architecture for cross-VM deployment
  .env.prod-db-monitoring.example
  .env.staging-db-monitoring.example
  .github/workflows/deploy-monitoring-stack.yml
  .gitignore
  docker-compose.prod-db-monitoring.yml
  docker-compose.prod-db.yml
  docker-compose.staging-db-monitoring.yml
  docker-compose.staging-db.yml
  monitoring/config/alloy/prod-ap-vm.alloy
  monitoring/config/alloy/prod-db-vm.alloy
  monitoring/config/alloy/staging-ap-vm.alloy
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/provisioning/dashboards/application/container-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/dashboards.yml
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/redis-monitoring.json
Due: env-validation, docker-compose-check

fix(monitoring): enhance security and configuration clarity
  .env.prod-db-monitoring.example
  .env.staging-db-monitoring.example
  docker-compose.prod-db-monitoring.yml
  docker-compose.staging-db-monitoring.yml
  monitoring/config/alloy/prod-db-vm.alloy
  monitoring/config/alloy/staging-db-vm.alloy
Due: env-validation, docker-compose-check

feat(monitoring): Restructure DB-VM monitoring architecture for cross-VM deployment (#96)
  .env.prod-db-monitoring.example
  .env.staging-db-monitoring.example
  .github/workflows/deploy-monitoring-stack.yml
  .gitignore
  backend/app/services/email_service.py
  backend/app/services/email_template_loader.py
  docker-compose.prod-db-monitoring.yml
  docker-compose.prod-db.yml
  docker-compose.staging-db-monitoring.yml
  docker-compose.staging-db.yml
  frontend/.gitignore
  frontend/emails/_components/BaseTemplate.tsx
  frontend/emails/_components/Footer.tsx
  frontend/emails/_components/Header.tsx
  frontend/emails/_components/InfoBox.tsx
  frontend/emails/_components/NYCUButton.tsx
  frontend/emails/application-submitted.tsx
  frontend/emails/college-review-request.tsx
  frontend/emails/deadline-reminder.tsx
  frontend/emails/document-request.tsx
  frontend/emails/professor-review-request.tsx
  frontend/emails/result-notification.tsx
  frontend/emails/roster-notification.tsx
  frontend/emails/whitelist-notification.tsx
  frontend/lib/api/modules/system-settings.ts
  frontend/package-lock.json
  frontend/package.json
  monitoring/config/alloy/prod-ap-vm.alloy
  monitoring/config/alloy/prod-db-vm.alloy
  monitoring/config/alloy/staging-ap-vm.alloy
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/provisioning/dashboards/application/container-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/dashboards.yml
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/postgresql-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/redis-monitoring.json
  nginx/nginx.staging.conf
Due: npm-audit, backend-tests, frontend-tests, typescript-check, env-validation, docker-compose-check

fix(email): add condition_query to email automation rules for recipient retrieval
  backend/alembic/versions/24f4d6ba449b_add_condition_query_to_email_automation_.py
  backend/app/db/seed_scholarship_configs.py
  backend/app/services/application_service.py
  backend/app/services/email_automation_service.py
Due: backend-tests, migration-check

feat(email): add fallback email for testing and audit trail
  backend/app/services/email_automation_service.py
  docker-compose.yml
Due: backend-tests, docker-compose-check

fix(monitoring): add staging network to nginx_status whitelist
  nginx/nginx.staging.conf
Due: none

fix(email): add scholarship_name alias for template compatibility
  backend/app/services/email_automation_service.py
Due: backend-tests

feat(monitoring): optimize Alloy log collection and add application logs dashboard
  monitoring/config/alloy/staging-ap-vm.alloy
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/provisioning/dashboards/application/application-logs.json
Due: none

fix(email): add all missing template variables to automation context
  backend/app/services/email_automation_service.py
Due: backend-tests

fix: correct student ID field from std_id to std_stdcode in email automation
  backend/app/services/email_automation_service.py
Due: backend-tests

fix(email): use numeric application_id for SQL condition queries
  backend/app/services/email_automation_service.py
Due: backend-tests

fix(audit): prevent lazy loading in fallback logging
  backend/app/services/application_audit_service.py
Due: backend-tests

fix(email): extract student and professor data correctly for email automation
  backend/app/services/application_service.py
Due: backend-tests

feat(email): use React Email templates for HTML rendering and remove amount field
  backend/app/db/seed_scholarship_configs.py
  backend/app/services/email_automation_service.py
Due: backend-tests

feat(email): implement async email system with background processing
  backend/app/services/email_automation_service.py
  backend/app/services/roster_scheduler_service.py
  backend/app/tasks/email_processor.py
Due: backend-tests

fix(tests): adjust branch coverage threshold to match actual coverage
  frontend/jest.config.js
Due: frontend-tests

fix(email): correct enum case in scheduled email queries
  backend/app/services/email_automation_service.py
Due: backend-tests

fix(email): add startup delay protection to prevent blocking FastAPI initialization
  backend/app/services/roster_scheduler_service.py
  backend/app/tasks/email_processor.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

