Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

fix(roster): address code-review findings on cohort ownership
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/renewal_import.py
  backend/app/db/seed_ay115_demo.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/received_months_service.py
  backend/app/services/renewal_import_service.py
  backend/app/services/roster_regeneration_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_renewal_import_endpoints.py
  backend/app/tests/test_renewal_import_service.py
  backend/app/tests/test_roster_cycle_status_entry.py
  backend/app/tests/test_roster_generate_per_config_group.py
  frontend/components/renewal-import-panel.tsx
  frontend/components/roster/CompactConfigSelector.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

ci: make the CJK font apt step survive a flaky third-party apt source
  .github/workflows/ci.yml
Due: none

ci: drop every dl.google.com apt source; update allocation-map source pin
  .github/workflows/ci.yml
  backend/app/tests/test_payment_roster_allocation_map.py
Due: backend-tests

fix: stop production health check from misreporting a secret-scope gap as an outage
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/health-check.yml
Due: none

fix: make 固定文件/固定欄位（系統預設）editable in 審核管理
  backend/alembic/versions/add_fixed_key_columns_001.py
  backend/app/models/application_field.py
  backend/app/schemas/application_field.py
  backend/app/services/application_field_service.py
  backend/app/tests/test_application_field_fixed_overrides.py
  frontend/components/__tests__/admin-scholarship-management-interface.test.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

refactor: eliminate secrets from health-check.yml entirely
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/health-check.yml
Due: none

fix: backfill legacy fixed rows and guard the fixed_key upsert
  backend/alembic/versions/add_fixed_key_columns_001.py
  backend/app/services/application_field_service.py
  backend/app/tests/test_application_field_fixed_overrides.py
Due: backend-tests, migration-check

fix: address Copilot review findings on the zero-secret health check
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/health-check.yml
Due: none

fix: production health check misreports a secret-scope gap as an outage (#1383)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/health-check.yml
Due: none

fix(student): show configuration name on 我的申請紀錄 cards
  backend/app/services/application_service.py
  backend/app/tests/test_get_user_applications_deep.py
  frontend/components/enhanced-student-portal.tsx
Due: backend-tests, frontend-tests, typescript-check

docs: keep dev seed setting changes dev-only in CLAUDE.md
  .claude/CLAUDE.md
Due: none

docs: PR #1386 verification screenshot 01-before-main-application-records.png
  screenshots/01-before-main-application-records.png
Due: none

docs: PR #1386 verification screenshot 02-after-pr-application-records.png
  screenshots/02-after-pr-application-records.png
Due: none

fix(preview): stop fetching just-selected blob: files in the preview dialog
  frontend/components/__tests__/file-preview-dialog.test.tsx
  frontend/components/file-preview-dialog.tsx
Due: frontend-tests, typescript-check

refactor(preview): share the object-URL predicate from lib/file-preview
  frontend/components/file-preview-dialog.tsx
  frontend/components/file-upload.tsx
  frontend/lib/file-preview.ts
Due: frontend-tests, typescript-check

feat(auth): extend access token expiry to 120 minutes
  backend/app/core/config.py
  backend/app/services/config_management_service.py
  docs/deployment/production-deployment.md
  docs/development/ci-cd.md
Due: backend-tests

fix: enforce 6-month Loki log retention
  .github/workflows/deploy-monitoring-stack.yml
  monitoring/README.md
  monitoring/config/loki/limits.yml
  monitoring/config/loki/loki-config.yml
Due: none

fix: keep Prometheus metrics for 6 months
  monitoring/PRODUCTION_LAUNCH_RUNBOOK.md
  monitoring/PRODUCTION_RUNBOOK.md
  monitoring/README.md
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(ui): render admin-edited 固定欄位 text in the student application wizard
  backend/app/services/application_field_service.py
  backend/app/tests/test_application_field_fixed_overrides.py
  backend/app/tests/test_form_field_labels.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/utils/__tests__/fixed-form-text.test.ts
  frontend/lib/utils/fixed-form-text.ts
Due: backend-tests, frontend-tests, typescript-check

feat(college-ranking): add blank 學院用印 column to ranking export
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_ranking_export_service.py
  backend/app/tests/test_college_ranking_export_pdf.py
Due: backend-tests, api-types-check

docs: PR #1393 evidence screenshots (college seal column)
  01-export-dropdown-open.png
  02-ui-export-pdf-page1.png
Due: none

fix(ui): keep the 指導教授 notes under the 指導教授資訊 heading
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

chore: add PR #1394 Playwright screenshots
  screenshots/advisor-card-full.png
  screenshots/advisor-notes-desktop.png
  screenshots/advisor-notes-mobile.png
Due: none

fix(academies): align college code table with SIS 學院代碼表
  backend/alembic/versions/align_academy_names_003.py
  backend/app/core/college_mappings.py
  backend/app/tests/test_college_mappings.py
Due: backend-tests, migration-check

refactor(academies): pin migration rows to ACADEMY_TABLE, log pruned codes
  backend/alembic/versions/align_academy_names_003.py
  backend/app/tests/test_align_academy_names_003_migration.py
Due: backend-tests, migration-check

chore(seed): drop undergraduate_freshman and direct_phd scholarship types
  backend/app/db/seed_scholarship_configs.py
  backend/app/seed.py
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
  frontend/e2e/specs/renewal-import.spec.ts
  frontend/e2e/specs/roster-admin.spec.ts
  frontend/e2e/specs/roster-generation.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
  frontend/e2e/specs/whitelist-remove.spec.ts
Due: backend-tests, frontend-tests, typescript-check

feat(admin): allow deleting applications until the distribution stage
  backend/app/api/v1/endpoints/admin/applications.py
  backend/app/api/v1/endpoints/admin/scholarships.py
  backend/app/schemas/application.py
  backend/app/services/application_deletion_policy.py
  backend/app/tests/test_admin_endpoints.py
  backend/app/tests/test_admin_scholarships_endpoints.py
  backend/app/tests/test_application_deletion_policy.py
  frontend/components/__tests__/admin-scholarship-dashboard.test.tsx
  frontend/components/admin-scholarship-dashboard.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test: retarget G30 delete-guard test to the distribution-stage boundary
  backend/app/tests/test_history_endpoint_deleted_policy.py
Due: backend-tests

feat(users): let super admin promote students to professor/college/admin
  backend/app/tests/test_users_endpoint_authz.py
  frontend/components/__tests__/user-permission-management.test.tsx
  frontend/components/user-edit-modal.tsx
  frontend/components/user-permission-management.tsx
Due: backend-tests, frontend-tests, typescript-check

chore: add PR #1399 Playwright screenshots
  screenshots/01-default-no-students.png
  screenshots/02-filter-student.png
  screenshots/03-search-student.png
  screenshots/04-05-stuphd001-college-after-update.png
  screenshots/04-05-stuphd001-college-dialog-before.png
  screenshots/04-05-stuphd001-college-dialog-changed.png
  screenshots/05-college-filter-badge.png
  screenshots/06-admin-filter-studirect.png
  screenshots/06-professor-filter-stumaster.png
  screenshots/06-studirect-admin-dialog-changed.png
  screenshots/06-stumaster-professor-dialog-changed.png
Due: none

Change SMTP port from 587 to 25
  docs/資訊中心文件/正式機更新手冊.md
Due: none

test(e2e): adapt multi-college fixtures and drivers to single-ranking rule
  .claude/skills/playwright-test-and-debug/scripts/db-query.sh
  .claude/skills/playwright-test-and-debug/scripts/verify-multi-college-distribution.js
  frontend/e2e/specs/manual-dist-recommendation-columns.spec.ts
Due: frontend-tests, typescript-check

fix(college-ranking): sync late applications, harden single-ranking edge cases
  .claude/skills/playwright-test-and-debug/scripts/verify-multi-college-distribution.js
  backend/alembic/versions/college_ranking_single_001.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_review_service.py
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_ranking_management_endpoints.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/e2e/helpers/db.ts
  frontend/lib/api/generated/schema.d.ts
  scripts/multicollege_seed_to_roster.py
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat(college-ranking): enforce one ranking per college per period
  .claude/skills/playwright-test-and-debug/SKILL.md
  backend/alembic/versions/college_ranking_single_001.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/models/college_review.py
  backend/app/services/college_review_service.py
  backend/app/tests/conftest.py
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_ranking_management_endpoints.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
  frontend/e2e/helpers/db.ts
  frontend/e2e/specs/admin-manual-distribution.spec.ts
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
  frontend/e2e/specs/multi-role-phd.spec.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/college.test.ts
  frontend/lib/api/modules/college.ts
  scripts/multicollege_seed_to_roster.py
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

chore(migration): re-parent college_ranking_single_001 onto align_academy_names_003
  backend/alembic/versions/college_ranking_single_001.py
Due: backend-tests, migration-check

fix(college-ranking): speed up opening a ranking in 學院 學生排序
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/review_service.py
  backend/app/tests/test_ranking_detail_review_status_bulk.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(college): show 補充匯入 tab only when admin opened it on some configuration
  backend/app/api/v1/endpoints/supplementary_import.py
  backend/app/tests/test_supplementary_import_endpoints.py
  frontend/app/page.tsx
  frontend/hooks/__tests__/use-supplementary-import-enabled.test.tsx
  frontend/hooks/use-supplementary-import-enabled.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(college): tighten the 補充匯入 tab gate after review
  backend/app/api/v1/endpoints/supplementary_import.py
  backend/app/tests/test_supplementary_import_endpoints.py
  frontend/app/page.tsx
  frontend/hooks/__tests__/use-supplementary-import-enabled.test.tsx
  frontend/hooks/use-supplementary-import-enabled.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(security): scope 補件 requests and review-status to the caller's applications
  backend/app/api/v1/endpoints/document_requests.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/tests/test_document_requests_endpoints.py
  backend/app/tests/test_reviews_endpoints.py
Due: backend-tests, api-types-check

fix(college-review): speed up the 學院 申請審核 application list
  backend/app/services/application_enricher_service.py
  backend/app/services/college_review_service.py
  backend/app/tests/test_application_enricher_period_snapshot.py
  backend/app/tests/test_college_review_list_scholarship_type_filter.py
  frontend/components/college/CollegeManagementShell.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

