Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


feat(api-client): college distribution-results fetch + admin toggle method
  frontend/lib/api/modules/college.ts
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

docs(roster-excel): implementation plan for eligibility columns + cell fills
  docs/superpowers/plans/2026-06-30-roster-excel-eligibility-columns.md
Due: none

revert(roster-excel): drop initial 639b13be eligibility impl to rebuild per new plan
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_eligibility.py
  docs/superpowers/specs/2026-06-30-roster-excel-eligibility-verification-design.md
Due: backend-tests

feat(roster-excel): scope filter keeps auto-excluded, hides manual removals
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_service_rows.py
Due: backend-tests

feat(roster-excel): collect per-rule columns + build dynamic export column layout
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_service_rows.py
Due: backend-tests

feat(admin-ui): college-view-distribution toggle via shared ConfigToggleSwitch
  frontend/components/__tests__/admin-configuration-management.test.tsx
  frontend/components/admin-configuration-management.tsx
  frontend/components/admin/config/ConfigToggleSwitch.tsx
Due: frontend-tests, typescript-check

feat(roster-excel): add verification + per-rule columns with fill metadata to _prepare_excel_data
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_service_rows.py
Due: backend-tests

feat(roster-excel): apply red/amber fills and wire dynamic columns into export + preview
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_service_rows.py
Due: backend-tests

feat(college-ui): 分發結果 tab showing own-college distribution outcomes
  frontend/components/college/CollegeManagementShell.tsx
  frontend/components/college/distribution/DistributionResultPanel.tsx
Due: frontend-tests, typescript-check

fix(college-view-distribution): allocation outcome wins over college-N, harden loading guard + scoping, restore toggle refetch, type-safety
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/tests/test_college_view_distribution.py
  frontend/components/admin-configuration-management.tsx
  frontend/components/college/CollegeManagementShell.tsx
  frontend/components/college/distribution/DistributionResultPanel.tsx
  frontend/contexts/college-management-context.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

docs(export): design spec for 學院匯出排名 PDF format support
  docs/superpowers/specs/2026-07-01-college-ranking-export-pdf-design.md
Due: none

feat(college-export): add PDF format to 學院匯出排名
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_ranking_export_service.py
  backend/app/services/export_package_service.py
  backend/app/services/pdf_fonts.py
  backend/app/tests/test_college_ranking_export_pdf.py
  backend/app/tests/test_export_package_embeds_summary.py
  backend/app/tests/test_ranking_export_pdf_endpoint.py
Due: backend-tests, api-types-check

refactor(college-view-distribution): reuse student_data accessors, dedup config toggle, defer label query, drop speculative props
  backend/app/api/v1/endpoints/college_review/distribution.py
  frontend/components/admin/config/ConfigToggleSwitch.tsx
  frontend/components/college/CollegeManagementShell.tsx
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

refactor(roster-excel): apply /simplify + review cleanups
  backend/app/models/payment_roster.py
  backend/app/services/excel_export_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_excel_export_service_rows.py
Due: backend-tests, api-types-check, migration-check

feat(college-export): Excel/PDF dropdown for 學院匯出排名
  frontend/components/college-ranking-table.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/college.test.ts
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

docs(college-view-distribution): add E2E verification screenshots
  docs/verification/college-view-distribution/01-admin-toggle-open-college-view.png
  docs/verification/college-view-distribution/02-college-distribution-results.png
  docs/verification/college-view-distribution/03-college-tab-hidden-when-toggle-off.png
Due: none

refactor(college-export): apply review cleanup to PDF export
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_ranking_export_service.py
  backend/app/tests/test_college_ranking_export_pdf.py
  backend/app/tests/test_ranking_export_pdf_endpoint.py
  frontend/components/college-ranking-table.tsx
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

verification screenshots for PR #1077 (college ranking PDF export)
  screenshots/dropdown.png
  screenshots/pdf_download.png
  screenshots/pdf_page1.png
Due: none

ci: install fonts-wqy-zenhei for reportlab PDF export tests
  .github/workflows/ci.yml
Due: none

fix(roster-excel): zip(strict=True) on excel_data/cell_fills to fail loud on desync
  backend/app/services/excel_export_service.py
Due: backend-tests

docs(college-export): clarify exportRankingExcel format param is optional
  frontend/lib/api/modules/college.ts
Due: frontend-tests, typescript-check

fix(auth): close unauthenticated register+login -> super_admin takeover
  backend/app/api/v1/endpoints/auth.py
  backend/app/tests/test_auth_login_register_gated.py
Due: backend-tests, api-types-check

fix(exports): neutralize stored Excel formula injection (CWE-1236)
  backend/app/services/college_ranking_export_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/whitelist_excel_service.py
  backend/app/tests/test_excel_formula_injection.py
  backend/app/utils/excel_safety.py
Due: backend-tests

fix(reviews): close professor authz bypass and review-data leak
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/services/application_service.py
  backend/app/tests/test_reviews_endpoint_authz.py
Due: backend-tests, api-types-check

fix(college-review): close cross-college IDOR + professor doc IDOR
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/tests/test_college_review_scoping_fixes.py
Due: backend-tests, api-types-check

fix(roster,ranking): close deadline/oversubscription/status guards
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/roster_service.py
  backend/app/tests/test_audit_low_severity_guards.py
  backend/app/tests/test_roster_item_removal_service.py
Due: backend-tests, api-types-check

test(roster): back the restore-endpoint fixture with a real application
  backend/app/tests/test_payment_rosters_api.py
Due: backend-tests

feat(scripts): add staging multi-college mock seed for college review
  scripts/staging_multicollege_seed.py
Due: none

docs: tidy CLAUDE.md — fix stale test path, dedupe dev-env, tier CRITICAL markers
  .claude/CLAUDE.md
Due: none

docs: correct enum-sync checklist file location for role enums
  .claude/CLAUDE.md
Due: none

docs(e2e): add PhD/114 pipeline verification screenshots for #1084
  docs/e2e-evidence/1084/phase1_ranking_A_after.png
  docs/e2e-evidence/1084/phase1_ranking_C_list.png
  docs/e2e-evidence/1084/phase2_dist_grid.png
  docs/e2e-evidence/1084/phase2_dist_result.png
  docs/e2e-evidence/1084/phase3_roster_list.png
  docs/e2e-evidence/1084/phase3_roster_result.png
Due: none

fix(security): close auth takeover (#1079) + authz-scoping & Excel injection gaps (#1081)
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/college_review/application_review.py
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/core/deps.py
  backend/app/core/security.py
  backend/app/services/application_service.py
  backend/app/services/college_ranking_export_service.py
  backend/app/services/excel_export_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/roster_service.py
  backend/app/services/whitelist_excel_service.py
  backend/app/tests/test_auth_login_register_gated.py
  backend/app/tests/test_excel_formula_injection.py
  backend/app/tests/test_jwt_type_claim_rejected.py
  backend/app/tests/test_payment_rosters_api.py
  backend/app/tests/test_roster_item_removal_service.py
  backend/app/utils/excel_security.py
Due: backend-tests, api-types-check

fix(security): address PR review — 404 on cross-college ranking access + lighter professor guard
  backend/app/api/v1/endpoints/college_review/distribution.py
  backend/app/api/v1/endpoints/reviews.py
Due: backend-tests, api-types-check

fix(ui): show MOE sub-types as 教育部 instead of 教育部+N
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/admin/renewal/RenewalDistributionResult.tsx
  frontend/components/student/ChallengeApplicationCard.tsx
Due: frontend-tests, typescript-check

fix(student-portal): keep effective scholarships and 我的申請 visible after deadline
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/schemas/scholarship.py
  backend/app/services/eligibility_service.py
  backend/app/services/scholarship_service.py
  frontend/components/__tests__/enhanced-student-portal.test.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/lib/__tests__/scholarship-eligibility.test.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/types.ts
  frontend/lib/i18n.ts
  frontend/lib/scholarship-eligibility.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(applications): coalesce null agree_terms + hide 可申請 on closed scholarships
  backend/app/services/application_service.py
  frontend/components/enhanced-student-portal.tsx
Due: backend-tests, frontend-tests, typescript-check

feat(mock-api): add STG-MOCK-114 PhD cohort to dev mock SIS
  mock-student-api/main.py
Due: none

fix(mock-api): key STG-MOCK-114 cohort by nycu_id too
  mock-student-api/main.py
Due: none

chore(scripts): add staging_multicollege_seed.sh wrapper
  scripts/staging_multicollege_seed.py
  scripts/staging_multicollege_seed.sh
Due: none

feat(manual-distribution): export 申請總表 by 學院 instead of 系所
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/college.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check
