Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(middleware): exclude /api/email/preview/ from CSP middleware
  frontend/middleware.ts
Due: frontend-tests, typescript-check

fix(csp): use unsafe-inline for style-src to allow shadcn/ui inline styles
  frontend/middleware.ts
Due: frontend-tests, typescript-check

perf(ci): eliminate duplicate Docker builds and reduce pipeline wall-clock time
  .github/workflows/ci.yml
  .github/workflows/deploy-pipeline.yml
  backend/requirements-lint.txt
Due: python-safety-check, backend-tests

audit(synthesis): complete phase-1 monitoring stack audit
  docs/superpowers/audits/2026-05-06-monitoring-stack-audit.md
Due: none

debug(email-preview): surface server error in iframe for diagnosis
  frontend/app/api/email/preview/[id]/route.ts
Due: frontend-tests, typescript-check

fix(email-preview): fix module-load 500 by removing static crypto import and sharing Map via globalThis
  frontend/lib/email-preview-store.ts
Due: frontend-tests, typescript-check

docs(monitoring): add Phase 2 design spec for P0 fixes
  docs/superpowers/specs/2026-05-06-monitoring-stack-fix-phase2-design.md
Due: none

docs(monitoring): add Phase 2 implementation plan
  docs/superpowers/plans/2026-05-06-monitoring-stack-fix-phase2.md
Due: none

fix(email-preview): switch iframe from server-side ID to srcDoc
  frontend/components/react-email-template-viewer.tsx
  frontend/middleware.ts
Due: frontend-tests, typescript-check

docs(monitoring): add Repo Migration Checklist for anud18 deploy unblock
  monitoring/GITHUB_DEPLOYMENT.md
Due: none

ci(monitoring): pre-flight secret check fails fast on missing secrets
  .github/workflows/deploy-monitoring-stack.yml
Due: none

chore(monitoring): remove alertmanager + dead alert and recording rule files
  monitoring/config/alertmanager/alertmanager.yml
  monitoring/config/prometheus/alerts/basic-alerts.yml
  monitoring/config/prometheus/recording-rules/aggregations.yml
Due: none

feat(monitoring): add Grafana unified alerting rules for system_health (5 rules)
  monitoring/config/grafana/provisioning/alerting/rules-system.yml
Due: none

feat(monitoring): add Grafana unified alerting rules for container_health (4 rules)
  monitoring/config/grafana/provisioning/alerting/rules-container.yml
Due: none

feat(monitoring): add Grafana unified alerting rules for monitoring_health (3 rules)
  monitoring/config/grafana/provisioning/alerting/rules-monitoring.yml
Due: none

feat(monitoring): add Grafana unified alerting rules for redis (2 rules)
  monitoring/config/grafana/provisioning/alerting/rules-database.yml
Due: none

feat(monitoring): add GitHub Issue contact point + notification policy
  monitoring/config/grafana/provisioning/alerting/contact-points.yml
  monitoring/config/grafana/provisioning/alerting/notification-policies.yml
Due: none

feat(monitoring): add GitHub Issue receiver workflow for Grafana alerts
  .github/workflows/monitoring-alert-issue.yml
Due: none

fix(monitoring): remove dangling AlertManager datasource (F-PROM-02 / F-GRAF-01)
  monitoring/config/grafana/provisioning/datasources/datasources.yml
Due: none

chore(monitoring): remove dead alerting/rule_files comments from prometheus.yml
  monitoring/config/prometheus/prometheus.yml
Due: none

fix(monitoring): parameterize app network name + mount GH_PAT for Grafana
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(monitoring): add DB-VM metrics push pipeline (staging)
  monitoring/config/alloy/staging-db-vm.alloy
Due: none

fix(monitoring): add DB-VM metrics push pipeline (prod)
  monitoring/config/alloy/prod-db-vm.alloy
Due: none

fix(mirror): preserve monitoring/**/*.md during prod sync
  .github/workflows/mirror-to-production.yml
Due: none

docs(mirror): rename PRODUCTION_SYNC_PAT to GH_PAT to match workflow
  .github/PRODUCTION_SYNC_GUIDE.md
Due: none

docs(monitoring): remove AlertManager references from PRODUCTION_RUNBOOK
  monitoring/PRODUCTION_RUNBOOK.md
Due: none

docs(monitoring): remove AlertManager from README architecture diagram
  monitoring/README.md
Due: none

docs(monitoring): remove dead ALERT_* secrets section from deployment guide
  monitoring/GITHUB_DEPLOYMENT.md
Due: none

ci(monitoring): bundle PR-2.B changes to deploy-monitoring-stack.yml
  .github/workflows/deploy-monitoring-stack.yml
Due: none

docs(monitoring): add Phase 2 autonomous implementation report
  docs/superpowers/audits/working/PHASE2_AUTONOMOUS_REPORT.md
Due: none

fix: align OCR test assertion with security patch that removes raw_response
  backend/app/tests/test_ocr_service.py
Due: backend-tests

fix: remove 1500ms SSO redirect delay, fix variable shadowing, dynamic CSP portal host
  frontend/app/auth/sso-callback/page.tsx
  frontend/middleware.ts
Due: frontend-tests, typescript-check

review(R4): compose + contact-points + notification-policies audit
  docs/superpowers/audits/working/phase2-review/R4-compose-and-contact-points.md
Due: none

review(R1): alert rule preservation audit for feat/monitoring-phase2
  docs/superpowers/audits/working/phase2-review/R1-alert-rules.md
Due: none

review(R3): GitHub Issue receiver workflow audit
  docs/superpowers/audits/working/phase2-review/R3-receiver-workflow.md
Due: none

review(R2): deploy workflow audit for feat/monitoring-phase2
  docs/superpowers/audits/working/phase2-review/R2-deploy-workflow.md
Due: none

review(R5): Alloy DB-VM file audit
  docs/superpowers/audits/working/phase2-review/R5-alloy-db-vm.md
Due: none
