Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

chore: revert unintended generated-schema drift
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: resolve review status on split verdicts and require full sub-type coverage
  backend/app/api/v1/endpoints/applications.py
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/services/application_service.py
  backend/app/services/review_service.py
  backend/app/tests/test_create_professor_review_deep.py
  backend/app/tests/test_professor_endpoints.py
  backend/app/tests/test_review_service_status_gating.py
  backend/app/tests/test_reviews_endpoints.py
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/components/professor-review-component.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/applications.test.ts
  frontend/lib/api/modules/applications.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: guard the professor re-review path and explain the disabled submit
  backend/app/api/v1/endpoints/professor.py
  backend/app/tests/test_reviews_endpoints.py
  frontend/components/professor-review-component.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(deps): resolve Dependabot security alerts across mock API, docs and frontend
  backend/requirements-dev.txt
  frontend/bun.lock
  frontend/package.json
  mock-student-api/pyproject.toml
  mock-student-api/requirements.txt
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

fix(security): resolve CodeQL alerts #9, #10, #13
  .github/workflows/security.yml
  frontend/app/api/email/preview/[id]/route.ts
  frontend/app/api/email/preview/route.ts
  frontend/lib/__tests__/email-preview-store.test.ts
  frontend/lib/email-preview-store.ts
  frontend/middleware.ts
Due: frontend-tests, typescript-check

fix: address code-review findings on the review coverage rule
  backend/app/api/v1/endpoints/professor.py
  backend/app/api/v1/endpoints/reviews.py
  backend/app/services/review_service.py
  backend/app/tests/test_reviews_endpoints.py
  frontend/components/common/ApplicationReviewDialog.tsx
  frontend/e2e/specs/role-permissions.spec.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(deps): sync backend/pyproject.toml pins to requirements.txt, closing 28 Dependabot alerts
  backend/pyproject.toml
Due: backend-tests

ci: guard against pyproject.toml / requirements.txt dependency drift
  .github/workflows/ci.yml
  scripts/validate_manifest_sync.py
Due: none

ci: set up Python for the dependency-check leg
  .github/workflows/ci.yml
Due: none

fix(deps): sync backend/pyproject.toml pins to requirements.txt, closing 28 Dependabot alerts (#1238)
  .github/workflows/ci.yml
  backend/pyproject.toml
  scripts/validate_manifest_sync.py
Due: backend-tests

feat(distribution): add per-college default distribution button
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_auto_allocate_preview.py
  backend/app/tests/test_manual_distribution_professor_gate.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(distribution): address code-review findings on the per-college default distribution
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_auto_allocate_preview.py
  backend/app/tests/test_manual_distribution_professor_gate.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

fix(distribution): keep a 撤銷/停發 student's slot identity across a grid save
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_professor_gate.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

fix(distribution): base the per-college budget on live remaining, not matrix total
  backend/app/services/manual_distribution_service.py
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

fix(distribution): 預設分發 must not undo a deliberately unticked row
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix(distribution): refuse 預設分發 when quota status has not loaded
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix(distribution): read committed state, not the ref, in handleCheckbox
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix: show 正常/撤銷/停發 for every student on the manual distribution page
  backend/alembic/versions/cancel_prior_state_001.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/models/application.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_restore_allocation_service.py
  backend/app/tests/test_revoke_suspend_endpoints.py
  backend/app/tests/test_revoke_suspend_service.py
  frontend/components/admin/manual-distribution/AllocationActionDialog.tsx
  frontend/components/admin/manual-distribution/AllocationStatusControl.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/admin/manual-distribution/__tests__/AllocationActionDialog.test.tsx
  frontend/components/admin/manual-distribution/__tests__/AllocationStatusControl.test.tsx
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: correct restore/undo/audit fallout from pre-分發 撤銷/停發
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/application_audit_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_application_audit_service_contract.py
  backend/app/tests/test_manual_distribution_dedup.py
  backend/app/tests/test_restore_allocation_service.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(distribution): match sub-type codes normalized so 預設分發 stops silently skipping students
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_auto_allocate_preview.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

fix: drop orphaned `skipped` list left by the main merge resolution
  backend/app/api/v1/endpoints/manual_distribution.py
Due: backend-tests, api-types-check

refactor(distribution): compute the unallocated breakdown only when nothing was staged
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
Due: frontend-tests, typescript-check

fix(distribution): order classifyUnallocated like the backend's short-circuits
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

feat(export): merge 學生資料彙整 into the college export's 申請資料合併檔
  backend/app/services/application_field_service.py
  backend/app/services/export_package_service.py
  backend/app/services/form_field_labels.py
  backend/app/services/pdf_merge.py
  backend/app/tests/test_export_package_dynamic_merge.py
  backend/app/tests/test_export_package_embeds_summary.py
  backend/app/tests/test_export_package_pure_helpers.py
  backend/app/tests/test_export_package_summary_pdf.py
  backend/app/tests/test_form_field_labels.py
  backend/app/tests/test_pdf_merge.py
  backend/pyproject.toml
  backend/requirements.txt
Due: python-safety-check, backend-tests

fix(export): address review findings on the 申請資料合併檔 change
  backend/app/services/export_package_service.py
  backend/app/services/form_field_labels.py
  backend/app/services/pdf_merge.py
  backend/app/tests/test_export_package_dynamic_merge.py
  backend/app/tests/test_export_package_embeds_summary.py
  backend/app/tests/test_export_package_summary_pdf.py
  backend/app/tests/test_form_field_labels.py
  backend/app/tests/test_pdf_merge.py
Due: backend-tests

fix(distribution): plan 預設分發 against the screen, not the saved state
  CONTEXT.md
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_auto_allocate_preview.py
  backend/app/tests/test_auto_allocate_preview_staged.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(export): correct the inverted 學位 labels in the summary PDF
  backend/app/services/export_package_service.py
  backend/app/tests/test_export_package_pure_helpers.py
  backend/app/tests/test_export_package_summary_pdf.py
Due: backend-tests

fix(distribution): close the review findings on the staged overlay
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_auto_allocate_preview.py
  backend/app/tests/test_auto_allocate_preview_staged.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(api-types): drop the regenerated schema.d.ts the last commit swept in
  frontend/lib/api/generated/schema.d.ts
Due: none

feat(received-months): import 已領月份數 on 學生領獎紀錄查詢
  CONTEXT.md
  backend/alembic/versions/received_months_ledger_001.py
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/received_months.py
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/models/__init__.py
  backend/app/models/college_review.py
  backend/app/models/received_months.py
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/manual_distribution_service.py
  backend/app/services/plugins/phd_eligibility_plugin.py
  backend/app/services/received_months_import_service.py
  backend/app/services/received_months_parser.py
  backend/app/services/received_months_service.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_manual_distribution_dedup.py
  backend/app/tests/test_phd_eligibility_plugin_rules.py
  backend/app/tests/test_received_months_import_service.py
  backend/app/tests/test_received_months_parser.py
  backend/app/tests/test_received_months_template.py
  backend/scripts/generate_received_months_sample.py
  docs/adr/0001-received-months-are-additive.md
  docs/received-months-calculation.md
  docs/samples/README.md
  docs/samples/received-months-template.xlsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/components/admin/student-history/ImportReceivedMonthsDialog.tsx
  frontend/components/admin/student-history/ReceivedMonthsCard.tsx
  frontend/components/admin/student-history/StudentHistoryPanel.tsx
  frontend/components/admin/student-history/__tests__/ReceivedMonthsCard.test.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/index.ts
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
  frontend/lib/api/modules/received-months.ts
  frontend/lib/api/modules/student-history.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

feat(received-months): add a 下載範例 template for the import
  backend/app/api/v1/endpoints/admin/received_months.py
  backend/app/services/received_months_template.py
  backend/app/tests/test_received_months_template.py
  backend/scripts/generate_received_months_sample.py
  docs/samples/README.md
  docs/samples/received-months-example.xlsx
  frontend/components/admin/student-history/ImportReceivedMonthsDialog.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/received-months.test.ts
  frontend/lib/api/modules/received-months.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(received-months): show 總領月份數 in the student-history summary
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_scholarship_history_service.py
  frontend/components/admin/student-history/SummaryCards.tsx
  frontend/components/admin/student-history/__tests__/SummaryCards.test.tsx
  frontend/lib/api/modules/student-history.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(api-types): regenerate schema.d.ts with the pinned pydantic/fastapi
  frontend/lib/api/generated/schema.d.ts
Due: none

docs: catalogue every email trigger point in the system
  docs/features/email-triggers.md
Due: none

fix(roster): count 造冊人數 by is_included, not the bank-account gate
  backend/alembic/versions/roster_counts_included_001.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/models/payment_roster.py
  backend/app/schemas/roster.py
  backend/app/services/excel_export_service.py
  backend/app/services/roster_service.py
  backend/app/services/student_verification_service.py
  backend/app/tests/test_excel_export_generate_remarks.py
  backend/app/tests/test_excel_export_service_rows.py
  backend/app/tests/test_payment_roster_model.py
  backend/app/tests/test_roster_service_core.py
  backend/app/tests/test_roster_validate_consistency.py
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/e2e/specs/roster-admin.spec.ts
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/payment-rosters.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix(application-detail): show 指導教授 values and stop 郵局帳號 duplicating
  backend/app/schemas/application.py
  backend/app/services/application_service.py
  backend/app/tests/test_application_service_core.py
  frontend/components/__tests__/application-form-data-display.test.tsx
  frontend/components/application-detail-dialog.tsx
  frontend/components/application-form-data-display.tsx
  frontend/lib/api/types.ts
  frontend/lib/utils/application-helpers.ts
  frontend/lib/utils/profile-owned-fields.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(application-detail): scope profile-owned fields to the form config
  frontend/components/__tests__/application-form-data-display.test.tsx
  frontend/components/application-detail-dialog.tsx
  frontend/components/application-form-data-display.tsx
Due: frontend-tests, typescript-check

feat(manual-distribution): add gridlines and a 總名額 column to the college quota matrix
  frontend/components/admin/manual-distribution/CollegeQuotaMatrix.tsx
Due: frontend-tests, typescript-check

feat(manual-distribution): enforce per-college sub-type quota as a hard cap
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_college_quota_gate.py
  frontend/components/admin/manual-distribution/CollegeQuotaMatrix.tsx
  frontend/components/admin/manual-distribution/ManualDistributionPanel.tsx
  frontend/lib/api/__tests__/college-quota-grid.test.ts
  frontend/lib/api/modules/college-quota-grid.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: backend-tests, frontend-tests, typescript-check

test(manual-distribution): give the finalize lock-gate fixture a college code
  backend/app/tests/test_finalize_lock_gate.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

