Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

ops(redis): add prod maxmemory/LRU + staging --requirepass
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: docker-compose-check

ops(redis): add prod maxmemory/LRU + staging --requirepass (#167)
  docker-compose.prod.yml
  docker-compose.staging.yml
Due: docker-compose-check

ci: defang global cov-fail-under=20 for matrix runs + add collect-only dry-run
  .github/workflows/ci.yml
Due: none

fix(ci): bump pytest-asyncio for pytest 9 compat + add stack-version diagnostic
  .github/workflows/ci.yml
  backend/requirements-dev.txt
Due: python-safety-check, backend-tests

fix(ci): pytest-asyncio 0.25.3 → 1.3.0 (only line that resolves with pytest 9)
  backend/requirements-dev.txt
Due: python-safety-check, backend-tests

fix(ci): set MINIO_* env vars on test step (real cause of smoke-lane exit 4)
  .github/workflows/ci.yml
  backend/requirements-dev.txt
Due: python-safety-check, backend-tests

fix(monitoring): two PromQL bugs in container alert rules
  monitoring/config/grafana/provisioning/alerting/rules-container.yml
Due: none

fix(ci): re-apply pytest-asyncio==1.3.0 — pin conflict strips aiosqlite via fallback
  backend/requirements-dev.txt
Due: python-safety-check, backend-tests

fix(monitoring): two PromQL bugs in container alert rules (#168)
  monitoring/config/grafana/provisioning/alerting/rules-container.yml
Due: none

fix(ci): smoke row uses explicit file list, not app/tests dir
  .github/workflows/ci.yml
Due: none

ci(retreat): demote smoke lane to continue-on-error: true (Phase 1.1 follow-up)
  .github/workflows/ci.yml
Due: none

chore(agents): add rubber-duck thinking-partner subagent
  .claude/agents/rubber-duck.md
Due: none

test(ci): add smoke marker hygiene + soft-gated smoke lane (Phase 1) (#166)
  .github/workflows/ci.yml
  backend/app/tests/conftest.py
  backend/app/tests/test_application_service.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_critical_workflows.py
  backend/app/tests/test_eligibility_service.py
  backend/app/tests/test_health.py
  backend/app/tests/test_mock_sso.py
  backend/app/tests/test_scholarship_rules_service.py
  backend/requirements-dev.txt
  frontend/package.json
Due: python-safety-check, npm-audit, backend-tests, frontend-tests

ci(coverage): per-PR diff-cover gate on backend smoke row (Phase 2)
  .github/workflows/ci.yml
  backend/requirements-dev.txt
Due: python-safety-check, backend-tests

test(roster): contract tests for RosterService public surface (Phase 3)
  backend/app/tests/test_roster_service_generation.py
Due: backend-tests

style: black --line-length=120 fixups
  backend/app/tests/test_roster_service_generation.py
Due: backend-tests

ci(e2e): add e2e-smoke job + tag specs with @smoke (Phase 4)
  .github/workflows/ci.yml
  frontend/e2e/helpers/runState.ts
  frontend/e2e/specs/multi-role-phd.spec.ts
  frontend/e2e/specs/roster-generation.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
Due: frontend-tests, typescript-check

ci(nightly): long-running lane — slow + e2e-full + audit-log contract (Phase 5)
  .github/workflows/nightly.yml
  backend/app/tests/test_application_audit_service_contract.py
Due: backend-tests

ci(e2e): guard Playwright run with READY gate; tolerate compose bringup failures
  .github/workflows/ci.yml
Due: none

fix(cache): cast ApplicationStatus enum to .value in scholarship_stats keys
  backend/app/api/v1/endpoints/admin/dashboard.py
Due: backend-tests, api-types-check

test(ci): per-PR diff-cover gate on backend smoke row (Phase 2) (#170)
  .github/workflows/ci.yml
  backend/requirements-dev.txt
Due: python-safety-check, backend-tests

test(roster): contract tests for RosterService public surface (Phase 3) (#171)
  backend/app/tests/test_roster_service_generation.py
Due: backend-tests

test(e2e): add e2e-smoke CI job + tag @smoke specs (Phase 4) (#172)
  .github/workflows/ci.yml
  frontend/e2e/helpers/runState.ts
  frontend/e2e/specs/multi-role-phd.spec.ts
  frontend/e2e/specs/roster-generation.spec.ts
  frontend/e2e/specs/whitelist-grant.spec.ts
Due: frontend-tests, typescript-check

test(ci): nightly long-running lane — slow + e2e-full + audit contract (Phase 5) (#173)
  .github/workflows/nightly.yml
  backend/app/tests/test_application_audit_service_contract.py
Due: backend-tests

test(roster): hypothesis property tests for _evaluate_condition (Phase 6)
  backend/app/tests/test_roster_evaluate_condition_property.py
  backend/requirements-dev.txt
Due: python-safety-check, backend-tests

fix(pytest): use [pytest] section header in pytest.ini (not [tool:pytest])
  backend/pytest.ini
Due: backend-tests

fix(tests): remove stale imports that broke pytest collection
  backend/app/tests/test_college_review_endpoints.py
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_professor_endpoints.py
  backend/app/tests/test_semester_yearly_labels.py
Due: backend-tests

fix(tests): use AsyncMock for async db methods in test_auth_service.py
  backend/app/tests/test_auth_service.py
Due: backend-tests

fix(tests): replace module-level TestClient with fixture-based AsyncClient in test_mock_sso.py
  backend/app/tests/test_mock_sso.py
Due: backend-tests

feat(ci): add roster tests to smoke list + hard-gate smoke lane
  .github/workflows/ci.yml
Due: none

fix(lint): fix black line-length violation and unused import
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_professor_endpoints.py
Due: backend-tests

style: add blank line before comment in test_professor_endpoints
  backend/app/tests/test_professor_endpoints.py
Due: backend-tests

fix(tests): correct roster smoke test fixtures and assertions
  backend/app/tests/test_roster_service_generation.py
Due: backend-tests

chore: add coverage.xml to .gitignore
  .gitignore
Due: none

fix(tests): fix all remaining smoke test failures
  backend/app/services/application_service.py
  backend/app/tests/conftest.py
  backend/app/tests/test_application_service.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_critical_workflows.py
  backend/app/tests/test_mock_sso.py
Due: backend-tests

fix(tests): rewrite admin access smoke test to patch _get_application_model
  backend/app/tests/test_application_service.py
Due: backend-tests

fix(tests): use ASGITransport in conftest client fixture
  backend/app/tests/conftest.py
Due: backend-tests

fix(workflows): two recurring failures in repo automation
  .github/workflows/monitoring-alert-issue.yml
  .github/workflows/summary.yml
Due: none

fix(workflows): two recurring failures in repo automation (#179)
  .github/workflows/monitoring-alert-issue.yml
  .github/workflows/summary.yml
Due: none

fix(review): gate status approval on configured pipeline (closes #182)
  backend/app/services/review_service.py
  backend/app/tests/test_review_service_status_gating.py
Due: backend-tests

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

