Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


ci: pass workflow context through env: instead of interpolating it
  .github/workflows/fortify-scan.yml
Due: none

ci: run Fortify scan on push to main only
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/fortify-scan.yml
Due: none

ci: run Fortify scan on push to main only
  .github/workflows/fortify-scan.yml
Due: none

fix: eliminate medium+ ZAP findings from input-validation gaps
  backend/app/core/config.py
  backend/app/core/db_errors.py
  backend/app/main.py
  backend/app/schemas/application_field.py
  backend/app/schemas/common.py
  backend/app/tests/test_input_validation_hardening.py
Due: backend-tests, api-types-check

fix: cap system-setting key query param at the column width
  backend/app/api/v1/endpoints/admin/system_settings.py
  backend/app/tests/test_input_validation_hardening.py
Due: backend-tests, api-types-check

test: assert the declared mock-SSO default instead of building Settings
  backend/app/tests/test_input_validation_hardening.py
Due: backend-tests

test: set enable_mock_sso per-test instead of at import time
  backend/app/tests/test_developer_profiles.py
  backend/app/tests/test_mock_sso.py
Due: backend-tests

fix: classify DB errors by SQLSTATE and handle them inside the middleware stack
  backend/app/core/db_errors.py
  backend/app/main.py
  backend/app/schemas/application_field.py
  backend/app/tests/test_input_validation_hardening.py
Due: backend-tests, api-types-check

fix: resolve AppScan staging findings (hidden dirs, headers, caching)
  backend/app/main.py
  backend/app/middleware/security_headers_middleware.py
  backend/app/tests/test_security_headers_middleware.py
  frontend/__tests__/security-headers-nginx-parity.test.ts
  frontend/app/api/v1/preview/footer-links/route.ts
  frontend/app/api/v1/preview/supp-docs/route.ts
  frontend/app/api/v1/preview/system-docs/route.ts
  frontend/lib/security-headers.ts
  frontend/middleware.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: backend-tests, frontend-tests, typescript-check

fix: emit COOP/COEP on static-asset responses for per-URL scanner checks
  frontend/__tests__/security-headers-nginx-parity.test.ts
  nginx/nginx.prod.conf
  nginx/nginx.staging.conf
Due: frontend-tests, typescript-check

refactor(prod-workflows): split deploy.yml into per-stage workflows
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/backup.yml
  .github/production-workflows-examples/bootstrap-ap-runner.sh
  .github/production-workflows-examples/deploy-production.yml
  .github/production-workflows-examples/deploy-stack.yml
  .github/production-workflows-examples/deploy-test.yml
  .github/production-workflows-examples/deploy.yml
  .github/production-workflows-examples/health-check.yml
  .github/production-workflows-examples/setting-env.yml
  .github/workflows/mirror-to-production.yml
Due: none

docs(security): retarget PII doc at the production repo's test/production deploy
  docs/security/pii-encryption-and-masking.md
Due: none

docs(security): rewrite the PII doc in plain Chinese for external auditors
  docs/security/pii-encryption-and-masking.md
Due: none

docs(security): drop the full-value sections and replace the 'envelope' wording
  docs/security/pii-encryption-and-masking.md
Due: none

docs(security): document the key env vars in full; drop the file index and the KMS note
  docs/security/pii-encryption-and-masking.md
Due: none

docs: add go-live version comparison reports for IT center review
  docs/release/go-live-2026/01-新舊版程式測試執行結果.md
  docs/release/go-live-2026/02-新舊版本程式或設定之差異分析比較.md
  docs/release/go-live-2026/images/01-stu-notice-configurable.webp
  docs/release/go-live-2026/images/02-stu-eligibility-detail.webp
  docs/release/go-live-2026/images/03-stu-must-read-regulations.webp
  docs/release/go-live-2026/images/04-stu-read-complete.webp
  docs/release/go-live-2026/images/05-col-distribution-result.webp
  docs/release/go-live-2026/images/06-col-export-applications.webp
  docs/release/go-live-2026/images/07-col-export-content.webp
  docs/release/go-live-2026/images/08-col-dept-folder.webp
  docs/release/go-live-2026/images/09-col-student-file.webp
  docs/release/go-live-2026/images/10-col-import-format-hint.webp
  docs/release/go-live-2026/images/11-col-import-error-hint.webp
  docs/release/go-live-2026/images/12-col-student-award-history.webp
  docs/release/go-live-2026/images/13-adm-upload-reference-doc.webp
  docs/release/go-live-2026/images/14-adm-edit-notice-text.webp
  docs/release/go-live-2026/images/15-adm-distribution-guard.webp
  docs/release/go-live-2026/images/16-adm-roster-compare-before.webp
  docs/release/go-live-2026/images/17-adm-roster-compare-after.webp
  docs/release/go-live-2026/images/18-adm-shared-quota-config.webp
  docs/release/go-live-2026/images/19-adm-shared-quota-result.webp
  docs/release/go-live-2026/images/20-adm-roster-regenerate.webp
  docs/release/go-live-2026/images/21-adm-roster-excel-eligibility.webp
  docs/release/go-live-2026/images/22-adm-roster-excel-by-subtype.webp
  docs/release/go-live-2026/images/23-adm-distribution-excluded.webp
  docs/release/go-live-2026/images/24-adm-award-history-query.webp
  docs/release/go-live-2026/images/25-adm-award-history-detail.webp
  docs/release/go-live-2026/images/26-cmn-logout-portal-notice.webp
  docs/release/go-live-2026/images/27-sec-pid-encryption.webp
Due: none

docs: trim statistics and dependency sections from diff analysis
  docs/release/go-live-2026/02-新舊版本程式或設定之差異分析比較.md
Due: none

feat(prod-workflows): add stop-deploy workflows for test and production
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/deploy-production.yml
  .github/production-workflows-examples/deploy-stack.yml
  .github/production-workflows-examples/deploy-test.yml
  .github/production-workflows-examples/stop-production.yml
  .github/production-workflows-examples/stop-stack.yml
  .github/production-workflows-examples/stop-test.yml
  .github/workflows/mirror-to-production.yml
Due: none

fix(prod-workflows): fail the stop run when the site is still served
  .github/production-workflows-examples/stop-stack.yml
Due: none

refactor(prod-workflows): drop the deploy lock from the stop workflows
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/deploy-production.yml
  .github/production-workflows-examples/deploy-stack.yml
  .github/production-workflows-examples/deploy-test.yml
  .github/production-workflows-examples/stop-production.yml
  .github/production-workflows-examples/stop-stack.yml
  .github/production-workflows-examples/stop-test.yml
Due: none

fix: assign advisor to applications submitted before the professor had an account
  backend/alembic/versions/advisor_backfill_idx_001.py
  backend/app/models/application.py
  backend/app/models/user_profile.py
  backend/app/services/application_builder.py
  backend/app/services/application_service.py
  backend/app/services/portal_sso_service.py
  backend/app/tests/test_advisor_backfill.py
Due: backend-tests, api-types-check, migration-check

revert(prod-workflows): leave the deploy workflow descriptions untouched
  .github/production-workflows-examples/deploy-production.yml
  .github/production-workflows-examples/deploy-test.yml
Due: none

feat(prod-workflows): add stop-deploy workflows for test and production (#1319)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/stop-production.yml
  .github/production-workflows-examples/stop-stack.yml
  .github/production-workflows-examples/stop-test.yml
  .github/workflows/mirror-to-production.yml
Due: none

fix: only claim applications a professor can still act on
  backend/alembic/versions/advisor_backfill_idx_001.py
  backend/app/models/enums.py
  backend/app/services/application_builder.py
  backend/app/services/application_service.py
  backend/app/tests/test_advisor_backfill.py
Due: backend-tests, api-types-check, migration-check

fix(prod-db): pin network name so the monitoring stack can attach
  docker-compose.prod-db.yml
Due: docker-compose-check

feat(prod-workflows): deploy the monitoring stack per stage
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/deploy-monitoring-production.yml
  .github/production-workflows-examples/deploy-monitoring-stack.yml
  .github/production-workflows-examples/deploy-monitoring-test.yml
  .github/workflows/mirror-to-production.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(monitoring): retarget the dashboards at the deployment they run on
  .github/production-workflows-examples/deploy-monitoring-stack.yml
Due: none

fix(monitoring): clear variable values saved from the staging server
  .github/production-workflows-examples/deploy-monitoring-stack.yml
Due: none

fix(monitoring): stop metadata caching from emptying every dropdown
  .github/production-workflows-examples/deploy-monitoring-stack.yml
  monitoring/config/grafana/provisioning/datasources/datasources.yml
Due: none

feat(prod-workflows): deploy the monitoring stack per stage (#1322)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/deploy-monitoring-production.yml
  .github/production-workflows-examples/deploy-monitoring-stack.yml
  .github/production-workflows-examples/deploy-monitoring-test.yml
  .github/workflows/mirror-to-production.yml
  monitoring/config/grafana/provisioning/datasources/datasources.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix(prod-db): pin network name so the monitoring stack can attach (#1321)
  docker-compose.prod-db.yml
Due: docker-compose-check

docs: add deploy related docs
  docs/資訊中心文件/停止系統運行.md
  docs/資訊中心文件/正式機安裝手冊.md
  docs/資訊中心文件/還原改動以及重新啟動系統流程.md
Due: none

docs: Update SUPER_ADMIN_NYCU_ID in installation manual
  docs/資訊中心文件/正式機安裝手冊.md
Due: none

docs: 修正資訊中心文件的圖片預覽破圖 (#49)
  docs/資訊中心文件/images/install-runner-01-add-runner.png
  docs/資訊中心文件/images/install-runner-02-runner-commands.png
  docs/資訊中心文件/images/restore-system-01-select-workflow.png
  docs/資訊中心文件/images/restore-system-02-run-workflow.png
  docs/資訊中心文件/images/restore-system-03-use-workflow-from.png
  docs/資訊中心文件/images/restore-system-04-select-ref-tags.png
  docs/資訊中心文件/images/restore-system-05-run-workflow-form.png
  docs/資訊中心文件/images/stop-system-01-select-workflow.png
  docs/資訊中心文件/images/stop-system-02-run-workflow.png
  docs/資訊中心文件/images/stop-system-03-run-workflow-form.png
  docs/資訊中心文件/停止系統運行.md
  docs/資訊中心文件/正式機安裝手冊.md
  docs/資訊中心文件/還原改動以及重新啟動系統流程.md
Due: none

feat(prod-workflows): install the TLS certificate from GitHub secrets
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy-production.yml
  .github/production-workflows-examples/deploy-stack.yml
  .github/production-workflows-examples/deploy-test.yml
  .github/production-workflows-examples/setting-env.yml
  .github/production-workflows-examples/stop-stack.yml
  docker-compose.prod.yml
Due: docker-compose-check

feat(prod-workflows): TLS certificate from GitHub secrets + per-stage monitoring deploy (#1327)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy-production.yml
  .github/production-workflows-examples/deploy-stack.yml
  .github/production-workflows-examples/deploy-test.yml
  .github/production-workflows-examples/setting-env.yml
  .github/production-workflows-examples/stop-stack.yml
  docker-compose.prod.yml
Due: docker-compose-check

Release v1.0.11 (#50)
  .github/workflows/deploy-production.yml
  .github/workflows/deploy-stack.yml
  .github/workflows/deploy-test.yml
  .github/workflows/setting-env.yml
  .github/workflows/stop-stack.yml
  docker-compose.prod.yml
  docs/資訊中心文件/images/install-runner-01-add-runner.png
  docs/資訊中心文件/images/install-runner-02-runner-commands.png
  docs/資訊中心文件/images/restore-system-01-select-workflow.png
  docs/資訊中心文件/images/restore-system-02-run-workflow.png
  docs/資訊中心文件/images/restore-system-03-use-workflow-from.png
  docs/資訊中心文件/images/restore-system-04-select-ref-tags.png
  docs/資訊中心文件/images/restore-system-05-run-workflow-form.png
  docs/資訊中心文件/images/stop-system-01-select-workflow.png
  docs/資訊中心文件/images/stop-system-02-run-workflow.png
  docs/資訊中心文件/images/stop-system-03-run-workflow-form.png
  docs/資訊中心文件/停止系統運行.md
  docs/資訊中心文件/正式機安裝手冊.md
  docs/資訊中心文件/還原改動以及重新啟動系統流程.md
Due: docker-compose-check

Make production deploy, monitoring and Fortify workflows dispatch-only
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy-monitoring-production.yml
  .github/production-workflows-examples/deploy-monitoring-stack.yml
  .github/production-workflows-examples/deploy-monitoring-test.yml
  .github/production-workflows-examples/deploy-production.yml
  .github/production-workflows-examples/deploy-stack.yml
  .github/production-workflows-examples/deploy-test.yml
  .github/production-workflows-examples/fortify-scan.yml
  .github/production-workflows-examples/stop-production.yml
  .github/production-workflows-examples/stop-stack.yml
  .github/production-workflows-examples/stop-test.yml
  .github/workflows/mirror-to-production.yml
Due: none

docs: 新增正式機更新手冊，並還原被 production-sync 誤刪的資訊中心文件
  docs/資訊中心文件/images/install-runner-01-add-runner.png
  docs/資訊中心文件/images/install-runner-02-runner-commands.png
  docs/資訊中心文件/images/restore-system-01-select-workflow.png
  docs/資訊中心文件/images/restore-system-02-run-workflow.png
  docs/資訊中心文件/images/restore-system-03-use-workflow-from.png
  docs/資訊中心文件/images/restore-system-04-select-ref-tags.png
  docs/資訊中心文件/images/restore-system-05-run-workflow-form.png
  docs/資訊中心文件/images/stop-system-01-select-workflow.png
  docs/資訊中心文件/images/stop-system-02-run-workflow.png
  docs/資訊中心文件/images/stop-system-03-run-workflow-form.png
  docs/資訊中心文件/停止系統運行.md
  docs/資訊中心文件/正式機安裝手冊.md
  docs/資訊中心文件/正式機更新手冊.md
  docs/資訊中心文件/還原改動以及重新啟動系統流程.md
Due: none

Make production deploy, monitoring and Fortify workflows dispatch-only (#1328)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy-monitoring-production.yml
  .github/production-workflows-examples/deploy-monitoring-stack.yml
  .github/production-workflows-examples/deploy-monitoring-test.yml
  .github/production-workflows-examples/deploy-production.yml
  .github/production-workflows-examples/deploy-stack.yml
  .github/production-workflows-examples/deploy-test.yml
  .github/production-workflows-examples/fortify-scan.yml
  .github/production-workflows-examples/stop-production.yml
  .github/production-workflows-examples/stop-stack.yml
  .github/production-workflows-examples/stop-test.yml
  .github/workflows/mirror-to-production.yml
Due: none
