Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(dynamic-config): get_bool/int/float/str now return Optional and handle None correctly
  backend/app/core/dynamic_config.py
Due: backend-tests

docs(audit): record round 14 final tally — 60 commits, 10 P1 bug categories
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

test(models): source-grep regression for SQLAlchemy mutable Column defaults
  backend/app/tests/test_model_default_lambdas.py
Due: backend-tests

test(auth): source-grep invariant for rate-limit decorators on register/login/mock_sso_login
  backend/app/tests/test_auth_rate_limit_invariants.py
Due: backend-tests

chore(datetime): final sweep — eliminate naive datetime.now() in core / models / 2 services
  backend/app/core/security.py
  backend/app/models/application.py
  backend/app/services/application_field_service.py
  backend/app/services/export_package_service.py
Due: backend-tests, api-types-check, migration-check

docs(audit): record round 15 — 64 commits, datetime sweep completes
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

fix(professor-review): render fallback recommendation when scholarship has no sub-types
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

fix(i18n): translate student-side hardcoded zh strings to en
  frontend/components/application-detail-dialog.tsx
  frontend/components/application-file-upload-dialog.tsx
  frontend/components/delete-application-dialog.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/components/file-upload.tsx
  frontend/components/student-wizard/ApplicationSidebar.tsx
  frontend/components/student-wizard/StudentApplicationWizard.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/components/student-wizard/steps/StudentDataReviewStep.tsx
  frontend/lib/i18n.ts
Due: frontend-tests, typescript-check

fix(professor-review,footer): mobile card layout, collapsible footer, hydration fix
  frontend/components/footer.tsx
  frontend/components/professor-review-component.tsx
Due: frontend-tests, typescript-check

fix(professor-student): reject cross-professor queries via professor_id parameter (P1 auth bypass)
  backend/app/api/v1/endpoints/professor_student.py
Due: backend-tests, api-types-check

chore(fe): replace unstable index keys with content-derived keys in PermissionStatusPanel
  frontend/components/college/PermissionStatusPanel.tsx
Due: frontend-tests, typescript-check

docs(audit): record round 16 — PR #89 opened + auth bypass fix
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

deps: bump pillow + black to patched versions (Dependabot)
  backend/requirements-lint.txt
  backend/requirements.txt
Due: python-safety-check, backend-tests

deps(fe): bump next + lodash override to patched versions (Dependabot)
  frontend/package.json
Due: npm-audit, frontend-tests

deps(fe): add handlebars >=4.7.9 override to close CRITICAL JS injection
  frontend/package.json
Due: npm-audit, frontend-tests

deps(be): bump python-multipart + PyJWT + cryptography + pytest (Dependabot)
  backend/requirements-dev.txt
  backend/requirements.txt
Due: python-safety-check, backend-tests

deps(fe): add 7 more overrides to close remaining HIGH/medium Dependabot alerts
  frontend/package.json
Due: npm-audit, frontend-tests

docs(audit): record round 17 — Dependabot sweep (1 CRITICAL + 30 HIGH closed)
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

deps(fe): regen package-lock + drop postcss override conflict
  frontend/package-lock.json
  frontend/package.json
Due: npm-audit, frontend-tests

deps(fe): npm audit fix — close 1 moderate (ajv) without semver-major bumps
  frontend/package-lock.json
Due: npm-audit, frontend-tests

fix(notifications, roster): TZ-correct quiet-hours check + roster filename timestamp
  backend/app/models/notification.py
  backend/app/models/payment_roster.py
Due: backend-tests, api-types-check, migration-check

docs(audit): record round 18 — merge-conflict resolved, CI clean, 2 TZ bugs
  docs/superpowers/audits/2026-05-07-quick-audit.md
Due: none

test(student-portal): align empty-state assertion with i18n string
  frontend/components/__tests__/enhanced-student-portal.test.tsx
Due: frontend-tests, typescript-check

style(backend): black --line-length=120 reformat (CI requirement)
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/api/v1/endpoints/professor_student.py
  backend/app/db/session.py
  backend/app/seed.py
  backend/app/services/college_review_service.py
  backend/app/services/email_automation_service.py
  backend/app/services/review_service.py
  backend/app/tests/test_auth_rate_limit_invariants.py
  backend/app/tests/test_college_review_deadline.py
  backend/app/tests/test_flag_modified_invariants.py
  backend/app/tests/test_manual_distribution_finalize.py
  backend/app/tests/test_semester_yearly_labels.py
  backend/app/utils/academic_period.py
Due: backend-tests, api-types-check

fix(hydration): resolve remaining SSR/CSR mismatches in auth + nonce paths
  frontend/app/layout.tsx
  frontend/hooks/use-language-preference.ts
Due: frontend-tests, typescript-check

fix(deps): strip stray ======= conflict marker from requirements.txt
  backend/requirements.txt
Due: python-safety-check, backend-tests

chore(skills): restore nycu-sso-login + add 2026-05-07 staging validation report
  .claude/skills/nycu-sso-login/.gitignore
  .claude/skills/nycu-sso-login/SKILL.md
  .claude/skills/nycu-sso-login/scripts/login.js
  .claude/skills/nycu-sso-login/scripts/with-session.js
  docs/staging-tests/2026-05-07/01-student-flow/click-scholarship.js
  docs/staging-tests/2026-05-07/01-student-flow/explore-tabs.js
  docs/staging-tests/2026-05-07/01-student-flow/recon.js
  docs/staging-tests/2026-05-07/01-student-flow/shots/01-dashboard.png
  docs/staging-tests/2026-05-07/01-student-flow/shots/01-nav.json
  docs/staging-tests/2026-05-07/01-student-flow/shots/02-tab-____.png
  docs/staging-tests/2026-05-07/01-student-flow/shots/02-tab-____.txt
  docs/staging-tests/2026-05-07/01-student-flow/shots/02-tab-_____.png
  docs/staging-tests/2026-05-07/01-student-flow/shots/02-tab-_____.txt
  docs/staging-tests/2026-05-07/01-student-flow/shots/03-api-calls.json
  docs/staging-tests/2026-05-07/01-student-flow/shots/03-scholarship-detail.png
  docs/staging-tests/2026-05-07/01-student-flow/shots/04-apply-step1.png
  docs/staging-tests/2026-05-07/01-student-flow/shots/04-apply-step1.txt
  docs/staging-tests/2026-05-07/01-student-flow/shots/05-form-config-phd.json
  docs/staging-tests/2026-05-07/03-ranking-page/admin-flow.js
  docs/staging-tests/2026-05-07/03-ranking-page/admin-recon.js
  docs/staging-tests/2026-05-07/03-ranking-page/shots/01-admin-dashboard.png
  docs/staging-tests/2026-05-07/03-ranking-page/shots/01-api.json
  docs/staging-tests/2026-05-07/03-ranking-page/shots/01-nav.json
  docs/staging-tests/2026-05-07/03-ranking-page/shots/02-admin-dashboard-fresh.png
  docs/staging-tests/2026-05-07/03-ranking-page/shots/03-api.json
  docs/staging-tests/2026-05-07/03-ranking-page/shots/03-review-mgmt.png
  docs/staging-tests/2026-05-07/04-rate-limit/429-response.txt
  docs/staging-tests/2026-05-07/REPORT.md
Due: none

fix(#91): read college_review_end from ranking response (not admin API)
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

fix(#92): surface review_stage in professor apps API + inline modal error
  backend/app/services/application_service.py
  frontend/components/professor-review-component.tsx
Due: backend-tests, frontend-tests, typescript-check

docs(staging-tests): mark #64 + #55 verified in 2026-05-07 report
  docs/staging-tests/2026-05-07/REPORT.md
Due: none

fix(#93): unshadow status module + propagate HTTPException in professor-student
  backend/app/api/v1/endpoints/professor_student.py
Due: backend-tests, api-types-check

docs(staging): revalidation pass 2026-05-07T15:35Z — 5 sections, 8 snapshots
  docs/staging-tests/2026-05-07/staging-revalidation/00-summary.json
  docs/staging-tests/2026-05-07/staging-revalidation/01-notice-before.png
  docs/staging-tests/2026-05-07/staging-revalidation/01-state.txt
  docs/staging-tests/2026-05-07/staging-revalidation/02-bank-doc-state.json
  docs/staging-tests/2026-05-07/staging-revalidation/03-professor-apps-review-stage.json
  docs/staging-tests/2026-05-07/staging-revalidation/04-cross-prof-staging.json
  docs/staging-tests/2026-05-07/staging-revalidation/05-student-dashboard.png
  docs/staging-tests/2026-05-07/staging-revalidation/05-student-network.txt
  docs/staging-tests/2026-05-07/staging-revalidation/REPORT.md
Due: none

docs(staging): pass-2 revalidation w/ portal test accounts — #59 PASS, #55 deploy-lag bug
  docs/staging-tests/2026-05-07/staging-revalidation-2/01-414111001-apply-tab.png
  docs/staging-tests/2026-05-07/staging-revalidation-2/10-413708006-wizard.png
  docs/staging-tests/2026-05-07/staging-revalidation-2/11-before-scroll.png
  docs/staging-tests/2026-05-07/staging-revalidation-2/12-after-scroll.png
  docs/staging-tests/2026-05-07/staging-revalidation-2/13-agreed.png
  docs/staging-tests/2026-05-07/staging-revalidation-2/20-staging-92-review-stage.json
  docs/staging-tests/2026-05-07/staging-revalidation-2/21-staging-93-cross-prof.json
  docs/staging-tests/2026-05-07/staging-revalidation-2/22-A00003-dashboard.png
  docs/staging-tests/2026-05-07/staging-revalidation-2/30-staging-55-upload.json
  docs/staging-tests/2026-05-07/staging-revalidation-2/31-staging-55-delete.json
  docs/staging-tests/2026-05-07/staging-revalidation-2/32-staging-55-summary.json
  docs/staging-tests/2026-05-07/staging-revalidation-2/40-staging-55-full.json
  docs/staging-tests/2026-05-07/staging-revalidation-2/REPORT.md
Due: none

chore: regenerate OpenAPI types — add /payment-rosters/{id}/items/{id}/exclude
  frontend/lib/api/generated/schema.d.ts
Due: none

fix(ts): hoist activeConfigDeadline declaration above its first use
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: frontend-tests, typescript-check

chore(ci): sync generated OpenAPI types — add exclude_roster_item endpoint
  frontend/lib/api/generated/schema.d.ts
Due: none

chore(ci): sync generated OpenAPI types — add exclude_roster_item endpoint (#96)
  frontend/lib/api/generated/schema.d.ts
Due: none

feat(email-mgmt): render HTML body in 查看內容 / 查看模板 dialogs
  frontend/components/email-history-table.tsx
  frontend/components/scheduled-emails-table.tsx
Due: frontend-tests, typescript-check
