Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


docs(skills): add worktree detection step to init-dev-env
  .claude/skills/init-dev-env.md
Due: none

docs(roster): add distribution-reconcile (補充人) design spec
  docs/superpowers/specs/2026-06-06-roster-distribution-reconcile-design.md
Due: none

docs(roster): add distribution-reconcile implementation plan
  docs/superpowers/plans/2026-06-06-roster-distribution-reconcile.md
Due: none

feat(roster): add distribution-diff and reconcile schemas
  backend/app/schemas/payment_roster.py
Due: backend-tests, api-types-check

feat(roster): compute distribution diff for a generated roster
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_distribution_reconcile_service.py
Due: backend-tests

feat(roster): reconcile a roster against its distribution slice
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_distribution_reconcile_service.py
Due: backend-tests

feat(roster): add distribution-diff and reconcile endpoints
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/tests/test_roster_distribution_reconcile_api.py
Due: backend-tests, api-types-check

fix(roster): include excel_stale in cycle-status period entries
  backend/app/api/v1/endpoints/payment_rosters.py
Due: backend-tests, api-types-check

chore(api): regenerate OpenAPI types for reconcile routes
  frontend/lib/api/generated/schema.d.ts
Due: none

docs(roster): correct Task 4 test approach (direct-call, no Redis/async-DB split)
  docs/superpowers/plans/2026-06-06-roster-distribution-reconcile.md
Due: none

feat(roster): add getDistributionDiff and reconcileRoster api methods
  frontend/lib/api/modules/__tests__/payment-rosters.test.ts
  frontend/lib/api/modules/payment-rosters.ts
Due: frontend-tests, typescript-check

fix(roster): carry excel_stale through RosterListTable Period
  frontend/components/roster/RosterListTable.tsx
Due: frontend-tests, typescript-check

feat(roster): add 比對分發名單 reconcile section to RosterDetailDialog
  frontend/components/roster/RosterDetailDialog.tsx
Due: frontend-tests, typescript-check

refactor(roster): address review — orphan 學號 shows std_stdcode only; reuse recompute helper
  backend/app/services/roster_service.py
Due: backend-tests

fix(roster): address Copilot review — guard missing Application; reset reconcile state on roster change
  backend/app/services/roster_service.py
  frontend/components/roster/RosterDetailDialog.tsx
Due: backend-tests, frontend-tests, typescript-check

refactor(roster): /simplify cleanup of reconcile diff
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_distribution_reconcile_api.py
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/lib/api/modules/payment-rosters.ts
Due: backend-tests, frontend-tests, typescript-check

test(frontend): un-skip the 8 api-assertion tests via jest.spyOn
  frontend/components/__tests__/admin-configuration-management.test.tsx
  frontend/components/__tests__/admin-rule-management.test.tsx
  frontend/components/__tests__/batch-import-panel.test.tsx
Due: frontend-tests, typescript-check

test(frontend): un-skip the 8 api-assertion tests via jest.spyOn (#911)
  frontend/components/__tests__/admin-configuration-management.test.tsx
  frontend/components/__tests__/admin-rule-management.test.tsx
  frontend/components/__tests__/batch-import-panel.test.tsx
Due: frontend-tests, typescript-check

Update advisor NYCU ID in user profile creation
  scripts/seed_csphd001_draft.py
Due: none

chore(seed): set default contact_phone to 0989123123 in csphd draft seed
  scripts/seed_csphd001_draft.py
Due: none

fix(roster): reconcile diff handles whole-period rosters (sub_type NULL)
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_distribution_reconcile_service.py
Due: backend-tests

fix(roster): live-refresh 人數 + working re-export Excel after reconcile
  backend/app/api/v1/endpoints/payment_rosters.py
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/components/roster/RosterListTable.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(roster): address PR review — diff actionability, stale-diff clear, a11y
  backend/app/services/roster_service.py
  backend/app/tests/test_roster_distribution_reconcile_service.py
  frontend/components/roster/RosterDetailDialog.tsx
Due: backend-tests, frontend-tests, typescript-check

feat(roster): per-row reconcile actions + correct 學號 in 查看名單
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/schemas/roster.py
  frontend/components/roster/RosterDetailDialog.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat(application): hide sub-type preference ordering, force moe_1w first
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: frontend-tests, typescript-check

docs: design spec for config-level shared quota pools (cross-config NSTC borrowing)
  docs/superpowers/specs/2026-06-08-config-shared-quota-pools-design.md
Due: none

fix(application): persist sub_type_preferences on create and update
  backend/app/services/application_service.py
Due: backend-tests

docs: add E2E before/after screenshots for hidden preference ordering
  docs/screenshots/hide-preference-ordering/A-both-subtypes-selected.png
  docs/screenshots/hide-preference-ordering/after-ordering-hidden.png
  docs/screenshots/hide-preference-ordering/before-ordering-visible.png
Due: none

docs: lock cross-type naming + dual quota gate decisions in spec
  docs/superpowers/specs/2026-06-08-config-shared-quota-pools-design.md
Due: none

docs: add Traditional Chinese (zh-TW) translation of shared quota pools spec
  docs/superpowers/specs/2026-06-08-config-shared-quota-pools-design.zh-TW.md
Due: none

docs: mark shared-quota-pools spec approved
  docs/superpowers/specs/2026-06-08-config-shared-quota-pools-design.md
  docs/superpowers/specs/2026-06-08-config-shared-quota-pools-design.zh-TW.md
Due: none

docs: assembled implementation plan for shared quota pools (62 tasks)
  docs/superpowers/plans/2026-06-08-config-shared-quota-pools.md
Due: none

docs(plan): fold consistency-review fixes — reconciliation notes, audit-INSERT crash, migration labeling, dedup Phase 6 table
  docs/superpowers/plans/2026-06-08-config-shared-quota-pools.md
Due: none

test(application): pin sub_type_preferences persistence on update
  backend/app/tests/test_update_application_deep.py
Due: backend-tests

feat(model): add CollegeRankingItem.allocation_config_id FK + relationship
  backend/app/models/college_review.py
  backend/app/tests/test_models_allocation_config.py
Due: backend-tests, api-types-check, migration-check

feat(model): add Application.allocation_config_id FK for renewal consumed config
  backend/app/models/application.py
  backend/app/tests/test_models_allocation_config.py
Due: backend-tests, api-types-check, migration-check

feat(model): add ScholarshipConfiguration.shared_quota_sources; flag project_numbers flat
  backend/app/models/scholarship.py
  backend/app/tests/test_models_allocation_config.py
Due: backend-tests, api-types-check, migration-check

feat(model): add allocation_config_id to PaymentRoster + PaymentRosterItem
  backend/app/models/payment_roster.py
  backend/app/tests/test_models_allocation_config.py
Due: backend-tests, api-types-check, migration-check

feat(distribution): add pool_total mode-aware helper (spec §6.1)
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_pool_math.py
Due: backend-tests

feat(distribution): add consumers_count is_renewal partition (spec §6.2)
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_pool_math.py
Due: backend-tests
