Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix(frontend): avoid copyFileSync EPERM in copy-pdf-worker
  frontend/scripts/copy-pdf-worker.mjs
Due: frontend-tests

fix(roster): store national ID (std_pid) instead of student number in payment_roster_items
  backend/alembic/versions/20260529_backfill_roster_national_id.py
  backend/app/models/payment_roster.py
  backend/app/services/roster_service.py
Due: backend-tests, api-types-check, migration-check

style: apply black formatting to seed.py (line-length 120)
  backend/app/seed.py
Due: backend-tests

fix(ci): tolerate root-owned pdf worker file in copy-pdf-worker
  frontend/scripts/copy-pdf-worker.mjs
Due: frontend-tests

style: black-format seed.py after merge from main
  backend/app/seed.py
Due: backend-tests

fix(alembic): merge backfill_roster_national_id + add_supp_docs_001 heads
  backend/alembic/versions/20260529_merge_roster_supp_docs.py
Due: backend-tests, migration-check

fix(notifications): log queue processing failures with full traceback
  backend/app/services/notification_service.py
Due: backend-tests

fix(ci): unblock checks — copy-pdf-worker EPERM + black-format seed.py (#818)
  backend/app/seed.py
  frontend/scripts/copy-pdf-worker.mjs
Due: backend-tests, frontend-tests

fix(alembic): shorten revision ID to fit VARCHAR(32) alembic_version constraint
  backend/alembic/versions/20260529_backfill_roster_national_id.py
  backend/alembic/versions/20260529_merge_roster_supp_docs.py
Due: backend-tests, migration-check

fix(api): wrap reference_data endpoints in ApiResponse envelope (CLAUDE.md §5)
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/tests/test_reference_data_response_shape.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

refactor(alembic): clean up backfill migration per reviewer notes
  backend/alembic/versions/20260529_backfill_roster_national_id.py
Due: backend-tests, migration-check

fix(roster): correct simulate_roster_generation AttributeErrors (issue #825)
  backend/app/services/roster_service.py
Due: backend-tests

test(roster): add std_pid to test fixture so roster generation can populate national ID
  backend/app/tests/test_roster_service_generation.py
Due: backend-tests

fix(seed): open moe professor review window 5 days early
  backend/app/db/seed_scholarship_configs.py
Due: backend-tests

test(application-service): add core path tests for create/submit/withdraw/get
  backend/app/tests/test_application_service_core.py
Due: backend-tests

fix(api): wrap nycu_employee endpoints in ApiResponse envelope (CLAUDE.md §5)
  backend/app/api/v1/endpoints/nycu_employee.py
Due: backend-tests, api-types-check

test(conftest): set ENVIRONMENT=test so pii_crypto dev-key fallback activates
  backend/app/tests/conftest.py
Due: backend-tests

perf(manual_distribution): batch-load renewal apps to avoid N+1 (issue #830)
  backend/app/services/manual_distribution_service.py
Due: backend-tests

feat(seed): seed 獎學金要點 system document from bundled PhD regulations PDF
  backend/app/db/seed_assets/phd_regulations_114.pdf
  backend/app/db/seed_regulations_doc.py
  backend/app/seed.py
  docs/samples/114年國立陽明交通大學博士生獎學金申請注意事項.pdf
Due: backend-tests

fix(college-review): show all college applications regardless of review phase
  backend/app/services/college_review_service.py
  backend/app/tests/test_review_routing_renewal.py
Due: backend-tests

test(roster): add _create_roster_item + excel row mapping tests; regression test for std_pid fix
  backend/app/tests/test_excel_export_service_rows.py
  backend/app/tests/test_roster_service_core.py
Due: backend-tests

refactor(review): share REVIEWABLE_APPLICATION_STATUSES + quiet listing logs
  backend/app/models/enums.py
  backend/app/services/application_service.py
  backend/app/services/college_review_service.py
Due: backend-tests, api-types-check, migration-check

fix(nightly-e2e): resolve student-history strict mode + roster download 500
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/excel_export_service.py
  frontend/e2e/specs/admin-student-history.spec.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(ci): hard-gate backend test suites; fix roster-period-dates condition order (#834)
  .github/workflows/ci.yml
  backend/app/utils/academic_period.py
Due: backend-tests

refactor(college-review): use shared status constant in create_ranking
  backend/app/services/college_review_service.py
Due: backend-tests

fix(tests): repair 15 stale unit/integration/critical-workflow tests
  backend/app/tests/test_application_field_service_unit.py
  backend/app/tests/test_application_metrics_instrumentation.py
  backend/app/tests/test_application_model_properties.py
  backend/app/tests/test_application_service.py
  backend/app/tests/test_critical_workflows.py
Due: backend-tests

fix(tests): replace missing db_session fixture with db in college review stubs
  backend/app/tests/test_college_review_service.py
Due: backend-tests

fix(tests): repair 3 more stale unit tests
  backend/app/tests/test_application_model_properties.py
  backend/app/tests/test_application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix(application): persist student postal account into submitted_form_data
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

feat(college-review): show "教授審核中" for apps still pending professor review
  backend/app/services/application_enricher_service.py
  backend/app/services/college_review_service.py
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check

fix(application): lock postal-account precedence on draft edit
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/utils/__tests__/application-helpers.test.ts
Due: frontend-tests, typescript-check

docs: spec for revoke/suspend UI completion + refinement
  docs/superpowers/specs/2026-05-29-revoke-suspend-ui-completion-design.md
Due: none

docs: implementation plan for revoke/suspend UI completion
  docs/superpowers/plans/2026-05-29-revoke-suspend-ui-completion.md
Due: none

feat(manual-distribution): add suspendAllocation api method
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
  frontend/lib/api/modules/manual-distribution.ts
Due: frontend-tests, typescript-check

chore(test): drop stale 11-method-invariant comment
  frontend/lib/api/modules/__tests__/manual-distribution.test.ts
Due: frontend-tests, typescript-check

test: fix wave-3 unit test failures for CI gate (PR #836)
  backend/app/tests/test_application_service.py
  backend/app/tests/test_critical_workflows.py
Due: backend-tests

ci: harden test gates — continue-on-error false for unit/integration/critical-workflows
  .github/workflows/ci.yml
Due: none

feat(manual-distribution): shared AllocationActionDialog for revoke/suspend
  frontend/components/admin/manual-distribution/AllocationActionDialog.tsx
  frontend/components/admin/manual-distribution/__tests__/AllocationActionDialog.test.tsx
Due: frontend-tests, typescript-check

test(manual-distribution): cover 其他-requires-note; tighten suspendOption type
  frontend/components/admin/manual-distribution/AllocationActionDialog.tsx
  frontend/components/admin/manual-distribution/__tests__/AllocationActionDialog.test.tsx
Due: frontend-tests, typescript-check
