Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

test(quota-dashboard): HTTP-layer endpoint tests for quota dashboard router
  backend/app/tests/test_quota_dashboard_endpoints.py
Due: backend-tests

test(scholarships): HTTP-layer endpoint tests for scholarships router
  backend/app/tests/test_scholarships_endpoints.py
Due: backend-tests

test(application-fields): add endpoint tests for form field/document CRUD
  backend/app/tests/test_application_fields_endpoints.py
Due: backend-tests

test(admin): add endpoint tests for admin scholarships CRUD
  backend/app/tests/test_admin_scholarships_endpoints.py
Due: backend-tests

test(api): HTTP-layer tests for roster_schedules + document_requests + professor_student (69 tests) (#1111)
  backend/app/tests/test_document_requests_endpoints.py
  backend/app/tests/test_professor_student_endpoints.py
  backend/app/tests/test_roster_schedules_endpoints.py
Due: backend-tests

test(api): HTTP-layer tests for scholarships + quota_dashboard (56 tests) (#1114)
  backend/app/tests/test_quota_dashboard_endpoints.py
  backend/app/tests/test_scholarships_endpoints.py
Due: backend-tests

test(api): HTTP-layer tests for admin/scholarships + application_fields (71 tests) (#1116)
  backend/app/tests/test_admin_scholarships_endpoints.py
  backend/app/tests/test_application_fields_endpoints.py
Due: backend-tests

fix(api): 4 endpoint bugs surfaced by the endpoint-coverage test wave
  backend/app/api/v1/endpoints/admin/scholarships.py
  backend/app/api/v1/endpoints/professor_student.py
  backend/app/api/v1/endpoints/roster_schedules.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/schemas/scholarship.py
  backend/app/tests/test_admin_scholarships_endpoints.py
  backend/app/tests/test_professor_student_endpoints.py
  backend/app/tests/test_roster_schedules_endpoints.py
  backend/app/tests/test_scholarships_endpoints.py
Due: backend-tests, api-types-check

style: black-format flipped test file + fix stale fixture docstring reference
  backend/app/tests/test_scholarships_endpoints.py
Due: backend-tests

fix(api): 4 endpoint bugs surfaced by endpoint-coverage tests (#1112 #1113 #1115 #1117) (#1118)
  backend/app/api/v1/endpoints/admin/scholarships.py
  backend/app/api/v1/endpoints/professor_student.py
  backend/app/api/v1/endpoints/roster_schedules.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/schemas/scholarship.py
  backend/app/tests/test_admin_scholarships_endpoints.py
  backend/app/tests/test_professor_student_endpoints.py
  backend/app/tests/test_roster_schedules_endpoints.py
  backend/app/tests/test_scholarships_endpoints.py
Due: backend-tests, api-types-check

Make application notice items admin-editable instead of hardcoded
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/schemas/application_notices.py
  backend/app/tests/test_application_notices_endpoints.py
  frontend/components/__tests__/notice-agreement-step.test.tsx
  frontend/components/admin/system-docs/ApplicationNoticesPanel.tsx
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/system-settings.test.ts
  frontend/lib/api/modules/system-settings.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

Address Copilot review: stable React keys and accurate error log
  backend/app/api/v1/endpoints/system_settings.py
  frontend/components/admin/system-docs/ApplicationNoticesPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(frontend): rename admin history tab and config actions column labels
  frontend/components/admin-configuration-management.tsx
  frontend/components/admin/AdminManagementShell.tsx
  frontend/components/admin/student-history/StudentHistoryPanel.tsx
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
  frontend/e2e/specs/admin-student-history.spec.ts
  frontend/e2e/specs/showcase-replay.spec.ts
Due: frontend-tests, typescript-check

feat: make scholarship application notices admin-editable (#1119)
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/schemas/application_notices.py
  backend/app/tests/test_application_notices_endpoints.py
  frontend/components/__tests__/notice-agreement-step.test.tsx
  frontend/components/admin/system-docs/ApplicationNoticesPanel.tsx
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/system-settings.test.ts
  frontend/lib/api/modules/system-settings.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

feat: default new employee users to professor role
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

fix(frontend): use backend total for user permission pagination
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

fix(frontend): make user permission role filter actually filter
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

refactor(frontend): declare allowed roles as array literal
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

fix(frontend): user permission list pagination + role filter (#1122)
  frontend/components/user-permission-management.tsx
Due: frontend-tests, typescript-check

fix(ui): rename moe_1w sub-type label to 指導教授配合款每月 $5000 元
  backend/alembic/versions/update_moe_1w_subtype_label.py
  backend/app/db/seed_scholarship_configs.py
  frontend/e2e/specs/student-subtype-label.spec.ts
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check, migration-check

fix(review): scope moe_1w migration to phd type, tighten e2e DB assertion
  backend/alembic/versions/update_moe_1w_subtype_label.py
  frontend/e2e/specs/student-subtype-label.spec.ts
Due: backend-tests, frontend-tests, typescript-check, migration-check

test(e2e): assert ApiResponse shape before dereferencing data
  frontend/e2e/specs/student-subtype-label.spec.ts
Due: frontend-tests, typescript-check

fix(ui): update moe_1w scholarship label to 每月 $5000 元 wording (#1124)
  backend/alembic/versions/update_moe_1w_subtype_label.py
  backend/app/db/seed_scholarship_configs.py
  frontend/e2e/specs/student-subtype-label.spec.ts
  frontend/lib/i18n.ts
Due: backend-tests, frontend-tests, typescript-check, migration-check

docs: design spec for document display/upload flags and 申請文件 note
  docs/superpowers/specs/2026-07-08-document-display-upload-config-design.md
Due: none

docs: implementation plan for document display/upload flags and note
  docs/superpowers/plans/2026-07-08-document-display-upload-config.md
Due: none

feat(api): add display_in_list/requires_upload flags to application documents
  backend/alembic/versions/add_doc_display_upload_flags_001.py
  backend/app/models/application_field.py
  backend/app/schemas/application_field.py
  backend/app/tests/test_application_fields_endpoints.py
Due: backend-tests, api-types-check, migration-check

feat(api): admin-editable per-scholarship application document note
  backend/alembic/versions/add_app_doc_note_001.py
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/models/scholarship.py
  backend/app/schemas/application_field.py
  backend/app/schemas/scholarship.py
  backend/app/services/application_field_service.py
  backend/app/services/scholarship_service.py
  backend/app/tests/test_application_fields_endpoints.py
Due: backend-tests, api-types-check, migration-check

feat(frontend): admin switches for document display/upload and application-document note editor
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/application-document-form.tsx
  frontend/lib/api/types.ts
Due: frontend-tests, typescript-check

feat(frontend): honor document display/upload flags and show application-document note
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: frontend-tests, typescript-check

chore(frontend): regenerate OpenAPI types for document flags and note
  frontend/lib/api/generated/schema.d.ts
Due: none

test/fix: cover form-config flag+note save paths and reset note state on load failure
  backend/app/tests/test_application_fields_endpoints.py
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/lib/api/types.ts
Due: backend-tests, frontend-tests, typescript-check

refactor: simplify note-derivation ternary and skip no-op note commit
  backend/app/services/application_field_service.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: backend-tests, frontend-tests, typescript-check

test: consolidate duplicate application-helpers import into top block
  frontend/lib/utils/__tests__/application-helpers.test.ts
Due: frontend-tests, typescript-check

feat: admin-configurable document display/upload flags and 申請文件 note (#1125)
  backend/alembic/versions/add_app_doc_note_001.py
  backend/alembic/versions/add_doc_display_upload_flags_001.py
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/api/v1/endpoints/scholarships.py
  backend/app/models/application_field.py
  backend/app/models/scholarship.py
  backend/app/schemas/application_field.py
  backend/app/schemas/scholarship.py
  backend/app/services/application_field_service.py
  backend/app/services/scholarship_service.py
  backend/app/tests/test_application_fields_endpoints.py
  docs/superpowers/plans/2026-07-08-document-display-upload-config.md
  docs/superpowers/specs/2026-07-08-document-display-upload-config-design.md
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/application-document-form.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/enhanced-student-portal.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/types.ts
  frontend/lib/utils/__tests__/application-helpers.test.ts
  frontend/lib/utils/application-helpers.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

Fix batch-import template download auth and open feature to admin role
  backend/app/api/v1/endpoints/batch_import.py
  frontend/app/page.tsx
  frontend/lib/api/modules/batch-import.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

Fix 500 in batch-import template when fixed fields duplicate base columns
  backend/app/api/v1/endpoints/batch_import.py
Due: backend-tests, api-types-check

Rename moe_1w template label to 教育部 and use 志願序 numbers in sample
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/services/batch_import_service.py
Due: backend-tests, api-types-check

Fix batch-import 下載範例 (template download) and open batch import to admin (#1126)
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/services/batch_import_service.py
  frontend/app/page.tsx
  frontend/lib/api/modules/batch-import.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

docs: design spec for aligning batch import with student self-submission flow
  docs/superpowers/specs/2026-07-09-batch-import-like-student-submission-design.md
Due: none

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

