Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

test(e2e): college ranking import-excel @nightly spec (issue #76)
  frontend/e2e/specs/college-ranking-import-excel.spec.ts
Due: frontend-tests, typescript-check

docs: add admin student scholarship history design spec
  docs/superpowers/specs/2026-05-21-admin-student-scholarship-history-design.md
Due: none

feat: add GET /admin/student-history/{student_number} endpoint
  backend/app/api/v1/endpoints/admin/__init__.py
  backend/app/api/v1/endpoints/admin/student_history.py
  backend/app/tests/test_admin_student_history_endpoint.py
Due: backend-tests, api-types-check

chore: regenerate OpenAPI types for student-history endpoint
  frontend/lib/api/generated/schema.d.ts
Due: none

feat: add _fetch_locked_payments query to scholarship history service
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_scholarship_history_service.py
Due: backend-tests

feat: add get_history orchestrator for scholarship history service
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_scholarship_history_service.py
Due: backend-tests

feat: add StudentScholarshipHistoryService._build_summary helper
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_scholarship_history_service.py
Due: backend-tests

docs: add admin student scholarship history implementation plan
  docs/superpowers/plans/2026-05-21-admin-student-scholarship-history-plan.md
Due: none

feat: add _build_academic_info helper to scholarship history service
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_scholarship_history_service.py
Due: backend-tests

docs: revise student-history spec to use AdminManagementShell tab instead of new route
  docs/superpowers/specs/2026-05-21-admin-student-scholarship-history-design.md
Due: none

feat: add Pydantic schemas for admin student scholarship history
  backend/app/schemas/student_scholarship_history.py
Due: backend-tests, api-types-check

style: black format + hoist test imports (E402)
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_admin_student_history_endpoint.py
  backend/app/tests/test_student_scholarship_history_service.py
Due: backend-tests, api-types-check

feat: add StudentHistoryPanel top-level composition
  frontend/components/admin/student-history/StudentHistoryPanel.tsx
Due: frontend-tests, typescript-check

feat: add AcademicInfoCard for student history panel
  frontend/components/admin/student-history/AcademicInfoCard.tsx
Due: frontend-tests, typescript-check

feat: add SummaryCards for student history panel
  frontend/components/admin/student-history/SummaryCards.tsx
Due: frontend-tests, typescript-check

feat: add 學生領取歷史 tab to AdminManagementShell
  frontend/components/admin/AdminManagementShell.tsx
Due: frontend-tests, typescript-check

test: add e2e spec for admin student scholarship history
  frontend/e2e/specs/admin-student-history.spec.ts
Due: frontend-tests, typescript-check

feat: add studentHistory API client module
  frontend/lib/api/index.ts
  frontend/lib/api/modules/student-history.ts
Due: frontend-tests, typescript-check

fix: coerce SIS int fields to str in academic info
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_scholarship_history_service.py
Due: backend-tests

feat: add PaymentHistoryTable for student history panel
  frontend/components/admin/student-history/PaymentHistoryTable.tsx
Due: frontend-tests, typescript-check

fix(ui): resolve hydration mismatch and null-deref crashes in college review
  backend/app/services/manual_distribution_service.py
  frontend/app/layout.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

fix(ui): resolve hydration mismatch and null-deref crashes in college review
  frontend/app/layout.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
Due: frontend-tests, typescript-check

fix: replace react-query with useEffect+useState (project uses SWR/native)
  frontend/components/admin/student-history/StudentHistoryPanel.tsx
Due: frontend-tests, typescript-check

fix(student-history): resolve studying status to label and include completed rosters
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_scholarship_history_service.py
  frontend/components/admin/student-history/AcademicInfoCard.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore(dev-env): fix exports perms, auto-assign cs_college to phd, add PhD draft seeder
  .claude/skills/init-dev-env.md
  scripts/seed_phd_test_draft.py
  scripts/seed_phd_test_draft.sh
Due: none

fix: address code-review findings on regulations scroll-gate
  backend/app/api/v1/endpoints/system_settings.py
  backend/app/tests/test_system_settings_upload_doc.py
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/__tests__/notice-agreement-step.test.tsx
  frontend/components/inline-pdf-viewer.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore(dev-env): fix exports perms, auto-assign cs_college to phd, add PhD draft seeder (#800)
  .claude/skills/init-dev-env.md
  scripts/seed_phd_test_draft.py
  scripts/seed_phd_test_draft.sh
Due: none

fix(student-history): apply code review fixes
  backend/app/api/v1/endpoints/admin/student_history.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_scholarship_history_service.py
  frontend/components/admin/student-history/AcademicInfoCard.tsx
  frontend/components/admin/student-history/PaymentHistoryTable.tsx
  frontend/components/admin/student-history/StudentHistoryPanel.tsx
  frontend/lib/api/modules/student-history.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore: update API types
  frontend/lib/api/generated/schema.d.ts
Due: none

chore: black reformat test_system_settings_upload_doc.py
  backend/app/tests/test_system_settings_upload_doc.py
Due: backend-tests

fix(student-history): address PR review feedback (round 3)
  backend/app/schemas/student_scholarship_history.py
  backend/app/services/student_scholarship_history_service.py
  backend/app/tests/test_student_scholarship_history_service.py
  docs/superpowers/specs/2026-05-21-admin-student-scholarship-history-design.md
  frontend/components/admin/student-history/AcademicInfoCard.tsx
  frontend/components/admin/student-history/StudentHistoryPanel.tsx
  frontend/e2e/specs/admin-student-history.spec.ts
  frontend/lib/api/modules/student-history.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(#71): sort renewal applications before new applications in Excel export and roster
  backend/app/api/v1/endpoints/college_review/application_summary_export.py
  backend/app/services/roster_service.py
  backend/app/tests/test_application_summary_export_helpers.py
Due: backend-tests, api-types-check

fix(frontend): serve pdf.js worker from /public for Turbopack
  frontend/.gitignore
  frontend/lib/pdf-worker.ts
  frontend/package.json
  frontend/scripts/copy-pdf-worker.mjs
Due: npm-audit, frontend-tests, typescript-check

feat(frontend): move regulations PDF into a dialog popup
  frontend/components/__tests__/notice-agreement-step.test.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: frontend-tests, typescript-check

fix: address review findings on regulations dialog + worker setup
  docker-compose.dev.yml
  frontend/components/__tests__/notice-agreement-step.test.tsx
  frontend/components/inline-pdf-viewer.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/scripts/copy-pdf-worker.mjs
Due: frontend-tests, typescript-check, docker-compose-check

refactor(frontend): extract buildFileProxyUrl + previewMimeType helpers
  frontend/components/__tests__/inline-pdf-viewer.test.tsx
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/components/college/review/ApplicationReviewPanel.tsx
  frontend/components/inline-pdf-viewer.tsx
  frontend/components/professor-review-component.tsx
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
  frontend/lib/api/modules/system-settings.ts
  frontend/lib/utils.ts
Due: frontend-tests, typescript-check

fix(frontend): handle getPublicDocs fetch failure gracefully
  frontend/components/student-wizard/steps/NoticeAgreementStep.tsx
Due: frontend-tests, typescript-check

docs: add scholarship regulations scroll-gate design spec + plan
  docs/superpowers/plans/2026-05-21-scholarship-regulations-scroll-gate.md
  docs/superpowers/specs/2026-05-21-scholarship-regulations-scroll-gate-design.md
Due: none

docs: add supplementary system docs design spec
  docs/superpowers/specs/2026-05-27-supplementary-system-docs-design.md
Due: none

docs: add implementation plan for supplementary system docs
  docs/superpowers/plans/2026-05-27-supplementary-system-docs.md
Due: none

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

