Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


feat: migrate staging and production object storage to RustFS
  .github/production-workflows-examples/deploy.yml
  .github/workflows/deploy-monitoring-stack.yml
  docker-compose.prod-db.yml
  docker-compose.prod.yml
  docker-compose.staging-db.yml
  docker-compose.staging-e2e.yml
  docs/deployment/rustfs-migration-runbook.md
  monitoring/PRODUCTION_LAUNCH_RUNBOOK.md
  monitoring/config/alloy/prod-db-vm.alloy
  monitoring/config/alloy/staging-db-vm.alloy
  monitoring/config/grafana/provisioning/alerting/rules-database.yml
  monitoring/config/grafana/provisioning/dashboards/database/minio-monitoring.json
  monitoring/config/grafana/provisioning/dashboards/database/storage-monitoring.json
  scripts/migrate_storage_to_rustfs.sh
Due: docker-compose-check

Add scheduled GitHub Actions workflow for staging/production DB backups
  .github/workflows/db-backup.yml
  scripts/remote_db_backup.sh
Due: none

feat: merge student dynamic documents into one extra PDF in college export
  backend/app/services/export_package_service.py
  backend/app/services/pdf_merge.py
  backend/app/tests/test_export_package_dynamic_merge.py
  backend/app/tests/test_export_package_pure_helpers.py
  backend/app/tests/test_pdf_merge.py
  backend/requirements.txt
Due: python-safety-check, backend-tests

fix: update moe_1w short labels from 教育部(1萬) to 教育部(5000)
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_pure_helpers.py
  backend/app/tests/test_excel_export_service_pure_helpers.py
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/components/roster/StudentRosterPreview.tsx
  frontend/hooks/__tests__/use-reference-data-helpers.test.ts
  frontend/lib/quota/__tests__/parse-quota-sheet.test.ts
  frontend/types/scholarship.ts
Due: backend-tests, frontend-tests, typescript-check

refactor: consolidate allocated sub-type short labels, remove dead code
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_pure_helpers.py
  backend/app/tests/test_excel_export_service_pure_helpers.py
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/components/roster/StudentRosterPreview.tsx
  frontend/hooks/__tests__/use-reference-data-helpers.test.ts
  frontend/lib/allocation-display.ts
  frontend/lib/quota/__tests__/parse-quota-sheet.test.ts
  frontend/types/scholarship.ts
Due: backend-tests, frontend-tests, typescript-check

Fix backup dir permissions when dated dir pre-exists as root-owned
  scripts/remote_db_backup.sh
Due: none

Fix empty nationality/identity column in college application list
  backend/app/services/application_enricher_service.py
  backend/app/tests/test_application_enricher_pure_helpers.py
Due: backend-tests

Harden backup against partial dumps and missing alert label
  .github/workflows/db-backup.yml
  scripts/remote_db_backup.sh
Due: none

fix(migration-script): address review feedback on portability and safety
  scripts/migrate_storage_to_rustfs.sh
Due: none

Use POSIX quoting for remote env and alert on cancelled backup jobs
  .github/workflows/db-backup.yml
  scripts/remote_db_backup.sh
Due: none

fix(migration-script): robust error handling per second review round
  docs/deployment/rustfs-migration-runbook.md
  monitoring/PRODUCTION_LAUNCH_RUNBOOK.md
  scripts/migrate_storage_to_rustfs.sh
Due: none

Use fixed-string container match and exclude PRs from alert dedupe
  .github/workflows/db-backup.yml
  scripts/remote_db_backup.sh
Due: none

fix(migration): container cleanup trap, pinned mc image, probe_success gate
  .github/workflows/deploy-monitoring-stack.yml
  scripts/migrate_storage_to_rustfs.sh
Due: none

fix: harden merged dynamic-documents PDF after review
  backend/app/services/export_package_service.py
  backend/app/services/pdf_merge.py
  backend/app/tests/test_export_package_dynamic_merge.py
  backend/app/tests/test_export_package_pure_helpers.py
  backend/app/tests/test_pdf_merge.py
Due: backend-tests

Add before/after Playwright verification screenshots for PR #1205
  docs/verification/pr-1205/after-fixed.png
  docs/verification/pr-1205/before-bug.png
Due: none

fix: empty nationality/identity column in college application list (#1205)
  backend/app/services/application_enricher_service.py
  backend/app/tests/test_application_enricher_pure_helpers.py
  docs/verification/pr-1205/after-fixed.png
  docs/verification/pr-1205/before-bug.png
Due: backend-tests

fix: update moe_1w short labels to 教育部(5000) and consolidate label maps (#1201)
  backend/app/services/excel_export_service.py
  backend/app/tests/test_excel_export_pure_helpers.py
  backend/app/tests/test_excel_export_service_pure_helpers.py
  frontend/components/roster/RosterDetailDialog.tsx
  frontend/components/roster/StudentRosterPreview.tsx
  frontend/hooks/__tests__/use-reference-data-helpers.test.ts
  frontend/lib/allocation-display.ts
  frontend/lib/quota/__tests__/parse-quota-sheet.test.ts
  frontend/types/scholarship.ts
Due: backend-tests, frontend-tests, typescript-check

fix(deps): bump next to 15.5.21 for GHSA-89xv-2m56-2m9x, GHSA-m99w-x7hq-7vfj, GHSA-p9j2-gv94-2wf4
  frontend/bun.lock
  frontend/package.json
Due: npm-audit, frontend-tests

fix: address Copilot review comments on merged-PDF export
  backend/app/services/export_package_service.py
  backend/app/services/pdf_merge.py
Due: backend-tests

perf: O(1) ZIP duplicate-name lookup via getinfo instead of namelist scan
  backend/app/services/export_package_service.py
Due: backend-tests

fix: route merge-failure placeholder through _unique_zip_path too
  backend/app/services/export_package_service.py
Due: backend-tests

fix: never emit trailing-dot candidates from _unique_zip_path
  backend/app/services/export_package_service.py
  backend/app/tests/test_export_package_pure_helpers.py
Due: backend-tests

fix: surface concrete fetch errors in merged PDF; dereference /Annots defensively
  backend/app/services/export_package_service.py
  backend/app/services/pdf_merge.py
  backend/app/tests/test_export_package_dynamic_merge.py
  backend/app/tests/test_export_package_pure_helpers.py
  backend/app/tests/test_pdf_merge.py
Due: backend-tests

fix: show raw student values on the merged-PDF cover
  backend/app/services/export_package_service.py
Due: backend-tests

fix: declare pypdf in pyproject.toml — the Docker image installs from it
  backend/pyproject.toml
Due: backend-tests

fix: empty nationality/identity column in college ranking table
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/tests/test_ranking_management_endpoints.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(roster): specific missing-config exclusion reason; missing bank account no longer excludes
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/services/roster_service.py
  backend/app/tests/test_excel_export_generate_remarks.py
  backend/app/tests/test_excel_export_service_rows.py
  backend/app/tests/test_roster_eligibility.py
  backend/app/tests/test_roster_service_core.py
  frontend/components/roster/StudentRosterPreview.tsx
  frontend/components/roster/StudentValidationDetail.tsx
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

test: pin falsy-zero std_identity; fix eligible_subtypes payload type
  backend/app/tests/test_ranking_management_endpoints.py
  frontend/components/college/ranking/RankingManagementPanel.tsx
Due: backend-tests, frontend-tests, typescript-check

fix(roster): address review — count missing bank accounts only for included students
  backend/app/api/v1/endpoints/payment_rosters.py
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix: resolve 未知入學方式 by hardcoding NYCU std_enrolltype reference values
  backend/app/api/v1/endpoints/reference_data.py
  backend/app/core/enroll_types.py
  backend/app/tests/test_enroll_types_fallback.py
Due: backend-tests, api-types-check

fix: link supplementary-import applications to scholarship configuration
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/supplementary_import_service.py
  backend/app/tests/test_supplementary_import_service.py
Due: backend-tests, api-types-check

fix: address code review — canonical config matching and builder parity
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/supplementary_import_service.py
  backend/app/tests/test_supplementary_import_service.py
Due: backend-tests, api-types-check

fix: accept non-ASCII filenames in application file upload
  backend/app/services/minio_service.py
  backend/app/tests/test_minio_service_unit.py
Due: backend-tests

fix: stop duplicating application files on repeated draft saves
  backend/alembic/versions/dedupe_application_files_001.py
  backend/app/services/application_service.py
  backend/app/tests/test_application_service_integration.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: backend-tests, frontend-tests, typescript-check, migration-check

fix: replace whole single-file document slot on re-upload
  backend/app/services/application_service.py
  backend/app/tests/test_application_service_integration.py
Due: backend-tests

fix: address code-review findings on file replacement
  backend/app/services/application_service.py
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
Due: backend-tests, frontend-tests, typescript-check

fix: harden file replacement per full code-review findings
  backend/alembic/versions/add_appfile_idx_001.py
  backend/alembic/versions/dedupe_application_files_001.py
  backend/app/models/application.py
  backend/app/services/application_service.py
  backend/app/services/bank_verification_service.py
  backend/app/tests/test_application_service_integration.py
  frontend/components/file-upload.tsx
  frontend/components/student-wizard/steps/ScholarshipApplicationStep.tsx
  frontend/hooks/use-applications.ts
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check
