Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$


fix+docs: apply RustFS migration-audit findings (46-agent workflow verification)
  .claude/CLAUDE.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .run-backend-tests.sh
  README.md
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/payment_rosters.py
  docker-compose.dev.yml
  docs/GITHUB_SECRETS.md
  docs/deployment/docker-setup.md
  docs/deployment/rustfs-migration-runbook.md
  docs/getting-started/quick-start.md
Due: backend-tests, api-types-check, docker-compose-check

fix(integrity): status-transition state machine + bank-correction original preservation (#1004)
  backend/app/services/application_service.py
  backend/app/services/bank_verification_service.py
  backend/app/tests/test_bank_verification_preserves_original_form_data.py
  backend/app/tests/test_status_transition_state_machine.py
Due: backend-tests

feat(#985): export the filtered 歷史申請 view to Excel (G23) (#1006)
  backend/app/api/v1/endpoints/admin/applications.py
  frontend/components/admin/history/HistoryPanel.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/__tests__/admin.test.ts
  frontend/lib/api/modules/admin.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

fix(review): audit-backed review version history + truthful decision_reason + silent-decision rows (#968 #969 #994)
  backend/app/services/application_service.py
  backend/app/services/review_service.py
  backend/app/tests/test_review_update_preserves_history.py
Due: backend-tests

fix(review): audit-backed review version history + truthful decision_reason + silent-decision rows (#968 #969 #994) (#1009)
  backend/app/services/application_service.py
  backend/app/services/review_service.py
  backend/app/tests/test_review_update_preserves_history.py
Due: backend-tests

fix(audit): email-template change snapshots + PII key retention runbook (#989 #993)
  backend/app/api/v1/endpoints/admin/email_templates.py
  docs/security/pii-key-retention-runbook.md
Due: backend-tests, api-types-check

test(#990 #991): student-history component coverage + revoke/suspend compliance-path e2e (G28/G29)
  frontend/components/admin/student-history/__tests__/AcademicInfoCard.test.tsx
  frontend/components/admin/student-history/__tests__/PaymentHistoryTable.test.tsx
  frontend/components/admin/student-history/__tests__/SummaryCards.test.tsx
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
Due: frontend-tests, typescript-check

fix(audit): email-template change snapshots + PII key retention runbook (#989 #993) (#1010)
  backend/app/api/v1/endpoints/admin/email_templates.py
  docs/security/pii-key-retention-runbook.md
Due: backend-tests, api-types-check

test(#990 #991): student-history component coverage + revoke/suspend compliance-path e2e (G28/G29) (#1011)
  frontend/components/admin/student-history/__tests__/AcademicInfoCard.test.tsx
  frontend/components/admin/student-history/__tests__/PaymentHistoryTable.test.tsx
  frontend/components/admin/student-history/__tests__/SummaryCards.test.tsx
  frontend/e2e/specs/admin-revoke-suspend.spec.ts
Due: frontend-tests, typescript-check

fix(security): patch privilege escalation, XSS, and secret/token leakage (#936)
  backend/app/api/v1/endpoints/auth.py
  backend/app/api/v1/endpoints/users.py
  backend/app/core/config.py
  backend/app/main.py
  backend/app/services/auth_service.py
  backend/app/services/minio_service.py
  backend/app/services/portal_sso_service.py
  backend/app/tests/test_auth_service.py
  backend/app/tests/test_minio_service_unit.py
  backend/app/tests/test_users_endpoint_authz.py
  docker-compose.staging-db.yml
  frontend/app/api/email/preview/[id]/route.ts
  frontend/app/api/v1/preview/route.ts
  scripts/backup.sh
Due: backend-tests, frontend-tests, typescript-check, api-types-check, docker-compose-check

fix(prod): go-live blockers P1/P5/P9/P10 + SUPER_ADMIN env — compose, deploy template, monitoring, nginx, docs (#74)
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy.yml
  docker-compose.prod-db-monitoring.yml
  docker-compose.prod.yml
  docs/deployment/production-deployment.md
  monitoring/config/alloy/prod-ap-vm.alloy
  monitoring/config/alloy/prod-db-vm.alloy
  monitoring/config/grafana/provisioning/alerting/rules-application-logs-prod.yml
  nginx/nginx.prod.conf
Due: docker-compose-check

fix(prod): go-live blockers P1/P5/P9/P10 + SUPER_ADMIN env — compose, deploy template, monitoring, nginx, docs (#74) (#1012)
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/deploy.yml
  docker-compose.prod-db-monitoring.yml
  docker-compose.prod.yml
  docs/deployment/production-deployment.md
  monitoring/config/alloy/prod-ap-vm.alloy
  monitoring/config/alloy/prod-db-vm.alloy
  monitoring/config/grafana/provisioning/alerting/rules-application-logs-prod.yml
  nginx/nginx.prod.conf
Due: docker-compose-check

feat(mirror): deliver production CI/CD through the mirror — the only channel into the prod repo
  .github/production-workflows-examples/README.md
  .github/workflows/mirror-to-production.yml
Due: none

feat(mirror): deliver production CI/CD through the mirror — the only channel into the prod repo (#1013)
  .github/production-workflows-examples/README.md
  .github/workflows/mirror-to-production.yml
Due: none

fix(mirror): carry only the executable CI/CD to prod, never the setup-guide docs
  .github/production-workflows-examples/README.md
  .github/workflows/mirror-to-production.yml
Due: none

fix(prod-deploy): derive mock-HMAC hex at runtime — no high-entropy literal for the scanner
  .github/production-workflows-examples/deploy.yml
Due: none

fix(mirror): carry only the executable CI/CD to prod, never the setup-guide docs (#1018)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/deploy.yml
  .github/workflows/mirror-to-production.yml
Due: none

feat(storage): swap dev object storage MinIO → RustFS + full migration groundwork (#961)
  .claude/CLAUDE.md
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .run-backend-tests.sh
  README.md
  backend/app/api/v1/endpoints/batch_import.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/scripts/storage_compat_check.py
  backend/app/services/minio_service.py
  backend/requirements.txt
  docker-compose.dev.yml
  docs/GITHUB_SECRETS.md
  docs/deployment/docker-setup.md
  docs/deployment/rustfs-migration-runbook.md
  docs/getting-started/quick-start.md
  scripts/reset_database.sh
Due: python-safety-check, backend-tests, api-types-check, docker-compose-check

feat(prod-setup): bare-VM runner bootstrap + harden setting-env (complete logs, fail-fast, no back-and-forth)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/bootstrap-ap-runner.sh
  .github/production-workflows-examples/setting-env.yml
Due: none

feat(prod-setup): bare-VM runner bootstrap + harden setting-env (complete logs, fail-fast, no back-and-forth) (#1020)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/bootstrap-ap-runner.sh
  .github/production-workflows-examples/setting-env.yml
Due: none

fix(ci): clear the red lanes — approve-reject spec to G16, drop vestigial Pages workflow, retry staging-e2e health
  .github/workflows/staging-e2e.yml
  .github/workflows/web-deploy.yml
  frontend/e2e/specs/admin-approve-reject.spec.ts
Due: frontend-tests, typescript-check

fix(prod-setup): close bare-VM provisioning blockers found by the harden-vm-setup audit
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/bootstrap-ap-runner.sh
  .github/production-workflows-examples/deploy.yml
  .github/production-workflows-examples/setting-env.yml
  docker-compose.prod-db.yml
  docker-compose.prod.yml
  docs/deployment/production-deployment.md
  docs/deployment/rustfs-migration-runbook.md
Due: docker-compose-check

fix(ci): clear the red lanes — approve-reject spec to G16, drop vestigial Pages workflow, retry staging-e2e health (#1021)
  .github/workflows/staging-e2e.yml
  .github/workflows/web-deploy.yml
  frontend/e2e/specs/admin-approve-reject.spec.ts
Due: frontend-tests, typescript-check

fix(prod-setup): hard-gate AP runner passwordless sudo + document it
  .github/production-workflows-examples/SECRETS-SETUP-GUIDE.md
  .github/production-workflows-examples/setting-env.yml
Due: none

docs(#1029): multi-college distribution + roster verification screenshots
  docs/screenshots/issue1029-distribution.png
  docs/screenshots/issue1029-roster.png
Due: none

docs(#1029): multi-college (4 colleges) distribution screenshot
  docs/screenshots/issue1029-multicollege-distribution.png
Due: none

fix(college-review): scope ranking reuse by creator so each college keeps its own ranking
  backend/app/services/college_review_service.py
  backend/app/tests/test_college_review_service.py
Due: backend-tests

fix(college-review): scope rankings by college_code, not creator (issue #1034 follow-up)
  backend/alembic/versions/college_ranking_college_code_001.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/models/college_review.py
  backend/app/services/college_review_service.py
  backend/app/tests/test_college_review_service.py
Due: backend-tests, api-types-check, migration-check

fix: honest roster regeneration response + structured config FKs (#1033)
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/core/exceptions.py
  backend/app/schemas/roster.py
  backend/app/services/roster_service.py
  backend/app/tests/test_payment_rosters_api.py
  backend/app/tests/test_roster_generate_per_config_group.py
Due: backend-tests, api-types-check

fix(college-review): scope finalize + ranking authorization by college (verification follow-ups, #1034)
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/college_review_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_college_review_service.py
Due: backend-tests, api-types-check

fix(college-review): address 2nd-round verification findings (#1034)
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_manual_distribution_dedup.py
Due: backend-tests, api-types-check

fix(college-review): 3rd-round verification follow-ups (#1034)
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_manual_distribution_dedup.py
Due: backend-tests, api-types-check

chore: regenerate API types for scholarship_type_id roster filter (#1033)
  frontend/lib/api/generated/schema.d.ts
Due: none

fix: honest roster regeneration response + structured config FKs (#1033) (#1036)
  backend/app/api/v1/endpoints/manual_distribution.py
  backend/app/api/v1/endpoints/payment_rosters.py
  backend/app/core/exceptions.py
  backend/app/schemas/roster.py
  backend/app/services/roster_service.py
  backend/app/tests/test_payment_rosters_api.py
  backend/app/tests/test_roster_generate_per_config_group.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check

fix(test+types): sync supplementary-import fixture with college_code + regen OpenAPI types (#1034)
  backend/app/tests/test_supplementary_import_endpoints.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests

fix(college-review): scope rankings by college_code so each college keeps its own (issue #1034) (#1035)
  backend/alembic/versions/college_ranking_college_code_001.py
  backend/app/api/v1/endpoints/college_review/_helpers.py
  backend/app/api/v1/endpoints/college_review/ranking_management.py
  backend/app/models/college_review.py
  backend/app/services/college_review_service.py
  backend/app/services/manual_distribution_service.py
  backend/app/tests/test_college_review_service.py
  backend/app/tests/test_manual_distribution_dedup.py
  backend/app/tests/test_supplementary_import_endpoints.py
  frontend/lib/api/generated/schema.d.ts
Due: backend-tests, api-types-check, migration-check

docs(screenshots): issue #1029 multi-college re-verification on merged main
  docs/screenshots/issue1029-v2-collegeA-finalized.png
  docs/screenshots/issue1029-v2-collegeE-finalized.png
  docs/screenshots/issue1029-v2-distribution-allcolleges.png
  docs/screenshots/issue1029-v2-distribution-done.png
  docs/screenshots/issue1029-v2-roster.png
Due: none

ci(pages): publish the nightly Playwright e2e report to GitHub Pages
  .github/workflows/nightly.yml
Due: none

docs(skill): add multi-college ranking→distribution→roster verification to playwright-test-and-debug
  .claude/skills/playwright-test-and-debug/SKILL.md
  .claude/skills/playwright-test-and-debug/scripts/verify-multi-college-distribution.js
Due: none
