Repository anud18/scholarship-system: changes, and which pre-commit hooks are due for each by the changed paths.
All: python-safety-check, npm-audit, backend-tests, frontend-tests, typescript-check, api-types-check, migration-check, env-validation, docker-compose-check

python-safety-check:
  name: Python Safety Check
  entry: bash -c 'cd backend && safety check --json; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

npm-audit:
  name: NPM Audit
  entry: bash -c 'cd frontend && npm audit --audit-level=moderate; [ $? -lt 2 ] || exit 1'
  language: system
  pass_filenames: false

backend-tests:
  name: Backend Tests (Quick)
  entry: bash -c 'cd backend && python -m pytest app/tests -x -q --tb=short -m "not slow" || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

frontend-tests:
  name: Frontend Tests
  entry: bash -c 'cd frontend && npm run test:ci || echo "Some tests failed but continuing..."'
  language: system
  pass_filenames: false
  stages:
  - pre-push

typescript-check:
  name: TypeScript Check
  entry: bash -c 'cd frontend && npx tsc --noEmit || echo "Type errors found but continuing..."'
  language: system
  pass_filenames: false

api-types-check:
  name: Check API Types are up-to-date
  entry: bash -c 'cd frontend && npm run api:generate && git diff --exit-code lib/api/generated/schema.d.ts || (echo "⚠️  API types changed! Please commit the updated schema.d.ts file."; exit 1)'
  language: system
  pass_filenames: false
  stages:
  - commit

migration-check:
  name: Migration Check
  entry: bash -c 'cd backend && alembic check || echo "Migration check completed"'
  language: system
  pass_filenames: false

env-validation:
  name: Environment File Validation
  ...

docker-compose-check:
  name: Docker Compose Validation
  entry: bash -c 'docker-compose -f docker-compose.yml config -q || echo "Docker compose validation completed"'
  language: system
  pass_filenames: false

docs: add rendered email snapshots for contact wording change
  docs/screenshots/email-application-submitted-after.png
  docs/screenshots/email-professor-review-request-after.png
Due: none

feat: point email footer system URL to ss.aa.nycu.edu.tw
  docs/screenshots/email-application-submitted-after.png
  docs/screenshots/email-professor-review-request-after.png
  frontend/emails/_components/Footer.tsx
Due: frontend-tests, typescript-check

fix: pin MINIO_SECURE=false — the store has spoken plain HTTP since the RustFS cutover
  docker-compose.prod.yml
Due: docker-compose-check

fix: default MINIO_SECURE to false instead of pinning it
  docker-compose.prod-db.yml
  docker-compose.prod.yml
Due: docker-compose-check

fix: default MINIO_SECURE to false in the production compose
  docker-compose.prod-db.yml
  docker-compose.prod.yml
Due: docker-compose-check

fix: default MINIO_SECURE to false in the production compose (#1344)
  docker-compose.prod-db.yml
  docker-compose.prod.yml
Due: docker-compose-check

fix(mirror): publish the release version as a GHCR image tag
  .github/PRODUCTION_SYNC_GUIDE.md
  .github/production-workflows-examples/README.md
  .github/workflows/mirror-to-production.yml
Due: none

fix: use Portal app ID 'esas' for production SSO login
  frontend/components/sso-login-page.tsx
Due: frontend-tests, typescript-check

fix: use Portal app ID 'esas' for production SSO login (#1345)
  frontend/components/sso-login-page.tsx
Due: frontend-tests, typescript-check

fix: use Portal app ID 'ssaa' for production SSO login
  frontend/components/sso-login-page.tsx
Due: frontend-tests, typescript-check

fix: use Portal app ID 'ssaa' for production SSO login (#1346)
  frontend/components/sso-login-page.tsx
Due: frontend-tests, typescript-check

fix: send scholarship config deadlines as UTC instants, not local wall-clock
  frontend/components/__tests__/admin-configuration-management.test.tsx
  frontend/components/admin-configuration-management.tsx
  frontend/lib/utils/__tests__/datetime-local.test.ts
  frontend/lib/utils/datetime-local.ts
Due: frontend-tests, typescript-check

feat: 郵件內容更新 — 聯絡獎學金承辦人文字調整、移除聯絡我們 email、系統網址改為 ss.aa.nycu.edu.tw (#1343)
  backend/app/db/seed_scholarship_configs.py
  backend/scripts/init_system_email_templates.py
  docs/screenshots/email-application-submitted-after.png
  docs/screenshots/email-professor-review-request-after.png
  frontend/emails/_components/Footer.tsx
  frontend/emails/application-submitted.tsx
  frontend/emails/professor-review-request.tsx
Due: backend-tests, frontend-tests, typescript-check

fix: monitoring deploy works on a production runner without passwordless sudo (#1340)
  .github/production-workflows-examples/README.md
  .github/production-workflows-examples/deploy-monitoring-stack.yml
  monitoring/docker-compose.monitoring.yml
Due: docker-compose-check

fix: send scholarship config deadlines as UTC instants, not local wall-clock (#1350)
  frontend/components/__tests__/admin-configuration-management.test.tsx
  frontend/components/admin-configuration-management.tsx
  frontend/lib/utils/__tests__/datetime-local.test.ts
  frontend/lib/utils/datetime-local.ts
Due: frontend-tests, typescript-check

fix(application-fields): percent-encode the example file name in Content-Disposition
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/tests/test_application_fields_endpoints.py
Due: backend-tests, api-types-check

chore: bump pypdf 6.15.0 -> 6.16.2 to clear Dependabot DoS alerts
  backend/pyproject.toml
  backend/requirements.txt
Due: python-safety-check, backend-tests

feat: rename student portal tab labels
  frontend/app/page.tsx
  frontend/lib/__tests__/i18n.test.ts
  frontend/lib/i18n.ts
Due: frontend-tests, typescript-check

fix(whitelist): percent-encode the Excel file name in Content-Disposition
  backend/app/api/v1/endpoints/scholarship_configurations.py
  backend/app/tests/test_scholarship_configuration_endpoints.py
Due: backend-tests, api-types-check

chore: override fast-uri and browserslist to clear 6 high bun audit findings
  frontend/bun.lock
  frontend/package.json
Due: npm-audit, frontend-tests

feat: make the footer policy bar (隱私權政策/使用條款/無障礙聲明/網站地圖) admin-editable
  backend/alembic/versions/add_footer_link_section_001_add_section_to_footer_links.py
  backend/app/api/v1/endpoints/footer_links.py
  backend/app/models/__init__.py
  backend/app/models/footer_link.py
  backend/app/schemas/footer_link.py
  backend/app/tests/test_footer_links.py
  frontend/components/__tests__/footer.test.tsx
  frontend/components/admin/footer-links/AddFooterLinkDialog.tsx
  frontend/components/admin/footer-links/FooterLinksPanel.tsx
  frontend/components/admin/footer-links/__tests__/FooterLinksPanel.test.tsx
  frontend/components/admin/footer-links/sections.ts
  frontend/components/admin/system-docs/SystemDocsPanel.tsx
  frontend/components/footer.tsx
  frontend/lib/api/generated/schema.d.ts
  frontend/lib/api/modules/footer-links.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check, migration-check

fix: toast when a student's selected file exceeds the size limit
  frontend/components/__tests__/file-upload.test.tsx
  frontend/components/file-upload.tsx
  frontend/lib/i18n.ts
Due: frontend-tests, typescript-check

fix: make upload rejection feedback reliable across drop, re-pick and maxFiles paths
  frontend/components/__tests__/file-upload.test.tsx
  frontend/components/file-upload.tsx
  frontend/lib/i18n.ts
Due: frontend-tests, typescript-check

fix: address Copilot review on upload rejection toasts
  frontend/components/__tests__/file-upload.test.tsx
  frontend/components/file-upload.tsx
Due: frontend-tests, typescript-check

ci: tag GHCR images with the release version on production mirror
  .github/workflows/mirror-to-production.yml
Due: none

feat: open 查看範例文件 in the shared preview dialog
  frontend/components/dynamic-application-form.tsx
Due: frontend-tests, typescript-check

chore: PR #1361 Playwright evidence (01-before-click.png)
  screenshots/01-before-click.png
Due: none

chore: PR #1361 Playwright evidence (02-preview-dialog.png)
  screenshots/02-preview-dialog.png
Due: none

chore: PR #1361 Playwright evidence (03-open-in-new-window.png)
  screenshots/03-open-in-new-window.png
Due: none

chore: PR #1361 Playwright evidence (04-dialog-closed.png)
  screenshots/04-dialog-closed.png
Due: none

refactor: harden example-document filename derivation
  frontend/components/dynamic-application-form.tsx
Due: frontend-tests, typescript-check

fix: harden example-document preview end to end
  backend/app/api/v1/endpoints/application_fields.py
  backend/app/tests/test_application_fields_endpoints.py
  frontend/components/__tests__/file-preview-dialog.test.tsx
  frontend/components/admin-scholarship-management-interface.tsx
  frontend/components/dynamic-application-form.tsx
  frontend/components/file-preview-dialog.tsx
  frontend/lib/i18n.ts
  frontend/lib/utils/__tests__/example-document-preview.test.ts
  frontend/lib/utils/example-document-preview.ts
Due: backend-tests, frontend-tests, typescript-check, api-types-check

chore: PR #1361 Playwright evidence rev2 (rev2-01-student-before-click.png)
  screenshots/rev2-01-student-before-click.png
Due: none

chore: PR #1361 Playwright evidence rev2 (rev2-02-student-preview-dialog.png)
  screenshots/rev2-02-student-preview-dialog.png
Due: none

chore: PR #1361 Playwright evidence rev2 (rev2-03-open-in-new-window.png)
  screenshots/rev2-03-open-in-new-window.png
Due: none

chore: PR #1361 Playwright evidence rev2 (rev2-04-load-error-401.png)
  screenshots/rev2-04-load-error-401.png
Due: none

chore: PR #1361 Playwright evidence rev2 (rev2-05-admin-document-settings.png)
  screenshots/rev2-05-admin-document-settings.png
Due: none

chore: PR #1361 Playwright evidence rev2 (rev2-06-admin-preview-dialog.png)
  screenshots/rev2-06-admin-preview-dialog.png
Due: none

chore: playwright verification screenshots for PR #1362
  screenshots/01-review-list.png
  screenshots/02-review-modal-subtypes.png
  screenshots/02a-viewport-moe1w-in-view.png
  screenshots/03-moe1w-card-closeup.png
Due: none

Path conditions:
  python-safety-check: any of: ^backend/requirements.*\.txt$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  npm-audit: any of: ^frontend/package.*\.json$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  backend-tests: any of: ^backend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  frontend-tests: any of: ^frontend/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  typescript-check: any of: ^frontend/.*\.(ts|tsx)$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  api-types-check: any of: ^backend/app/(api|models|schemas)/.*\.py$, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  migration-check: any of: ^backend/(alembic|app/models)/, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  env-validation: any of: \.env.*, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

  docker-compose-check: any of: docker-compose.*\.yml, but not: (?x)^(
  .*\.min\.js|
  .*\.min\.css|
  frontend/public/|
  frontend/.next/|
  frontend/lib/api/generated/schema\.d\.ts|
  backend/alembic/versions/|
  .*\.pyc|
  .*/__pycache__/|
  .*\.pytest_cache/|
  .*\.coverage|
  .*\.egg-info/|
  node_modules/|
  venv/|
  .git/|
  build/|
  dist/
)$

